
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-223-TzR {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;
}
.account-pembayaran-debit-223-TzR .item-67580793426116-7-aZF {
  width: 144rem;
  height: 132.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-223-TzR .putih-atas-pattern-VgD {
  width: 123rem;
  height: 135.3rem;
  position: absolute;
  left: 10.5rem;
  top: 9.2rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-223-TzR .footer-E81 {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 130.6rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m .group-20-Szm {
  margin-bottom: 0.8073rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m .group-20-Szm .px-herosupermarket-3-NtR {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m .auto-group-urdt-BL5 {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m .auto-group-urdt-BL5 .icon-facebook-J9o {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m .auto-group-urdt-BL5 .icon-twitter-D1s {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .auto-group-buqd-j4m .auto-group-urdt-BL5 .icon-youtube-8Pj {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .about-us-scD {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .faq-ZV3 {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .contact-emP {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .footer-E81 .customer-survey-nMo {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background-color: #ffffff;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .logo-navbar-3S9 {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .logo-navbar-3S9 .px-herosupermarket-3-AWm {
  width: 15.0358rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34376-q77 {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34376-q77 .search-product-L3s {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34376-q77 .vector-TeH {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34372-Lxy {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .my-wishlist-H7X {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .my-wishlist-H7X .my-wishlist-H7X-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .my-wishlist-H7X .my-wishlist-H7X-sub-1 {
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34374-c3K {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .sign-up-or-log-in-Lk1 {
  margin: 0rem 6.4rem 0.3rem 0rem;
  max-width: 5.1rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .sign-up-or-log-in-Lk1 .sign-up-or-log-in-Lk1-sub-0 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .sign-up-or-log-in-Lk1 .sign-up-or-log-in-Lk1-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-K9b.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 .shopping-cart-2-4-Hx5 {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-FGM.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 .shopping-cart-2-4-Hx5 .shopping-cart-2-4-Hx5-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 .shoppingchart-j3P {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 .shoppingchart-j3P .shoppingchart-j3P-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 .shoppingchart-j3P .shoppingchart-j3P-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-jkmt-7YV .auto-group-pps7-HbP .group-34375-P61 .shoppingchart-j3P .shoppingchart-j3P-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .promo-6Rf {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .frame-34403-1Hj {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .frame-34403-1Hj .group-34379-7bf {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .frame-34403-1Hj .group-34379-7bf .produk-segar-Uh7 {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .frame-34403-1Hj .group-34379-7bf .drop-down-D8u {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34378-TZ3 {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34378-TZ3 .bahan-masak-DYD {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34378-TZ3 .drop-down-vSd {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34380-5KX {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34380-5KX .susu-produk-beku-caM {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34380-5KX .drop-down-j9B {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34381-HAh {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34381-HAh .snack-pgR {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .group-34381-HAh .drop-down-AVP {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .navbar-shoping-fAh .group-34377-xfb .auto-group-rla5-cWV .group-34382-LSV .auto-group-kpqw-XfP .brands-7vR {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds {
  width: 109rem;
  height: 102.5rem;
  position: absolute;
  left: 17.3rem;
  top: 19.5rem;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .nama-pemilik-akun-NLZ {
  margin: 0rem 98.39rem 2.1rem 2.4rem;
  width: calc(100% - 100.7897rem);
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .nama-pemilik-akun-NLZ .group-34373-WBs {
  margin: 0rem 0.9rem 0rem 0rem;
  width: 1.3103rem;
  height: 1.717rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .nama-pemilik-akun-NLZ .shofie-zcq {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0399999117;
  color: #525867;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj {
  box-sizing: border-box;
  padding: 2.1rem 2.7rem 18.7rem 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-4Yh.png');
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw {
  margin-bottom: 2.5rem;
  width: 56.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw .sub-kategori-9nZ {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  column-gap: 7.3rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw .sub-kategori-9nZ .data-diri-U49 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw .sub-kategori-9nZ .alamat-nqX {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw .sub-kategori-9nZ .pembayaran-kGZ {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw .sub-kategori-9nZ .pesanan-6rD {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .sub-bab-2hw .vector-84-Fz1 {
  margin-left: 13.9rem;
  width: 11.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB {
  margin-left: 0.9rem;
  width: calc(100% - 0.9rem);
  height: 71.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u {
  margin: 0.98rem 3.18rem 0rem 0rem;
  width: 47.52rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq {
  box-sizing: border-box;
  padding-bottom: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .head-xX3 {
  margin-bottom: 2.42rem;
  width: 22.9rem;
  height: 7.1rem;
  position: relative;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .head-xX3 .hai-UEV {
  width: 2.8rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .head-xX3 .shofie-zTj {
  width: 5.9rem;
  height: 2.4rem;
  position: absolute;
  left: 3.256rem;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .head-xX3 .selamat-datang-di-halaman-pengaturan-pembayaran-JzD {
  width: 22.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .head-xX3 .selamat-datang-di-halaman-pengaturan-pembayaran-JzD .selamat-datang-di-halaman-pengaturan-pembayaran-JzD-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .head-xX3 .selamat-datang-di-halaman-pengaturan-pembayaran-JzD .selamat-datang-di-halaman-pengaturan-pembayaran-JzD-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .auto-group-v38m-pQq .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-GTB {
  max-width: 39rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .frame-34477-B4M {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .frame-34477-B4M .kartu-kredit-debit-w3X {
  box-sizing: border-box;
  padding: 2.38rem 0rem 2.47rem 0rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .frame-34477-B4M .kartu-kredit-debit-w3X .kartu-kredit-debit-sC5 {
  margin: 0rem 20.52rem 0.01rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .frame-34477-B4M .kartu-kredit-debit-w3X .tersimpan-m2Z {
  margin-top: 0.01rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .group-34485-i6u .frame-34477-B4M .debit-instan-fNq {
  box-sizing: border-box;
  padding: 2.39rem 0rem 2.47rem 0rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T {
  width: 52.3rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-p9ko-fXF {
  width: 16.4rem;
  height: 3rem;
  position: absolute;
  left: 1.4rem;
  top: 1.8rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-p9ko-fXF .vuesax-linear-arrow-left-bfo {
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-p9ko-fXF .pembayaran-wDs {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.8050000191;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .mandiri-direct-debit-3Xo {
  width: 28.7rem;
  height: 2.4rem;
  position: absolute;
  left: 2.4rem;
  top: 8.3rem;
  display: flex;
  align-items: flex-end;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .mandiri-direct-debit-3Xo .mandiri-kh7 {
  margin: 0rem 1.7rem 0.216rem 0rem;
  width: 7.5rem;
  height: 2.1844rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .mandiri-direct-debit-3Xo .mandiri-direct-debit-fJH {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.8050000191;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .nomor-kartu-debit-n81 {
  width: 12.4rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 14.9rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .digit-angka-yang-tertera-di-kartu-debit-68h {
  width: 27rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 21.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .rectangle-5423-bLM {
  width: 46.2rem;
  height: 0.2rem;
  position: absolute;
  left: 2.4rem;
  top: 20.8rem;
  background-color: #b2b2b2;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .item-1923477203948173-ubw {
  width: 22.3rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 17.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  letter-spacing: 0.2rem;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .masa-berlaku-Pn1 {
  width: 8.9rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 25.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP {
  width: 13.4rem;
  height: 3.2rem;
  position: absolute;
  left: 2.4rem;
  top: 29rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-start;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .auto-group-2c3b-SkH {
  width: 5.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .auto-group-2c3b-SkH .item-10-oKw {
  margin: 0rem 0.4rem 1.3rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .auto-group-2c3b-SkH .rectangle-5424-VyT {
  width: 100%;
  height: 0.2rem;
  background-color: #178841;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .item--DuT {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .group-34489-Ygq {
  width: 5.8rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .group-34489-Ygq .yy-Vry {
  margin: 0rem 0.1rem 1.3rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .auto-group-jfow-iZP .group-34489-Ygq .rectangle-5425-1aR {
  width: 100%;
  height: 0.2rem;
  background-color: #b2b2b2;
  flex-shrink: 0;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .masukkan-masa-berlaku-kartu-debit-AiD {
  width: 23.6rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 32.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .informasi-ssX {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.5rem 0.4rem;
  width: 43.9rem;
  height: 15rem;
  position: absolute;
  left: 3.1rem;
  top: 36.3rem;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .informasi-ssX .informasi-kartu-debit-akan-tersimpan-bisa-dipakai-untuk-tiap-transaksi-kamu-akan-dikenai-tarif-pulsa-sms-untuk-tiap-kode-verifikasi-yang-dikirim-oleh-bank-pastikan-kamu-telah-mengaktifkan-transaksi-debit-online-di-bank-atau-melalui-m-banking-Ard {
  max-width: 42.8rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm {
  width: 44.4rem;
  height: 4rem;
  position: absolute;
  left: 2.4rem;
  top: 55.9rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm-sub-0 {
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #178841;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm-sub-2 {
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm-sub-3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #178841;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-Ztm-sub-4 {
}
.account-pembayaran-debit-223-TzR .group-34486-dds .auto-group-xnid-KHj .auto-group-r81p-bHB .debit-instant-mm-w5T .button-simpan-gkR {
  width: 45.9rem;
  height: 5.6rem;
  position: absolute;
  left: 3.2rem;
  top: 61.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #b8c5d0;
  border-radius: 1rem;
}
