
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-221-cAu {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;
}
.account-pembayaran-debit-221-cAu .item-67580793426116-7-Wn5 {
  width: 144rem;
  height: 132.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-221-cAu .putih-atas-pattern-2Ed {
  width: 123rem;
  height: 135.3rem;
  position: absolute;
  left: 10.5rem;
  top: 9.2rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-221-cAu .footer-Yyf {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0rem;
  top: 130.6rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 .group-20-z4y {
  margin-bottom: 0.8073rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 .group-20-z4y .px-herosupermarket-3-681 {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 .auto-group-qzms-1Vs {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 .auto-group-qzms-1Vs .icon-facebook-xAD {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 .auto-group-qzms-1Vs .icon-twitter-dXF {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .auto-group-xe4h-eG1 .auto-group-qzms-1Vs .icon-youtube-An5 {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .about-us-fTw {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .faq-yDj {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .contact-gtq {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .footer-Yyf .customer-survey-1w7 {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background-color: #ffffff;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .logo-navbar-tNd {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .logo-navbar-tNd .px-herosupermarket-3-2Dw {
  width: 15.0358rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34376-SHf {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34376-SHf .search-product-KsF {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34376-SHf .vector-2mf {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34372-WB3 {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .my-wishlist-3Ay {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .my-wishlist-3Ay .my-wishlist-3Ay-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .my-wishlist-3Ay .my-wishlist-3Ay-sub-1 {
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34374-yD3 {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .sign-up-or-log-in-gNM {
  margin: 0rem 6.4rem 0.3rem 0rem;
  max-width: 5.1rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .sign-up-or-log-in-gNM .sign-up-or-log-in-gNM-sub-0 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .sign-up-or-log-in-gNM .sign-up-or-log-in-gNM-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-5BX.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso .shopping-cart-2-4-USd {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-X7o.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso .shopping-cart-2-4-USd .shopping-cart-2-4-USd-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso .shoppingchart-jNZ {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso .shoppingchart-jNZ .shoppingchart-jNZ-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso .shoppingchart-jNZ .shoppingchart-jNZ-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-qunm-ASd .auto-group-n9jp-825 .group-34375-Mso .shoppingchart-jNZ .shoppingchart-jNZ-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .promo-hMK {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .frame-34403-dEy {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .frame-34403-dEy .group-34379-YMw {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .frame-34403-dEy .group-34379-YMw .produk-segar-JM7 {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .frame-34403-dEy .group-34379-YMw .drop-down-SCR {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34378-v9X {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34378-v9X .bahan-masak-Gz5 {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34378-v9X .drop-down-ytV {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34380-KxM {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34380-KxM .susu-produk-beku-h3o {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34380-KxM .drop-down-dCM {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34381-9wP {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34381-9wP .snack-X2q {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .group-34381-9wP .drop-down-drZ {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .navbar-shoping-6Sm .group-34377-QTT .auto-group-ovgm-omj .group-34382-kws .auto-group-pnfs-Nbs .brands-njT {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j {
  width: 109rem;
  height: 102.5rem;
  position: absolute;
  left: 17.3rem;
  top: 19.5rem;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .nama-pemilik-akun-C2V {
  margin: 0rem 98.39rem 2.1rem 2.4rem;
  width: calc(100% - 100.7897rem);
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .nama-pemilik-akun-C2V .group-34373-KN1 {
  margin: 0rem 0.9rem 0rem 0rem;
  width: 1.3103rem;
  height: 1.717rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .nama-pemilik-akun-C2V .shofie-2nD {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0399999117;
  color: #525867;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf {
  box-sizing: border-box;
  padding: 2.1rem 2.7rem 18.7rem 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-uPw.png');
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K {
  margin-bottom: 2.5rem;
  width: 56.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K .sub-kategori-rFT {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  column-gap: 7.3rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K .sub-kategori-rFT .data-diri-m7X {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K .sub-kategori-rFT .alamat-Wau {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K .sub-kategori-rFT .pembayaran-eSD {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K .sub-kategori-rFT .pesanan-aKs {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .sub-bab-u5K .vector-84-K2Z {
  margin-left: 13.9rem;
  width: 11.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 {
  margin-left: 0.9rem;
  width: calc(100% - 0.9rem);
  height: 71.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos {
  margin: 0.98rem 3.18rem 0rem 0rem;
  width: 47.52rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd {
  box-sizing: border-box;
  padding-bottom: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .head-pdX {
  margin-bottom: 2.42rem;
  width: 22.9rem;
  height: 7.1rem;
  position: relative;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .head-pdX .hai-NQ9 {
  width: 2.8rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .head-pdX .shofie-sLu {
  width: 5.9rem;
  height: 2.4rem;
  position: absolute;
  left: 3.256rem;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .head-pdX .selamat-datang-di-halaman-pengaturan-pembayaran-b21 {
  width: 22.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .head-pdX .selamat-datang-di-halaman-pengaturan-pembayaran-b21 .selamat-datang-di-halaman-pengaturan-pembayaran-b21-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .head-pdX .selamat-datang-di-halaman-pengaturan-pembayaran-b21 .selamat-datang-di-halaman-pengaturan-pembayaran-b21-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .auto-group-m1db-fkd .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-CAD {
  max-width: 39rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .frame-34477-hMs {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .frame-34477-hMs .kartu-kredit-debit-rkZ {
  box-sizing: border-box;
  padding: 2.38rem 0rem 2.47rem 0rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .frame-34477-hMs .kartu-kredit-debit-rkZ .kartu-kredit-debit-oA1 {
  margin: 0rem 20.52rem 0.01rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .frame-34477-hMs .kartu-kredit-debit-rkZ .tersimpan-uyj {
  margin-top: 0.01rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .group-34485-Aos .frame-34477-hMs .debit-instan-BRT {
  box-sizing: border-box;
  padding: 2.39rem 0rem 2.47rem 0rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq {
  width: 52.3rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-g9mk-ohj {
  width: 16.4rem;
  height: 3rem;
  position: absolute;
  left: 1.4rem;
  top: 1.8rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-g9mk-ohj .vuesax-linear-arrow-left-k7B {
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-g9mk-ohj .pembayaran-h2R {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.8050000191;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .mandiri-direct-debit-btV {
  width: 28.7rem;
  height: 2.4rem;
  position: absolute;
  left: 2.4rem;
  top: 8.3rem;
  display: flex;
  align-items: flex-end;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .mandiri-direct-debit-btV .mandiri-fNZ {
  margin: 0rem 1.7rem 0.216rem 0rem;
  width: 7.5rem;
  height: 2.1844rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .mandiri-direct-debit-btV .mandiri-direct-debit-nxy {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.8050000191;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .digit-angka-yang-tertera-di-kartu-debit-8mw {
  width: 27rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 21.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .group-34487-1qj {
  width: 46.2rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 2.4rem;
  top: 18.5rem;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .group-34487-1qj .nomor-kartu-debit-Meh {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #d9d9d9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .group-34487-1qj .rectangle-5423-JK3 {
  width: 100%;
  height: 0.2rem;
  background-color: #b2b2b2;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .masa-berlaku-dcD {
  width: 8.9rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 25.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-k4uh-vbK {
  width: 10.8rem;
  height: 1.7rem;
  position: absolute;
  left: 3.5rem;
  top: 29rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-k4uh-vbK .mm-4hX {
  margin-right: 1.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #d9d9d9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-k4uh-vbK .item--ov1 {
  margin-right: 2.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-k4uh-vbK .yy-MAq {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8050000191;
  color: #d9d9d9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .masukkan-masa-berlaku-kartu-debit-6eD {
  width: 23.6rem;
  height: 1.7rem;
  position: absolute;
  left: 2.4rem;
  top: 32.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1500000272;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-oybf-ZGu {
  width: 13.4rem;
  height: 0.2rem;
  position: absolute;
  left: 2.4rem;
  top: 32rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-oybf-ZGu .rectangle-5424-Gx1 {
  margin-right: 1.8rem;
  width: 5.8rem;
  height: 0.2rem;
  background-color: #b2b2b2;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .auto-group-oybf-ZGu .rectangle-5425-DcM {
  width: 5.8rem;
  height: 0.2rem;
  background-color: #b2b2b2;
  flex-shrink: 0;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .informasi-mtm {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.5rem 0.4rem;
  width: 43.9rem;
  height: 15rem;
  position: absolute;
  left: 4.2rem;
  top: 37.7rem;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .informasi-mtm .informasi-kartu-debit-akan-tersimpan-bisa-dipakai-untuk-tiap-transaksi-kamu-akan-dikenai-tarif-pulsa-sms-untuk-tiap-kode-verifikasi-yang-dikirim-oleh-bank-pastikan-kamu-telah-mengaktifkan-transaksi-debit-online-di-bank-atau-melalui-m-banking-tyP {
  max-width: 42.8rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw {
  width: 44.4rem;
  height: 4rem;
  position: absolute;
  left: 3.9rem;
  top: 55.9rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-0 {
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #178841;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-2 {
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #178841;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-4 {
}
.account-pembayaran-debit-221-cAu .group-34486-h5j .auto-group-7xvo-yBf .auto-group-u6m7-4F3 .debit-instant-nomor-kartu-debit-kosong-5Wq .button-simpan-s6Z {
  width: 45.9rem;
  height: 5.6rem;
  position: absolute;
  left: 3.2rem;
  top: 61.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #b8c5d0;
  border-radius: 1rem;
}
