
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-212-ZgM {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;
}
.account-pembayaran-debit-212-ZgM .item-67580793426116-7-5Po {
  width: 144rem;
  height: 132.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-212-ZgM .putih-atas-pattern-b7F {
  width: 123rem;
  height: 135.3rem;
  position: absolute;
  left: 10.5rem;
  top: 9.2rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 130.6rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H .group-20-ZTP {
  margin-bottom: 0.8073rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H .group-20-ZTP .px-herosupermarket-3-5Rj {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H .auto-group-2amo-nqw {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H .auto-group-2amo-nqw .icon-facebook-jWH {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H .auto-group-2amo-nqw .icon-twitter-drZ {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .auto-group-tdcm-R6H .auto-group-2amo-nqw .icon-youtube-y9j {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .about-us-Jho {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .faq-bS1 {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .contact-W3B {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .footer-KZ3 .customer-survey-21X {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .logo-navbar-vFK {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .logo-navbar-vFK .px-herosupermarket-3-FHb {
  width: 15.0358rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34376-Hzy {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34376-Hzy .search-product-1RB {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34376-Hzy .vector-8Eu {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34372-Rjo {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .my-wishlist-MdT {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .my-wishlist-MdT .my-wishlist-MdT-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .my-wishlist-MdT .my-wishlist-MdT-sub-1 {
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34374-V7P {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .sign-up-or-log-in-1rR {
  margin: 0rem 6.4rem 0.3rem 0rem;
  max-width: 5.1rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .sign-up-or-log-in-1rR .sign-up-or-log-in-1rR-sub-0 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .sign-up-or-log-in-1rR .sign-up-or-log-in-1rR-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-jyj.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q .shopping-cart-2-4-TEZ {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-hZj.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q .shopping-cart-2-4-TEZ .shopping-cart-2-4-TEZ-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q .shoppingchart-iwB {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q .shoppingchart-iwB .shoppingchart-iwB-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q .shoppingchart-iwB .shoppingchart-iwB-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-yter-Q25 .auto-group-rxvb-m13 .group-34375-m6q .shoppingchart-iwB .shoppingchart-iwB-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .promo-KpV {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .frame-34403-Su7 {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .frame-34403-Su7 .group-34379-BLu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .frame-34403-Su7 .group-34379-BLu .produk-segar-92q {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .frame-34403-Su7 .group-34379-BLu .drop-down-4vV {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34378-j13 {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34378-j13 .bahan-masak-tPj {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34378-j13 .drop-down-R8m {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34380-Zkm {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34380-Zkm .susu-produk-beku-XSh {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34380-Zkm .drop-down-TbF {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34381-QmP {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34381-QmP .snack-yZb {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .group-34381-QmP .drop-down-uy3 {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .navbar-shoping-ur1 .group-34377-eYh .auto-group-m4dx-pMw .group-34382-xyw .auto-group-kmh3-QDf .brands-FGD {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP {
  width: 109rem;
  height: 102.5rem;
  position: absolute;
  left: 17.3rem;
  top: 19.5rem;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .nama-pemilik-akun-S5o {
  margin: 0rem 98.39rem 2.1rem 2.4rem;
  width: calc(100% - 100.7897rem);
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .nama-pemilik-akun-S5o .group-34373-vFs {
  margin-right: 0.9rem;
  width: 1.3103rem;
  height: 1.7169rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .nama-pemilik-akun-S5o .shofie-QB3 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0399999117;
  color: #525867;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy {
  box-sizing: border-box;
  padding: 2.1rem 2.7rem 16.9rem 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-98D.png');
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD {
  margin-bottom: 2.5rem;
  width: 56.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD .sub-kategori-yNZ {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  column-gap: 7.3rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD .sub-kategori-yNZ .data-diri-hpM {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD .sub-kategori-yNZ .alamat-3tD {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD .sub-kategori-yNZ .pembayaran-zoT {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD .sub-kategori-yNZ .pesanan-kGq {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .sub-bab-2iD .vector-84-JJM {
  margin-left: 13.9rem;
  width: 11.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX {
  margin-left: 0.9rem;
  width: calc(100% - 0.9rem);
  height: 73rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV {
  margin: 0.98rem 3.18rem 0rem 0rem;
  width: 47.52rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo {
  box-sizing: border-box;
  padding-bottom: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .head-4Rw {
  margin-bottom: 2.42rem;
  width: 22.9rem;
  height: 7.1rem;
  position: relative;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .head-4Rw .hai-bwf {
  width: 2.8rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .head-4Rw .shofie-7v1 {
  width: 5.9rem;
  height: 2.4rem;
  position: absolute;
  left: 3.256rem;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .head-4Rw .selamat-datang-di-halaman-pengaturan-pembayaran-SBb {
  width: 22.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .head-4Rw .selamat-datang-di-halaman-pengaturan-pembayaran-SBb .selamat-datang-di-halaman-pengaturan-pembayaran-SBb-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .head-4Rw .selamat-datang-di-halaman-pengaturan-pembayaran-SBb .selamat-datang-di-halaman-pengaturan-pembayaran-SBb-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .auto-group-abxd-7Fo .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-H5j {
  max-width: 39rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .frame-34477-Ncy {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .frame-34477-Ncy .kartu-kredit-debit-LJu {
  box-sizing: border-box;
  padding: 2.38rem 0rem 2.47rem 0rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .frame-34477-Ncy .kartu-kredit-debit-LJu .kartu-kredit-debit-Ssj {
  margin: 0rem 20.52rem 0.01rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .frame-34477-Ncy .kartu-kredit-debit-LJu .tersimpan-Mjo {
  margin-top: 0.01rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .group-34485-yQV .frame-34477-Ncy .debit-instan-U3j {
  box-sizing: border-box;
  padding: 2.39rem 0rem 2.47rem 0rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH {
  box-sizing: border-box;
  padding-bottom: 2.3rem;
  width: 52.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d9d9d9;
  background-color: #ffffff;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .head-rpy {
  box-sizing: border-box;
  padding: 2rem 2.2rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 0.947058846;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #b8c5d0;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .auto-group-ceth-kvM {
  box-sizing: border-box;
  padding: 1.9rem 1.6rem 3.8rem 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .auto-group-ceth-kvM .auto-group-pweh-VN9 {
  margin: 0rem 32.7rem 3.8rem 0rem;
  width: calc(100% - 32.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .auto-group-ceth-kvM .auto-group-pweh-VN9 .vuesax-linear-arrow-left-DZ3 {
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .auto-group-ceth-kvM .auto-group-pweh-VN9 .pembayaran-9Bo {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.8050000191;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .auto-group-ceth-kvM .pilih-debit-instan-GXK {
  margin: 0rem 0rem 0.8rem 1rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 0.7318181992;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .auto-group-ceth-kvM .kamu-hanya-bisa-simpan-1-kartu-debit-per-bank-B8V {
  margin-left: 1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.1500000272;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .oneklik-tYh {
  margin-bottom: 1.35rem;
  box-sizing: border-box;
  padding: 0rem 3.2rem 0rem 2.1rem;
  width: 100%;
  height: 5.75rem;
  cursor: pointer;
  border-bottom: solid 0.05rem #b8c5d0;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .oneklik-tYh .auto-group-s6bt-czV {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .oneklik-tYh .auto-group-s6bt-czV .rectangle-5427-mMb {
  margin-right: 1.7rem;
  width: 5.1rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .oneklik-tYh .auto-group-s6bt-czV .oneklik-W4H {
  margin: 0rem 30.7rem 0.1rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.8944444656;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .oneklik-tYh .auto-group-s6bt-czV .selection-pam {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq {
  margin-bottom: 2.15rem;
  width: 100%;
  height: 16.75rem;
  border-bottom: solid 0.05rem #b8c5d0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V {
  box-sizing: border-box;
  padding: 0rem 3.2rem 2.4rem 2.1rem;
  width: 100%;
  height: 16.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V .auto-group-3mqm-1fF {
  margin-bottom: 2.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V .auto-group-3mqm-1fF .rectangle-5428-Zgm {
  margin-right: 1.7rem;
  width: 5.1rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V .auto-group-3mqm-1fF .mandiri-JeM {
  margin: 0.3rem 30.9rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.8944444656;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V .auto-group-3mqm-1fF .selection-DWR {
  margin-top: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V .sk-9ey {
  box-sizing: border-box;
  padding: 1.5rem 1.3rem;
  width: 100%;
  height: 8.4rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .mandiri-jSq .auto-group-bj9o-62V .sk-9ey .pastikan-kamu-sudah-mengaktifkan-fitur-mandiri-mobile-banking-masukkan-masa-berlaku-expiried-date-yang-tertera-di-kartu-debitmu-Viq {
  max-width: 42.2rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .bri-direct-debit-SnV {
  margin-bottom: 1.55rem;
  box-sizing: border-box;
  padding: 0rem 3.2rem 0rem 2.1rem;
  width: 100%;
  height: 5.95rem;
  cursor: pointer;
  border-bottom: solid 0.05rem #b8c5d0;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .bri-direct-debit-SnV .auto-group-hvy3-y1j {
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .bri-direct-debit-SnV .auto-group-hvy3-y1j .rectangle-5429-7Nq {
  margin-right: 1.7rem;
  width: 5.1rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .bri-direct-debit-SnV .auto-group-hvy3-y1j .bri-direct-debit-edf {
  margin: 0rem 23.8rem 0.1rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.8944444656;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .bri-direct-debit-SnV .auto-group-hvy3-y1j .selection-xuF {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .octo-cash-5U5 {
  margin-bottom: 1.95rem;
  box-sizing: border-box;
  padding: 0rem 3.2rem 0rem 1.6rem;
  width: 100%;
  height: 7.25rem;
  border-bottom: solid 0.05rem #b8c5d0;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .octo-cash-5U5 .auto-group-mexk-QmF {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .octo-cash-5U5 .auto-group-mexk-QmF .octo-cash-9yj {
  margin-right: 1.3rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .octo-cash-5U5 .auto-group-mexk-QmF .octo-cash-by-cimb-niaga-twK {
  margin: 0rem 14.2rem 0.1rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.8944444656;
  color: #525867;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .octo-cash-5U5 .auto-group-mexk-QmF .selection-nWu {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-212-ZgM .group-34486-jBP .auto-group-m9kx-WUy .auto-group-yhgd-dbX .debit-instant-pilih-YpH .button-simpan-JVF {
  margin: 0 3.3rem;
  width: calc(100% - 6.6rem);
  height: 5.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #178841;
  border-radius: 1rem;
  flex-shrink: 0;
}
