
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-tersimpan-wZ3 {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;
}
.account-pembayaran-debit-tersimpan-wZ3 .item-67580793426116-7-Skh {
  width: 144rem;
  height: 132.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-tersimpan-wZ3 .putih-atas-pattern-kFb {
  width: 123rem;
  height: 135.3rem;
  position: absolute;
  left: 10.5rem;
  top: 9.2rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 130.6rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 .group-20-fms {
  margin-bottom: 0.8073rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 .group-20-fms .px-herosupermarket-3-CWu {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 .auto-group-hc2d-ik9 {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 .auto-group-hc2d-ik9 .icon-facebook-qJy {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 .auto-group-hc2d-ik9 .icon-twitter-9aZ {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .auto-group-a5hb-8G9 .auto-group-hc2d-ik9 .icon-youtube-GQH {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .about-us-DKX {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .faq-hVb {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .contact-qER {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .footer-ebs .customer-survey-YPj {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background-color: #ffffff;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .logo-navbar-EQy {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .logo-navbar-EQy .px-herosupermarket-3-Zi9 {
  width: 15.0358rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34376-beq {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34376-beq .search-product-tP3 {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34376-beq .vector-zws {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34372-7Fo {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .my-wishlist-qxV {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .my-wishlist-qxV .my-wishlist-qxV-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .my-wishlist-qxV .my-wishlist-qxV-sub-1 {
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34374-jgV {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .sign-up-or-log-in-GgR {
  margin: 0rem 6.4rem 0.3rem 0rem;
  max-width: 5.1rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .sign-up-or-log-in-GgR .sign-up-or-log-in-GgR-sub-0 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .sign-up-or-log-in-GgR .sign-up-or-log-in-GgR-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-6ho.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX .shopping-cart-2-4-pUy {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-8Rf.png');
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX .shopping-cart-2-4-pUy .shopping-cart-2-4-pUy-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX .shoppingchart-qus {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX .shoppingchart-qus .shoppingchart-qus-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX .shoppingchart-qus .shoppingchart-qus-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-djzf-WE5 .auto-group-qbsw-V61 .group-34375-jTX .shoppingchart-qus .shoppingchart-qus-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .promo-qS1 {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .frame-34403-Zcu {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .frame-34403-Zcu .group-34379-VmT {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .frame-34403-Zcu .group-34379-VmT .produk-segar-G1X {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .frame-34403-Zcu .group-34379-VmT .drop-down-N4Z {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34378-mcV {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34378-mcV .bahan-masak-L9o {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34378-mcV .drop-down-sQd {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34380-d8u {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34380-d8u .susu-produk-beku-N6V {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34380-d8u .drop-down-huT {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34381-qkm {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34381-qkm .snack-cFj {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .group-34381-qkm .drop-down-YfB {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .navbar-shoping-RiR .group-34377-YY9 .auto-group-olem-jNy .group-34382-UbT .auto-group-a32y-SaD .brands-GLH {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .union-zGH {
  width: 109rem;
  height: 100.6rem;
  position: absolute;
  left: 17.3rem;
  top: 23.6rem;
  object-fit: contain;
  vertical-align: top;
}
.account-pembayaran-debit-tersimpan-wZ3 .nama-pemilik-akun-Vyj {
  width: 8.2103rem;
  height: 2rem;
  position: absolute;
  left: 19.7rem;
  top: 19.5rem;
  display: flex;
  align-items: center;
}
.account-pembayaran-debit-tersimpan-wZ3 .nama-pemilik-akun-Vyj .group-34373-ERX {
  margin-right: 0.9rem;
  width: 1.3103rem;
  height: 1.717rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .nama-pemilik-akun-Vyj .shofie-jt5 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.0399999117;
  color: #525867;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq {
  width: 56.4rem;
  height: 3.9rem;
  position: absolute;
  left: 19.7rem;
  top: 25.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq .sub-kategori-CWm {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  column-gap: 7.3rem;
  align-items: center;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq .sub-kategori-CWm .data-diri-Yad {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq .sub-kategori-CWm .alamat-tPb {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq .sub-kategori-CWm .pembayaran-3GV {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq .sub-kategori-CWm .pesanan-yA9 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .sub-bab-fWq .vector-84-XSZ {
  margin-left: 13.9rem;
  width: 11.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 {
  width: 47.52rem;
  height: 26.94rem;
  position: absolute;
  left: 20.6rem;
  top: 33.08rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK {
  box-sizing: border-box;
  padding-bottom: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .head-UFK {
  margin-bottom: 2.42rem;
  width: 22.9rem;
  height: 7.1rem;
  position: relative;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .head-UFK .hai-Dih {
  width: 2.8rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .head-UFK .shofie-96Z {
  width: 5.9rem;
  height: 2.4rem;
  position: absolute;
  left: 3.256rem;
  top: 0;
  display: flex;
  font-size: 1.7859rem;
  font-weight: 400;
  line-height: 1.343832021;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .head-UFK .selamat-datang-di-halaman-pengaturan-pembayaran-GBB {
  width: 22.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .head-UFK .selamat-datang-di-halaman-pengaturan-pembayaran-GBB .selamat-datang-di-halaman-pengaturan-pembayaran-GBB-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .head-UFK .selamat-datang-di-halaman-pengaturan-pembayaran-GBB .selamat-datang-di-halaman-pengaturan-pembayaran-GBB-sub-1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .auto-group-u4u7-KdK .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-7LD {
  max-width: 39rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 .kartu-kredit-debit-NX3 {
  box-sizing: border-box;
  padding: 2.38rem 0rem 2.47rem 0rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 .kartu-kredit-debit-NX3 .kartu-kredit-debit-Jfb {
  margin: 0rem 20.52rem 0.01rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 .kartu-kredit-debit-NX3 .tersimpan-pdw {
  margin-top: 0.01rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #5a5c62;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 .debit-instan-ess {
  box-sizing: border-box;
  padding: 2.39rem 1.52rem 2.47rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 .debit-instan-ess .debit-instan-Q6M {
  margin-right: 26.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.account-pembayaran-debit-tersimpan-wZ3 .group-34485-RH3 .frame-34477-Qq7 .debit-instan-ess .bank-mandiri-wMB {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8625000119;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
