
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.categories-produk-segar-1-6qf {
  width: 100%;
  height: 181.2rem;
  position: relative;
  background-color: #ffffff;
}
.categories-produk-segar-1-6qf .background-1hj {
  width: 144rem;
  height: 166.6rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categories-produk-segar-1-6qf .background-1hj .auto-group-qrqm-9J9 {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 65.3rem 14.3rem 64.1rem 44.2rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-mVj.png');
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .background-1hj .auto-group-qrqm-9J9 .vector-83-U5X {
  width: 85.5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.categories-produk-segar-1-6qf .background-1hj .item-67580793426116-7-BVj {
  width: 144rem;
  height: 36.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .putih-atas-pattern-hiy {
  width: 123rem;
  height: 158.3rem;
  position: absolute;
  left: 10.5rem;
  top: 10.7rem;
  background-color: #ffffff;
}
.categories-produk-segar-1-6qf .search-2mF {
  width: 28rem;
  height: 3.9rem;
  position: absolute;
  left: 13.4rem;
  top: 61.4rem;
}
.categories-produk-segar-1-6qf .search-2mF .cari-produk-yAh {
  width: 9.7rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  color: #c6c6c6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-produk-segar-1-6qf .search-2mF .rectangle-5395-rkH {
  width: 28rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.15rem #c6c6c6;
  box-sizing: border-box;
  border-radius: 0.6rem;
}
.categories-produk-segar-1-6qf .search-2mF .vector-PVK {
  width: 1.9rem;
  height: 2rem;
  position: absolute;
  left: 24.4rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.categories-produk-segar-1-6qf .cover-vegetables-KNy {
  width: 123rem;
  height: 38.6rem;
  position: absolute;
  left: 10.5rem;
  top: 18.2rem;
  background-size: 100% 212.435%;
  background-position: -0rem -43.4rem;
  background-image: url('../assets/healthy-vegetables-wooden-table-1-bg.png');
  border-radius: 2.4rem;
}
.categories-produk-segar-1-6qf .cover-vegetables-KNy .rectangle-5393-FXX {
  width: 59.8rem;
  height: 11.1rem;
  position: absolute;
  left: 30.9rem;
  top: 14.4rem;
  background: radial-gradient(50% 50% at 50% 50%, #052814 0%, rgba(5, 40, 20, 0) 100%);
  border-radius: 10rem;
}
.categories-produk-segar-1-6qf .cover-vegetables-KNy .sayur-buah-vtZ {
  width: 34.7rem;
  height: 2.4rem;
  position: absolute;
  left: 44.1rem;
  top: 18.1rem;
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.48;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-produk-segar-1-6qf .cover-vegetables-KNy .cover-vegetables-KNy-bg {
  width: 123rem;
  height: 38.6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
}
.categories-produk-segar-1-6qf .footer-8zd {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 165.2rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd .group-20-ARX {
  margin-bottom: 0.8073rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd .group-20-ARX .px-herosupermarket-3-Hm3 {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd .auto-group-wxob-ozH {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd .auto-group-wxob-ozH .icon-facebook-9YM {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd .auto-group-wxob-ozH .icon-twitter-GN5 {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .auto-group-ps4z-SEd .auto-group-wxob-ozH .icon-youtube-bfF {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .about-us-Lcq {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .faq-Svm {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .contact-N3j {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .footer-8zd .customer-survey-tGy {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .logo-navbar-t41 {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .logo-navbar-t41 .px-herosupermarket-3-cVo {
  width: 15.0357rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34376-fDB {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34376-fDB .search-product-NNV {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34376-fDB .vector-J1F {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34372-CsK {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .my-wishlist-jMT {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .my-wishlist-jMT .my-wishlist-jMT-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .my-wishlist-jMT .my-wishlist-jMT-sub-1 {
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34374-Gkh {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .sign-up-or-log-in-oEq {
  margin: 0rem 4.4rem 0.3rem 0rem;
  max-width: 7.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .sign-up-or-log-in-oEq .sign-up-or-log-in-oEq-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .sign-up-or-log-in-oEq .sign-up-or-log-in-oEq-sub-1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .sign-up-or-log-in-oEq .sign-up-or-log-in-oEq-sub-2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-Xbw.png');
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw .shopping-cart-2-4-YEM {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-uJy.png');
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw .shopping-cart-2-4-YEM .shopping-cart-2-4-YEM-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw .shoppingchart-2QR {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw .shoppingchart-2QR .shoppingchart-2QR-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw .shoppingchart-2QR .shoppingchart-2QR-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-b3yt-xg9 .auto-group-ey9x-8DF .group-34375-qKw .shoppingchart-2QR .shoppingchart-2QR-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .promo-R5B {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .frame-34403-8kH {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .frame-34403-8kH .group-34379-TnZ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .frame-34403-8kH .group-34379-TnZ .produk-segar-24y {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .frame-34403-8kH .group-34379-TnZ .drop-down-xDX {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34378-DfF {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34378-DfF .bahan-masak-Bc5 {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34378-DfF .drop-down-WuF {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34380-38V {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34380-38V .susu-produk-beku-bA1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34380-38V .drop-down-7u3 {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34381-s7X {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34381-s7X .snack-Req {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .group-34381-s7X .drop-down-xPs {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .navbar-shoping-tAV .group-34377-1W1 .auto-group-xuxh-Wyo .group-34382-s3f .auto-group-nypf-hB7 .brands-Jid {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 {
  width: 16rem;
  height: 14.8rem;
  position: absolute;
  left: 13.3rem;
  top: 69.6rem;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 .category-m6R {
  margin-bottom: 1.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #6f6f6f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 .frame-34452-VHK {
  margin-left: 1.7rem;
  width: 14.3rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 .frame-34452-VHK .sayur-Qv5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 .frame-34452-VHK .jamur-kecambah-M4d {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 .frame-34452-VHK .tahu-fermentasi-HDB {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .category-dan-sub-S49 .frame-34452-VHK .buah-fermentasi-oxD {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34453-8zV {
  width: 16.6rem;
  height: 2.1rem;
  position: absolute;
  left: 44.3rem;
  top: 67.5rem;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
}
.categories-produk-segar-1-6qf .frame-34453-8zV .home-fUd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34453-8zV .vuesax-linear-arrow-up-zmo {
  width: 1.3rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34453-8zV .produk-segar-wS9 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT {
  width: 82.7rem;
  height: 32.7rem;
  position: absolute;
  left: 44.2rem;
  top: 72.3rem;
  display: flex;
  column-gap: 4.1rem;
  align-items: center;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .auto-group-cdd3-iLR {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .auto-group-cdd3-iLR .card-example-4jpeg-fFf {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-uMj.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .auto-group-cdd3-iLR .image-80-Lch {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-vmF.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nnk9-MXo {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nnk9-MXo .peachy-apple-puree-110-gr-Vtu {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nnk9-MXo .code-098642791289-QFB {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nnk9-MXo .rp-35500-iFs {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nwc9-3ow {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nwc9-3ow .icon-heart-c6M {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nwc9-3ow .auto-group-rrg1-ifB {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nwc9-3ow .auto-group-rrg1-ifB .shopping-cart-2-4-3hT {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-AZo.png');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-bFo .group-34423-Ru3 .auto-group-nwc9-3ow .auto-group-rrg1-ifB .shopping-cart-2-4-3hT .shopping-cart-2-4-3hT-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .auto-group-ypc9-P93 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .auto-group-ypc9-P93 .card-example-4jpeg-KoP {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-UFb.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .auto-group-ypc9-P93 .image-80-Dds {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-enV.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-5cch-48h {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-5cch-48h .peachy-apple-puree-110-gr-o6H {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-5cch-48h .code-098642791289-6bB {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-5cch-48h .rp-35500-pXB {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-vwuy-xdP {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-vwuy-xdP .icon-heart-iMf {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-vwuy-xdP .auto-group-ygdf-qSH {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-vwuy-xdP .auto-group-ygdf-qSH .shopping-cart-2-4-AjT {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-Au7.png');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-fD3 .group-34423-8Vw .auto-group-vwuy-xdP .auto-group-ygdf-qSH .shopping-cart-2-4-AjT .shopping-cart-2-4-AjT-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .auto-group-33td-iPb {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .auto-group-33td-iPb .card-example-4jpeg-s1b {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-mz9.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .auto-group-33td-iPb .image-80-MSZ {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-TXF.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-yck3-NsT {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-yck3-NsT .peachy-apple-puree-110-gr-iwK {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-yck3-NsT .code-098642791289-DNH {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-yck3-NsT .rp-35500-8VF {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-ewcu-4Nu {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-ewcu-4Nu .icon-heart-p7B {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-ewcu-4Nu .auto-group-cuyx-8Nm {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-ewcu-4Nu .auto-group-cuyx-8Nm .shopping-cart-2-4-rpZ {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-gPT.png');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-nkq .group-34423-ewT .auto-group-ewcu-4Nu .auto-group-cuyx-8Nm .shopping-cart-2-4-rpZ .shopping-cart-2-4-rpZ-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .auto-group-jtkf-Qjb {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .auto-group-jtkf-Qjb .card-example-4jpeg-wzR {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-4pZ.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .auto-group-jtkf-Qjb .image-80-3Gm {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-6QZ.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-sr6u-GvD {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-sr6u-GvD .peachy-apple-puree-110-gr-pgq {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-sr6u-GvD .code-098642791289-Y73 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-sr6u-GvD .rp-35500-TE1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-wae5-CBb {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-wae5-CBb .icon-heart-wey {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-wae5-CBb .auto-group-kkms-4Uh {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-wae5-CBb .auto-group-kkms-4Uh .shopping-cart-2-4-BpD {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-6CZ.png');
}
.categories-produk-segar-1-6qf .frame-34450-5HT .barang-5hK .group-34423-YDX .auto-group-wae5-CBb .auto-group-kkms-4Uh .shopping-cart-2-4-BpD .shopping-cart-2-4-BpD-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 {
  width: 82.7rem;
  height: 32.7rem;
  position: absolute;
  left: 44.2rem;
  top: 107.7rem;
  display: flex;
  column-gap: 4.1rem;
  align-items: center;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .auto-group-vehf-StZ {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .auto-group-vehf-StZ .card-example-4jpeg-Poo {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-g57.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .auto-group-vehf-StZ .image-80-VM3 {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-R5j.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-c1gd-9Ah {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-c1gd-9Ah .peachy-apple-puree-110-gr-65w {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-c1gd-9Ah .code-098642791289-Cuf {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-c1gd-9Ah .rp-35500-vqf {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-yxcm-fYM {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-yxcm-fYM .icon-heart-cyP {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-yxcm-fYM .auto-group-wgem-jYD {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-yxcm-fYM .auto-group-wgem-jYD .shopping-cart-2-4-56H {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-921.png');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-vvD .group-34423-bus .auto-group-yxcm-fYM .auto-group-wgem-jYD .shopping-cart-2-4-56H .shopping-cart-2-4-56H-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .auto-group-xqmt-18M {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .auto-group-xqmt-18M .card-example-4jpeg-x3b {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-qMs.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .auto-group-xqmt-18M .image-80-3Kw {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-onH.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-bdsr-gNu {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-bdsr-gNu .peachy-apple-puree-110-gr-Dtd {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-bdsr-gNu .code-098642791289-LTT {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-bdsr-gNu .rp-35500-eyw {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-rly7-bPP {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-rly7-bPP .icon-heart-wy3 {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-rly7-bPP .auto-group-9j9f-5JZ {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-rly7-bPP .auto-group-9j9f-5JZ .shopping-cart-2-4-c3b {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-ofX.png');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-gLy .group-34423-kVF .auto-group-rly7-bPP .auto-group-9j9f-5JZ .shopping-cart-2-4-c3b .shopping-cart-2-4-c3b-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .auto-group-9uc9-M9b {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .auto-group-9uc9-M9b .card-example-4jpeg-tvD {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-txR.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .auto-group-9uc9-M9b .image-80-BeR {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-XAH.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-dgnu-2Q9 {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-dgnu-2Q9 .peachy-apple-puree-110-gr-aRf {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-dgnu-2Q9 .code-098642791289-thF {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-dgnu-2Q9 .rp-35500-pau {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-pnhx-wvR {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-pnhx-wvR .icon-heart-6oK {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-pnhx-wvR .auto-group-5j85-Dsw {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-pnhx-wvR .auto-group-5j85-Dsw .shopping-cart-2-4-LxZ {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-7Zb.png');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-RWq .group-34423-toj .auto-group-pnhx-wvR .auto-group-5j85-Dsw .shopping-cart-2-4-LxZ .shopping-cart-2-4-LxZ-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .auto-group-b7er-t6u {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .auto-group-b7er-t6u .card-example-4jpeg-dKP {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-Le5.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .auto-group-b7er-t6u .image-80-vJV {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-evd.png');
  border-radius: 1rem;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-ruah-9h3 {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-ruah-9h3 .peachy-apple-puree-110-gr-tuX {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-ruah-9h3 .code-098642791289-Qss {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-ruah-9h3 .rp-35500-w77 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-4clh-foo {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-4clh-foo .icon-heart-dEq {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-4clh-foo .auto-group-smu5-k4Z {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-4clh-foo .auto-group-smu5-k4Z .shopping-cart-2-4-H4V {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-pU9.png');
}
.categories-produk-segar-1-6qf .frame-34454-DW1 .barang-ZaR .group-34423-pem .auto-group-4clh-foo .auto-group-smu5-k4Z .shopping-cart-2-4-H4V .shopping-cart-2-4-H4V-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-1-6qf .group-34448-ta5 {
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 151.5rem;
  display: flex;
  align-items: center;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .vuesax-linear-arrow-circle-right-DcM {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .frame-34455-wHT {
  margin: 1.3rem 2.3rem 1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  column-gap: 3.7rem;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .frame-34455-wHT .item-1-ehf {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .frame-34455-wHT .item-2-nYy {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .frame-34455-wHT .item-3-jDK {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .frame-34455-wHT .item--fsf {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .frame-34455-wHT .item-10-cnu {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .group-34448-ta5 .vuesax-linear-arrow-circle-right-dxu {
  margin-top: 0.1rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34456-m3X {
  width: 38.7rem;
  height: 3.2rem;
  position: absolute;
  left: 44.2rem;
  top: 62.1rem;
}
.categories-produk-segar-1-6qf .frame-34456-m3X .sub-kategori-VVK {
  margin-bottom: 0.9rem;
  width: 100%;
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
}
.categories-produk-segar-1-6qf .frame-34456-m3X .sub-kategori-VVK .produk-segar-S9f {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34456-m3X .sub-kategori-VVK .sayur-buah-yfP {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34456-m3X .sub-kategori-VVK .daging-seafood-vad {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-1-6qf .frame-34456-m3X .vector-84-4gq {
  width: 10rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
