
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.categories-produk-segar-2-wDB {
  width: 100%;
  height: 181.2rem;
  position: relative;
  background-color: #ffffff;
}
.categories-produk-segar-2-wDB .background-2Ed {
  width: 144rem;
  height: 166.6rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categories-produk-segar-2-wDB .background-2Ed .auto-group-cng1-Yim {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 65.3rem 14.3rem 64.1rem 44.2rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-xkH.png');
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .background-2Ed .auto-group-cng1-Yim .vector-83-U6d {
  width: 85.5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.categories-produk-segar-2-wDB .background-2Ed .item-67580793426116-7-avM {
  width: 144rem;
  height: 36.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .putih-atas-pattern-WZ7 {
  width: 123rem;
  height: 158.3rem;
  position: absolute;
  left: 10.5rem;
  top: 10.7rem;
  background-color: #ffffff;
}
.categories-produk-segar-2-wDB .search-e9X {
  width: 28rem;
  height: 3.9rem;
  position: absolute;
  left: 13.4rem;
  top: 61.4rem;
}
.categories-produk-segar-2-wDB .search-e9X .cari-produk-mzq {
  width: 9.7rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  color: #c6c6c6;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-produk-segar-2-wDB .search-e9X .rectangle-5395-rmP {
  width: 28rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.15rem #c6c6c6;
  box-sizing: border-box;
  border-radius: 0.6rem;
}
.categories-produk-segar-2-wDB .search-e9X .vector-nQ9 {
  width: 1.9rem;
  height: 2rem;
  position: absolute;
  left: 24.4rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.categories-produk-segar-2-wDB .cover-vegetables-iob {
  width: 123rem;
  height: 38.6rem;
  position: absolute;
  left: 10.5rem;
  top: 18.2rem;
  background-size: 100% 212.435%;
  background-position: -0rem -43.4rem;
  background-image: url('../assets/healthy-vegetables-wooden-table-1-bg-dih.png');
  border-radius: 2.4rem;
}
.categories-produk-segar-2-wDB .cover-vegetables-iob .rectangle-5393-ex9 {
  width: 59.8rem;
  height: 11.1rem;
  position: absolute;
  left: 30.9rem;
  top: 14.4rem;
  background: radial-gradient(50% 50% at 50% 50%, #052814 0%, rgba(5, 40, 20, 0) 100%);
  border-radius: 10rem;
}
.categories-produk-segar-2-wDB .cover-vegetables-iob .sayur-buah-YGq {
  width: 34.7rem;
  height: 2.4rem;
  position: absolute;
  left: 44.1rem;
  top: 18.1rem;
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.48;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-produk-segar-2-wDB .cover-vegetables-iob .cover-vegetables-iob-bg {
  width: 123rem;
  height: 38.6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
}
.categories-produk-segar-2-wDB .footer-iqX {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 165.2rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR .group-20-Lc1 {
  margin-bottom: 0.8073rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR .group-20-Lc1 .px-herosupermarket-3-GVf {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR .auto-group-2yob-zAm {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR .auto-group-2yob-zAm .icon-facebook-8Xs {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR .auto-group-2yob-zAm .icon-twitter-F6h {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .auto-group-trdb-beR .auto-group-2yob-zAm .icon-youtube-n6d {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .about-us-vCq {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .faq-pJD {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .contact-LGZ {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .footer-iqX .customer-survey-fJq {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .logo-navbar-YG9 {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .logo-navbar-YG9 .px-herosupermarket-3-Gxq {
  width: 15.0357rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34376-8k9 {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34376-8k9 .search-product-eCh {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34376-8k9 .vector-a6M {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34372-sLM {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .my-wishlist-akZ {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .my-wishlist-akZ .my-wishlist-akZ-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .my-wishlist-akZ .my-wishlist-akZ-sub-1 {
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34374-hTo {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .sign-up-or-log-in-RPo {
  margin: 0rem 4.4rem 0.3rem 0rem;
  max-width: 7.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .sign-up-or-log-in-RPo .sign-up-or-log-in-RPo-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .sign-up-or-log-in-RPo .sign-up-or-log-in-RPo-sub-1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .sign-up-or-log-in-RPo .sign-up-or-log-in-RPo-sub-2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-qrR.png');
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy .shopping-cart-2-4-xAm {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-YNM.png');
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy .shopping-cart-2-4-xAm .shopping-cart-2-4-xAm-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy .shoppingchart-2RX {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy .shoppingchart-2RX .shoppingchart-2RX-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy .shoppingchart-2RX .shoppingchart-2RX-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-rcs5-ctH .auto-group-bhyd-PXf .group-34375-eQy .shoppingchart-2RX .shoppingchart-2RX-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .promo-R6H {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .frame-34403-8WV {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .frame-34403-8WV .group-34379-Fr1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .frame-34403-8WV .group-34379-Fr1 .produk-segar-1qB {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .frame-34403-8WV .group-34379-Fr1 .drop-down-9Rb {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34378-zx1 {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34378-zx1 .bahan-masak-xP3 {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34378-zx1 .drop-down-UsB {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34380-QF3 {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34380-QF3 .susu-produk-beku-Mvy {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34380-QF3 .drop-down-hV3 {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34381-dtV {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34381-dtV .snack-CRo {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .group-34381-dtV .drop-down-Xiy {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .navbar-shoping-xHw .group-34377-GpR .auto-group-vqcm-7LV .group-34382-FxV .auto-group-jjhj-HGu .brands-5kV {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu {
  width: 16rem;
  height: 14.8rem;
  position: absolute;
  left: 13.3rem;
  top: 69.6rem;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu .category-w21 {
  margin-bottom: 1.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #6f6f6f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu .frame-34452-FoP {
  margin-left: 1.7rem;
  width: 14.3rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu .frame-34452-FoP .sayur-b6Z {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu .frame-34452-FoP .jamur-kecambah-v8q {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu .frame-34452-FoP .tahu-fermentasi-FB7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .category-dan-sub-DLu .frame-34452-FoP .buah-fermentasi-aDP {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3f3f3f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34453-JQH {
  width: 16.6rem;
  height: 2.1rem;
  position: absolute;
  left: 44.3rem;
  top: 67.5rem;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
}
.categories-produk-segar-2-wDB .frame-34453-JQH .home-dBf {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34453-JQH .vuesax-linear-arrow-up-ASV {
  width: 1.3rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34453-JQH .produk-segar-hSR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ {
  width: 82.7rem;
  height: 32.7rem;
  position: absolute;
  left: 44.2rem;
  top: 72.3rem;
  display: flex;
  column-gap: 4.1rem;
  align-items: center;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .auto-group-eb5b-ryX {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .auto-group-eb5b-ryX .card-example-4jpeg-zpq {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-yNH.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .auto-group-eb5b-ryX .image-80-GnM {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-HAy.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-hyk3-zt1 {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-hyk3-zt1 .peachy-apple-puree-110-gr-8jK {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-hyk3-zt1 .code-098642791289-EGZ {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-hyk3-zt1 .rp-35500-98d {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-44em-GDF {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-44em-GDF .icon-heart-D8V {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-44em-GDF .auto-group-tp89-vYh {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-44em-GDF .auto-group-tp89-vYh .shopping-cart-2-4-rSM {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-kPT.png');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-jtu .group-34423-HCu .auto-group-44em-GDF .auto-group-tp89-vYh .shopping-cart-2-4-rSM .shopping-cart-2-4-rSM-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .auto-group-nbn1-mBw {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .auto-group-nbn1-mBw .card-example-4jpeg-tXT {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-mWy.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .auto-group-nbn1-mBw .image-80-Azm {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-YR7.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-kmb7-oH3 {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-kmb7-oH3 .peachy-apple-puree-110-gr-YEd {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-kmb7-oH3 .code-098642791289-3SH {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-kmb7-oH3 .rp-35500-xp9 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-c5tp-hFw {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-c5tp-hFw .icon-heart-SUR {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-c5tp-hFw .auto-group-y2tr-kzu {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-c5tp-hFw .auto-group-y2tr-kzu .shopping-cart-2-4-gtZ {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-RoP.png');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-eND .group-34423-569 .auto-group-c5tp-hFw .auto-group-y2tr-kzu .shopping-cart-2-4-gtZ .shopping-cart-2-4-gtZ-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .auto-group-icrd-oLu {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .auto-group-icrd-oLu .card-example-4jpeg-M7X {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-qLu.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .auto-group-icrd-oLu .image-80-qYV {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-v1f.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-xpw1-UbT {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-xpw1-UbT .peachy-apple-puree-110-gr-DZ3 {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-xpw1-UbT .code-098642791289-uRs {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-xpw1-UbT .rp-35500-R9K {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-c7yv-MHs {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-c7yv-MHs .icon-heart-hMj {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-c7yv-MHs .auto-group-gu89-Day {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-c7yv-MHs .auto-group-gu89-Day .shopping-cart-2-4-9Dj {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-63K.png');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-uFX .group-34423-Lk9 .auto-group-c7yv-MHs .auto-group-gu89-Day .shopping-cart-2-4-9Dj .shopping-cart-2-4-9Dj-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .auto-group-f3kf-fbP {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .auto-group-f3kf-fbP .card-example-4jpeg-Qos {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-4Kb.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .auto-group-f3kf-fbP .image-80-hY5 {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-bo7.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-z2sv-87b {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-z2sv-87b .peachy-apple-puree-110-gr-Tff {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-z2sv-87b .code-098642791289-aEV {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-z2sv-87b .rp-35500-JAV {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-ojyb-qAR {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-ojyb-qAR .icon-heart-BVB {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-ojyb-qAR .auto-group-yhzh-WXT {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-ojyb-qAR .auto-group-yhzh-WXT .shopping-cart-2-4-2kh {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-VR3.png');
}
.categories-produk-segar-2-wDB .frame-34450-DvZ .barang-kUR .group-34423-bdT .auto-group-ojyb-qAR .auto-group-yhzh-WXT .shopping-cart-2-4-2kh .shopping-cart-2-4-2kh-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34454-pwT {
  width: 82.7rem;
  height: 32.7rem;
  position: absolute;
  left: 44.2rem;
  top: 107.7rem;
  display: flex;
  column-gap: 4.1rem;
  align-items: center;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .auto-group-qdx5-457 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .auto-group-qdx5-457 .card-example-4jpeg-BvR {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-gsB.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .auto-group-qdx5-457 .image-80-5ku {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-RNZ.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-bdqv-8UH {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-bdqv-8UH .peachy-apple-puree-110-gr-H6H {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-bdqv-8UH .code-098642791289-zWV {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-bdqv-8UH .rp-35500-K2y {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-uiyx-StH {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-uiyx-StH .icon-heart-oTw {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-uiyx-StH .auto-group-it7k-iqo {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-uiyx-StH .auto-group-it7k-iqo .shopping-cart-2-4-T2h {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-W6m.png');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-8hF .group-34423-nvD .auto-group-uiyx-StH .auto-group-it7k-iqo .shopping-cart-2-4-T2h .shopping-cart-2-4-T2h-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .auto-group-w4r7-CPb {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .auto-group-w4r7-CPb .card-example-4jpeg-kAD {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-KyK.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .auto-group-w4r7-CPb .image-80-qhT {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-Pow.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-mfvb-rcZ {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-mfvb-rcZ .peachy-apple-puree-110-gr-Q8H {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-mfvb-rcZ .code-098642791289-WSD {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-mfvb-rcZ .rp-35500-dmj {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-axwv-NDX {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-axwv-NDX .icon-heart-uz9 {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-axwv-NDX .auto-group-ywnu-EFj {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-axwv-NDX .auto-group-ywnu-EFj .shopping-cart-2-4-ZJ1 {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-hUD.png');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-Gkq .group-34423-XqB .auto-group-axwv-NDX .auto-group-ywnu-EFj .shopping-cart-2-4-ZJ1 .shopping-cart-2-4-ZJ1-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .auto-group-khf7-JQ1 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .auto-group-khf7-JQ1 .card-example-4jpeg-48H {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-YVF.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .auto-group-khf7-JQ1 .image-80-Yp9 {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-SCZ.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-14js-B6R {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-14js-B6R .peachy-apple-puree-110-gr-KiR {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-14js-B6R .code-098642791289-EKb {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-14js-B6R .rp-35500-Z6y {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-mb5b-t9F {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-mb5b-t9F .icon-heart-pYh {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-mb5b-t9F .auto-group-rw9t-YUh {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-mb5b-t9F .auto-group-rw9t-YUh .shopping-cart-2-4-GQh {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-oHj.png');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-P29 .group-34423-3ku .auto-group-mb5b-t9F .auto-group-rw9t-YUh .shopping-cart-2-4-GQh .shopping-cart-2-4-GQh-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo {
  box-sizing: border-box;
  padding: 1rem 0.9rem 1.4rem 1.1rem;
  width: 17.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
  background-color: #ffffff;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .auto-group-p6rf-Chf {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 15.1rem;
  position: relative;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .auto-group-p6rf-Chf .card-example-4jpeg-xB3 {
  width: 15.5rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 177.876% 255.814%;
  background-position: -5.9492rem -12.5272rem;
  background-image: url('../assets/card-example-4jpeg-xgH.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .auto-group-p6rf-Chf .image-80-Sru {
  width: 15.6rem;
  height: 15.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 188.542%;
  background-position: 0 0;
  background-image: url('../assets/image-80-Zih.png');
  border-radius: 1rem;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb {
  margin: 0rem 0.4rem 0rem 1.1rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-vtvr-V4V {
  box-sizing: border-box;
  padding-bottom: 1.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-vtvr-V4V .peachy-apple-puree-110-gr-dRb {
  margin-bottom: 0.5rem;
  max-width: 10.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0714285714;
  letter-spacing: 0.07rem;
  color: #7e7e7e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-vtvr-V4V .code-098642791289-XG5 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #b2b2b2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-vtvr-V4V .rp-35500-2yX {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-kbt7-A49 {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-kbt7-A49 .icon-heart-7EH {
  margin: 0rem 4.972rem 0.06rem 0rem;
  width: 1.728rem;
  height: 1.5399rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-kbt7-A49 .auto-group-vll1-EJu {
  box-sizing: border-box;
  padding: 0.2rem 2.9rem 0.3rem 2.6rem;
  width: 7.4rem;
  height: 100%;
  background-color: #20992e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-kbt7-A49 .auto-group-vll1-EJu .shopping-cart-2-4-xEu {
  width: 100%;
  height: 1.9rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-d4V.png');
}
.categories-produk-segar-2-wDB .frame-34454-pwT .barang-HKo .group-34423-ksb .auto-group-kbt7-A49 .auto-group-vll1-EJu .shopping-cart-2-4-xEu .shopping-cart-2-4-xEu-bg {
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.categories-produk-segar-2-wDB .group-34448-ZVb {
  width: 35.9rem;
  height: 5.1rem;
  position: absolute;
  left: 54rem;
  top: 151.5rem;
  display: flex;
  align-items: center;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .vuesax-linear-arrow-circle-right-Guo {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .frame-34455-zL1 {
  margin: 1.3rem 2.3rem 1rem 0rem;
  height: calc(100% - 2.3rem);
  display: flex;
  column-gap: 3.7rem;
  align-items: center;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .frame-34455-zL1 .item-1-JLh {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .frame-34455-zL1 .item-2-ppq {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .frame-34455-zL1 .item-3-mVB {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .frame-34455-zL1 .item--7J9 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .frame-34455-zL1 .item-10-rmX {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #909090;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .group-34448-ZVb .vuesax-linear-arrow-circle-right-bz1 {
  margin-top: 0.1rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34456-wHB {
  width: 38.7rem;
  height: 3.2rem;
  position: absolute;
  left: 44.2rem;
  top: 62.1rem;
}
.categories-produk-segar-2-wDB .frame-34456-wHB .sub-kategori-4ch {
  margin-bottom: 0.9rem;
  width: 100%;
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
}
.categories-produk-segar-2-wDB .frame-34456-wHB .sub-kategori-4ch .produk-segar-QAm {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34456-wHB .sub-kategori-4ch .sayur-buah-kEd {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34456-wHB .sub-kategori-4ch .daging-seafood-h9s {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4f56;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.categories-produk-segar-2-wDB .frame-34456-wHB .vector-84-EvV {
  width: 10rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
