
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fresh-offers-TD3 {
  width: 100%;
  height: 182.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.fresh-offers-TD3 .bg-Q8H {
  width: 144rem;
  height: 174rem;
  position: absolute;
  left: 0;
  top: 8.5rem;
}
.fresh-offers-TD3 .bg-Q8H .item-67580793426116-6-vsK {
  width: 144rem;
  height: 76.758rem;
  position: absolute;
  left: 0;
  top: 97.242rem;
  object-fit: cover;
  vertical-align: top;
}
.fresh-offers-TD3 .bg-Q8H .item-67580793426116-4-eYR {
  width: 144rem;
  height: 97.242rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.fresh-offers-TD3 .bg-Q8H .promo-highlight-n8q {
  width: 144rem;
  height: 48rem;
  position: absolute;
  left: 0;
  top: 7.5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-highlight-n8q .gambar-1-Wad {
  width: 48rem;
  height: 48rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/gambar-1-bg-hqb.png');
}
.fresh-offers-TD3 .bg-Q8H .promo-highlight-n8q .gambar-5-QAD {
  width: 48rem;
  height: 48rem;
  position: absolute;
  left: 96rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/gambar-5-bg-Ebb.png');
}
.fresh-offers-TD3 .bg-Q8H .promo-highlight-n8q .gambar-2-86D {
  width: 48rem;
  height: 48rem;
  position: absolute;
  left: 22.7rem;
  top: 0;
  box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/gambar-2-bg-amP.png');
}
.fresh-offers-TD3 .bg-Q8H .promo-highlight-n8q .gambar-3-R5K {
  width: 48rem;
  height: 48rem;
  position: absolute;
  left: 48rem;
  top: 0;
  box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/gambar-3-bg-ntH.png');
}
.fresh-offers-TD3 .bg-Q8H .promo-highlight-n8q .gambar-4-X8M {
  width: 48rem;
  height: 48rem;
  position: absolute;
  left: 74.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.fresh-offers-TD3 .bg-Q8H .special-offer-this-month-TXo {
  width: 50.4rem;
  height: 6rem;
  position: absolute;
  left: 5.1rem;
  top: 59.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #0e793c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX {
  width: 134.2rem;
  height: 71.9rem;
  position: absolute;
  left: 5.1rem;
  top: 69.5rem;
  display: flex;
  align-items: center;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j {
  margin-right: 3.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-tpk3-bnR {
  margin: 0rem 0.4rem 6.3rem 0rem;
  width: 24rem;
  height: 32.8rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-tpk3-bnR .rectangle-5372-haZ {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-tpk3-bnR .n-11-1LM {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-tpk3-bnR .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1 {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.7rem;
  top: 2.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-tpk3-bnR .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-tpk3-bnR .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-yanu-DjF {
  margin-left: 0.4rem;
  width: 24rem;
  height: 32.8rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-yanu-DjF .rectangle-5377-xRw {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-yanu-DjF .n-12-5WZ {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-yanu-DjF .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.7rem;
  top: 2.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-yanu-DjF .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-w8x1-s5j .auto-group-yanu-DjF .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH {
  margin-right: 3.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-pwny-AK3 {
  margin: 0rem 0.4rem 6.3rem 0rem;
  width: 24rem;
  height: 32.8rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-pwny-AK3 .rectangle-5373-V6R {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-pwny-AK3 .n-2-QDP {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-pwny-AK3 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9 {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.5rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-pwny-AK3 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-pwny-AK3 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-7ty7-NT3 {
  margin-left: 0.4rem;
  width: 24rem;
  height: 32.8rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-7ty7-NT3 .rectangle-5378-i17 {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-7ty7-NT3 .n-3-EVF {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-7ty7-NT3 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.5rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-7ty7-NT3 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-grwd-ozH .auto-group-7ty7-NT3 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-gtbj-a5F {
  margin: 0rem 0.4rem 6.3rem 0rem;
  width: 24rem;
  height: 32.8rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-gtbj-a5F .rectangle-5374-6ZP {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-gtbj-a5F .n-2-2C9 {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-gtbj-a5F .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89 {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.5rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-gtbj-a5F .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-gtbj-a5F .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-zevv-bY5 {
  margin-left: 0.4rem;
  width: 24rem;
  height: 32.8rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-zevv-bY5 .rectangle-5379-LEm {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-zevv-bY5 .n-3-emF {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-zevv-bY5 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.5rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-zevv-bY5 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-wbhk-DVb .auto-group-zevv-bY5 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK {
  box-sizing: border-box;
  padding-left: 2.9rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP {
  margin-right: 2.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-6ejk-jpd {
  margin: 0rem 0.4rem 6.5rem 0rem;
  width: 24rem;
  height: 32.6rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-6ejk-jpd .rectangle-5375-GJm {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-6ejk-jpd .n-2-o3o {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-6ejk-jpd .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.5rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-6ejk-jpd .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-6ejk-jpd .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-vomk-xjK {
  margin-left: 0.4rem;
  width: 24rem;
  height: 32.6rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-vomk-xjK .rectangle-5380-uPf {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-vomk-xjK .n-3-daZ {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-vomk-xjK .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7 {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 4.5rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-vomk-xjK .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-o91s-nuP .auto-group-vomk-xjK .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7 .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-a1tp-Q7T {
  margin: 0rem 0.4rem 6.5rem 0rem;
  width: 24rem;
  height: 32.6rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-a1tp-Q7T .rectangle-5376-KkD {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-a1tp-Q7T .n-2-2ed {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-a1tp-Q7T .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 5.6rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-a1tp-Q7T .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-a1tp-Q7T .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-sxdx-dXw {
  margin-left: 0.4rem;
  width: 24rem;
  height: 32.6rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-sxdx-dXw .rectangle-5381-Anm {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #0e793c;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-sxdx-dXw .n-3-hGu {
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 8.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-sxdx-dXw .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ {
  width: 15.1rem;
  height: 5.4rem;
  position: absolute;
  left: 5.6rem;
  top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-sxdx-dXw .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .promo-group-child-9fX .auto-group-4f6q-TMK .auto-group-euyf-r5w .auto-group-sxdx-dXw .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0132rem;
  color: #fafafa;
  font-family: Inter, 'Source Sans Pro';
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 158rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j .group-20-ufo {
  margin-bottom: 0.8072rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #fafafa;
  border-radius: 1.1rem;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j .group-20-ufo .px-herosupermarket-3-SQq {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j .auto-group-daq9-Mnh {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j .auto-group-daq9-Mnh .icon-facebook-hrZ {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j .auto-group-daq9-Mnh .icon-twitter-DK7 {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .auto-group-vdf7-a7j .auto-group-daq9-Mnh .icon-youtube-9Tf {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .about-us-gTb {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fafafa;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .faq-Pso {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fafafa;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .contact-WxR {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fafafa;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .bg-Q8H .footer-6CZ .customer-survey-3Bf {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fafafa;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);
}
.fresh-offers-TD3 .navbar-8D7 .logo-SUh {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 8.5rem;
  position: relative;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .logo-SUh .rectangle-5311-nYZ {
  width: 144rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.fresh-offers-TD3 .navbar-8D7 .logo-SUh .item-67580793426116-3-vuf {
  width: 143.2rem;
  height: 8rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 1200%;
  background-position: -0rem -48.9223rem;
  background-image: url('../assets/-HhB.png');
}
.fresh-offers-TD3 .navbar-8D7 .logo-SUh .group-34396-1gD {
  width: 41rem;
  height: 8.5rem;
  position: absolute;
  left: 50.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.fresh-offers-TD3 .navbar-8D7 .logo-SUh .px-herosupermarket-3-9nR {
  width: 18.2rem;
  height: 5.4rem;
  position: absolute;
  left: 62.9rem;
  top: 1.2rem;
  object-fit: cover;
  vertical-align: top;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs {
  margin: 0rem 11.3rem 0rem 9.6rem;
  width: calc(100% - 20.9rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .frame-34451-BDK {
  margin: 1.3rem 30.8rem 1.1rem 0rem;
  height: calc(100% - 2.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .frame-34451-BDK .beranda-6bB {
  margin-right: 5.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .frame-34451-BDK .tentang-hero-cZX {
  margin-right: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .frame-34451-BDK .fresh-recipe-LEd {
  margin-right: 5.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .frame-34451-BDK .promo-event-FMb {
  margin-right: 5.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .frame-34451-BDK .cara-belanja-yoP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .button-shop-Jqf {
  box-sizing: border-box;
  padding: 1.2rem 4.2rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .button-shop-Jqf .icon-cart-3oF {
  margin: 0rem 0.7rem 0.099rem 0rem;
  width: 2.1rem;
  height: 2.1014rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.fresh-offers-TD3 .navbar-8D7 .auto-group-4wjr-fVs .button-shop-Jqf .shop-now-aHP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #095028;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .pagination-numbers-4CZ {
  width: 33.9rem;
  height: 4rem;
  position: absolute;
  left: 115.4rem;
  top: 156.2rem;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D {
  box-sizing: border-box;
  padding-right: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D .auto-group-2xcq-KeH {
  box-sizing: border-box;
  padding-left: 4.8rem;
  width: 9rem;
  height: 100%;
  flex-shrink: 0;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D .auto-group-2xcq-KeH .button-fi9 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0e793c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D .button-w9s {
  width: 4.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0e793c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D .button-1fX {
  box-sizing: border-box;
  padding: 0.8rem 1.417rem 0.8rem 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D .button-1fX .label-9Fw {
  margin-right: 1.2167rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0e793c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.fresh-offers-TD3 .pagination-numbers-4CZ .pages-z6D .button-1fX .icon-alt-59b {
  margin-bottom: 0.0002rem;
  width: 1.1667rem;
  height: 1.1666rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
