
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.loading-page-soping-tr5 {
  box-sizing: border-box;
  padding: 10.9rem 0rem 98.8rem 0rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-q5s.png');
  background-color: #ffffff;
}
.loading-page-soping-tr5 .navbar-myhero-oy3 {
  margin: 0rem 116.3rem 11.94rem 16.7rem;
  width: calc(100% - 133rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.loading-page-soping-tr5 .navbar-myhero-oy3 .line-176-jbo {
  margin: 0.6rem 1rem 0rem 0rem;
  width: 3.4rem;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.loading-page-soping-tr5 .navbar-myhero-oy3 .my-hero-fEZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.loading-page-soping-tr5 .auto-group-lc7b-z1w {
  box-sizing: border-box;
  padding: 0 45.3rem;
  width: 100%;
  height: 20.4603rem;
  flex-shrink: 0;
}
.loading-page-soping-tr5 .auto-group-lc7b-z1w .group-20-L5o {
  margin-bottom: 2.7781rem;
  box-sizing: border-box;
  padding: 2.122rem 3.183rem 1.768rem 3.536rem;
  width: 100%;
  height: 17.6821rem;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.loading-page-soping-tr5 .auto-group-lc7b-z1w .group-20-L5o .px-herosupermarket-3-4Gh {
  width: 46.6808rem;
  height: 13.7921rem;
  object-fit: cover;
  vertical-align: top;
}
