
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-hero-taV {
  width: 100%;
  height: 125.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.my-hero-taV .item-67580793426116-4-oxM {
  width: 144rem;
  height: 136.8rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
  object-fit: cover;
  vertical-align: top;
}
.my-hero-taV .rectangle-5384-vXB {
  width: 144rem;
  height: 119.2rem;
  position: absolute;
  left: 0;
  top: 15.8rem;
  filter: blur(0.9rem);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) -0%, #ffffff 7.29%, #f7f7f7 92.71%, rgba(255, 255, 255, 0) 100%);
}
.my-hero-taV .store-location-CzV {
  width: 45.4rem;
  height: 9.6rem;
  position: absolute;
  left: 8.75rem;
  top: 23.5rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0704rem;
  font-style: italic;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.my-hero-taV .group-34341-gem {
  box-sizing: border-box;
  padding: 3.1rem 16.6rem 3.9rem 14.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 109.4rem;
  display: flex;
  align-items: center;
  background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 {
  margin-right: 41.1rem;
  width: 18.4rem;
  height: 100%;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 .group-20-7VB {
  margin-bottom: 0.8072rem;
  box-sizing: border-box;
  padding: 0.731rem 1.097rem 0.609rem 1.219rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 .group-20-7VB .px-herosupermarket-3-Eph {
  width: 16.0848rem;
  height: 4.7523rem;
  object-fit: cover;
  vertical-align: top;
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 .auto-group-pto3-9gm {
  margin-left: 0.8rem;
  display: flex;
  align-items: flex-end;
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 .auto-group-pto3-9gm .icon-facebook-Vkd {
  margin: 0rem 0.311rem 0.023rem 0rem;
  width: 2.0895rem;
  height: 2.0766rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 .auto-group-pto3-9gm .icon-twitter-QMo {
  margin-right: 0.3102rem;
  width: 2.4898rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .auto-group-yyrb-mw7 .auto-group-pto3-9gm .icon-youtube-KzZ {
  width: 3.0051rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .about-us-fYd {
  margin: 0rem 9.35rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .faq-a9o {
  margin: 0rem 9.65rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .contact-hER {
  margin: 0rem 7.3rem 3.1rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .group-34341-gem .customer-survey-QuX {
  margin-bottom: 3.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);
}
.my-hero-taV .navbar-WBs .logo-Rpd {
  margin-bottom: 1.1rem;
  width: 100%;
  height: 8.5rem;
  position: relative;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .logo-Rpd .rectangle-5311-BJ1 {
  width: 144rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.my-hero-taV .navbar-WBs .logo-Rpd .item-67580793426116-3-XMs {
  width: 143.2rem;
  height: 8rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 1200%;
  background-position: -0rem -48.9223rem;
  background-image: url('../assets/-Dvy.png');
}
.my-hero-taV .navbar-WBs .logo-Rpd .group-34396-1H3 {
  width: 41rem;
  height: 8.5rem;
  position: absolute;
  left: 50.9rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.my-hero-taV .navbar-WBs .logo-Rpd .px-herosupermarket-3-Lq7 {
  width: 18.2rem;
  height: 5.4rem;
  position: absolute;
  left: 62.9rem;
  top: 1.2rem;
  object-fit: cover;
  vertical-align: top;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 {
  margin: 0rem 11.3rem 0rem 9.6rem;
  width: calc(100% - 20.9rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo {
  margin: 1.3rem 30.8rem 0.95rem 0rem;
  width: 72.3rem;
  height: calc(100% - 2.25rem);
  position: relative;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo .frame-34451-u13 {
  width: 72.3rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo .frame-34402-nqX {
  width: 28.6rem;
  height: 2.4rem;
  position: absolute;
  left: 6.8rem;
  top: 0.15rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo .frame-34402-nqX .line-176-ttZ {
  margin-top: 0.2rem;
  width: 3.4rem;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo .frame-34402-nqX .about-us-pnD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo .frame-34402-nqX .line-177-9Jh {
  margin-top: 0.2rem;
  width: 3.4rem;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .auto-group-kbl5-Nmo .frame-34402-nqX .store-location-5TF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .button-shop-zaD {
  box-sizing: border-box;
  padding: 1.2rem 4.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .button-shop-zaD .icon-cart-8wK {
  margin: 0rem 0.7rem 0.099rem 0rem;
  width: 2.1rem;
  height: 2.1014rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-hero-taV .navbar-WBs .auto-group-uf1k-Fx5 .button-shop-zaD .shop-now-r6d {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #095028;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-hero-taV .image-85-8K3 {
  width: 62.7rem;
  height: 68rem;
  position: relative;
  left: 70rem;
  top: 34.1rem;
  background-size: 128.276% 98.161%;
  background-position: -10.587rem 1.2131rem;
  background-image: url('../assets/image-85.png');
  border-radius: 2rem;
}
.my-hero-taV .frame-34400-cED {
  width: 55.7rem;
  height: 68rem;
  position: absolute;
  left: 8.8rem;
  top: 34.1rem;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.my-hero-taV .frame-34400-cED .group-34440-iHF {
  box-sizing: border-box;
  padding: 1.8rem 3.6rem 2.2rem 3.6rem;
  width: 100%;
  background-color: #052814;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-hero-taV .frame-34400-cED .group-34440-iHF .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3 {
  max-width: 35.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34440-iHF .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3 .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3-sub-0 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34440-iHF .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3 .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34440-iHF .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3 .surabayahero-supermarket-tunjungan-plaza-lg-floor-east-lobby-jl-kedungdoro-tegalsari-surabaya-east-java-60261-08001998877-Sj3-sub-2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34441-4GZ {
  box-sizing: border-box;
  padding: 0.7rem 3.6rem 1.3rem 3.6rem;
  width: 100%;
  background-color: #052814;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-hero-taV .frame-34400-cED .group-34441-4GZ .jakarta-selatan-hero-supermarket-grand-indonesia-PZj {
  max-width: 35.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34441-4GZ .jakarta-selatan-hero-supermarket-grand-indonesia-PZj .jakarta-selatan-hero-supermarket-grand-indonesia-PZj-sub-0 {
}
.my-hero-taV .frame-34400-cED .group-34441-4GZ .jakarta-selatan-hero-supermarket-grand-indonesia-PZj .jakarta-selatan-hero-supermarket-grand-indonesia-PZj-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34442-XJZ {
  box-sizing: border-box;
  padding: 0.7rem 3.6rem 1.3rem 3.6rem;
  width: 100%;
  background-color: #052814;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-hero-taV .frame-34400-cED .group-34442-XJZ .malanghero-supermarket-mall-olympic-garden-rrd {
  max-width: 40.1rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34442-XJZ .malanghero-supermarket-mall-olympic-garden-rrd .malanghero-supermarket-mall-olympic-garden-rrd-sub-0 {
}
.my-hero-taV .frame-34400-cED .group-34442-XJZ .malanghero-supermarket-mall-olympic-garden-rrd .malanghero-supermarket-mall-olympic-garden-rrd-sub-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34442-XJZ .malanghero-supermarket-mall-olympic-garden-rrd .malanghero-supermarket-mall-olympic-garden-rrd-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34443-vzu {
  box-sizing: border-box;
  padding: 0.7rem 3.6rem 1.3rem 3.6rem;
  width: 100%;
  background-color: #052814;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-hero-taV .frame-34400-cED .group-34443-vzu .sidoarjohero-supermarket-taman-pinang-s9T {
  max-width: 33.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34443-vzu .sidoarjohero-supermarket-taman-pinang-s9T .sidoarjohero-supermarket-taman-pinang-s9T-sub-0 {
}
.my-hero-taV .frame-34400-cED .group-34443-vzu .sidoarjohero-supermarket-taman-pinang-s9T .sidoarjohero-supermarket-taman-pinang-s9T-sub-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34443-vzu .sidoarjohero-supermarket-taman-pinang-s9T .sidoarjohero-supermarket-taman-pinang-s9T-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34444-yLu {
  box-sizing: border-box;
  padding: 0.7rem 3.6rem 1.3rem 3.6rem;
  width: 100%;
  background-color: #052814;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-hero-taV .frame-34400-cED .group-34444-yLu .jogjahero-supermarket-malioboro-mall-K9s {
  max-width: 33.8rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34444-yLu .jogjahero-supermarket-malioboro-mall-K9s .jogjahero-supermarket-malioboro-mall-K9s-sub-0 {
}
.my-hero-taV .frame-34400-cED .group-34444-yLu .jogjahero-supermarket-malioboro-mall-K9s .jogjahero-supermarket-malioboro-mall-K9s-sub-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34444-yLu .jogjahero-supermarket-malioboro-mall-K9s .jogjahero-supermarket-malioboro-mall-K9s-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34445-nxZ {
  box-sizing: border-box;
  padding: 0.7rem 3.6rem 1.3rem 3.6rem;
  width: 100%;
  background-color: #052814;
  border-radius: 2rem;
  flex-shrink: 0;
}
.my-hero-taV .frame-34400-cED .group-34445-nxZ .solohero-supermarket-the-park-mall-wKf {
  max-width: 32.2rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34445-nxZ .solohero-supermarket-the-park-mall-wKf .solohero-supermarket-the-park-mall-wKf-sub-0 {
}
.my-hero-taV .frame-34400-cED .group-34445-nxZ .solohero-supermarket-the-park-mall-wKf .solohero-supermarket-the-park-mall-wKf-sub-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .frame-34400-cED .group-34445-nxZ .solohero-supermarket-the-park-mall-wKf .solohero-supermarket-the-park-mall-wKf-sub-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #e8faf0;
  font-family: Poppins, 'Source Sans Pro';
}
.my-hero-taV .polygon-1-GWM {
  width: 8.8rem;
  height: 8rem;
  position: absolute;
  left: 59.5rem;
  top: 41.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
