
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.navbar-shoping-zAu {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  height: 16rem;
  background-color: #ffffff;
}
.navbar-shoping-zAu .group-34377-uof {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD {
  margin: 0rem 10.5rem 2rem 8.1rem;
  width: calc(100% - 18.6rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .logo-navbar-xX3 {
  box-sizing: border-box;
  padding: 0.684rem 1.025rem 0.57rem 1.139rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .logo-navbar-xX3 .px-herosupermarket-3-tvV {
  width: 15.0357rem;
  height: 4.446rem;
  object-fit: cover;
  vertical-align: top;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 {
  box-sizing: border-box;
  padding-left: 16.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34376-jRK {
  margin: 0rem 6.5rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem 1.5rem 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #20992e;
  background-color: #e8faf0;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34376-jRK .search-product-Ess {
  margin-right: 20.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8b8b8b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34376-jRK .vector-Lg1 {
  margin-top: 0.1rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34372-dQD {
  margin: 0rem 1rem 0.4rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .my-wishlist-MLD {
  margin: 0rem 4.4rem 0.5rem 0rem;
  max-width: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .my-wishlist-MLD .my-wishlist-MLD-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .my-wishlist-MLD .my-wishlist-MLD-sub-1 {
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34374-Ht5 {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .sign-up-or-log-in-DWq {
  margin: 0rem 4.4rem 0.3rem 0rem;
  max-width: 7.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .sign-up-or-log-in-DWq .sign-up-or-log-in-DWq-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .sign-up-or-log-in-DWq .sign-up-or-log-in-DWq-sub-1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .sign-up-or-log-in-DWq .sign-up-or-log-in-DWq-sub-2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3125;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 {
  margin: 0.5rem 0rem 0.7rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.8rem 0.8rem 1.7rem;
  height: calc(100% - 1.2rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/union-v9w.png');
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 .shopping-cart-2-4-XpM {
  margin: 0.2rem 1.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 100% 100%;
  background-image: url('../assets/shopping-cart-2-4-bg-Fjw.png');
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 .shopping-cart-2-4-XpM .shopping-cart-2-4-XpM-bg {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 .shoppingchart-oWy {
  max-width: 5.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 .shoppingchart-oWy .shoppingchart-oWy-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 .shoppingchart-oWy .shoppingchart-oWy-sub-1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-badp-qxD .auto-group-kgm7-QP3 .group-34375-SH7 .shoppingchart-oWy .shoppingchart-oWy-sub-2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1428571429;
  color: #20992e;
  font-family: Poppins, 'Source Sans Pro';
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw {
  box-sizing: border-box;
  padding: 0 26.3rem;
  width: 100%;
  height: 5.3rem;
  background-color: #0d7038;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .promo-BR3 {
  margin: 0.1rem 3.5rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .frame-34403-u69 {
  box-sizing: border-box;
  padding: 1.5rem 0.7rem 1.4rem 1.3rem;
  width: 17.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #0d7038;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .frame-34403-u69 .group-34379-piu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .frame-34403-u69 .group-34379-piu .produk-segar-BJZ {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .frame-34403-u69 .group-34379-piu .drop-down-uEZ {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF {
  box-sizing: border-box;
  padding: 1.5rem 0rem 1.4rem 3.4rem;
  height: 100%;
  display: flex;
  column-gap: 4.8rem;
  align-items: center;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34378-AAV {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34378-AAV .bahan-masak-WVF {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34378-AAV .drop-down-RcD {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34380-y7w {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34380-y7w .susu-produk-beku-vos {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34380-y7w .drop-down-U4h {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34381-1KX {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34381-1KX .snack-a7j {
  margin-right: 0.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .group-34381-1KX .drop-down-W1P {
  width: 2rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.navbar-shoping-zAu .group-34377-uof .auto-group-lbqd-tRw .group-34382-Rwf .auto-group-4s29-dwF .brands-edP {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
