
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-211-6Xj {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;

  .item-67580793426116-7-D6Z {
    vertical-align: top;
    width: 144rem;
    height: 132.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .putih-atas-pattern-7xd {
    width: 123rem;
    height: 135.3rem;
    position: absolute;
    left: 10.5rem;
    top: 9.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .footer-Sk1 {
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    height: 16rem;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    left: 0rem;
    top: 130.6rem;
    display: flex;
    align-items: center;

    .auto-group-5vc1-ixR {
      margin-right: 41.1rem;
      width: 18.4rem;
      height: 100%;
      flex-shrink: 0;

      .group-20-T9K {
        box-sizing: border-box;
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;

        .px-herosupermarket-3-aUq {
          vertical-align: top;
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
        }
      }
      .auto-group-vf8v-He9 {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-EJV {
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-twitter-wih {
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.3102rem;
        }
        .icon-youtube-Uid {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
        }
      }
    }
    .about-us-pGh {
      white-space: nowrap;
      margin: 0rem 9.35rem 3.1rem 0rem;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      text-align: center;
      font-weight: 600;
      flex-shrink: 0;
    }
    .faq-v4q {
      text-align: center;
      font-weight: 600;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.65rem 3.1rem 0rem;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #ffffff;
    }
    .contact-qBo {
      text-align: center;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 3.1rem 0rem;
      font-size: 1.4rem;
      color: #ffffff;
    }
    .customer-survey-Z7o {
      margin-bottom: 3.1rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .navbar-shoping-rMo {
    height: 16rem;
    position: absolute;
    left: 0rem;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;

    .group-34377-PMj {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-vigh-Lnm {
        flex-shrink: 0;
        margin: 0rem 10.5rem 2rem 8.1rem;
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;
        align-items: center;

        .logo-navbar-f4M {
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          cursor: pointer;
          background-color: #ffffff;
          border-radius: 1.1rem;
          flex-shrink: 0;

          .px-herosupermarket-3-C4H {
            width: 15.0358rem;
            height: 4.446rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-kcfs-i2d {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 16.1rem;

          .group-34376-F2Z {
            cursor: pointer;
            display: flex;
            border: solid 0.1rem #20992e;
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            box-sizing: border-box;
            align-items: center;
            background-color: #e8faf0;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin: 0rem 6.5rem 0.3rem 0rem;

            .search-product-kV7 {
              margin-right: 20.9rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #8b8b8b;
              font-family: Poppins, 'Source Sans Pro';
            }
            .vector-HE9 {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
            }
          }
          .group-34372-ayw {
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
          }
          .my-wishlist-KAq {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3125;
            color: #20992e;

            .my-wishlist-KAq-sub-0 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .my-wishlist-KAq-sub-1 {
            }
          }
          .group-34374-3W9 {
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
          }
          .sign-up-or-log-in-mS9 {
            margin: 0rem 6.4rem 0.3rem 0rem;
            cursor: pointer;
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            flex-shrink: 0;
            max-width: 5.1rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';

            .sign-up-or-log-in-mS9-sub-0 {
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 500;
            }
            .sign-up-or-log-in-mS9-sub-1 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
            }
          }
          .group-34375-eeM {
            margin: 0.5rem 0rem 0.7rem 0rem;
            display: flex;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I4:3970;4:1563');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;

            .shopping-cart-2-4-xQ9 {
              width: 2.4rem;
              height: 2.4rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;
              margin: 0.2rem 1.1rem 0rem 0rem;

              .shopping-cart-2-4-xQ9-bg {
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .shoppingchart-dFP {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.8rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #20992e;

              .shoppingchart-dFP-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-dFP-sub-1 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
              }
              .shoppingchart-dFP-sub-2 {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-f8tr-XEH {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-4k1 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .promo-RaZ {
            flex-shrink: 0;
            margin: 0.1rem 3.5rem 0rem 0rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            color: #ffffff;
            white-space: nowrap;
          }
          .frame-34403-JXs {
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;
            height: 100%;
            cursor: pointer;
            background-color: #0d7038;
            flex-shrink: 0;

            .group-34379-NGq {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .produk-segar-JRP {
                margin-right: 1rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                color: #ffffff;
              }
              .drop-down-ath {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-vdqb-fv9 {
            padding: 1.5rem 0rem 1.4rem 3.4rem;
            height: 100%;
            display: flex;
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .group-34378-jQD {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bahan-masak-fof {
                white-space: nowrap;
                color: #ffffff;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.3rem;
              }
              .drop-down-Pjf {
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
              }
            }
            .group-34380-vzV {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;

              .susu-produk-beku-68H {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-RRT {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-34381-Atq {
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;

              .snack-8Ks {
                margin-right: 0.2rem;
                font-size: 1.6rem;
                flex-shrink: 0;
                text-align: center;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .drop-down-Td3 {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
              }
            }
            .brands-cF3 {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .group-34486-ios {
    width: 109rem;
    height: 102.5rem;
    position: absolute;
    left: 17.3rem;
    top: 19.5rem;

    .nama-pemilik-akun-FYu {
      width: calc(100% - 100.7897rem);
      display: flex;
      align-items: center;
      margin: 0rem 98.39rem 2.1rem 2.4rem;

      .group-34373-NtR {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 1.3103rem;
        height: 1.7169rem;
        object-fit: contain;
      }
      .shofie-hfo {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
        color: #525867;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-d5mj-SNV {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:4:3972');
      box-sizing: border-box;
      padding: 2.1rem 2.8rem 16.8rem 2.4rem;
      background-position: center;

      .sub-bab-MkM {
        margin-bottom: 2.6rem;
        width: 56.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sub-kategori-Htu {
          display: flex;
          column-gap: 7.3rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;

          .data-diri-dC5 {
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .alamat-Mtm {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .pembayaran-uQV {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .pesanan-SvD {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .vector-84-zwj {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 13.9rem;
          width: 11.9rem;
        }
      }
      .auto-group-kccz-9Zj {
        width: calc(100% - 0.9rem);
        height: 73rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.9rem;

        .group-34485-V7o {
          margin: 0.88rem 3.08rem 0rem 0rem;
          width: 47.52rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-48l1-DZb {
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .head-mb7 {
              position: relative;
              flex-shrink: 0;
              margin-bottom: 2.42rem;
              width: 22.9rem;
              height: 7.1rem;

              .hai-Jqw {
                width: 2.8rem;
                height: 2.4rem;
                left: 0;
                font-size: 1.7859rem;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                top: 0;
                display: flex;
                font-weight: 400;
                line-height: 1.343832021;
              }
              .shofie-2G9 {
                width: 5.9rem;
                height: 2.4rem;
                position: absolute;
                left: 3.256rem;
                top: 0;
                display: flex;
                line-height: 1.343832021;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.7859rem;
                font-weight: 400;
                color: #5a5c62;
                white-space: nowrap;
              }
              .selamat-datang-di-halaman-pengaturan-pembayaran-8a5 {
                top: 2.3rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3333333333;
                color: #7e7e7e;
                height: 4.8rem;
                position: absolute;
                left: 0;
                width: 22.9rem;
                display: flex;
                font-family: Inter, 'Source Sans Pro';

                .selamat-datang-di-halaman-pengaturan-pembayaran-8a5-sub-0 {
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 400;
                }
                .selamat-datang-di-halaman-pengaturan-pembayaran-8a5-sub-1 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-A9P {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #7e7e7e;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 39rem;
              display: flex;
            }
          }
          .frame-34477-4Em {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .kartu-kredit-debit-cXB {
              width: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.38rem 0rem 2.47rem 0rem;

              .kartu-kredit-debit-MDs {
                line-height: 0.8625000119;
                color: #5a5c62;
                font-size: 1.6rem;
                display: flex;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 20.52rem 0.01rem 0rem;
              }
              .tersimpan-3sP {
                display: flex;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.01rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 0.8625000119;
              }
            }
            .debit-instan-Ah7 {
              display: flex;
              font-size: 1.6rem;
              color: #20992e;
              white-space: nowrap;
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.39rem 0rem 2.47rem 0rem;
              width: 100%;
              font-weight: 700;
              line-height: 0.8625000119;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .debit-instant-pilih-FyT {
          position: relative;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.8rem;
          width: 52.3rem;
          flex-direction: column;
          border: solid 0.1rem #d9d9d9;
          background-color: #ffffff;
          height: 100%;
          overflow: hidden;
          align-items: center;

          .head-B6R {
            width: 100%;
            display: flex;
            font-size: 1.7rem;
            color: #7e7e7e;
            padding: 2rem 2.2rem 2.1rem 2.2rem;
            font-weight: 600;
            line-height: 0.947058846;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #b8c5d0;
            flex-shrink: 0;
            box-sizing: border-box;
          }
          .auto-group-3jz1-UbK {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.9rem 1.6rem 3.3rem 1.6rem;
            width: 100%;
            display: flex;

            .auto-group-aenm-1bF {
              flex-shrink: 0;
              margin: 0rem 32.7rem 3.8rem 0rem;
              width: calc(100% - 32.7rem);
              display: flex;
              align-items: center;

              .vuesax-linear-arrow-left-LtR {
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 3rem;
                height: 3rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
              }
              .pembayaran-stM {
                margin-bottom: 0.1rem;
                font-size: 2rem;
                line-height: 0.8050000191;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 500;
                color: #525867;
              }
            }
            .pilih-debit-instan-oX7 {
              color: #525867;
              flex-shrink: 0;
              white-space: nowrap;
              margin: 0rem 0rem 0.8rem 1rem;
              display: flex;
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 0.7318181992;
              font-family: Inter, 'Source Sans Pro';
            }
            .kamu-hanya-bisa-simpan-1-kartu-debit-per-bank-83b {
              white-space: nowrap;
              display: flex;
              font-size: 1.4rem;
              line-height: 1.1500000272;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 1rem;
              font-weight: 300;
              color: #525867;
            }
          }
          .oneklik-RoP {
            width: 100%;
            height: 16.25rem;
            border-bottom: solid 0.05rem #b8c5d0;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-bottom: 1.25rem;

            .auto-group-kt4m-NyX {
              box-sizing: border-box;
              padding: 0rem 2.7rem 2.4rem 2.1rem;
              width: 100%;
              height: 16.2rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-vjpf-7AR {
                margin: 0rem 0.5rem 1.646rem 0rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .rectangle-5427-qs7 {
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  width: 5.1rem;
                  height: 3.7537rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .oneklik-mkm {
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 0.8944444656;
                  color: #525867;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 30.7rem 0.099rem 0rem;
                }
                .selection-6HF {
                  border-radius: 2.4rem;
                  flex-shrink: 0;
                  margin-bottom: 0rem;
                  width: 2.8rem;
                  height: 2.7658rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .sk-pj3 {
                height: 8.4rem;
                background-color: #d9d9d9;
                border-radius: 1rem;
                flex-shrink: 0;
                margin-left: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 0.6rem 1.5rem 0.7rem;
                width: 47rem;

                .pastikan-kamu-sudah-mengaktifkan-fitur-mobile-banking-m-bca-masukkan-limit-belanja-harian-yang-kamu-inginkan-maks-rp3000000-9WR {
                  max-width: 45.7rem;
                  display: flex;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.2857142857;
                  color: #525867;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .mandiri-n3b {
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 2.15rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 2.1rem;
            width: 100%;
            height: 6.35rem;
            cursor: pointer;

            .auto-group-e5a1-6py {
              display: flex;
              align-items: flex-end;
              width: 100%;
              height: 3.8rem;

              .rectangle-5428-eLh {
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 5.1rem;
                height: 3.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .mandiri-yNy {
                margin: 0rem 30.9rem 0.6rem 0rem;
                display: flex;
                font-weight: 500;
                color: #525867;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                line-height: 0.8944444656;
                font-family: Inter, 'Source Sans Pro';
              }
              .selection-6Ch {
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
            }
          }
          .bri-direct-debit-Qz5 {
            width: 100%;
            height: 5.95rem;
            cursor: pointer;
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 1.55rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 2.1rem;

            .auto-group-fomb-wj7 {
              width: 100%;
              height: 3.8rem;
              display: flex;
              align-items: center;

              .rectangle-5429-6M7 {
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 5.1rem;
                height: 3.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .bri-direct-debit-qJh {
                white-space: nowrap;
                margin: 0rem 23.8rem 0.1rem 0rem;
                font-size: 1.8rem;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-weight: 500;
                line-height: 0.8944444656;
              }
              .selection-M29 {
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
            }
          }
          .octo-cash-U6m {
            margin-bottom: 1.95rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 1.6rem;
            width: 100%;
            height: 7.25rem;
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;

            .auto-group-zjmj-CoT {
              width: 100%;
              height: 6rem;
              display: flex;
              align-items: center;

              .octo-cash-xGq {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.3rem;
                width: 6rem;
                height: 6rem;
                object-fit: cover;
              }
              .octo-cash-by-cimb-niaga-hER {
                font-weight: 500;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.8rem;
                flex-shrink: 0;
                margin: 0rem 14.2rem 0.1rem 0rem;
                line-height: 0.8944444656;
              }
              .selection-yxd {
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
              }
            }
          }
          .button-simpan-JV7 {
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0 3.3rem;
            font-weight: 700;
            white-space: nowrap;
            letter-spacing: -0.032rem;
            background-color: #178841;
            width: calc(100% - 6.6rem);
            height: 5.5rem;
            font-size: 1.6rem;
            align-items: center;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            line-height: 1.3;
            color: #ffffff;
          }
        }
      }
    }
  }
}
