
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-212-ZgM {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;

  .item-67580793426116-7-5Po {
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 132.7rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .putih-atas-pattern-b7F {
    vertical-align: top;
    width: 123rem;
    height: 135.3rem;
    position: absolute;
    left: 10.5rem;
    top: 9.2rem;
    object-fit: cover;
  }
  .footer-KZ3 {
    width: 144rem;
    position: absolute;
    top: 130.6rem;
    align-items: center;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    box-sizing: border-box;
    height: 16rem;
    left: 0;
    display: flex;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;

    .auto-group-tdcm-R6H {
      width: 18.4rem;
      height: 100%;
      flex-shrink: 0;
      margin-right: 41.1rem;

      .group-20-ZTP {
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;
        box-sizing: border-box;

        .px-herosupermarket-3-5Rj {
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-2amo-nqw {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-jWH {
          width: 2.0895rem;
          height: 2.0766rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.311rem 0.023rem 0rem;
        }
        .icon-twitter-drZ {
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-youtube-y9j {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.0051rem;
          height: 2.1rem;
        }
      }
    }
    .about-us-Jho {
      flex-shrink: 0;
      text-align: center;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      margin: 0rem 9.35rem 3.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .faq-bS1 {
      flex-shrink: 0;
      margin: 0rem 9.65rem 3.1rem 0rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 1.4rem;
    }
    .contact-W3B {
      margin: 0rem 7.3rem 3.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      text-align: center;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .customer-survey-21X {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .navbar-shoping-ur1 {
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0;

    .group-34377-eYh {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-yter-Q25 {
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 10.5rem 2rem 8.1rem;

        .logo-navbar-vFK {
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          cursor: pointer;
          background-color: #ffffff;
          border-radius: 1.1rem;
          flex-shrink: 0;

          .px-herosupermarket-3-FHb {
            width: 15.0358rem;
            height: 4.446rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-rxvb-m13 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 16.1rem;
          height: 100%;
          display: flex;
          align-items: center;

          .group-34376-Hzy {
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            align-items: center;
            cursor: pointer;
            display: flex;
            border: solid 0.1rem #20992e;
            background-color: #e8faf0;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin: 0rem 6.5rem 0.3rem 0rem;
            box-sizing: border-box;

            .search-product-1RB {
              line-height: 1.5;
              color: #8b8b8b;
              margin-right: 20.9rem;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .vector-8Eu {
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-34372-Rjo {
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
          }
          .my-wishlist-MdT {
            line-height: 1.3125;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;

            .my-wishlist-MdT-sub-0 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .my-wishlist-MdT-sub-1 {
            }
          }
          .group-34374-V7P {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
          }
          .sign-up-or-log-in-1rR {
            font-family: Inter, 'Source Sans Pro';
            cursor: pointer;
            font-weight: 500;
            color: #20992e;
            line-height: 1.5;
            flex-shrink: 0;
            margin: 0rem 6.4rem 0.3rem 0rem;
            max-width: 5.1rem;
            font-size: 1.4rem;

            .sign-up-or-log-in-1rR-sub-0 {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .sign-up-or-log-in-1rR-sub-1 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-34375-m6q {
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0.5rem 0rem 0.7rem 0rem;
            box-sizing: border-box;
            display: flex;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I4:4046;4:1563');
            flex-shrink: 0;

            .shopping-cart-2-4-TEZ {
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;

              .shopping-cart-2-4-TEZ-bg {
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
            .shoppingchart-iwB {
              font-weight: 600;
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.8rem;
              font-size: 1.6rem;

              .shoppingchart-iwB-sub-0 {
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
              }
              .shoppingchart-iwB-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-iwB-sub-2 {
                font-weight: 600;
                line-height: 1.1428571429;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
              }
            }
          }
        }
      }
      .auto-group-m4dx-pMw {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-xyw {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .promo-KpV {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.5rem 0rem 0rem;
            text-align: center;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .frame-34403-Su7 {
            background-color: #0d7038;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;
            height: 100%;
            cursor: pointer;

            .group-34379-BLu {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .produk-segar-92q {
                text-align: center;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1rem;
                font-size: 1.6rem;
                font-weight: 500;
                color: #ffffff;
              }
              .drop-down-4vV {
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
              }
            }
          }
          .auto-group-kmh3-QDf {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0rem 1.4rem 3.4rem;
            height: 100%;
            display: flex;
            column-gap: 4.8rem;
            align-items: center;

            .group-34378-j13 {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
              display: flex;

              .bahan-masak-tPj {
                text-align: center;
                font-size: 1.6rem;
                color: #ffffff;
                white-space: nowrap;
                margin-right: 0.3rem;
                font-weight: 500;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .drop-down-R8m {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .group-34380-Zkm {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .susu-produk-beku-XSh {
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .drop-down-TbF {
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .group-34381-QmP {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .snack-yZb {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                margin-right: 0.2rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .drop-down-uy3 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .brands-FGD {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
  .group-34486-jBP {
    width: 109rem;
    height: 102.5rem;
    position: absolute;
    left: 17.3rem;
    top: 19.5rem;

    .nama-pemilik-akun-S5o {
      margin: 0rem 98.39rem 2.1rem 2.4rem;
      width: calc(100% - 100.7897rem);
      display: flex;
      align-items: center;

      .group-34373-vFs {
        margin-right: 0.9rem;
        width: 1.3103rem;
        height: 1.7169rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .shofie-QB3 {
        flex-shrink: 0;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
        color: #525867;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-m9kx-WUy {
      box-sizing: border-box;
      flex-direction: column;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:4:4048');
      padding: 2.1rem 2.7rem 16.9rem 2.4rem;
      width: 100%;
      display: flex;
      background-size: cover;
      background-position: center;

      .sub-bab-2iD {
        width: 56.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.5rem;

        .sub-kategori-yNZ {
          column-gap: 7.3rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;

          .data-diri-hpM {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .alamat-3tD {
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .pembayaran-zoT {
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .pesanan-kGq {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .vector-84-JJM {
          margin-left: 13.9rem;
          width: 11.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-yhgd-dbX {
        flex-shrink: 0;
        margin-left: 0.9rem;
        width: calc(100% - 0.9rem);
        height: 73rem;
        display: flex;
        align-items: flex-start;

        .group-34485-yQV {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.98rem 3.18rem 0rem 0rem;
          width: 47.52rem;
          align-items: center;

          .auto-group-abxd-7Fo {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.7rem;

            .head-4Rw {
              margin-bottom: 2.42rem;
              width: 22.9rem;
              height: 7.1rem;
              position: relative;
              flex-shrink: 0;

              .hai-bwf {
                height: 2.4rem;
                position: absolute;
                top: 0;
                font-size: 1.7859rem;
                font-weight: 400;
                white-space: nowrap;
                width: 2.8rem;
                left: 0;
                display: flex;
                line-height: 1.343832021;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
              }
              .shofie-7v1 {
                left: 3.256rem;
                position: absolute;
                top: 0;
                display: flex;
                font-size: 1.7859rem;
                font-weight: 400;
                line-height: 1.343832021;
                width: 5.9rem;
                height: 2.4rem;
                white-space: nowrap;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
              }
              .selamat-datang-di-halaman-pengaturan-pembayaran-SBb {
                font-size: 1.8rem;
                line-height: 1.3333333333;
                font-family: Inter, 'Source Sans Pro';
                height: 4.8rem;
                left: 0;
                top: 2.3rem;
                display: flex;
                width: 22.9rem;
                position: absolute;
                font-weight: 400;
                color: #7e7e7e;

                .selamat-datang-di-halaman-pengaturan-pembayaran-SBb-sub-0 {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                }
                .selamat-datang-di-halaman-pengaturan-pembayaran-SBb-sub-1 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-H5j {
              line-height: 1.5;
              color: #7e7e7e;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 39rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .frame-34477-Ncy {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: center;

            .kartu-kredit-debit-LJu {
              padding: 2.38rem 0rem 2.47rem 0rem;
              width: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
              box-sizing: border-box;

              .kartu-kredit-debit-Ssj {
                margin: 0rem 20.52rem 0.01rem 0rem;
                line-height: 0.8625000119;
                color: #5a5c62;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .tersimpan-Mjo {
                margin-top: 0.01rem;
                display: flex;
                font-size: 1.6rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-weight: 700;
                line-height: 0.8625000119;
                color: #5a5c62;
                white-space: nowrap;
              }
            }
            .debit-instan-U3j {
              box-sizing: border-box;
              display: flex;
              font-size: 1.6rem;
              line-height: 0.8625000119;
              padding: 2.39rem 0rem 2.47rem 0rem;
              width: 100%;
              font-weight: 700;
              color: #20992e;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
            }
          }
        }
        .debit-instant-pilih-YpH {
          box-sizing: border-box;
          padding-bottom: 2.3rem;
          height: 100%;
          overflow: hidden;
          border: solid 0.1rem #d9d9d9;
          flex-shrink: 0;
          width: 52.3rem;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;

          .head-rpy {
            font-size: 1.7rem;
            font-weight: 600;
            color: #7e7e7e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            padding: 2rem 2.2rem 2.1rem 2.2rem;
            width: 100%;
            display: flex;
            border: solid 0.1rem #b8c5d0;
            flex-shrink: 0;
            box-sizing: border-box;
            line-height: 0.947058846;
          }
          .auto-group-ceth-kvM {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.9rem 1.6rem 3.8rem 1.6rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .auto-group-pweh-VN9 {
              flex-shrink: 0;
              margin: 0rem 32.7rem 3.8rem 0rem;
              width: calc(100% - 32.7rem);
              display: flex;
              align-items: center;

              .vuesax-linear-arrow-left-DZ3 {
                margin-right: 1.5rem;
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .pembayaran-9Bo {
                margin-bottom: 0.1rem;
                font-size: 2rem;
                font-weight: 500;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                line-height: 0.8050000191;
                flex-shrink: 0;
              }
            }
            .pilih-debit-instan-GXK {
              font-size: 2.2rem;
              line-height: 0.7318181992;
              color: #525867;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 0.8rem 1rem;
              display: flex;
              font-weight: 700;
              flex-shrink: 0;
            }
            .kamu-hanya-bisa-simpan-1-kartu-debit-per-bank-B8V {
              font-size: 1.4rem;
              font-weight: 300;
              white-space: nowrap;
              margin-left: 1rem;
              display: flex;
              line-height: 1.1500000272;
              color: #525867;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .oneklik-tYh {
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 1.35rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 2.1rem;
            width: 100%;
            height: 5.75rem;
            cursor: pointer;

            .auto-group-s6bt-czV {
              width: 100%;
              height: 3.8rem;
              display: flex;
              align-items: center;

              .rectangle-5427-mMb {
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 5.1rem;
                height: 3.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .oneklik-W4H {
                flex-shrink: 0;
                display: flex;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 0.8944444656;
                white-space: nowrap;
                margin: 0rem 30.7rem 0.1rem 0rem;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
              }
              .selection-pam {
                flex-shrink: 0;
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
              }
            }
          }
          .mandiri-jSq {
            margin-bottom: 2.15rem;
            width: 100%;
            height: 16.75rem;
            border-bottom: solid 0.05rem #b8c5d0;
            box-sizing: border-box;
            flex-shrink: 0;

            .auto-group-bj9o-62V {
              padding: 0rem 3.2rem 2.4rem 2.1rem;
              width: 100%;
              height: 16.7rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;

              .auto-group-3mqm-1fF {
                margin-bottom: 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .rectangle-5428-Zgm {
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  width: 5.1rem;
                  height: 3.8rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .mandiri-JeM {
                  margin: 0.3rem 30.9rem 0rem 0rem;
                  font-size: 1.8rem;
                  font-weight: 500;
                  line-height: 0.8944444656;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  color: #525867;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .selection-DWR {
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 2.4rem;
                  flex-shrink: 0;
                  margin-top: 1rem;
                  width: 2.8rem;
                  height: 2.8rem;
                }
              }
              .sk-9ey {
                border-radius: 1rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.5rem 1.3rem;
                width: 100%;
                height: 8.4rem;
                background-color: #d9d9d9;

                .pastikan-kamu-sudah-mengaktifkan-fitur-mandiri-mobile-banking-masukkan-masa-berlaku-expiried-date-yang-tertera-di-kartu-debitmu-Viq {
                  line-height: 1.2857142857;
                  color: #525867;
                  font-family: Inter, 'Source Sans Pro';
                  max-width: 42.2rem;
                  display: flex;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
              }
            }
          }
          .bri-direct-debit-SnV {
            height: 5.95rem;
            cursor: pointer;
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 1.55rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 2.1rem;
            width: 100%;

            .auto-group-hvy3-y1j {
              height: 3.8rem;
              display: flex;
              align-items: center;
              width: 100%;

              .rectangle-5429-7Nq {
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 5.1rem;
                height: 3.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .bri-direct-debit-edf {
                flex-shrink: 0;
                display: flex;
                line-height: 0.8944444656;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 23.8rem 0.1rem 0rem;
                font-size: 1.8rem;
                font-weight: 500;
              }
              .selection-xuF {
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
                width: 2.8rem;
              }
            }
          }
          .octo-cash-5U5 {
            flex-shrink: 0;
            margin-bottom: 1.95rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 1.6rem;
            width: 100%;
            height: 7.25rem;
            border-bottom: solid 0.05rem #b8c5d0;

            .auto-group-mexk-QmF {
              display: flex;
              align-items: center;
              width: 100%;
              height: 6rem;

              .octo-cash-9yj {
                margin-right: 1.3rem;
                width: 6rem;
                height: 6rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .octo-cash-by-cimb-niaga-twK {
                flex-shrink: 0;
                margin: 0rem 14.2rem 0.1rem 0rem;
                display: flex;
                font-size: 1.8rem;
                font-weight: 500;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 0.8944444656;
              }
              .selection-nWu {
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
            }
          }
          .button-simpan-JVF {
            width: calc(100% - 6.6rem);
            height: 5.5rem;
            color: #ffffff;
            background-color: #178841;
            border-radius: 1rem;
            cursor: pointer;
            align-items: center;
            letter-spacing: -0.032rem;
            white-space: nowrap;
            flex-shrink: 0;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            margin: 0 3.3rem;
            display: flex;
            line-height: 1.3;
          }
        }
      }
    }
  }
}
