
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-221-cAu {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;

  .item-67580793426116-7-Wn5 {
    width: 144rem;
    height: 132.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .putih-atas-pattern-2Ed {
    top: 9.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 123rem;
    height: 135.3rem;
    position: absolute;
    left: 10.5rem;
  }
  .footer-Yyf {
    display: flex;
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0rem;
    top: 130.6rem;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    align-items: center;

    .auto-group-xe4h-eG1 {
      margin-right: 41.1rem;
      width: 18.4rem;
      height: 100%;
      flex-shrink: 0;

      .group-20-z4y {
        margin-bottom: 0.8073rem;
        box-sizing: border-box;
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;

        .px-herosupermarket-3-681 {
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-qzms-1Vs {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-xAD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
        }
        .icon-twitter-dXF {
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-youtube-An5 {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
        }
      }
    }
    .about-us-fTw {
      text-align: center;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      margin: 0rem 9.35rem 3.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 600;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .faq-yDj {
      font-size: 1.4rem;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 9.65rem 3.1rem 0rem;
    }
    .contact-gtq {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 7.3rem 3.1rem 0rem;
      white-space: nowrap;
      line-height: 1.5;
    }
    .customer-survey-1w7 {
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      font-weight: 600;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .navbar-shoping-6Sm {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0rem;
    top: 0rem;

    .group-34377-QTT {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .auto-group-qunm-ASd {
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 10.5rem 2rem 8.1rem;
        width: calc(100% - 18.6rem);

        .logo-navbar-tNd {
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          cursor: pointer;
          background-color: #ffffff;
          border-radius: 1.1rem;
          flex-shrink: 0;

          .px-herosupermarket-3-2Dw {
            object-fit: cover;
            vertical-align: top;
            width: 15.0358rem;
            height: 4.446rem;
          }
        }
        .auto-group-n9jp-825 {
          box-sizing: border-box;
          padding-left: 16.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-34376-SHf {
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 6.5rem 0.3rem 0rem;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            border: solid 0.1rem #20992e;
            background-color: #e8faf0;
            border-radius: 0.8rem;

            .search-product-KsF {
              line-height: 1.5;
              color: #8b8b8b;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 20.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              text-align: center;
              white-space: nowrap;
            }
            .vector-2mf {
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-34372-WB3 {
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
          }
          .my-wishlist-3Ay {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3125;
            color: #20992e;

            .my-wishlist-3Ay-sub-0 {
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
            }
            .my-wishlist-3Ay-sub-1 {
            }
          }
          .group-34374-yD3 {
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
          }
          .sign-up-or-log-in-gNM {
            margin: 0rem 6.4rem 0.3rem 0rem;
            max-width: 5.1rem;
            font-weight: 500;
            color: #20992e;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.4rem;
            line-height: 1.5;
            font-family: Inter, 'Source Sans Pro';

            .sign-up-or-log-in-gNM-sub-0 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-gNM-sub-1 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-34375-Mso {
            margin: 0.5rem 0rem 0.7rem 0rem;
            display: flex;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            align-items: center;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:I4:4122;4:1563');

            .shopping-cart-2-4-USd {
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;
              background-size: 100% 100%;

              .shopping-cart-2-4-USd-bg {
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .shoppingchart-jNZ {
              flex-shrink: 0;
              max-width: 5.8rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';

              .shoppingchart-jNZ-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-jNZ-sub-1 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
              }
              .shoppingchart-jNZ-sub-2 {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-ovgm-omj {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-kws {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .promo-hMK {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            white-space: nowrap;
            margin: 0.1rem 3.5rem 0rem 0rem;
            text-align: center;
          }
          .frame-34403-dEy {
            background-color: #0d7038;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;
            height: 100%;
            cursor: pointer;

            .group-34379-YMw {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;

              .produk-segar-JM7 {
                margin-right: 1rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
                flex-shrink: 0;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-SCR {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-pnfs-Nbs {
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0rem 1.4rem 3.4rem;
            height: 100%;
            display: flex;

            .group-34378-v9X {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bahan-masak-Gz5 {
                font-size: 1.6rem;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.3rem;
                text-align: center;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                white-space: nowrap;
              }
              .drop-down-ytV {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .group-34380-KxM {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
              display: flex;

              .susu-produk-beku-h3o {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
              .drop-down-dCM {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-34381-9wP {
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;

              .snack-X2q {
                font-size: 1.6rem;
                text-align: center;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.2rem;
              }
              .drop-down-drZ {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .brands-njT {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .group-34486-h5j {
    position: absolute;
    left: 17.3rem;
    top: 19.5rem;
    width: 109rem;
    height: 102.5rem;

    .nama-pemilik-akun-C2V {
      margin: 0rem 98.39rem 2.1rem 2.4rem;
      width: calc(100% - 100.7897rem);
      display: flex;
      align-items: center;

      .group-34373-KN1 {
        margin: 0rem 0.9rem 0rem 0rem;
        width: 1.3103rem;
        height: 1.717rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .shofie-2nD {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
        color: #525867;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-7xvo-yBf {
      width: 100%;
      flex-direction: column;
      background-size: cover;
      background-position: center;
      box-sizing: border-box;
      padding: 2.1rem 2.7rem 18.7rem 2.4rem;
      display: flex;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:4:4124');

      .sub-bab-u5K {
        margin-bottom: 2.5rem;
        width: 56.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sub-kategori-rFT {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          column-gap: 7.3rem;

          .data-diri-m7X {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
          }
          .alamat-Wau {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
          }
          .pembayaran-eSD {
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .pesanan-aKs {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .vector-84-K2Z {
          margin-left: 13.9rem;
          width: 11.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-u6m7-4F3 {
        margin-left: 0.9rem;
        width: calc(100% - 0.9rem);
        height: 71.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-34485-Aos {
          margin: 0.98rem 3.18rem 0rem 0rem;
          width: 47.52rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-m1db-fkd {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.7rem;

            .head-pdX {
              margin-bottom: 2.42rem;
              width: 22.9rem;
              height: 7.1rem;
              position: relative;
              flex-shrink: 0;

              .hai-NQ9 {
                left: 0;
                font-size: 1.7859rem;
                line-height: 1.343832021;
                color: #5a5c62;
                width: 2.8rem;
                height: 2.4rem;
                position: absolute;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                top: 0;
                display: flex;
                font-weight: 400;
              }
              .shofie-sLu {
                height: 2.4rem;
                display: flex;
                font-size: 1.7859rem;
                width: 5.9rem;
                position: absolute;
                left: 3.256rem;
                top: 0;
                font-weight: 400;
                line-height: 1.343832021;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .selamat-datang-di-halaman-pengaturan-pembayaran-b21 {
                height: 4.8rem;
                font-weight: 400;
                color: #7e7e7e;
                font-family: Inter, 'Source Sans Pro';
                line-height: 1.3333333333;
                width: 22.9rem;
                position: absolute;
                left: 0;
                top: 2.3rem;
                display: flex;
                font-size: 1.8rem;

                .selamat-datang-di-halaman-pengaturan-pembayaran-b21-sub-0 {
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                }
                .selamat-datang-di-halaman-pengaturan-pembayaran-b21-sub-1 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-CAD {
              flex-shrink: 0;
              max-width: 39rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #7e7e7e;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-34477-hMs {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .kartu-kredit-debit-rkZ {
              align-items: center;
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.38rem 0rem 2.47rem 0rem;
              width: 100%;
              cursor: pointer;
              display: flex;

              .kartu-kredit-debit-oA1 {
                font-weight: 700;
                line-height: 0.8625000119;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.6rem;
                flex-shrink: 0;
                margin: 0rem 20.52rem 0.01rem 0rem;
                color: #5a5c62;
              }
              .tersimpan-uyj {
                display: flex;
                font-size: 1.6rem;
                line-height: 0.8625000119;
                margin-top: 0.01rem;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 700;
              }
            }
            .debit-instan-BRT {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #d9d9d9;
              box-sizing: border-box;
              padding: 2.39rem 0rem 2.47rem 0rem;
              width: 100%;
              font-weight: 700;
              line-height: 0.8625000119;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              color: #20992e;
            }
          }
        }
        .debit-instant-nomor-kartu-debit-kosong-5Wq {
          flex-shrink: 0;
          width: 52.3rem;
          height: 100%;
          position: relative;
          overflow: hidden;
          border: solid 0.1rem #d9d9d9;
          box-sizing: border-box;
          background-color: #ffffff;

          .auto-group-g9mk-ohj {
            position: absolute;
            left: 1.4rem;
            top: 1.8rem;
            display: flex;
            align-items: center;
            width: 16.4rem;
            height: 3rem;

            .vuesax-linear-arrow-left-k7B {
              margin-right: 1.5rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .pembayaran-h2R {
              margin-bottom: 0.1rem;
              display: flex;
              font-weight: 500;
              line-height: 0.8050000191;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              color: #525867;
            }
          }
          .mandiri-direct-debit-btV {
            width: 28.7rem;
            height: 2.4rem;
            position: absolute;
            left: 2.4rem;
            top: 8.3rem;
            display: flex;
            align-items: flex-end;

            .mandiri-fNZ {
              margin: 0rem 1.7rem 0.216rem 0rem;
              width: 7.5rem;
              height: 2.1844rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mandiri-direct-debit-nxy {
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.8050000191;
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
          .digit-angka-yang-tertera-di-kartu-debit-8mw {
            font-size: 1.4rem;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
            height: 1.7rem;
            left: 2.4rem;
            top: 21.6rem;
            display: flex;
            font-weight: 400;
            line-height: 1.1500000272;
            white-space: nowrap;
            width: 27rem;
            position: absolute;
          }
          .group-34487-1qj {
            top: 18.5rem;
            width: 46.2rem;
            height: 2.5rem;
            cursor: pointer;
            position: absolute;
            left: 2.4rem;

            .nomor-kartu-debit-Meh {
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 0.8050000191;
              color: #d9d9d9;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.6rem;
            }
            .rectangle-5423-JK3 {
              width: 100%;
              height: 0.2rem;
              background-color: #b2b2b2;
            }
          }
          .masa-berlaku-dcD {
            position: absolute;
            top: 25.6rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            width: 8.9rem;
            height: 1.7rem;
            left: 2.4rem;
            line-height: 1.1500000272;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-k4uh-vbK {
            height: 1.7rem;
            position: absolute;
            left: 3.5rem;
            top: 29rem;
            display: flex;
            align-items: center;
            width: 10.8rem;

            .mm-4hX {
              font-size: 2rem;
              font-weight: 400;
              color: #d9d9d9;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              display: flex;
              line-height: 0.8050000191;
            }
            .item--ov1 {
              flex-shrink: 0;
              margin-right: 2.1rem;
              font-size: 2rem;
              font-weight: 400;
              color: #7e7e7e;
              white-space: nowrap;
              display: flex;
              line-height: 0.8050000191;
              font-family: Inter, 'Source Sans Pro';
            }
            .yy-MAq {
              line-height: 0.8050000191;
              color: #d9d9d9;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
            }
          }
          .masukkan-masa-berlaku-kartu-debit-6eD {
            height: 1.7rem;
            left: 2.4rem;
            display: flex;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
            width: 23.6rem;
            position: absolute;
            top: 32.7rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1500000272;
            white-space: nowrap;
          }
          .auto-group-oybf-ZGu {
            left: 2.4rem;
            top: 32rem;
            display: flex;
            align-items: center;
            width: 13.4rem;
            height: 0.2rem;
            position: absolute;

            .rectangle-5424-Gx1 {
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: 5.8rem;
              height: 0.2rem;
              background-color: #b2b2b2;
            }
            .rectangle-5425-DcM {
              width: 5.8rem;
              height: 0.2rem;
              background-color: #b2b2b2;
              flex-shrink: 0;
            }
          }
          .informasi-mtm {
            height: 15rem;
            top: 37.7rem;
            background-color: #d9d9d9;
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.5rem 0.4rem;
            width: 43.9rem;
            position: absolute;
            left: 4.2rem;
            overflow: hidden;

            .informasi-kartu-debit-akan-tersimpan-bisa-dipakai-untuk-tiap-transaksi-kamu-akan-dikenai-tarif-pulsa-sms-untuk-tiap-kode-verifikasi-yang-dikirim-oleh-bank-pastikan-kamu-telah-mengaktifkan-transaksi-debit-online-di-bank-atau-melalui-m-banking-tyP {
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
              max-width: 42.8rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
          }
          .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw {
            width: 44.4rem;
            height: 4rem;
            position: absolute;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.5384615385;
            left: 3.9rem;
            top: 55.9rem;
            display: flex;
            font-size: 1.3rem;
            font-weight: 400;

            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-0 {
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-1 {
              font-weight: 400;
              line-height: 1.5384615385;
              color: #178841;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.3rem;
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-2 {
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-3 {
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.5384615385;
              color: #178841;
              font-family: Inter, 'Source Sans Pro';
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-8Mw-sub-4 {
            }
          }
          .button-simpan-s6Z {
            font-weight: 700;
            letter-spacing: -0.032rem;
            color: #ffffff;
            align-items: center;
            position: absolute;
            border-radius: 1rem;
            width: 45.9rem;
            top: 61.8rem;
            font-size: 1.6rem;
            line-height: 1.3;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            height: 5.6rem;
            left: 3.2rem;
            display: flex;
            background-color: #b8c5d0;
          }
        }
      }
    }
  }
}
