
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-222-CmX {
  width: 100%;
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;

  .item-67580793426116-7-vSd {
    height: 132.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
  }
  .putih-atas-pattern-qpV {
    left: 10.5rem;
    top: 9.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 123rem;
    height: 135.3rem;
    position: absolute;
  }
  .footer-A65 {
    height: 16rem;
    top: 130.6rem;
    align-items: center;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    width: 144rem;
    position: absolute;
    left: 0;
    display: flex;

    .auto-group-yi2m-Tay {
      flex-shrink: 0;
      margin-right: 41.1rem;
      width: 18.4rem;
      height: 100%;

      .group-20-BWy {
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;
        box-sizing: border-box;

        .px-herosupermarket-3-K7P {
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-7emp-qLd {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-nFs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
        }
        .icon-twitter-6XT {
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-youtube-1PX {
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .about-us-Xcm {
      white-space: nowrap;
      flex-shrink: 0;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 9.35rem 3.1rem 0rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .faq-ab3 {
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0rem 9.65rem 3.1rem 0rem;
    }
    .contact-f6h {
      margin: 0rem 7.3rem 3.1rem 0rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .customer-survey-zPs {
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 3.1rem;
    }
  }
  .navbar-shoping-qQV {
    height: 16rem;
    position: absolute;
    left: 0;
    top: 0rem;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;

    .group-34377-a7B {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .auto-group-dmdj-L6M {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 10.5rem 2rem 8.1rem;
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;

        .logo-navbar-Fj7 {
          background-color: #ffffff;
          border-radius: 1.1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          cursor: pointer;

          .px-herosupermarket-3-bY5 {
            width: 15.0358rem;
            height: 4.446rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-wrzh-7WR {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 16.1rem;

          .group-34376-TaH {
            border: solid 0.1rem #20992e;
            background-color: #e8faf0;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            cursor: pointer;
            align-items: center;
            margin: 0rem 6.5rem 0.3rem 0rem;
            display: flex;

            .search-product-LPB {
              flex-shrink: 0;
              font-size: 1.6rem;
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.5;
              color: #8b8b8b;
              font-family: Poppins, 'Source Sans Pro';
              margin-right: 20.9rem;
              text-align: center;
            }
            .vector-fgM {
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.1rem;
            }
          }
          .group-34372-Nqf {
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
          }
          .my-wishlist-JzD {
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3125;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';

            .my-wishlist-JzD-sub-0 {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .my-wishlist-JzD-sub-1 {
            }
          }
          .group-34374-eAu {
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sign-up-or-log-in-Auw {
            font-size: 1.4rem;
            flex-shrink: 0;
            max-width: 5.1rem;
            cursor: pointer;
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 6.4rem 0.3rem 0rem;

            .sign-up-or-log-in-Auw-sub-0 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-Auw-sub-1 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
            }
          }
          .group-34375-TXf {
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            align-items: center;
            flex-shrink: 0;
            margin: 0.5rem 0rem 0.7rem 0rem;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I4:4187;4:1563');
            display: flex;
            background-size: cover;

            .shopping-cart-2-4-KZs {
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;

              .shopping-cart-2-4-KZs-bg {
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
            .shoppingchart-NY9 {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.8rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #20992e;

              .shoppingchart-NY9-sub-0 {
                font-weight: 400;
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
              }
              .shoppingchart-NY9-sub-1 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
              }
              .shoppingchart-NY9-sub-2 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
                color: #20992e;
              }
            }
          }
        }
      }
      .auto-group-takb-ZW9 {
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;

        .group-34382-TLd {
          align-items: center;
          width: 100%;
          height: 100%;
          display: flex;

          .promo-cUR {
            text-align: center;
            color: #ffffff;
            white-space: nowrap;
            margin: 0.1rem 3.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .frame-34403-YN5 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;
            height: 100%;
            cursor: pointer;
            background-color: #0d7038;

            .group-34379-EEu {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .produk-segar-PNh {
                margin-right: 1rem;
                font-size: 1.6rem;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                line-height: 1.5;
                color: #ffffff;
                flex-shrink: 0;
              }
              .drop-down-WCR {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-zfgm-DsX {
            box-sizing: border-box;
            padding: 1.5rem 0rem 1.4rem 3.4rem;
            height: 100%;
            display: flex;
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;

            .group-34378-9mB {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
              display: flex;

              .bahan-masak-7i1 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.3rem;
                text-align: center;
                line-height: 1.5;
                color: #ffffff;
                font-size: 1.6rem;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-TG5 {
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .group-34380-1Hb {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .susu-produk-beku-NP3 {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-UBB {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .group-34381-DuT {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .snack-zQR {
                font-weight: 500;
                color: #ffffff;
                margin-right: 0.2rem;
                font-size: 1.6rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
              .drop-down-w4m {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .brands-5wf {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .group-34486-ATK {
    width: 109rem;
    height: 102.5rem;
    position: absolute;
    left: 17.3rem;
    top: 19.5rem;

    .nama-pemilik-akun-W1P {
      display: flex;
      align-items: center;
      margin: 0rem 98.39rem 2.1rem 2.4rem;
      width: calc(100% - 100.7897rem);

      .group-34373-dbo {
        width: 1.3103rem;
        height: 1.717rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.9rem 0rem 0rem;
      }
      .shofie-9a9 {
        flex-shrink: 0;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
        color: #525867;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-edud-6EV {
      box-sizing: border-box;
      padding: 2.1rem 2.7rem 18.7rem 2.4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:4:4189');

      .sub-bab-E5o {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 56.4rem;

        .sub-kategori-kK3 {
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          column-gap: 7.3rem;
          align-items: center;
          flex-shrink: 0;

          .data-diri-Hpm {
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .alamat-e9X {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .pembayaran-zUH {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .pesanan-Ykh {
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .vector-84-sHB {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 13.9rem;
          width: 11.9rem;
        }
      }
      .auto-group-rmqk-bDB {
        width: calc(100% - 0.9rem);
        height: 71.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.9rem;

        .group-34485-8iu {
          margin: 0.98rem 3.18rem 0rem 0rem;
          width: 47.52rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-vgxh-5PF {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.7rem;

            .head-oKF {
              flex-shrink: 0;
              margin-bottom: 2.42rem;
              width: 22.9rem;
              height: 7.1rem;
              position: relative;

              .hai-9P7 {
                font-family: Inter, 'Source Sans Pro';
                width: 2.8rem;
                position: absolute;
                top: 0;
                display: flex;
                line-height: 1.343832021;
                color: #5a5c62;
                height: 2.4rem;
                left: 0;
                font-size: 1.7859rem;
                font-weight: 400;
                white-space: nowrap;
              }
              .shofie-fcM {
                left: 3.256rem;
                display: flex;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                height: 2.4rem;
                position: absolute;
                font-size: 1.7859rem;
                line-height: 1.343832021;
                color: #5a5c62;
                white-space: nowrap;
                width: 5.9rem;
                top: 0;
              }
              .selamat-datang-di-halaman-pengaturan-pembayaran-A3K {
                line-height: 1.3333333333;
                color: #7e7e7e;
                width: 22.9rem;
                position: absolute;
                left: 0;
                top: 2.3rem;
                display: flex;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                height: 4.8rem;
                font-size: 1.8rem;

                .selamat-datang-di-halaman-pengaturan-pembayaran-A3K-sub-0 {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                }
                .selamat-datang-di-halaman-pengaturan-pembayaran-A3K-sub-1 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-dUd {
              font-weight: 400;
              line-height: 1.5;
              color: #7e7e7e;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 39rem;
              display: flex;
              font-size: 1.4rem;
            }
          }
          .frame-34477-LP3 {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .kartu-kredit-debit-5Ld {
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.38rem 0rem 2.47rem 0rem;
              width: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;

              .kartu-kredit-debit-1VB {
                line-height: 0.8625000119;
                color: #5a5c62;
                white-space: nowrap;
                display: flex;
                font-size: 1.6rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 20.52rem 0.01rem 0rem;
              }
              .tersimpan-uKf {
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-top: 0.01rem;
                display: flex;
                font-size: 1.6rem;
                line-height: 0.8625000119;
                font-weight: 700;
                white-space: nowrap;
              }
            }
            .debit-instan-Dr9 {
              font-family: Inter, 'Source Sans Pro';
              border: solid 0.1rem #d9d9d9;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              color: #20992e;
              display: flex;
              line-height: 0.8625000119;
              white-space: nowrap;
              box-sizing: border-box;
              padding: 2.39rem 0rem 2.47rem 0rem;
              width: 100%;
            }
          }
        }
        .debit-instant-nomor-kartu-debit-isi-7gd {
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 52.3rem;
          height: 100%;
          position: relative;
          overflow: hidden;
          border: solid 0.1rem #d9d9d9;

          .auto-group-zo53-3aH {
            position: absolute;
            left: 1.4rem;
            top: 1.8rem;
            display: flex;
            align-items: center;
            width: 16.4rem;
            height: 3rem;

            .vuesax-linear-arrow-left-BRb {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.5rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
            }
            .pembayaran-85w {
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
              font-weight: 500;
              line-height: 0.8050000191;
              color: #525867;
              white-space: nowrap;
            }
          }
          .mandiri-direct-debit-qm3 {
            align-items: flex-end;
            width: 28.7rem;
            height: 2.4rem;
            position: absolute;
            left: 2.4rem;
            top: 8.3rem;
            display: flex;

            .mandiri-ycM {
              flex-shrink: 0;
              margin: 0rem 1.7rem 0.216rem 0rem;
              width: 7.5rem;
              height: 2.1844rem;
              object-fit: cover;
              vertical-align: top;
            }
            .mandiri-direct-debit-uku {
              font-size: 2rem;
              font-weight: 700;
              line-height: 0.8050000191;
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
          .nomor-kartu-debit-DWh {
            top: 14.9rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            width: 12.4rem;
            height: 1.7rem;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
            left: 2.4rem;
            line-height: 1.1500000272;
            color: #5a5c62;
          }
          .digit-angka-yang-tertera-di-kartu-debit-XnH {
            font-family: Inter, 'Source Sans Pro';
            width: 27rem;
            height: 1.7rem;
            left: 2.4rem;
            font-weight: 400;
            line-height: 1.1500000272;
            color: #5a5c62;
            white-space: nowrap;
            position: absolute;
            top: 21.6rem;
            display: flex;
            font-size: 1.4rem;
          }
          .rectangle-5423-eM7 {
            background-color: #178841;
            width: 46.2rem;
            height: 0.2rem;
            position: absolute;
            left: 2.4rem;
            top: 20.8rem;
          }
          .masa-berlaku-b1T {
            top: 25.6rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1500000272;
            white-space: nowrap;
            width: 8.9rem;
            height: 1.7rem;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 2.4rem;
          }
          .auto-group-wutm-fn1 {
            width: 13.4rem;
            height: 3.2rem;
            position: absolute;
            left: 2.4rem;
            top: 29rem;
            display: flex;
            column-gap: 0.5rem;
            align-items: flex-start;

            .group-34488-a8H {
              width: 5.8rem;
              height: 100%;
              cursor: pointer;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .mm-89o {
                display: flex;
                font-weight: 400;
                line-height: 0.8050000191;
                color: #7e7e7e;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.3rem;
                font-size: 2rem;
                flex-shrink: 0;
              }
              .rectangle-5424-fQd {
                width: 100%;
                height: 0.2rem;
                background-color: #b2b2b2;
                flex-shrink: 0;
              }
            }
            .item--cam {
              line-height: 0.8050000191;
              color: #7e7e7e;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
            }
            .auto-group-zqxx-xed {
              flex-shrink: 0;
              width: 5.8rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .yy-upm {
                display: flex;
                font-size: 2rem;
                color: #7e7e7e;
                margin: 0rem 0.1rem 1.3rem 0rem;
                line-height: 0.8050000191;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 400;
              }
              .rectangle-5425-pB3 {
                background-color: #b2b2b2;
                flex-shrink: 0;
                width: 100%;
                height: 0.2rem;
              }
            }
          }
          .masukkan-masa-berlaku-kartu-debit-kKb {
            position: absolute;
            left: 2.4rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            color: #5a5c62;
            white-space: nowrap;
            width: 23.6rem;
            height: 1.7rem;
            top: 32.7rem;
            line-height: 1.1500000272;
            font-family: Inter, 'Source Sans Pro';
          }
          .informasi-4LH {
            padding: 1.5rem 0.7rem 1.5rem 0.4rem;
            position: absolute;
            background-color: #d9d9d9;
            border-radius: 1rem;
            overflow: hidden;
            box-sizing: border-box;
            width: 43.9rem;
            height: 15rem;
            left: 3.1rem;
            top: 36.3rem;

            .informasi-kartu-debit-akan-tersimpan-bisa-dipakai-untuk-tiap-transaksi-kamu-akan-dikenai-tarif-pulsa-sms-untuk-tiap-kode-verifikasi-yang-dikirim-oleh-bank-pastikan-kamu-telah-mengaktifkan-transaksi-debit-online-di-bank-atau-melalui-m-banking-96q {
              font-family: Inter, 'Source Sans Pro';
              max-width: 42.8rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #5a5c62;
            }
          }
          .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-kMX {
            left: 2.4rem;
            top: 55.9rem;
            font-weight: 400;
            line-height: 1.5384615385;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 44.4rem;
            height: 4rem;
            position: absolute;
            display: flex;
            font-size: 1.3rem;

            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-kMX-sub-0 {
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-kMX-sub-1 {
              font-weight: 400;
              line-height: 1.5384615385;
              color: #178841;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.3rem;
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-kMX-sub-2 {
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-kMX-sub-3 {
              color: #178841;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.5384615385;
            }
            .dengan-klik-simpan-kamu-menyetujui-kebijakan-privasi-dan-syarat-dan-ketentuan-debit-instan-kMX-sub-4 {
            }
          }
          .button-simpan-Fb7 {
            height: 5.6rem;
            font-size: 1.6rem;
            font-weight: 700;
            white-space: nowrap;
            width: 45.9rem;
            position: absolute;
            justify-content: center;
            border-radius: 1rem;
            font-family: Inter, 'Source Sans Pro';
            background-color: #b8c5d0;
            left: 3.2rem;
            display: flex;
            line-height: 1.3;
            letter-spacing: -0.032rem;
            color: #ffffff;
            top: 61.8rem;
            align-items: center;
          }
          .nomor-16-digit-izV {
            align-items: center;
            width: 21rem;
            height: 1.7rem;
            position: absolute;
            left: 2.4rem;
            top: 17.8rem;
            display: flex;
            column-gap: 0.7rem;

            .item-1923-ET3 {
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 0.8050000191;
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-8236-Np9 {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 0.8050000191;
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-2761-KzH {
              font-weight: 400;
              line-height: 0.8050000191;
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
            }
            .item-4142-G8q {
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 0.8050000191;
              color: #5a5c62;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
