
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-alamat-PAq {
  width: 100%;
  height: 140.2rem;
  position: relative;
  background-color: #ffffff;

  .item-67580793426116-7-WWM {
    vertical-align: top;
    width: 144rem;
    height: 132.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .background-1i1 {
    width: 144rem;
    height: 140.2rem;
    position: absolute;
    left: 0;
    top: 0;

    .item-67580793426116-7-LkH {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 100.9rem;
    }
    .item-67580793426116-8-GP3 {
      width: 144rem;
      height: 39.3rem;
      position: absolute;
      left: 0;
      top: 100.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .putih-atas-pattern-PTf {
      vertical-align: top;
      width: 123rem;
      height: 120.9rem;
      position: absolute;
      left: 10.5rem;
      top: 10.7rem;
      object-fit: cover;
    }
    .footer-7eZ {
      left: 0;
      top: 124.2rem;
      display: flex;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      height: 16rem;
      position: absolute;
      box-sizing: border-box;
      width: 144rem;
      align-items: center;

      .auto-group-lscu-oGV {
        height: 100%;
        flex-shrink: 0;
        margin-right: 41.1rem;
        width: 18.4rem;

        .group-20-XiH {
          margin-bottom: 0.8073rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;
          background-color: #ffffff;
          border-radius: 1.1rem;

          .px-herosupermarket-3-TM3 {
            object-fit: cover;
            vertical-align: top;
            width: 16.0848rem;
            height: 4.7523rem;
          }
        }
        .auto-group-1cky-yKP {
          margin-left: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon-facebook-7gV {
            width: 2.0895rem;
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.311rem 0.023rem 0rem;
          }
          .icon-twitter-q6h {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
          }
          .icon-youtube-mFF {
            width: 3.0051rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .about-us-JW5 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.35rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 600;
      }
      .faq-19b {
        margin: 0rem 9.65rem 3.1rem 0rem;
        font-weight: 600;
        color: #ffffff;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-j5b {
        flex-shrink: 0;
        margin: 0rem 7.3rem 3.1rem 0rem;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
      }
      .customer-survey-dwf {
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.1rem;
        text-align: center;
        flex-shrink: 0;
        font-size: 1.4rem;
        color: #ffffff;
      }
    }
    .union-vfs {
      left: 17.5rem;
      top: 23.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 109rem;
      height: 89.4rem;
      position: absolute;
    }
    .nama-pemilik-akun-s5K {
      width: 8.2103rem;
      height: 2rem;
      position: absolute;
      left: 19.9rem;
      top: 19.6rem;
      display: flex;
      align-items: center;

      .group-34373-bX7 {
        margin: 0rem 0.9rem 0rem 0rem;
        width: 1.3103rem;
        height: 1.7169rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .shofie-Kxu {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
        color: #525867;
      }
    }
    .sub-bab-GNM {
      height: 3.9rem;
      position: absolute;
      left: 19.9rem;
      top: 25.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 56.4rem;

      .sub-kategori-C17 {
        width: 100%;
        display: flex;
        column-gap: 7.3rem;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.2rem;

        .data-diri-Xp5 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #4d4f56;
          font-family: Poppins, 'Source Sans Pro';
        }
        .alamat-5ah {
          line-height: 1.5;
          color: #20992e;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
        }
        .pembayaran-cad {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #4d4f56;
          font-family: Poppins, 'Source Sans Pro';
        }
        .pesanan-kgq {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #4d4f56;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .vector-84-V8d {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 19.4rem;
        width: 7.8rem;
        height: 0;
      }
    }
    .group-34475-2PT {
      width: 101.2rem;
      height: 75.3rem;
      left: 21.4rem;
      top: 34.5rem;
      row-gap: 3rem;
      align-items: center;
      position: absolute;
      display: flex;
      flex-direction: column;

      .auto-group-rrj3-KtM {
        width: 100%;
        height: 4.8rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .group-34452-3pM {
          height: 4.7rem;
          position: relative;
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin-right: 45.2rem;
          width: 34.3rem;

          .rectangle-5400-9cV {
            left: 0;
            top: 0;
            background-color: #ffffff;
            border-radius: 1rem;
            width: 33.1rem;
            height: 4.7rem;
            position: absolute;
          }
          .rectangle-5401-g6d {
            top: 0;
            background-color: #d9d9d9;
            border-radius: 0 1rem 1rem 0;
            width: 4.7rem;
            height: 4.7rem;
            position: absolute;
            left: 29.6rem;
          }
          .vector-Cam {
            left: 30.8rem;
            top: 1.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.3rem;
            height: 2.3rem;
            position: absolute;
          }
          .cari-alamat-atau-nama-penerima-8zD {
            position: absolute;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            width: 21.4rem;
            height: 1.7rem;
            left: 1.6rem;
            top: 1.5rem;
            display: flex;
            font-size: 1.4rem;
            color: #8b8b8b;
          }
        }
        .group-34455-Qgq {
          height: 100%;
          font-weight: 700;
          color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          line-height: 1.2125;
          white-space: nowrap;
          width: 21.7rem;
          cursor: pointer;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          background-color: #0e793c;
          align-items: center;
        }
      }
      .group-34457-Hkd {
        padding: 1.7rem 0rem 2.2rem 0rem;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;

        .auto-group-gcrd-cY1 {
          margin-bottom: 0.9793rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .rectangle-5404-N1P {
            flex-shrink: 0;
            margin-right: 1.9rem;
            width: 0.6rem;
            height: 3.5rem;
            background-color: #0e793c;
            border-radius: 0 0.5rem 0.5rem 0;
          }
          .auto-group-hlnd-tkR {
            margin-right: 67.3rem;
            width: 18.1rem;
            flex-shrink: 0;

            .auto-group-tvfx-qff {
              margin: 0rem 8rem 0.85rem 0.1rem;
              width: calc(100% - 8.1rem);
              height: 2.3rem;
              display: flex;
              align-items: center;

              .rumah-Z5s {
                font-weight: 600;
                color: #8b8b8b;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                justify-content: center;
                font-size: 1.2rem;
                align-items: center;
                line-height: 1.2125;
                white-space: nowrap;
                margin-right: 0.6rem;
                display: flex;
              }
              .group-34449-5a1 {
                color: #ffffff;
                border-radius: 0.5rem;
                align-items: center;
                background-color: #535353;
                justify-content: center;
                font-weight: 600;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                height: 100%;
                display: flex;
                line-height: 1.2125;
                white-space: nowrap;
                width: 5.3rem;
                font-size: 1.2rem;
              }
            }
            .frame-34474-ALZ {
              flex-direction: column;
              width: 100%;
              display: flex;

              .shofie-cilia-icy {
                flex-shrink: 0;
                display: flex;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.25rem;
                font-size: 1.6rem;
              }
              .item-621235656567-FN1 {
                display: flex;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.3rem;
                font-size: 1.4rem;
                font-weight: 400;
                flex-shrink: 0;
              }
              .jl-buaya-darat-12-kebumen-Ajs {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
              }
            }
          }
          .group-34456-J5P {
            width: 11.3rem;
            height: 3.5207rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.2125;
            color: #ffffff;
            border-radius: 0.8rem;
            align-items: center;
            font-weight: 700;
            flex-shrink: 0;
            margin-top: 6.1rem;
            justify-content: center;
            background-color: #0e793c;
          }
        }
        .group-34453-A7b {
          margin: 0rem 85.4rem 2rem 2.5rem;
          width: calc(100% - 87.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-map-marker-Hxu {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4619rem;
            width: 1.9381rem;
            height: 2.2004rem;
          }
          .belum-pinpoint-Dbf {
            line-height: 1.2125;
            color: #535353;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0504rem;
            display: flex;
            font-size: 1.5rem;
            font-weight: 600;
            flex-shrink: 0;
          }
        }
        .frame-34454-vW5 {
          flex-shrink: 0;
          margin-left: 2.9rem;
          display: flex;
          align-items: center;

          .share-sRK {
            margin-right: 1.4rem;
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            font-weight: 600;
            color: #0e793c;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .line-178-11j {
            margin-right: 1.25rem;
            width: 0;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ubah-alamat-Lph {
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            flex-shrink: 0;
            align-items: center;
            font-weight: 600;
            color: #0e793c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .group-34458-doo {
        padding: 1.7rem 0rem 2.2rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .auto-group-mbah-AHw {
          margin-bottom: 0.9793rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .rectangle-5404-iKT {
            margin-right: 1.9rem;
            width: 0.6rem;
            height: 3.5rem;
            background-color: #0e793c;
            border-radius: 0 0.5rem 0.5rem 0;
            flex-shrink: 0;
          }
          .auto-group-uhox-F4V {
            width: 18.1rem;
            flex-shrink: 0;
            margin-right: 67.3rem;

            .auto-group-efq3-nq7 {
              align-items: center;
              margin: 0rem 8rem 0.85rem 0.1rem;
              width: calc(100% - 8.1rem);
              height: 2.3rem;
              display: flex;

              .rumah-KKF {
                margin-right: 0.6rem;
                display: flex;
                align-items: center;
                color: #8b8b8b;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                justify-content: center;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.2125;
              }
              .group-34449-FTo {
                flex-shrink: 0;
                align-items: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                justify-content: center;
                color: #ffffff;
                width: 5.3rem;
                height: 100%;
                font-weight: 600;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                white-space: nowrap;
                background-color: #535353;
              }
            }
            .frame-34474-93P {
              width: 100%;
              display: flex;
              flex-direction: column;

              .shofie-cilia-6jK {
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                font-size: 1.6rem;
                font-weight: 600;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.25rem;
                line-height: 1.2125;
                color: #000000;
              }
              .item-621235656567-Ead {
                margin-bottom: 0.3rem;
                font-size: 1.4rem;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
              }
              .jl-buaya-darat-12-kebumen-ZN1 {
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .group-34456-gxR {
            margin-top: 6.1rem;
            height: 3.5207rem;
            align-items: center;
            justify-content: center;
            line-height: 1.2125;
            border-radius: 0.8rem;
            width: 11.3rem;
            display: flex;
            font-size: 1.6rem;
            color: #ffffff;
            white-space: nowrap;
            background-color: #0e793c;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .group-34453-MYm {
          width: calc(100% - 87.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 85.4rem 2rem 2.5rem;

          .icon-alternate-map-marker-V9B {
            flex-shrink: 0;
            margin-right: 0.4619rem;
            width: 1.9381rem;
            height: 2.2004rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .belum-pinpoint-Qmw {
            white-space: nowrap;
            font-weight: 600;
            line-height: 1.2125;
            color: #535353;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.0504rem;
            display: flex;
            font-size: 1.5rem;
          }
        }
        .frame-34454-jZK {
          margin-left: 2.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .share-5dB {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2125;
            margin-right: 1.4rem;
            color: #0e793c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .line-178-1Wq {
            margin-right: 1.25rem;
            width: 0;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ubah-alamat-A8q {
            align-items: center;
            justify-content: center;
            font-weight: 600;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            color: #0e793c;
          }
        }
      }
      .group-34459-Fg5 {
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 1.7rem 0rem 2.2rem 0rem;
        width: 100%;
        flex-direction: column;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-wwnu-nvu {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 0.9793rem;

          .rectangle-5404-YfB {
            margin-right: 1.9rem;
            width: 0.6rem;
            height: 3.5rem;
            background-color: #0e793c;
            border-radius: 0 0.5rem 0.5rem 0;
            flex-shrink: 0;
          }
          .auto-group-csgz-HMs {
            margin-right: 67.3rem;
            width: 18.1rem;
            flex-shrink: 0;

            .auto-group-obzt-SEm {
              display: flex;
              align-items: center;
              margin: 0rem 8rem 0.85rem 0.1rem;
              width: calc(100% - 8.1rem);
              height: 2.3rem;

              .rumah-Gjb {
                color: #8b8b8b;
                font-family: Inter, 'Source Sans Pro';
                margin-right: 0.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
              .group-34449-bms {
                align-items: center;
                justify-content: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                width: 5.3rem;
                height: 100%;
                background-color: #535353;
                flex-shrink: 0;
                color: #ffffff;
                white-space: nowrap;
                border-radius: 0.5rem;
                display: flex;
                font-weight: 600;
                font-size: 1.2rem;
              }
            }
            .frame-34474-g2d {
              flex-direction: column;
              width: 100%;
              display: flex;

              .shofie-cilia-2sB {
                font-family: Inter, 'Source Sans Pro';
                margin-bottom: 0.25rem;
                display: flex;
                font-size: 1.6rem;
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
              }
              .item-621235656567-Zs7 {
                font-size: 1.4rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.3rem;
                display: flex;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .jl-buaya-darat-12-kebumen-gwj {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
              }
            }
          }
          .group-34456-1z1 {
            display: flex;
            font-size: 1.6rem;
            white-space: nowrap;
            margin-top: 6.1rem;
            height: 3.5207rem;
            align-items: center;
            border-radius: 0.8rem;
            justify-content: center;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            background-color: #0e793c;
            width: 11.3rem;
            flex-shrink: 0;
          }
        }
        .group-34453-5iy {
          margin: 0rem 85.4rem 2rem 2.5rem;
          width: calc(100% - 87.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-map-marker-28R {
            height: 2.2004rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4619rem;
            width: 1.9381rem;
          }
          .belum-pinpoint-YMf {
            font-size: 1.5rem;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0504rem;
            line-height: 1.2125;
            color: #535353;
            flex-shrink: 0;
            display: flex;
          }
        }
        .frame-34454-sPw {
          margin-left: 2.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .share-DTo {
            font-size: 1.4rem;
            line-height: 1.2125;
            color: #0e793c;
            margin-right: 1.4rem;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
          }
          .line-178-M4D {
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.25rem;
            width: 0;
          }
          .ubah-alamat-6Xb {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            line-height: 1.2125;
            color: #0e793c;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .navbar-shoping-Pmb {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-top: 3rem;
      width: 144rem;
      height: 16rem;

      .group-34377-vWd {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-dhnq-UHF {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 10.5rem 2rem 8.1rem;
          width: calc(100% - 18.6rem);
          height: 5.7rem;
          display: flex;

          .logo-navbar-bcm {
            cursor: pointer;
            background-color: #ffffff;
            border-radius: 1.1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.684rem 1.025rem 0.57rem 1.139rem;
            height: 100%;

            .px-herosupermarket-3-8ch {
              width: 15.0357rem;
              height: 4.446rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-kne5-rHo {
            padding-left: 16.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .group-34376-nhF {
              box-sizing: border-box;
              display: flex;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin: 0rem 6.5rem 0.3rem 0rem;
              padding: 1.5rem 1.8rem 1.5rem 2.1rem;
              cursor: pointer;
              align-items: center;
              border: solid 0.1rem #20992e;
              background-color: #e8faf0;

              .search-product-Jfb {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.5;
                color: #8b8b8b;
                font-size: 1.6rem;
                font-weight: 400;
                margin-right: 20.9rem;
                text-align: center;
              }
              .vector-Ep9 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.1rem;
                width: 2.3rem;
                height: 2.3rem;
              }
            }
            .group-34372-9RK {
              margin: 0rem 1rem 0.4rem 0rem;
              width: 4.5rem;
              height: 4.5rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .my-wishlist-3mb {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 4.4rem 0.5rem 0rem;
              max-width: 6.4rem;

              .my-wishlist-3mb-sub-0 {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .my-wishlist-3mb-sub-1 {
              }
            }
            .group-34374-nch {
              width: 4.5rem;
              height: 4.5rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.2rem 0rem;
            }
            .sign-up-or-log-in-Jqw {
              cursor: pointer;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 500;
              line-height: 1.5;
              color: #20992e;
              flex-shrink: 0;
              margin: 0rem 6.4rem 0.3rem 0rem;
              max-width: 5.1rem;
              font-size: 1.4rem;

              .sign-up-or-log-in-Jqw-sub-0 {
                line-height: 1.5;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 500;
              }
              .sign-up-or-log-in-Jqw-sub-1 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.3125;
              }
            }
            .group-34375-mN9 {
              margin: 0.5rem 0rem 0.7rem 0rem;
              padding: 0.5rem 1.8rem 0.8rem 1.7rem;
              align-items: center;
              flex-shrink: 0;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:I4:3774;4:1563');
              box-sizing: border-box;
              height: calc(100% - 1.2rem);
              display: flex;
              background-size: cover;

              .shopping-cart-2-4-sRB {
                width: 2.4rem;
                height: 2.4rem;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                flex-shrink: 0;
                margin: 0.2rem 1.1rem 0rem 0rem;

                .shopping-cart-2-4-sRB-bg {
                  width: 2.4rem;
                  height: 2.4rem;
                  position: relative;
                  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                }
              }
              .shoppingchart-iwb {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 5.8rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;

                .shoppingchart-iwb-sub-0 {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .shoppingchart-iwb-sub-1 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1;
                  color: #20992e;
                }
                .shoppingchart-iwb-sub-2 {
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.1428571429;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .auto-group-bibt-npy {
          padding: 0 26.3rem;
          width: 100%;
          height: 5.3rem;
          background-color: #0d7038;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-34382-wC5 {
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;

            .promo-6Ks {
              margin: 0.1rem 3.5rem 0rem 0rem;
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
            }
            .frame-34403-cZ7 {
              padding: 1.5rem 0.7rem 1.4rem 1.3rem;
              width: 17.1rem;
              height: 100%;
              cursor: pointer;
              background-color: #0d7038;
              flex-shrink: 0;
              box-sizing: border-box;

              .group-34379-wbP {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .produk-segar-u2R {
                  text-align: center;
                  font-size: 1.6rem;
                  color: #ffffff;
                  margin-right: 1rem;
                  font-weight: 500;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .drop-down-pv5 {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                }
              }
            }
            .auto-group-n1az-NAu {
              padding: 1.5rem 0rem 1.4rem 3.4rem;
              height: 100%;
              display: flex;
              column-gap: 4.8rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;

              .group-34378-VFX {
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                cursor: pointer;
                display: flex;

                .bahan-masak-SwT {
                  font-weight: 500;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.3rem;
                  text-align: center;
                  font-size: 1.6rem;
                  line-height: 1.5;
                }
                .drop-down-MoX {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                }
              }
              .group-34380-7Gu {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .susu-produk-beku-sG5 {
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .drop-down-D53 {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-34381-ZPo {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                cursor: pointer;

                .snack-Kds {
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 0.2rem;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                  white-space: nowrap;
                }
                .drop-down-45f {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .brands-c7B {
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
