
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-data-diri-7TF {
  width: 100%;
  height: 102.9rem;
  position: relative;
  background-color: #ffffff;

  .background-rvd {
    width: 144rem;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
    height: 100.9rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;

    .putih-atas-pattern-z1F {
      height: 88.7rem;
      position: absolute;
      left: 10.5rem;
      top: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 123rem;
    }
    .union-WVP {
      width: 109rem;
      height: 52.2rem;
      position: absolute;
      left: 17.5rem;
      top: 24rem;
      object-fit: contain;
      vertical-align: top;
    }
    .frame-34449-ebb {
      align-items: center;
      width: 8.2103rem;
      height: 2rem;
      position: absolute;
      left: 19.9rem;
      top: 19.9rem;
      display: flex;

      .group-34373-ytm {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.9rem 0rem 0rem;
        width: 1.3103rem;
        height: 1.7169rem;
        object-fit: contain;
      }
      .shofie-6yP {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
        color: #525867;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .sub-bab-diR {
      position: absolute;
      left: 19.9rem;
      top: 26.1rem;
      width: 56.4rem;
      height: 3.9rem;

      .sub-kategori-mJq {
        margin-bottom: 1.2rem;
        width: 100%;
        display: flex;
        column-gap: 7.3rem;
        align-items: center;

        .data-diri-6c1 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #20992e;
          font-family: Poppins, 'Source Sans Pro';
        }
        .alamat-3XF {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #4d4f56;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pembayaran-Pb7 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #4d4f56;
        }
        .pesanan-LWM {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          color: #4d4f56;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .vector-84-UsT {
        vertical-align: top;
        width: 7.8rem;
        height: 0;
        object-fit: contain;
      }
    }
    .ubah-dt-diri-e1F {
      width: 40.3rem;
      height: 18.6rem;
      position: absolute;
      left: 19.9rem;
      top: 35.5rem;

      .ubah-biodata-diri-NT3 {
        line-height: 1.5;
        color: #6d7588;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.2rem;
        font-size: 1.8rem;
        font-weight: 600;
      }
      .frame-34462-WZF {
        width: 100%;
        height: 13.7rem;
        display: flex;
        align-items: center;

        .nama-ttl-TzH {
          margin-right: 5.4rem;
          height: 100%;
          row-gap: 3.4rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .nama-cMP {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6d7588;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .tanggal-lahir-ZXX {
            color: #6d7588;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .jenis-kelamin-urH {
            line-height: 1.5;
            color: #6d7588;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
        .ubah-Fv9 {
          height: 100%;
          row-gap: 3.4rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .beri-nama-mu-bz1 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tambahkan-tanggal-lahir-kamu-9Vj {
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .tambah-jenis-kelamin-VJh {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .ubah-kontak-q7f {
      width: 29.9rem;
      height: 12.9rem;
      position: absolute;
      left: 19.9rem;
      top: 59.6rem;

      .ubah-kontak-wwP {
        white-space: nowrap;
        margin-bottom: 2.2rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #6d7588;
        font-family: Poppins, 'Source Sans Pro';
      }
      .frame-34462-HkM {
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;

        .nama-ttl-FBP {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.3rem;

          .email-QKB {
            margin-bottom: 3.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6d7588;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .nomor-hp-9Xf {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6d7588;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .ubah-6ho {
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .tambah-email-sCm {
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.4rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .tambah-nomor-hp-1Jy {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .navbar-shoping-wyK {
      background-color: #ffffff;
      box-sizing: border-box;
      padding-top: 3rem;
      width: 144rem;
      height: 16rem;
      position: absolute;
      left: 0;
      top: 0;

      .group-34377-gvu {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .auto-group-ubtm-3WZ {
          flex-shrink: 0;
          margin: 0rem 10.5rem 2rem 8.1rem;
          width: calc(100% - 18.6rem);
          height: 5.7rem;
          display: flex;
          align-items: center;

          .logo-navbar-yQD {
            box-sizing: border-box;
            padding: 0.684rem 1.025rem 0.57rem 1.139rem;
            height: 100%;
            cursor: pointer;
            background-color: #ffffff;
            border-radius: 1.1rem;
            flex-shrink: 0;

            .px-herosupermarket-3-7WR {
              width: 15.0357rem;
              height: 4.446rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-85yd-pvd {
            box-sizing: border-box;
            padding-left: 16.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-34376-NBT {
              display: flex;
              background-color: #e8faf0;
              margin: 0rem 6.5rem 0.3rem 0rem;
              box-sizing: border-box;
              padding: 1.5rem 1.8rem 1.5rem 2.1rem;
              cursor: pointer;
              align-items: center;
              border: solid 0.1rem #20992e;
              border-radius: 0.8rem;
              flex-shrink: 0;

              .search-product-5bf {
                flex-shrink: 0;
                margin-right: 20.9rem;
                font-size: 1.6rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-weight: 400;
                line-height: 1.5;
                color: #8b8b8b;
              }
              .vector-c5o {
                margin-top: 0.1rem;
                width: 2.3rem;
                height: 2.3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-34372-uqb {
              height: 4.5rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.4rem 0rem;
              width: 4.5rem;
            }
            .my-wishlist-eHP {
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 4.4rem 0.5rem 0rem;
              max-width: 6.4rem;
              font-size: 1.6rem;

              .my-wishlist-eHP-sub-0 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #20992e;
              }
              .my-wishlist-eHP-sub-1 {
              }
            }
            .group-34374-QQy {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.2rem 0rem;
              width: 4.5rem;
              height: 4.5rem;
              cursor: pointer;
            }
            .sign-up-or-log-in-8bs {
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 6.4rem 0.3rem 0rem;
              font-size: 1.4rem;
              font-weight: 500;
              color: #20992e;
              max-width: 5.1rem;
              cursor: pointer;
              line-height: 1.5;
              flex-shrink: 0;

              .sign-up-or-log-in-8bs-sub-0 {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .sign-up-or-log-in-8bs-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.3125;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .group-34375-q8u {
              background-position: center;
              margin: 0.5rem 0rem 0.7rem 0rem;
              padding: 0.5rem 1.8rem 0.8rem 1.7rem;
              height: calc(100% - 1.2rem);
              display: flex;
              background-image: url('REPLACE_IMAGE:I4:3665;4:1563');
              flex-shrink: 0;
              box-sizing: border-box;
              align-items: center;
              background-size: cover;
              background-repeat: no-repeat;

              .shopping-cart-2-4-LLZ {
                margin: 0.2rem 1.1rem 0rem 0rem;
                width: 2.4rem;
                height: 2.4rem;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                flex-shrink: 0;

                .shopping-cart-2-4-LLZ-bg {
                  width: 2.4rem;
                  height: 2.4rem;
                  position: relative;
                  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                }
              }
              .shoppingchart-bXP {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 5.8rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;

                .shoppingchart-bXP-sub-0 {
                  line-height: 1.3333333333;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                }
                .shoppingchart-bXP-sub-1 {
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1;
                }
                .shoppingchart-bXP-sub-2 {
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.1428571429;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .auto-group-wqjk-5L5 {
          padding: 0 26.3rem;
          width: 100%;
          height: 5.3rem;
          background-color: #0d7038;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-34382-pHf {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .promo-9aq {
              text-align: center;
              font-size: 1.6rem;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.1rem 3.5rem 0rem 0rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .frame-34403-RoF {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 0.7rem 1.4rem 1.3rem;
              width: 17.1rem;
              height: 100%;
              cursor: pointer;
              background-color: #0d7038;

              .group-34379-wmb {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .produk-segar-W41 {
                  font-size: 1.6rem;
                  font-weight: 500;
                  color: #ffffff;
                  flex-shrink: 0;
                  white-space: nowrap;
                  margin-right: 1rem;
                  text-align: center;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .drop-down-deR {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .auto-group-mjju-Zny {
              box-sizing: border-box;
              padding: 1.5rem 0rem 1.4rem 3.4rem;
              height: 100%;
              display: flex;
              column-gap: 4.8rem;
              align-items: center;
              flex-shrink: 0;

              .group-34378-tKT {
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                height: 100%;

                .bahan-masak-FA1 {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  white-space: nowrap;
                  margin-right: 0.3rem;
                  text-align: center;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .drop-down-Gqo {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .group-34380-pcR {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .susu-produk-beku-nZF {
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .drop-down-Kp5 {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                }
              }
              .group-34381-s4u {
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                cursor: pointer;
                display: flex;

                .snack-DuT {
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                  white-space: nowrap;
                  margin-right: 0.2rem;
                  text-align: center;
                  font-size: 1.6rem;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .drop-down-Mkm {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .brands-unH {
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
  .footer-D2H {
    align-items: center;
    height: 16rem;
    top: 86.9rem;
    display: flex;
    position: absolute;
    left: 0;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    width: 144rem;

    .auto-group-9ogu-WGH {
      height: 100%;
      flex-shrink: 0;
      margin-right: 41.1rem;
      width: 18.4rem;

      .group-20-rL9 {
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;
        box-sizing: border-box;

        .px-herosupermarket-3-nDo {
          vertical-align: top;
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
        }
      }
      .auto-group-c8z5-Vtu {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-Sp9 {
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-twitter-Ak9 {
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-youtube-W3K {
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .about-us-dNq {
      font-family: Poppins, 'Source Sans Pro';
      text-align: center;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.35rem 3.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .faq-9c5 {
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 9.65rem 3.1rem 0rem;
      text-align: center;
      font-size: 1.4rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .contact-g6D {
      font-size: 1.4rem;
      line-height: 1.5;
      text-align: center;
      font-weight: 600;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 3.1rem 0rem;
    }
    .customer-survey-CqF {
      margin-bottom: 3.1rem;
      text-align: center;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
