
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.account-pembayaran-debit-213-vrd {
  height: 146.6rem;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .item-67580793426116-7-3AZ {
    height: 132.7rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
  }
  .putih-atas-pattern-sYu {
    top: 9.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 123rem;
    height: 135.3rem;
    position: absolute;
    left: 10.5rem;
  }
  .footer-nA5 {
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    top: 130.6rem;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);

    .auto-group-omhk-FJZ {
      height: 100%;
      flex-shrink: 0;
      margin-right: 41.1rem;
      width: 18.4rem;

      .group-20-Bxu {
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;
        box-sizing: border-box;
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;

        .px-herosupermarket-3-XG5 {
          vertical-align: top;
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
        }
      }
      .auto-group-mjx9-S89 {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-vJD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
        }
        .icon-twitter-37w {
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-youtube-BV3 {
          flex-shrink: 0;
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .about-us-8QH {
      font-weight: 600;
      color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 9.35rem 3.1rem 0rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
      line-height: 1.5;
    }
    .faq-bYm {
      text-align: center;
      flex-shrink: 0;
      margin: 0rem 9.65rem 3.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-upM {
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 7.3rem 3.1rem 0rem;
      text-align: center;
    }
    .customer-survey-qxu {
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
      text-align: center;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
    }
  }
  .navbar-shoping-x1w {
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0;

    .group-34377-gid {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .auto-group-qqdo-Sho {
        flex-shrink: 0;
        margin: 0rem 10.5rem 2rem 8.1rem;
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;
        align-items: center;

        .logo-navbar-NbT {
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          cursor: pointer;
          background-color: #ffffff;
          border-radius: 1.1rem;
          flex-shrink: 0;

          .px-herosupermarket-3-sYD {
            width: 15.0358rem;
            height: 4.446rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-k5e9-y5T {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 16.1rem;
          height: 100%;
          display: flex;

          .group-34376-7SZ {
            margin: 0rem 6.5rem 0.3rem 0rem;
            cursor: pointer;
            align-items: center;
            border: solid 0.1rem #20992e;
            background-color: #e8faf0;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            display: flex;
            flex-shrink: 0;

            .search-product-1Xw {
              margin-right: 20.9rem;
              font-size: 1.6rem;
              color: #8b8b8b;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              font-weight: 400;
              line-height: 1.5;
              flex-shrink: 0;
            }
            .vector-kEd {
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-34372-oih {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
          }
          .my-wishlist-YAV {
            line-height: 1.3125;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;

            .my-wishlist-YAV-sub-0 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .my-wishlist-YAV-sub-1 {
            }
          }
          .group-34374-gvu {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
          }
          .sign-up-or-log-in-pnD {
            font-size: 1.4rem;
            line-height: 1.5;
            color: #20992e;
            flex-shrink: 0;
            cursor: pointer;
            max-width: 5.1rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 6.4rem 0.3rem 0rem;

            .sign-up-or-log-in-pnD-sub-0 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-pnD-sub-1 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-34375-ddB {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            margin: 0.5rem 0rem 0.7rem 0rem;
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            display: flex;
            align-items: center;
            background-image: url('REPLACE_IMAGE:I4:4665;4:1563');
            box-sizing: border-box;
            height: calc(100% - 1.2rem);

            .shopping-cart-2-4-kC1 {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;

              .shopping-cart-2-4-kC1-bg {
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 2.4rem;
                height: 2.4rem;
              }
            }
            .shoppingchart-2fK {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.8rem;

              .shoppingchart-2fK-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-2fK-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-2fK-sub-2 {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-pblu-usX {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-FgV {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .promo-oxu {
            text-align: center;
            flex-shrink: 0;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0.1rem 3.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .frame-34403-um3 {
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;
            height: 100%;
            cursor: pointer;
            background-color: #0d7038;
            flex-shrink: 0;

            .group-34379-cfT {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;

              .produk-segar-yku {
                line-height: 1.5;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-JoB {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-t5wy-2z5 {
            height: 100%;
            display: flex;
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0rem 1.4rem 3.4rem;

            .group-34378-k9P {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bahan-masak-hqK {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.3rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-dDB {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-34380-ZMj {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .susu-produk-beku-hTw {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-SRX {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .group-34381-mih {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .snack-6FB {
                font-weight: 500;
                text-align: center;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.2rem;
              }
              .drop-down-2uX {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .brands-PEH {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
  .group-34486-iGZ {
    left: 17.3rem;
    top: 19.5rem;
    width: 109rem;
    height: 102.5rem;
    position: absolute;

    .nama-pemilik-akun-SyF {
      margin: 0rem 98.39rem 2.1rem 2.4rem;
      width: calc(100% - 100.7897rem);
      display: flex;
      align-items: center;

      .group-34373-aZf {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 1.3103rem;
        height: 1.7169rem;
      }
      .shofie-gsb {
        color: #525867;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0399999117;
      }
    }
    .auto-group-z78d-DsX {
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 2.1rem 2.7rem 16.9rem 2.4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-image: url('REPLACE_IMAGE:4:4667');

      .sub-bab-ZAh {
        width: 56.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.5rem;

        .sub-kategori-Gqo {
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          column-gap: 7.3rem;
          align-items: center;
          flex-shrink: 0;

          .data-diri-oqj {
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .alamat-Y2d {
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .pembayaran-f7F {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .pesanan-QqX {
            font-weight: 500;
            line-height: 1.5;
            color: #4d4f56;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
        .vector-84-YRw {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 13.9rem;
          width: 11.9rem;
        }
      }
      .auto-group-esgh-HuK {
        margin-left: 0.9rem;
        width: calc(100% - 0.9rem);
        height: 73rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-34485-cgh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.98rem 3.18rem 0rem 0rem;
          width: 47.52rem;
          align-items: center;

          .auto-group-pzf7-xEm {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            width: 100%;
            display: flex;

            .head-gAm {
              flex-shrink: 0;
              margin-bottom: 2.42rem;
              width: 22.9rem;
              height: 7.1rem;
              position: relative;

              .hai-R8M {
                font-family: Inter, 'Source Sans Pro';
                width: 2.8rem;
                height: 2.4rem;
                position: absolute;
                left: 0;
                font-size: 1.7859rem;
                line-height: 1.343832021;
                color: #5a5c62;
                white-space: nowrap;
                top: 0;
                display: flex;
                font-weight: 400;
              }
              .shofie-juj {
                color: #5a5c62;
                white-space: nowrap;
                height: 2.4rem;
                left: 3.256rem;
                top: 0;
                font-size: 1.7859rem;
                line-height: 1.343832021;
                font-family: Inter, 'Source Sans Pro';
                width: 5.9rem;
                position: absolute;
                display: flex;
                font-weight: 400;
              }
              .selamat-datang-di-halaman-pengaturan-pembayaran-SZF {
                line-height: 1.3333333333;
                color: #7e7e7e;
                width: 22.9rem;
                height: 4.8rem;
                position: absolute;
                top: 2.3rem;
                display: flex;
                font-size: 1.8rem;
                left: 0;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';

                .selamat-datang-di-halaman-pengaturan-pembayaran-SZF-sub-0 {
                  line-height: 1.3333333333;
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 400;
                }
                .selamat-datang-di-halaman-pengaturan-pembayaran-SZF-sub-1 {
                  color: #5a5c62;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.3333333333;
                }
              }
            }
            .atur-pembayaran-anda-untuk-meningkatkan-keamanan-dan-kemudahan-berbelanja-anda-di-tokopedia-h7o {
              flex-shrink: 0;
              max-width: 39rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #7e7e7e;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .frame-34477-B2y {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .kartu-kredit-debit-jaH {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.38rem 0rem 2.47rem 0rem;
              width: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              border: solid 0.1rem #d9d9d9;

              .kartu-kredit-debit-UGy {
                font-size: 1.6rem;
                color: #5a5c62;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 20.52rem 0.01rem 0rem;
                display: flex;
                font-weight: 700;
                line-height: 0.8625000119;
              }
              .tersimpan-9P7 {
                display: flex;
                font-size: 1.6rem;
                color: #5a5c62;
                margin-top: 0.01rem;
                font-weight: 700;
                line-height: 0.8625000119;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .debit-instan-roK {
              width: 100%;
              display: flex;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 0.8625000119;
              flex-shrink: 0;
              padding: 2.39rem 0rem 2.47rem 0rem;
              color: #20992e;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #d9d9d9;
              box-sizing: border-box;
            }
          }
        }
        .debit-instant-pilih-Yg9 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          display: flex;
          overflow: hidden;
          position: relative;
          border: solid 0.1rem #d9d9d9;
          background-color: #ffffff;
          padding-bottom: 2.3rem;
          width: 52.3rem;
          height: 100%;

          .head-fVs {
            font-family: Inter, 'Source Sans Pro';
            box-sizing: border-box;
            padding: 2rem 2.2rem 2.1rem 2.2rem;
            width: 100%;
            font-size: 1.7rem;
            font-weight: 600;
            color: #7e7e7e;
            display: flex;
            line-height: 0.947058846;
            white-space: nowrap;
            border: solid 0.1rem #b8c5d0;
            flex-shrink: 0;
          }
          .auto-group-kzdw-wyB {
            padding: 1.9rem 1.6rem 3.8rem 1.6rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-yhqk-Tgd {
              margin: 0rem 32.7rem 3.8rem 0rem;
              width: calc(100% - 32.7rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .vuesax-linear-arrow-left-BMj {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 3rem;
                height: 3rem;
              }
              .pembayaran-XAh {
                margin-bottom: 0.1rem;
                font-size: 2rem;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 500;
                line-height: 0.8050000191;
              }
            }
            .pilih-debit-instan-cC9 {
              display: flex;
              font-size: 2.2rem;
              line-height: 0.7318181992;
              color: #525867;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.8rem 1rem;
              font-weight: 700;
              font-family: Inter, 'Source Sans Pro';
            }
            .kamu-hanya-bisa-simpan-1-kartu-debit-per-bank-vCq {
              flex-shrink: 0;
              margin-left: 1rem;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.1500000272;
              color: #525867;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
            }
          }
          .oneklik-o1j {
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 2.25rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 2.1rem;
            width: 100%;
            height: 5.75rem;
            cursor: pointer;

            .auto-group-et2y-L1f {
              width: 100%;
              height: 3.8rem;
              display: flex;
              align-items: center;

              .rectangle-5427-5jw {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 5.1rem;
                height: 3.8rem;
              }
              .oneklik-czm {
                margin: 0rem 30.7rem 0.1rem 0rem;
                font-size: 1.8rem;
                flex-shrink: 0;
                display: flex;
                font-weight: 500;
                line-height: 0.8944444656;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .selection-9Uu {
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
            }
          }
          .mandiri-ewT {
            padding: 0rem 3.2rem 0rem 2.1rem;
            width: 100%;
            height: 5.65rem;
            cursor: pointer;
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 2.25rem;
            box-sizing: border-box;

            .auto-group-sae5-nXs {
              width: 100%;
              height: 3.8rem;
              display: flex;
              align-items: center;

              .rectangle-5428-jxu {
                margin-right: 1.7rem;
                width: 5.1rem;
                height: 3.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .mandiri-s3X {
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                margin: 0rem 30.9rem 0.1rem 0rem;
                display: flex;
                font-weight: 500;
                line-height: 0.8944444656;
                font-size: 1.8rem;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .selection-bVK {
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
                flex-shrink: 0;
              }
            }
          }
          .bri-direct-debit-8EM {
            margin-bottom: 0.95rem;
            width: 100%;
            height: 15.75rem;
            border-bottom: solid 0.05rem #b8c5d0;
            box-sizing: border-box;
            flex-shrink: 0;

            .auto-group-fzjy-SF3 {
              height: 15.7rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              padding: 0rem 2.7rem 2.3rem 2.1rem;
              width: 100%;

              .auto-group-dexb-a6M {
                margin: 0rem 0.5rem 1.271rem 0rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .rectangle-5429-K3w {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  width: 5.1rem;
                  height: 3.7288rem;
                  object-fit: contain;
                }
                .bri-direct-debit-eru {
                  white-space: nowrap;
                  margin: 0rem 23.8rem 0.098rem 0rem;
                  color: #525867;
                  font-family: Inter, 'Source Sans Pro';
                  line-height: 0.8944444656;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 500;
                }
                .selection-xch {
                  width: 2.8rem;
                  height: 2.7475rem;
                  object-fit: contain;
                  vertical-align: top;
                  border-radius: 2.4rem;
                  flex-shrink: 0;
                }
              }
              .sk-fGD {
                margin-left: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 0.6rem;
                width: 47rem;
                background-color: #d9d9d9;
                border-radius: 1rem;
                flex-shrink: 0;

                .pastikan-kamu-sudah-mengaktifkan-fitur-internet-mobile-banking-bri-masukkan-no-hp-yang-terdaftar-di-internet-mobile-banking-bri-NwK {
                  max-width: 43.4rem;
                  display: flex;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.2857142857;
                  color: #525867;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
          .octo-cash-Reh {
            width: 100%;
            height: 7.25rem;
            border-bottom: solid 0.05rem #b8c5d0;
            flex-shrink: 0;
            margin-bottom: 2.85rem;
            box-sizing: border-box;
            padding: 0rem 3.2rem 0rem 1.6rem;

            .auto-group-tpwy-wd3 {
              width: 100%;
              height: 6rem;
              display: flex;
              align-items: center;

              .octo-cash-hMK {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.3rem;
                width: 6rem;
                height: 6rem;
              }
              .octo-cash-by-cimb-niaga-Sph {
                line-height: 0.8944444656;
                margin: 0rem 14.2rem 0.1rem 0rem;
                font-weight: 500;
                color: #525867;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.8rem;
              }
              .selection-L9P {
                flex-shrink: 0;
                width: 2.8rem;
                height: 2.8rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2.4rem;
              }
            }
          }
          .button-simpan-deH {
            margin: 0 3.3rem;
            display: flex;
            letter-spacing: -0.032rem;
            width: calc(100% - 6.6rem);
            justify-content: center;
            line-height: 1.3;
            background-color: #178841;
            border-radius: 1rem;
            height: 5.5rem;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            color: #ffffff;
          }
        }
      }
    }
  }
}
