
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bahan-masak-UG9 {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.7rem 47.5rem 4rem 26.3rem;

  .collections-Ptu {
    height: 20.5rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 9.2rem;

    .beras-kacang-mie-XVK {
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.08rem;
      color: #7e7e7e;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .sayur-SsB {
      margin-bottom: 1.1rem;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
    }
    .jamur-kecambah-z81 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #5a5c62;
      white-space: nowrap;
      margin-bottom: 1.1rem;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .rempah-bumbu-v1f {
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
      color: #5a5c62;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.5;
    }
    .buah-segar-T1b {
      line-height: 1.5;
      letter-spacing: 0.08rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
    }
    .tahu-fermentasi-aM7 {
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
    }
  }
  .collections-hgd {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 8.9rem;
    height: 20.5rem;

    .kebutuhan-masak-FCM {
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.5;
      font-size: 1.6rem;
      font-weight: 700;
      color: #7e7e7e;
      white-space: nowrap;
      margin-bottom: 1.4rem;
    }
    .daging-sapi-ye9 {
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      white-space: nowrap;
    }
    .lamb-i5w {
      font-weight: 400;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      letter-spacing: 0.08rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      line-height: 1.5;
    }
    .unggas-telur-SGq {
      margin-bottom: 1.4rem;
      letter-spacing: 0.08rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
    }
    .ikan-air-tawar-Mub {
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 0.08rem;
      margin-bottom: 1.1rem;
      line-height: 1.5;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .seafood-6MP {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
    }
  }
  .collections-31j {
    flex-shrink: 0;
    height: 20.5rem;
    display: flex;
    flex-direction: column;

    .sayur-buah-nk1 {
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 1.4rem;
      font-weight: 700;
      color: #7e7e7e;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      letter-spacing: 0.08rem;
    }
    .sayur-8J5 {
      font-weight: 400;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .jamur-kecambah-G9P {
      margin-bottom: 1.1rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 0.08rem;
      color: #5a5c62;
    }
    .rempah-bumbu-HqB {
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.4rem;
      font-weight: 400;
      color: #5a5c62;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
    .buah-segar-RRb {
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.5;
      color: #5a5c62;
      white-space: nowrap;
    }
    .tahu-fermentasi-A8H {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
    }
  }
}
