
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.category-produk-segar-C8h {
  display: flex;
  align-items: flex-start;
  background-color: #e3f7ca;
  box-sizing: border-box;
  padding-right: 2.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .menu-admin-2-6E5 {
    width: 30rem;
    height: 90rem;
    flex-shrink: 0;
    margin-right: 6.2rem;

    .menu-admin-27j {
      padding: 5rem 3.8rem 2.377rem 2.9rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 111.6rem;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 100%;

      .logo-navbar-XaH {
        margin: 0rem 4.5rem 8.2rem 0rem;
        box-sizing: border-box;
        padding: 0.66rem 1.121rem 0.55rem 1.245rem;
        background-color: #ffffff;
        border-radius: 1.1rem;
        flex-shrink: 0;

        .px-herosupermarket-3-Sx9 {
          width: 16.4344rem;
          height: 4.29rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-nyjd-ZG5 {
        margin: 0rem 0rem 7.2rem 0.9rem;
        width: 22.4rem;
        height: 37.5rem;
        position: relative;
        flex-shrink: 0;

        .grup-tombol-sXf {
          flex-direction: column;
          width: 22.4rem;
          height: 23.3rem;
          position: absolute;
          left: 0;
          top: 0;
          align-items: center;
          display: flex;

          .auto-group-rtwp-cEM {
            height: 5.1rem;
            font-weight: 600;
            align-items: center;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            flex-shrink: 0;
            color: #052814;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            margin-bottom: 3.3rem;
            font-size: 1.8rem;
            line-height: 1.2125;
            width: 100%;
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 1rem;
          }
          .group-34309-FYD {
            flex-shrink: 0;
            display: flex;
            box-sizing: border-box;
            padding: 1.1rem 4.774rem 1.8rem 7.1rem;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #052814;
            background-color: #052814;
            border-radius: 1rem;
            margin-bottom: 4.7rem;

            .category-Ncq {
              margin-right: 0.7rem;
              font-weight: 600;
              color: #ffffff;
              white-space: nowrap;
              text-align: center;
              font-size: 1.8rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .vector-6oj {
              border-radius: 0.2859rem;
              flex-shrink: 0;
              margin-top: 0.5775rem;
              width: 1.6258rem;
              height: 0.7775rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-34310-nwT {
            width: 100%;
            height: 5.1rem;
            flex-shrink: 0;
          }
        }
        .group-34361-9GD {
          position: absolute;
          left: 1.5rem;
          top: 16.5rem;
          row-gap: 1.8rem;
          display: flex;
          flex-direction: column;
          width: 18rem;
          height: 21rem;

          .promo-FKF {
            width: 100%;
            text-align: center;
            font-weight: 600;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            font-size: 1.6rem;
            line-height: 1.2125;
            flex-shrink: 0;
          }
          .produk-segar-mYV {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            width: 100%;
            color: #000000;
            white-space: nowrap;
          }
          .bahan-masak-hh3 {
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            white-space: nowrap;
          }
          .susu-dan-produk-segar-3F7 {
            cursor: pointer;
            text-align: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
          }
          .snack-aF3 {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 100%;
            cursor: pointer;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .kesehatan-WuP {
            width: 100%;
            font-size: 1.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            text-align: center;
            font-weight: 600;
            color: #000000;
          }
        }
      }
      .auto-group-u6df-3PX {
        margin: 0rem 0rem 37.7rem 0.9rem;
        width: calc(100% - 0.9rem);
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        padding: 1rem 4.474rem 1.9rem 8.35rem;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;

        .histori-LtR {
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          color: #052814;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.15rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .vector-5LD {
          vertical-align: top;
          border-radius: 0.2859rem;
          flex-shrink: 0;
          margin-top: 0.1779rem;
          width: 1.6258rem;
          height: 0.7775rem;
          object-fit: contain;
        }
      }
      .auto-group-ms2d-ywP {
        width: calc(100% - 12.4rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 11.5rem 0rem 0.9rem;

        .icon-account-logout-hsP {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.5rem 1.476rem 0rem 0rem;
          width: 2.5242rem;
          height: 2.5233rem;
        }
        .log-out-pSD {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
  }
  .auto-group-zy6z-iGh {
    flex-shrink: 0;
    margin: 20.1rem 10.5rem 0rem 0rem;
    width: 16.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-t3mk-RS1 {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1.5rem 1.4rem 1.7rem 1.3rem;

      .basket-full-vegetables-2-wfF {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 14.2rem;
        height: 11.8rem;
      }
      .sayur-UfB {
        font-size: 1.5rem;
        color: #000000;
        margin-left: 0.1rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 600;
        line-height: 1.5;
      }
    }
    .auto-group-snju-ksb {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 6.9rem;
      width: 3.9rem;
      height: 3.6rem;
      object-fit: contain;
    }
    .kategori-admin-tyo {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 6.9rem;
      width: 100%;

      .auto-group-149w-SkR {
        flex-direction: column;
        border-radius: 2.5rem;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        padding: 1.5rem 1.3rem 1.7rem 1.2rem;
        width: 100%;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;

        .istockphoto-922279224-612x612-1-a5w {
          height: 11.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2rem;
          width: 14.2rem;
        }
        .sayur-Hm3 {
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-ccx3-ak9 {
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .kategori-admin-7zy {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .auto-group-tem7-tF3 {
        padding: 1.5rem 1.4rem 1.7rem 1.3rem;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2.5rem;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;

        .high-angle-fresh-fish-wooden-board-1-1aZ {
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 14.2rem;
          height: 11.8rem;
          object-fit: cover;
        }
        .sayur-Y4h {
          font-family: Poppins, 'Source Sans Pro';
          margin-left: 0.1rem;
          text-align: center;
          font-weight: 600;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          line-height: 1.5;
          color: #000000;
        }
      }
      .auto-group-encr-ECR {
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-avc9-yA1 {
    row-gap: 6.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 20.1rem 9.5rem 0rem 0rem;
    width: 16.9rem;

    .kategori-admin-6Ed {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .auto-group-cnzw-FNR {
        padding: 1.1rem 0.8rem 1.7rem 0.7rem;
        width: 100%;
        align-items: center;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        flex-direction: column;
        border-radius: 2.5rem;
        flex-shrink: 0;

        .auto-group-383k-B1B {
          margin: 0 0.6rem;
          width: calc(100% - 1.2rem);
          height: 12.2rem;
          flex-shrink: 0;

          .white-mushrooms-isolated-piece-burlap-1-WZF {
            vertical-align: top;
            border-radius: 1rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
          }
        }
        .sayur-Rw7 {
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
        }
      }
      .auto-group-frk1-1eR {
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .kategori-admin-k6D {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-wmqb-6fs {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2.5rem;
        margin-bottom: 2.5rem;
        padding: 1.5rem 1.4rem 1.6rem 1.3rem;
        width: 100%;
        flex-shrink: 0;

        .top-view-meat-with-garlic-herbs-1-q7f {
          width: 14.2rem;
          height: 11.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .sayur-N7b {
          margin-left: 0.1rem;
          text-align: center;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-m7jz-4FK {
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .kategori-admin-BKw {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .auto-group-nxbf-jcM {
        display: flex;
        flex-direction: column;
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        align-items: center;
        background-color: #ffffff;
        padding: 1.5rem 1.4rem 1.7rem 1.3rem;
        width: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .seafood-plate-with-shrimps-mussels-lobsters-served-with-lemon-1-TYM {
          width: 14.2rem;
          height: 11.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .sayur-n4q {
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
        }
      }
      .auto-group-gufb-HnH {
        vertical-align: top;
        flex-shrink: 0;
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
      }
    }
  }
  .auto-group-q2wk-ESd {
    margin: 6.8rem 2.385rem 0rem 0rem;
    width: 18.915rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-dkcr-Mn9 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 10.474rem 12.3rem;
      width: calc(100% - 12.3rem);
      display: flex;

      .icon-envelope-closed-5i9 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.069rem 2.352rem 0rem 0rem;
        width: 2.2484rem;
        height: 1.8948rem;
        object-fit: contain;
      }
      .icon-bell-zq7 {
        width: 2.015rem;
        height: 2.8263rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .kategori-admin-wEZ {
      margin: 0rem 2.015rem 6.9rem 0rem;
      width: 16.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-7ros-55s {
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        padding: 1.1rem 1.3rem 1.7rem 1.4rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 2.5rem;
        flex-shrink: 0;

        .top-view-various-indian-spices-seasonings-table-1-CRP {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          width: 14.2rem;
          height: 11.8rem;
        }
        .sayur-uKo {
          margin-right: 0.2rem;
          font-weight: 600;
          white-space: nowrap;
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-5qav-neV {
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .kategori-admin-w1b {
      width: calc(100% - 2.015rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 1.015rem 0rem 1rem;

      .auto-group-n1of-fiH {
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2.5rem;
        margin-bottom: 2.5rem;
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 1.7rem 1.3rem;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        background-color: #ffffff;

        .raw-lamb-leg-wooden-board-prepared-cooking-salt-tomato-greens-top-view-2-zVf {
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 14.2rem;
          height: 11.8rem;
          object-fit: cover;
        }
        .sayur-ucd {
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          margin-left: 0.1rem;
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-marf-bkM {
        width: 3.9rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .line-120-k7T {
    margin: 5.5rem 3.1rem 0rem 0rem;
    width: 0.1rem;
    height: 4.9rem;
    background-color: #052814;
    flex-shrink: 0;
  }
  .auto-group-exf7-UJM {
    margin-top: 4.2rem;
    width: 26.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-4rbb-cvM {
      height: 7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .ellipse-4-a6V {
        width: 7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:0eedeec74139c91def18b72c7cc5f716dc37c01b');
        border-radius: 3.5rem;
        flex-shrink: 0;
        margin-right: 1.8rem;
        height: 7rem;
        background-position: center;
      }
      .auto-group-eqd7-srH {
        height: calc(100% - 2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.8rem 0rem 1.2rem 0rem;

        .hello-good-morning-D9T {
          color: #052814;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          line-height: 1.2125;
          font-weight: 600;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.8rem;
        }
        .xaviera-porsh-YBj {
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.8rem;
          color: #052814;
          flex-shrink: 0;
          margin-right: 0.5rem;
          line-height: 1.2125;
        }
      }
    }
    .auto-group-zwg9-U5P {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8.9rem 5.8rem 0rem 3.9rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .kategori-admin-otM {
        flex-shrink: 0;
        margin-bottom: 6.9rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-xdwf-AU1 {
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2.5rem;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 2.5rem;

          .colorful-fruits-tasty-fresh-ripe-juicy-white-desk-1-tuo {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-R93 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            margin-left: 0.1rem;
            text-align: center;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-gb7p-ua1 {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-qyT {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-mg49-Qmf {
          box-sizing: border-box;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          flex-direction: column;

          .three-fresh-organic-raw-eggs-isolated-white-surface-1-YN5 {
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sayur-GYy {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-r2do-a3s {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
