
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.category-bahan-masak-Ty3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #e3f7ca;

  .menu-admin-Q7b {
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 156.5rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    padding: 5rem 3.8rem 19.458rem 2.9rem;
    width: 30rem;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;

    .logo-navbar-h6h {
      background-color: #ffffff;
      border-radius: 1.1rem;
      flex-shrink: 0;
      margin: 0rem 4.5rem 8.2rem 0rem;
      box-sizing: border-box;
      padding: 0.66rem 1.121rem 0.55rem 1.245rem;

      .px-herosupermarket-3-cDf {
        vertical-align: top;
        width: 16.4344rem;
        height: 4.29rem;
        object-fit: cover;
      }
    }
    .auto-group-8v5f-JcH {
      margin: 0rem 0rem 7.2rem 0.9rem;
      width: 22.4rem;
      height: 37.5rem;
      position: relative;
      flex-shrink: 0;

      .grup-tombol-RS1 {
        height: 23.3rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 22.4rem;

        .auto-group-7dez-MaZ {
          flex-shrink: 0;
          border-radius: 1rem;
          margin-bottom: 3.3rem;
          width: 100%;
          height: 5.1rem;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          font-weight: 600;
          line-height: 1.2125;
          color: #052814;
          white-space: nowrap;
          justify-content: center;
          background-color: #ffffff;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .group-34309-ohT {
          box-sizing: border-box;
          padding: 1.1rem 4.774rem 1.8rem 7.1rem;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          margin-bottom: 4.7rem;
          width: 100%;
          border: solid 0.1rem #052814;
          background-color: #052814;
          flex-shrink: 0;

          .category-Wbs {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.7rem;
            text-align: center;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            font-size: 1.8rem;
          }
          .vector-361 {
            height: 0.7775rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.2859rem;
            flex-shrink: 0;
            margin-top: 0.5775rem;
            width: 1.6258rem;
          }
        }
        .group-34310-vQh {
          width: 100%;
          height: 5.1rem;
          flex-shrink: 0;
        }
      }
      .group-34361-52h {
        position: absolute;
        left: 1.5rem;
        top: 16.5rem;
        row-gap: 1.8rem;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 21rem;

        .promo-bFw {
          text-align: center;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
        .produk-segar-v3K {
          cursor: pointer;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 600;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .bahan-masak-EZo {
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          flex-shrink: 0;
        }
        .susu-dan-produk-segar-AyF {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          width: 100%;
          cursor: pointer;
          font-size: 1.6rem;
        }
        .snack-W1X {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
        }
        .kesehatan-e7j {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          width: 100%;
          text-align: center;
          font-size: 1.6rem;
          color: #000000;
          white-space: nowrap;
          cursor: pointer;
          font-weight: 600;
          line-height: 1.2125;
        }
      }
    }
    .auto-group-rssu-NJd {
      width: calc(100% - 0.9rem);
      align-items: center;
      border: solid 0.1rem #000000;
      border-radius: 1rem;
      margin: 0rem 0rem 64.748rem 0.9rem;
      padding: 1rem 4.474rem 1.9rem 8.35rem;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;

      .histori-sWH {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.15rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: #052814;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
      }
      .vector-QWD {
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.2859rem;
        flex-shrink: 0;
        margin-top: 0.1779rem;
        width: 1.6258rem;
        height: 0.7775rem;
      }
    }
    .auto-group-cajd-79j {
      margin: 0rem 11.5rem 0rem 0.9rem;
      width: calc(100% - 12.4rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .icon-account-logout-dtm {
        margin: 0.627rem 1.476rem 0rem 0rem;
        width: 2.5242rem;
        height: 3.166rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-out-xAM {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
    }
  }
  .auto-group-bvz3-SbK {
    box-sizing: border-box;
    padding: 4.2rem 2.9rem 6rem 6.2rem;
    height: 140.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-t3ff-AGR {
      margin: 15.9rem 10.5rem 0rem 0rem;
      width: 16.9rem;
      row-gap: 6.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .kategori-admin-4sb {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-mgth-DVb {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          display: flex;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;

          .istockphoto-671580286-612x612-1-LaD {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sayur-FhB {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-sdow-MVK {
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .kategori-admin-6Su {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-7awd-rS5 {
          margin-bottom: 2.5rem;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          border-radius: 2.5rem;
          box-sizing: border-box;
          padding: 1rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          align-items: center;
          display: flex;
          background-color: #ffffff;

          .istockphoto-1206682746-612x612-1-z2V {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sayur-Jos {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-wk8d-1yB {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-xdX {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-w95k-Wuw {
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          align-items: center;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2.5rem;

          .istockphoto-475263838-612x612-1-eWM {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-Ajb {
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            text-align: center;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-av9b-TCu {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
        }
      }
      .kategori-admin-aoK {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-v78d-9Ld {
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          display: flex;

          .istockphoto-835833518-612x612-1-g5f {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
          }
          .sayur-byK {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-gfvj-X6H {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
        }
      }
    }
    .auto-group-keav-4c1 {
      margin: 15.9rem 10.5rem 0rem 0rem;
      width: 16.9rem;
      row-gap: 6.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .kategori-admin-aqF {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .auto-group-gtad-97f {
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 1.1rem 0.9rem 1.7rem 0.8rem;
          align-items: center;
          display: flex;
          border-radius: 2.5rem;
          flex-shrink: 0;
          width: 100%;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;

          .istockphoto-950609714-612x612-1-UQq {
            flex-shrink: 0;
            margin: 0rem 0rem 0.4rem 0.2rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .sayur-ysP {
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
          }
        }
        .auto-group-esmf-h2h {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-1JH {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-puxf-AS5 {
          border-radius: 2.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 1rem 1.4rem 1.6rem 1.3rem;
          width: 100%;

          .istockphoto-961510860-612x612-1-HWh {
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .sayur-c3B {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-ztzb-WeM {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-Fbw {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-8yvb-otM {
          margin-bottom: 2.5rem;
          width: 100%;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          align-items: center;
          display: flex;

          .istockphoto-1173552196-612x612-1-jX7 {
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .sayur-Ti1 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-6pm7-a1w {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
        }
      }
      .kategori-admin-7nZ {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-pjlm-smj {
          background-color: #ffffff;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 1.5rem 1.5rem 1.7rem 1.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;

          .istockphoto-994748584-612x612-2-CZ7 {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-XrH {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.5rem;
            color: #000000;
            font-weight: 600;
            line-height: 1.5;
            flex-shrink: 0;
            margin-left: 0.3rem;
            text-align: center;
          }
        }
        .auto-group-fuoj-2Y9 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
        }
      }
    }
    .auto-group-wanu-mkd {
      margin: 2.243rem 2.3rem 0rem 0rem;
      width: 18rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-dfff-tqF {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.085rem 11.128rem 10.3rem;
        width: calc(100% - 11.385rem);
        display: flex;

        .icon-envelope-closed-dH3 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.061rem 2.352rem 0rem 0rem;
          width: 2.2484rem;
          height: 1.6955rem;
        }
        .icon-bell-8zV {
          width: 2.015rem;
          height: 2.529rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-HMb {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.1rem 6.9rem 0rem;
        width: 16.9rem;
        align-items: center;
        display: flex;

        .auto-group-va6d-DW9 {
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          margin-bottom: 2.5rem;
          padding: 1.1rem 1.4rem 1.7rem 1.3rem;
          display: flex;

          .istockphoto-659524906-612x612-1-YYR {
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .sayur-fsw {
            text-align: center;
            font-weight: 600;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.1rem;
            line-height: 1.5;
            flex-shrink: 0;
            font-size: 1.5rem;
          }
        }
        .auto-group-ywfs-mRB {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-Jvu {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.1rem 6.9rem 0rem;
        width: 16.9rem;
        align-items: center;

        .auto-group-nqlm-SGR {
          background-color: #ffffff;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          align-items: center;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          width: 100%;
          flex-direction: column;

          .istockphoto-941858854-612x612-1-y1T {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-JZX {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-tng1-Cuo {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
        }
      }
      .kategori-admin-x8H {
        margin-bottom: 6.9rem;
        width: 16.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-yrpm-u3X {
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          align-items: center;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          display: flex;

          .istockphoto-516358950-612x612-1-dkD {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-Ak9 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-cb3f-H45 {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-2GZ {
        margin-right: 1.1rem;
        width: 16.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-pzb3-NLR {
          box-sizing: border-box;
          align-items: center;
          display: flex;
          border-radius: 2.5rem;
          flex-shrink: 0;
          background-color: #ffffff;
          margin-bottom: 2.5rem;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .istockphoto-994748584-612x612-1-JE5 {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-EdX {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .auto-group-fk4r-x3j {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .line-120-Unm {
      width: 0.1rem;
      height: 4.9rem;
      background-color: #052814;
      flex-shrink: 0;
      margin: 1.3rem 3.1rem 0rem 0rem;
    }
    .auto-group-u5uk-QgR {
      flex-direction: column;
      flex-shrink: 0;
      width: 26.6rem;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-pbsz-xhw {
        flex-shrink: 0;
        width: 100%;
        height: 7rem;
        display: flex;
        align-items: center;

        .ellipse-4-ut5 {
          background-position: center;
          background-image: url('REPLACE_IMAGE:0eedeec74139c91def18b72c7cc5f716dc37c01b');
          height: 7rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 3.5rem;
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 7rem;
        }
        .auto-group-ljdb-2xh {
          margin: 0.8rem 0rem 1.2rem 0rem;
          height: calc(100% - 2rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .hello-good-morning-Mzy {
            text-align: center;
            font-weight: 600;
            line-height: 1.2125;
            color: #052814;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 1.8rem;
          }
          .xaviera-porsh-5vy {
            text-align: center;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.5rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #052814;
          }
        }
      }
      .auto-group-eeqq-QTT {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 8.9rem 5.8rem 0rem 3.9rem;
        width: 100%;
        row-gap: 6.9rem;
        align-items: center;

        .kategori-admin-XHB {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .auto-group-cgg9-HXF {
            padding: 1.1rem 1.4rem 1.7rem 1.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2.5rem;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            flex-shrink: 0;
            align-items: center;
            background-color: #ffffff;

            .istockphoto-185065945-612x612-1-pGH {
              margin-bottom: 0.4rem;
              width: 14.2rem;
              height: 11.8rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .sayur-ju3 {
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.5rem;
            }
          }
          .auto-group-vdrh-Eqo {
            width: 3.9rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .kategori-admin-NBK {
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-tmfo-KsF {
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
            flex-direction: column;
            box-sizing: border-box;
            padding: 0.7rem 1.1rem 1.1rem 1rem;
            width: 100%;
            align-items: center;
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 2.5rem;

            .istockphoto-641876710-612x612-1-eed {
              flex-shrink: 0;
              width: 14.2rem;
              height: 11rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .sayur-aoB {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 14.8rem;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
            }
          }
          .auto-group-hwho-5zq {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.9rem;
            height: 3.6rem;
          }
        }
        .kategori-admin-29P {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;

          .auto-group-xv2m-n8Z {
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 1.5rem 1.4rem 1.7rem 1.3rem;
            width: 100%;
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2.5rem;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            align-items: center;
            flex-direction: column;

            .auto-group-8u4h-7Rj {
              background-color: #d9d9d9;
              border-radius: 1rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.3rem;
              width: 100%;

              .istockphoto-484679158-612x612-2-fCM {
                border-radius: 1rem;
                width: 13.9rem;
                height: 11.8rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .sayur-aKK {
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 600;
              white-space: nowrap;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 0.1rem;
              text-align: center;
              line-height: 1.5;
            }
          }
          .auto-group-mdgm-rnd {
            width: 3.9rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .kategori-admin-CrV {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;

          .auto-group-kxrs-meh {
            padding: 1.5rem 1.2rem 1.7rem 1.5rem;
            width: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.5rem;

            .istockphoto-545779714-612x612-1-JPj {
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              width: 14.2rem;
              height: 11.8rem;
            }
            .sayur-dgu {
              text-align: center;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 0.3rem;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              flex-shrink: 0;
            }
          }
          .auto-group-gum7-jE9 {
            width: 3.9rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
