
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.categories-produk-segar-1-6qf {
  height: 181.2rem;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .background-1hj {
    width: 144rem;
    height: 166.6rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-qrqm-9J9 {
      margin-bottom: 1rem;
      box-sizing: border-box;
      width: 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
      padding: 65.3rem 14.3rem 64.1rem 44.2rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      flex-shrink: 0;

      .vector-83-U5X {
        vertical-align: top;
        width: 85.5rem;
        height: 0;
        object-fit: contain;
      }
    }
    .item-67580793426116-7-BVj {
      width: 144rem;
      height: 36.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .putih-atas-pattern-hiy {
    width: 123rem;
    height: 158.3rem;
    position: absolute;
    left: 10.5rem;
    top: 10.7rem;
    background-color: #ffffff;
  }
  .search-2mF {
    position: absolute;
    left: 13.4rem;
    top: 61.4rem;
    width: 28rem;
    height: 3.9rem;

    .cari-produk-yAh {
      line-height: 1.5;
      width: 9.7rem;
      left: 0.8rem;
      font-size: 1.7rem;
      text-align: center;
      font-weight: 300;
      color: #c6c6c6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.6rem;
      position: absolute;
      top: 1rem;
    }
    .rectangle-5395-rkH {
      box-sizing: border-box;
      border-radius: 0.6rem;
      width: 28rem;
      height: 3.9rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.15rem #c6c6c6;
    }
    .vector-PVK {
      vertical-align: top;
      width: 1.9rem;
      height: 2rem;
      position: absolute;
      left: 24.4rem;
      top: 1rem;
      object-fit: contain;
    }
  }
  .cover-vegetables-KNy {
    border-radius: 2.4rem;
    height: 38.6rem;
    position: absolute;
    left: 10.5rem;
    top: 18.2rem;
    background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
    width: 123rem;
    background-size: 100% 212.435%;
    background-position: -0rem -43.4rem;

    .rectangle-5393-FXX {
      background: radial-gradient(50% 50% at 50% 50%, #052814 0%, rgba(5, 40, 20, 0) 100%);
      border-radius: 10rem;
      width: 59.8rem;
      height: 11.1rem;
      position: absolute;
      left: 30.9rem;
      top: 14.4rem;
    }
    .sayur-buah-vtZ {
      width: 34.7rem;
      left: 44.1rem;
      font-size: 5rem;
      font-weight: 700;
      line-height: 0.48;
      color: #ffffff;
      height: 2.4rem;
      position: absolute;
      top: 18.1rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .cover-vegetables-KNy-bg {
      width: 123rem;
      height: 38.6rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
    }
  }
  .footer-8zd {
    height: 16rem;
    position: absolute;
    top: 165.2rem;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    width: 144rem;
    left: 0;

    .auto-group-ps4z-SEd {
      flex-shrink: 0;
      margin-right: 41.1rem;
      width: 18.4rem;
      height: 100%;

      .group-20-ARX {
        box-sizing: border-box;
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;

        .px-herosupermarket-3-Hm3 {
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-wxob-ozH {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-9YM {
          width: 2.0895rem;
          height: 2.0766rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.311rem 0.023rem 0rem;
        }
        .icon-twitter-GN5 {
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.3102rem;
          width: 2.4898rem;
        }
        .icon-youtube-bfF {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.0051rem;
          height: 2.1rem;
        }
      }
    }
    .about-us-Lcq {
      text-align: center;
      line-height: 1.5;
      font-weight: 600;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.35rem 3.1rem 0rem;
      font-size: 1.4rem;
    }
    .faq-Svm {
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 9.65rem 3.1rem 0rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .contact-N3j {
      margin: 0rem 7.3rem 3.1rem 0rem;
      text-align: center;
      font-weight: 600;
      flex-shrink: 0;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .customer-survey-tGy {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      color: #ffffff;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
    }
  }
  .navbar-shoping-tAV {
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;

    .group-34377-1W1 {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .auto-group-b3yt-xg9 {
        margin: 0rem 10.5rem 2rem 8.1rem;
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .logo-navbar-t41 {
          border-radius: 1.1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          background-color: #ffffff;

          .px-herosupermarket-3-cVo {
            vertical-align: top;
            width: 15.0357rem;
            height: 4.446rem;
            object-fit: cover;
          }
        }
        .auto-group-ey9x-8DF {
          box-sizing: border-box;
          padding-left: 16.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-34376-fDB {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 6.5rem 0.3rem 0rem;
            cursor: pointer;
            display: flex;
            background-color: #e8faf0;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            border: solid 0.1rem #20992e;

            .search-product-NNV {
              color: #8b8b8b;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              text-align: center;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .vector-J1F {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
            }
          }
          .group-34372-CsK {
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
          }
          .my-wishlist-jMT {
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3125;

            .my-wishlist-jMT-sub-0 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
            }
            .my-wishlist-jMT-sub-1 {
            }
          }
          .group-34374-Gkh {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
          }
          .sign-up-or-log-in-oEq {
            color: #20992e;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.3rem 0rem;
            max-width: 7.1rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;

            .sign-up-or-log-in-oEq-sub-0 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-oEq-sub-1 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-oEq-sub-2 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-34375-qKw {
            margin: 0.5rem 0rem 0.7rem 0rem;
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            cursor: pointer;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I4:1327;4:1563');
            flex-shrink: 0;

            .shopping-cart-2-4-YEM {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;

              .shopping-cart-2-4-YEM-bg {
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
            .shoppingchart-2QR {
              font-weight: 600;
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.8rem;
              font-size: 1.6rem;

              .shoppingchart-2QR-sub-0 {
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
              }
              .shoppingchart-2QR-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-2QR-sub-2 {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-xuxh-Wyo {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-s3f {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .promo-R5B {
            margin: 0.1rem 3.5rem 0rem 0rem;
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 500;
            color: #ffffff;
          }
          .frame-34403-8kH {
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;
            height: 100%;
            cursor: pointer;
            background-color: #0d7038;
            flex-shrink: 0;
            box-sizing: border-box;

            .group-34379-TnZ {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .produk-segar-24y {
                flex-shrink: 0;
                margin-right: 1rem;
                text-align: center;
                font-size: 1.6rem;
                font-family: Poppins, 'Source Sans Pro';
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                white-space: nowrap;
              }
              .drop-down-xDX {
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .auto-group-nypf-hB7 {
            padding: 1.5rem 0rem 1.4rem 3.4rem;
            height: 100%;
            display: flex;
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .group-34378-DfF {
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;

              .bahan-masak-Bc5 {
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.3rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
              }
              .drop-down-WuF {
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
              }
            }
            .group-34380-38V {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .susu-produk-beku-bA1 {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
              .drop-down-7u3 {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-34381-s7X {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .snack-Req {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 0.2rem;
                text-align: center;
                color: #ffffff;
              }
              .drop-down-xPs {
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .brands-Jid {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .category-dan-sub-S49 {
    top: 69.6rem;
    width: 16rem;
    height: 14.8rem;
    position: absolute;
    left: 13.3rem;

    .category-m6R {
      justify-content: center;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #6f6f6f;
      font-family: Poppins, 'Source Sans Pro';
      width: 100%;
      display: flex;
      font-weight: 600;
      white-space: nowrap;
      margin-bottom: 1.3rem;
      align-items: center;
    }
    .frame-34452-VHK {
      margin-left: 1.7rem;
      width: 14.3rem;
      row-gap: 1rem;
      display: flex;
      flex-direction: column;

      .sayur-Qv5 {
        font-weight: 500;
        color: #3f3f3f;
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .jamur-kecambah-M4d {
        line-height: 1.5;
        color: #3f3f3f;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 500;
        width: 100%;
        align-items: center;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .tahu-fermentasi-HDB {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        font-size: 1.4rem;
        font-weight: 500;
        color: #3f3f3f;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .buah-fermentasi-oxD {
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 500;
        white-space: nowrap;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #3f3f3f;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .frame-34453-8zV {
    position: absolute;
    left: 44.3rem;
    top: 67.5rem;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    width: 16.6rem;
    height: 2.1rem;

    .home-fUd {
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: 500;
      align-items: center;
      color: #20992e;
      white-space: nowrap;
    }
    .vuesax-linear-arrow-up-zmo {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 1.3rem;
      height: 1.3rem;
    }
    .produk-segar-wS9 {
      flex-shrink: 0;
      display: flex;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      line-height: 1.5;
      color: #8b8b8b;
    }
  }
  .frame-34450-5HT {
    width: 82.7rem;
    height: 32.7rem;
    position: absolute;
    left: 44.2rem;
    top: 72.3rem;
    display: flex;
    column-gap: 4.1rem;
    align-items: center;

    .barang-bFo {
      width: 17.6rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      height: 100%;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      border-radius: 1.4rem;
      flex-shrink: 0;

      .auto-group-cdd3-iLR {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-fFf {
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
          border-radius: 1rem;
          left: 0;
          top: 0;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
        }
        .image-80-Lch {
          width: 15.6rem;
          height: 15.1rem;
          top: 0;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          position: relative;
          left: 0;
          background-size: 100% 188.542%;
        }
      }
      .group-34423-Ru3 {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-nnk9-MXo {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .peachy-apple-puree-110-gr-Vtu {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 500;
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            margin-bottom: 0.5rem;
          }
          .code-098642791289-QFB {
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            white-space: nowrap;
          }
          .rp-35500-iFs {
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        .auto-group-nwc9-3ow {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-c6M {
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-rrg1-ifB {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-3hT {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-3hT-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-fD3 {
      width: 17.6rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 1.4rem;
      flex-shrink: 0;
      padding: 1rem 0.9rem 1.4rem 1.1rem;

      .auto-group-ypc9-P93 {
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;

        .card-example-4jpeg-KoP {
          width: 15.5rem;
          left: 0;
          top: 0;
          background-size: 177.876% 255.814%;
          height: 15.1rem;
          position: relative;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
        }
        .image-80-Dds {
          height: 15.1rem;
          left: 0;
          top: 0;
          width: 15.6rem;
          position: relative;
          background-size: 100% 188.542%;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
        }
      }
      .group-34423-8Vw {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;

        .auto-group-5cch-48h {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .peachy-apple-puree-110-gr-o6H {
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
          }
          .code-098642791289-6bB {
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            color: #b2b2b2;
            white-space: nowrap;
            margin-bottom: 0.6rem;
            line-height: 1.5;
            letter-spacing: 0.05rem;
          }
          .rp-35500-pXB {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
          }
        }
        .auto-group-vwuy-xdP {
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;

          .icon-heart-iMf {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-ygdf-qSH {
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .shopping-cart-2-4-AjT {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-AjT-bg {
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
              }
            }
          }
        }
      }
    }
    .barang-nkq {
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      height: 100%;
      align-items: center;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      position: relative;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      border-radius: 1.4rem;
      overflow: hidden;

      .auto-group-33td-iPb {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;

        .card-example-4jpeg-s1b {
          left: 0;
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          top: 0;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-MSZ {
          height: 15.1rem;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          width: 15.6rem;
          position: relative;
          left: 0;
          background-position: 0 0;
          border-radius: 1rem;
        }
      }
      .group-34423-ewT {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-yck3-NsT {
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .peachy-apple-puree-110-gr-iwK {
            font-weight: 500;
            line-height: 1.0714285714;
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 10.6rem;
          }
          .code-098642791289-DNH {
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            line-height: 1.5;
            color: #b2b2b2;
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 500;
          }
          .rp-35500-8VF {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-ewcu-4Nu {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;

          .icon-heart-p7B {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
          }
          .auto-group-cuyx-8Nm {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-rpZ {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-rpZ-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-5hK {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      height: 100%;
      position: relative;
      align-items: center;
      border-radius: 1.4rem;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      flex-shrink: 0;

      .auto-group-jtkf-Qjb {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-wzR {
          width: 15.5rem;
          top: 0;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          height: 15.1rem;
          position: relative;
          left: 0;
          background-size: 177.876% 255.814%;
        }
        .image-80-3Gm {
          background-size: 100% 188.542%;
          background-position: 0 0;
          height: 15.1rem;
          position: relative;
          left: 0;
          top: 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          width: 15.6rem;
        }
      }
      .group-34423-YDX {
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-sr6u-GvD {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;

          .peachy-apple-puree-110-gr-pgq {
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-weight: 500;
            letter-spacing: 0.07rem;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
            color: #7e7e7e;
          }
          .code-098642791289-Y73 {
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.6rem;
            line-height: 1.5;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 500;
          }
          .rp-35500-TE1 {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .auto-group-wae5-CBb {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;

          .icon-heart-wey {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
          }
          .auto-group-kkms-4Uh {
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;

            .shopping-cart-2-4-BpD {
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;

              .shopping-cart-2-4-BpD-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
  }
  .frame-34454-DW1 {
    position: absolute;
    left: 44.2rem;
    top: 107.7rem;
    display: flex;
    column-gap: 4.1rem;
    align-items: center;
    width: 82.7rem;
    height: 32.7rem;

    .barang-vvD {
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      border-radius: 1.4rem;
      flex-shrink: 0;

      .auto-group-vehf-StZ {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-Poo {
          height: 15.1rem;
          top: 0;
          background-position: -5.9492rem -12.5272rem;
          border-radius: 1rem;
          width: 15.5rem;
          position: relative;
          left: 0;
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
        }
        .image-80-VM3 {
          width: 15.6rem;
          height: 15.1rem;
          left: 0;
          top: 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          position: relative;
          background-size: 100% 188.542%;
          background-position: 0 0;
        }
      }
      .group-34423-bus {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);

        .auto-group-c1gd-9Ah {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;

          .peachy-apple-puree-110-gr-65w {
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
          }
          .code-098642791289-Cuf {
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 0.6rem;
          }
          .rp-35500-vqf {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
          }
        }
        .auto-group-yxcm-fYM {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-cyP {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
          }
          .auto-group-wgem-jYD {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-56H {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-56H-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-gLy {
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 17.6rem;

      .auto-group-xqmt-18M {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-x3b {
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          width: 15.5rem;
          position: relative;
          top: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
          border-radius: 1rem;
          height: 15.1rem;
          left: 0;
        }
        .image-80-3Kw {
          width: 15.6rem;
          height: 15.1rem;
          position: relative;
          top: 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          left: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
        }
      }
      .group-34423-kVF {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-bdsr-gNu {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;

          .peachy-apple-puree-110-gr-Dtd {
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            flex-shrink: 0;
          }
          .code-098642791289-LTT {
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 500;
            color: #b2b2b2;
          }
          .rp-35500-eyw {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-rly7-bPP {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;
          display: flex;

          .icon-heart-wy3 {
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-9j9f-5JZ {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-c3b {
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;

              .shopping-cart-2-4-c3b-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-RWq {
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      position: relative;
      align-items: center;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      border-radius: 1.4rem;
      width: 17.6rem;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-9uc9-M9b {
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;

        .card-example-4jpeg-tvD {
          left: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          width: 15.5rem;
          position: relative;
          border-radius: 1rem;
          height: 15.1rem;
          top: 0;
        }
        .image-80-BeR {
          height: 15.1rem;
          top: 0;
          border-radius: 1rem;
          width: 15.6rem;
          position: relative;
          left: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
        }
      }
      .group-34423-toj {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dgnu-2Q9 {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;

          .peachy-apple-puree-110-gr-aRf {
            margin-bottom: 0.5rem;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 10.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: #7e7e7e;
          }
          .code-098642791289-thF {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            flex-shrink: 0;
            font-weight: 500;
            line-height: 1.5;
          }
          .rp-35500-pau {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
          }
        }
        .auto-group-pnhx-wvR {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-6oK {
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
          }
          .auto-group-5j85-Dsw {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-LxZ {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-LxZ-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-ZaR {
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      height: 100%;
      position: relative;
      display: flex;
      border-radius: 1.4rem;
      flex-shrink: 0;
      width: 17.6rem;
      overflow: hidden;
      align-items: center;

      .auto-group-b7er-t6u {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;

        .card-example-4jpeg-dKP {
          height: 15.1rem;
          left: 0;
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          position: relative;
          top: 0;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-vJV {
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          left: 0;
          top: 0;
          background-size: 100% 188.542%;
          width: 15.6rem;
          height: 15.1rem;
          position: relative;
        }
      }
      .group-34423-pem {
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-ruah-9h3 {
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .peachy-apple-puree-110-gr-tuX {
            margin-bottom: 0.5rem;
            line-height: 1.0714285714;
            flex-shrink: 0;
            max-width: 10.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
          }
          .code-098642791289-Qss {
            margin-bottom: 0.6rem;
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 500;
            flex-shrink: 0;
          }
          .rp-35500-w77 {
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        .auto-group-4clh-foo {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-dEq {
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-smu5-k4Z {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;

            .shopping-cart-2-4-H4V {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-H4V-bg {
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
  .group-34448-ta5 {
    display: flex;
    align-items: center;
    width: 35.9rem;
    height: 5.1rem;
    position: absolute;
    left: 54rem;
    top: 151.5rem;

    .vuesax-linear-arrow-circle-right-DcM {
      flex-shrink: 0;
      margin: 0rem 2.7rem 0.1rem 0rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .frame-34455-wHT {
      align-items: center;
      flex-shrink: 0;
      margin: 1.3rem 2.3rem 1rem 0rem;
      height: calc(100% - 2.3rem);
      display: flex;
      column-gap: 3.7rem;

      .item-1-ehf {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #000000;
      }
      .item-2-nYy {
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-3-jDK {
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
      }
      .item--fsf {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-10-cnu {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .vuesax-linear-arrow-circle-right-dxu {
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 5rem;
    }
  }
  .frame-34456-m3X {
    top: 62.1rem;
    width: 38.7rem;
    height: 3.2rem;
    position: absolute;
    left: 44.2rem;

    .sub-kategori-VVK {
      margin-bottom: 0.9rem;
      width: 100%;
      display: flex;
      column-gap: 2.5rem;
      align-items: center;

      .produk-segar-S9f {
        line-height: 1.5;
        color: #20992e;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 400;
      }
      .sayur-buah-yfP {
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4d4f56;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .daging-seafood-vad {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4d4f56;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .vector-84-4gq {
      width: 10rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
