
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.categories-produk-segar-2-wDB {
  width: 100%;
  height: 181.2rem;
  position: relative;
  background-color: #ffffff;

  .background-2Ed {
    height: 166.6rem;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144rem;

    .auto-group-cng1-Yim {
      padding: 65.3rem 14.3rem 64.1rem 44.2rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
      flex-shrink: 0;
      margin-bottom: 1rem;
      box-sizing: border-box;
      width: 100%;

      .vector-83-U6d {
        width: 85.5rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .item-67580793426116-7-avM {
      width: 144rem;
      height: 36.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .putih-atas-pattern-WZ7 {
    background-color: #ffffff;
    width: 123rem;
    height: 158.3rem;
    position: absolute;
    left: 10.5rem;
    top: 10.7rem;
  }
  .search-e9X {
    width: 28rem;
    height: 3.9rem;
    position: absolute;
    left: 13.4rem;
    top: 61.4rem;

    .cari-produk-mzq {
      font-family: Poppins, 'Source Sans Pro';
      width: 9.7rem;
      position: absolute;
      left: 0.8rem;
      font-size: 1.7rem;
      font-weight: 300;
      white-space: nowrap;
      height: 2.6rem;
      top: 1rem;
      text-align: center;
      line-height: 1.5;
      color: #c6c6c6;
    }
    .rectangle-5395-rmP {
      left: 0;
      top: 0;
      border: solid 0.15rem #c6c6c6;
      box-sizing: border-box;
      border-radius: 0.6rem;
      width: 28rem;
      height: 3.9rem;
      position: absolute;
    }
    .vector-nQ9 {
      top: 1rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.9rem;
      height: 2rem;
      position: absolute;
      left: 24.4rem;
    }
  }
  .cover-vegetables-iob {
    left: 10.5rem;
    top: 18.2rem;
    background-size: 100% 212.435%;
    background-position: -0rem -43.4rem;
    background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
    border-radius: 2.4rem;
    width: 123rem;
    height: 38.6rem;
    position: absolute;

    .rectangle-5393-ex9 {
      width: 59.8rem;
      height: 11.1rem;
      position: absolute;
      left: 30.9rem;
      top: 14.4rem;
      background: radial-gradient(50% 50% at 50% 50%, #052814 0%, rgba(5, 40, 20, 0) 100%);
      border-radius: 10rem;
    }
    .sayur-buah-YGq {
      left: 44.1rem;
      top: 18.1rem;
      display: flex;
      font-size: 5rem;
      font-weight: 700;
      line-height: 0.48;
      font-family: Poppins, 'Source Sans Pro';
      width: 34.7rem;
      height: 2.4rem;
      position: absolute;
      color: #ffffff;
      white-space: nowrap;
    }
    .cover-vegetables-iob-bg {
      background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
      width: 123rem;
      height: 38.6rem;
      position: relative;
    }
  }
  .footer-iqX {
    height: 16rem;
    position: absolute;
    display: flex;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    align-items: center;
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    width: 144rem;
    left: 0;
    top: 165.2rem;

    .auto-group-trdb-beR {
      margin-right: 41.1rem;
      width: 18.4rem;
      height: 100%;
      flex-shrink: 0;

      .group-20-Lc1 {
        background-color: #ffffff;
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;
        box-sizing: border-box;
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;

        .px-herosupermarket-3-GVf {
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-2yob-zAm {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-8Xs {
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-twitter-F6h {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
        }
        .icon-youtube-n6d {
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .about-us-vCq {
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 9.35rem 3.1rem 0rem;
      line-height: 1.5;
      font-weight: 600;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.4rem;
    }
    .faq-pJD {
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 9.65rem 3.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      text-align: center;
    }
    .contact-LGZ {
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 3.1rem 0rem;
      font-weight: 600;
      color: #ffffff;
    }
    .customer-survey-fJq {
      flex-shrink: 0;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: #ffffff;
      white-space: nowrap;
      margin-bottom: 3.1rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .navbar-shoping-xHw {
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;
    height: 16rem;
    position: absolute;
    left: 0;

    .group-34377-GpR {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;

      .auto-group-rcs5-ctH {
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 10.5rem 2rem 8.1rem;

        .logo-navbar-YG9 {
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 1.1rem;
          flex-shrink: 0;

          .px-herosupermarket-3-Gxq {
            width: 15.0357rem;
            height: 4.446rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-bhyd-PXf {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 16.1rem;

          .group-34376-8k9 {
            margin: 0rem 6.5rem 0.3rem 0rem;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            background-color: #e8faf0;
            border-radius: 0.8rem;
            flex-shrink: 0;
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            align-items: center;
            border: solid 0.1rem #20992e;

            .search-product-eCh {
              margin-right: 20.9rem;
              font-weight: 400;
              color: #8b8b8b;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1.5;
              white-space: nowrap;
            }
            .vector-a6M {
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-34372-sLM {
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .my-wishlist-akZ {
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3125;

            .my-wishlist-akZ-sub-0 {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .my-wishlist-akZ-sub-1 {
            }
          }
          .group-34374-hTo {
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
          }
          .sign-up-or-log-in-RPo {
            line-height: 1.5;
            color: #20992e;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.3rem 0rem;
            max-width: 7.1rem;
            font-size: 1.4rem;
            font-weight: 500;

            .sign-up-or-log-in-RPo-sub-0 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-RPo-sub-1 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .sign-up-or-log-in-RPo-sub-2 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
            }
          }
          .group-34375-eQy {
            box-sizing: border-box;
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            background-image: url('REPLACE_IMAGE:I4:1382;4:1563');
            flex-shrink: 0;
            margin: 0.5rem 0rem 0.7rem 0rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .shopping-cart-2-4-xAm {
              flex-shrink: 0;
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-xAm-bg {
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .shoppingchart-2RX {
              max-width: 5.8rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;

              .shoppingchart-2RX-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-2RX-sub-1 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;
              }
              .shoppingchart-2RX-sub-2 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
              }
            }
          }
        }
      }
      .auto-group-vqcm-7LV {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-FxV {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .promo-R6H {
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.1rem 3.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: #ffffff;
            white-space: nowrap;
            text-align: center;
          }
          .frame-34403-8WV {
            height: 100%;
            cursor: pointer;
            background-color: #0d7038;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;

            .group-34379-Fr1 {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .produk-segar-1qB {
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 500;
                text-align: center;
                font-size: 1.6rem;
                color: #ffffff;
                margin-right: 1rem;
              }
              .drop-down-9Rb {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
          }
          .auto-group-jjhj-HGu {
            height: 100%;
            display: flex;
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0rem 1.4rem 3.4rem;

            .group-34378-zx1 {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bahan-masak-xP3 {
                font-size: 1.6rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                text-align: center;
                font-weight: 500;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.3rem;
              }
              .drop-down-UsB {
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
              }
            }
            .group-34380-QF3 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;

              .susu-produk-beku-Mvy {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
              }
              .drop-down-hV3 {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-34381-dtV {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .snack-CRo {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.2rem;
                font-size: 1.6rem;
                font-weight: 500;
                color: #ffffff;
                text-align: center;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-Xiy {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .brands-5kV {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .category-dan-sub-DLu {
    left: 13.3rem;
    top: 69.6rem;
    width: 16rem;
    height: 14.8rem;
    position: absolute;

    .category-w21 {
      margin-bottom: 1.3rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.5;
      white-space: nowrap;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6f6f6f;
      font-family: Poppins, 'Source Sans Pro';
    }
    .frame-34452-FoP {
      display: flex;
      flex-direction: column;
      margin-left: 1.7rem;
      width: 14.3rem;
      row-gap: 1rem;

      .sayur-b6Z {
        align-items: center;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: #3f3f3f;
      }
      .jamur-kecambah-v8q {
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        flex-shrink: 0;
        width: 100%;
        line-height: 1.5;
        color: #3f3f3f;
        font-family: Poppins, 'Source Sans Pro';
      }
      .tahu-fermentasi-FB7 {
        width: 100%;
        display: flex;
        font-weight: 500;
        line-height: 1.5;
        color: #3f3f3f;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .buah-fermentasi-aDP {
        width: 100%;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        color: #3f3f3f;
        white-space: nowrap;
      }
    }
  }
  .frame-34453-JQH {
    left: 44.3rem;
    top: 67.5rem;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    width: 16.6rem;
    height: 2.1rem;
    position: absolute;

    .home-dBf {
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 500;
      flex-shrink: 0;
      justify-content: center;
      line-height: 1.5;
      color: #20992e;
      white-space: nowrap;
    }
    .vuesax-linear-arrow-up-ASV {
      vertical-align: top;
      flex-shrink: 0;
      width: 1.3rem;
      height: 1.3rem;
      object-fit: contain;
    }
    .produk-segar-hSR {
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: 500;
      color: #8b8b8b;
    }
  }
  .frame-34450-DvZ {
    position: absolute;
    left: 44.2rem;
    top: 72.3rem;
    display: flex;
    column-gap: 4.1rem;
    align-items: center;
    width: 82.7rem;
    height: 32.7rem;

    .barang-jtu {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      box-sizing: border-box;
      height: 100%;
      border-radius: 1.4rem;
      align-items: center;
      flex-shrink: 0;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;

      .auto-group-eb5b-ryX {
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;

        .card-example-4jpeg-zpq {
          width: 15.5rem;
          height: 15.1rem;
          left: 0;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          position: relative;
          top: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-GnM {
          height: 15.1rem;
          position: relative;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          width: 15.6rem;
          left: 0;
          top: 0;
          background-size: 100% 188.542%;
        }
      }
      .group-34423-HCu {
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;

        .auto-group-hyk3-zt1 {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;

          .peachy-apple-puree-110-gr-8jK {
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.0714285714;
          }
          .code-098642791289-EGZ {
            letter-spacing: 0.05rem;
            white-space: nowrap;
            margin-bottom: 0.6rem;
            font-weight: 500;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1rem;
            line-height: 1.5;
          }
          .rp-35500-98d {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
          }
        }
        .auto-group-44em-GDF {
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;

          .icon-heart-D8V {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-tp89-vYh {
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;

            .shopping-cart-2-4-rSM {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-rSM-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-eND {
      width: 17.6rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      border-radius: 1.4rem;
      flex-shrink: 0;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);

      .auto-group-nbn1-mBw {
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;

        .card-example-4jpeg-tXT {
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          left: 0;
          top: 0;
          height: 15.1rem;
          position: relative;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-Azm {
          background-position: 0 0;
          border-radius: 1rem;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          width: 15.6rem;
          height: 15.1rem;
          position: relative;
          left: 0;
        }
      }
      .group-34423-569 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);

        .auto-group-kmb7-oH3 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;

          .peachy-apple-puree-110-gr-YEd {
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 10.6rem;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
          }
          .code-098642791289-3SH {
            line-height: 1.5;
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 500;
            color: #b2b2b2;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
          }
          .rp-35500-xp9 {
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        .auto-group-c5tp-hFw {
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .icon-heart-SUR {
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-y2tr-kzu {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-gtZ {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-gtZ-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-uFX {
      flex-shrink: 0;
      width: 17.6rem;
      height: 100%;
      position: relative;
      align-items: center;
      display: flex;
      border-radius: 1.4rem;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      overflow: hidden;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;

      .auto-group-icrd-oLu {
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;

        .card-example-4jpeg-M7X {
          background-position: -5.9492rem -12.5272rem;
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
        }
        .image-80-qYV {
          width: 15.6rem;
          height: 15.1rem;
          left: 0;
          background-position: 0 0;
          border-radius: 1rem;
          position: relative;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
        }
      }
      .group-34423-Lk9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;

        .auto-group-xpw1-UbT {
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .peachy-apple-puree-110-gr-DZ3 {
            color: #7e7e7e;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            max-width: 10.6rem;
            font-family: Poppins, 'Source Sans Pro';
          }
          .code-098642791289-uRs {
            font-size: 1rem;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rp-35500-R9K {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-c7yv-MHs {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;

          .icon-heart-hMj {
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-gu89-Day {
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;

            .shopping-cart-2-4-9Dj {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-9Dj-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-kUR {
      box-sizing: border-box;
      width: 17.6rem;
      height: 100%;
      overflow: hidden;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1.4rem;

      .auto-group-f3kf-fbP {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-Qos {
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          top: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
          left: 0;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
        }
        .image-80-hY5 {
          height: 15.1rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 100% 188.542%;
          width: 15.6rem;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          background-position: 0 0;
        }
      }
      .group-34423-bdT {
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-z2sv-87b {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;

          .peachy-apple-puree-110-gr-Tff {
            max-width: 10.6rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .code-098642791289-aEV {
            margin-bottom: 0.6rem;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            flex-shrink: 0;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rp-35500-JAV {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-ojyb-qAR {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;

          .icon-heart-BVB {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-yhzh-WXT {
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;

            .shopping-cart-2-4-2kh {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-2kh-bg {
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
              }
            }
          }
        }
      }
    }
  }
  .frame-34454-pwT {
    display: flex;
    column-gap: 4.1rem;
    align-items: center;
    width: 82.7rem;
    height: 32.7rem;
    position: absolute;
    left: 44.2rem;
    top: 107.7rem;

    .barang-8hF {
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      width: 17.6rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      border-radius: 1.4rem;

      .auto-group-qdx5-457 {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;

        .card-example-4jpeg-BvR {
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 177.876% 255.814%;
          height: 15.1rem;
        }
        .image-80-5ku {
          border-radius: 1rem;
          height: 15.1rem;
          left: 0;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          width: 15.6rem;
          position: relative;
          top: 0;
          background-size: 100% 188.542%;
        }
      }
      .group-34423-nvD {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-bdqv-8UH {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .peachy-apple-puree-110-gr-H6H {
            flex-shrink: 0;
            max-width: 10.6rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
          }
          .code-098642791289-zWV {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
          }
          .rp-35500-K2y {
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
        .auto-group-uiyx-StH {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-oTw {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
          }
          .auto-group-it7k-iqo {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;

            .shopping-cart-2-4-T2h {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              width: 100%;
              height: 1.9rem;

              .shopping-cart-2-4-T2h-bg {
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
              }
            }
          }
        }
      }
    }
    .barang-Gkq {
      overflow: hidden;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      border-radius: 1.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      height: 100%;
      position: relative;
      flex-direction: column;
      background-color: #ffffff;

      .auto-group-w4r7-CPb {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-kAD {
          height: 15.1rem;
          top: 0;
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          position: relative;
          left: 0;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-qhT {
          height: 15.1rem;
          position: relative;
          left: 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          width: 15.6rem;
          top: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
        }
      }
      .group-34423-XqB {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;

        .auto-group-mfvb-rcZ {
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .peachy-apple-puree-110-gr-Q8H {
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.0714285714;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
            letter-spacing: 0.07rem;
            flex-shrink: 0;
          }
          .code-098642791289-WSD {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            font-size: 1rem;
          }
          .rp-35500-dmj {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
          }
        }
        .auto-group-axwv-NDX {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-uz9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
          }
          .auto-group-ywnu-EFj {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;

            .shopping-cart-2-4-ZJ1 {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-ZJ1-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-P29 {
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      border-radius: 1.4rem;
      box-sizing: border-box;
      width: 17.6rem;
      height: 100%;
      position: relative;
      flex-direction: column;

      .auto-group-khf7-JQ1 {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;

        .card-example-4jpeg-48H {
          width: 15.5rem;
          position: relative;
          top: 0;
          background-size: 177.876% 255.814%;
          height: 15.1rem;
          left: 0;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
        }
        .image-80-Yp9 {
          width: 15.6rem;
          position: relative;
          height: 15.1rem;
          left: 0;
          top: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
        }
      }
      .group-34423-3ku {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-14js-B6R {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;

          .peachy-apple-puree-110-gr-KiR {
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: #7e7e7e;
            flex-shrink: 0;
          }
          .code-098642791289-EKb {
            color: #b2b2b2;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            line-height: 1.5;
            white-space: nowrap;
            font-weight: 500;
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
          }
          .rp-35500-Z6y {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
          }
        }
        .auto-group-mb5b-t9F {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-pYh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
          }
          .auto-group-rw9t-YUh {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;

            .shopping-cart-2-4-GQh {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-GQh-bg {
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
                height: 1.9rem;
              }
            }
          }
        }
      }
    }
    .barang-HKo {
      align-items: center;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      border-radius: 1.4rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      background-color: #ffffff;
      flex-shrink: 0;

      .auto-group-p6rf-Chf {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-xB3 {
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          position: relative;
          left: 0;
          background-position: -5.9492rem -12.5272rem;
          background-size: 177.876% 255.814%;
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          top: 0;
        }
        .image-80-Sru {
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          position: relative;
          top: 0;
          left: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
          border-radius: 1rem;
          width: 15.6rem;
          height: 15.1rem;
        }
      }
      .group-34423-ksb {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;

        .auto-group-vtvr-V4V {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;

          .peachy-apple-puree-110-gr-dRb {
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            font-size: 1.4rem;
            font-weight: 500;
          }
          .code-098642791289-XG5 {
            letter-spacing: 0.05rem;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.5;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.6rem;
            font-size: 1rem;
            font-weight: 500;
          }
          .rp-35500-2yX {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
          }
        }
        .auto-group-kbt7-A49 {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-7EH {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-vll1-EJu {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;

            .shopping-cart-2-4-xEu {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-xEu-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
  }
  .group-34448-ZVb {
    align-items: center;
    width: 35.9rem;
    height: 5.1rem;
    position: absolute;
    left: 54rem;
    top: 151.5rem;
    display: flex;

    .vuesax-linear-arrow-circle-right-Guo {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.7rem 0.1rem 0rem;
    }
    .frame-34455-zL1 {
      margin: 1.3rem 2.3rem 1rem 0rem;
      height: calc(100% - 2.3rem);
      display: flex;
      column-gap: 3.7rem;
      align-items: center;
      flex-shrink: 0;

      .item-1-JLh {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
      }
      .item-2-ppq {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-3-mVB {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--7J9 {
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
      }
      .item-10-rmX {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .vuesax-linear-arrow-circle-right-bz1 {
      margin-top: 0.1rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-34456-wHB {
    position: absolute;
    left: 44.2rem;
    top: 62.1rem;
    width: 38.7rem;
    height: 3.2rem;

    .sub-kategori-4ch {
      align-items: center;
      margin-bottom: 0.9rem;
      width: 100%;
      display: flex;
      column-gap: 2.5rem;

      .produk-segar-QAm {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #20992e;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .sayur-buah-kEd {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4d4f56;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .daging-seafood-h9s {
        font-weight: 400;
        line-height: 1.5;
        color: #4d4f56;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
      }
    }
    .vector-84-EvV {
      width: 10rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
