
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.categories-produk-segar-sayur-buah-Zqs {
  width: 100%;
  height: 181.2rem;
  position: relative;
  background-color: #ffffff;

  .background-eMX {
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 144rem;
    height: 166.6rem;
    position: absolute;

    .auto-group-ysfp-wLd {
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
      flex-shrink: 0;
      margin-bottom: 1rem;
      padding: 65.3rem 14.3rem 64.1rem 44.2rem;
      display: flex;
      flex-direction: column;
      background-size: 100% 100%;
      background-position: center;

      .vector-83-oNq {
        vertical-align: top;
        flex-shrink: 0;
        width: 85.5rem;
        height: 0;
        object-fit: contain;
      }
      .vector-85-Ldf {
        width: 10rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 50.3rem;
      }
    }
    .item-67580793426116-7-Sgh {
      vertical-align: top;
      flex-shrink: 0;
      width: 144rem;
      height: 36.2rem;
      object-fit: cover;
    }
  }
  .putih-atas-pattern-AMo {
    width: 123rem;
    height: 158.3rem;
    position: absolute;
    left: 10.5rem;
    top: 10.7rem;
    background-color: #ffffff;
  }
  .search-tYh {
    height: 3.9rem;
    position: absolute;
    left: 13.4rem;
    top: 61.4rem;
    width: 28rem;

    .cari-produk-Day {
      left: 0.8rem;
      top: 1rem;
      font-weight: 300;
      color: #c6c6c6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.7rem;
      height: 2.6rem;
      position: absolute;
      text-align: center;
      font-size: 1.7rem;
      line-height: 1.5;
    }
    .rectangle-5395-K8D {
      top: 0;
      border: solid 0.15rem #c6c6c6;
      box-sizing: border-box;
      border-radius: 0.6rem;
      width: 28rem;
      height: 3.9rem;
      position: absolute;
      left: 0;
    }
    .vector-DjP {
      vertical-align: top;
      width: 1.9rem;
      height: 2rem;
      position: absolute;
      left: 24.4rem;
      top: 1rem;
      object-fit: contain;
    }
  }
  .cover-vegetables-Mah {
    background-size: 100% 212.435%;
    background-position: -0rem -43.4rem;
    background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
    border-radius: 2.4rem;
    top: 18.2rem;
    width: 123rem;
    height: 38.6rem;
    position: absolute;
    left: 10.5rem;

    .rectangle-5393-UvD {
      top: 14.4rem;
      background: radial-gradient(50% 50% at 50% 50%, #052814 0%, rgba(5, 40, 20, 0) 100%);
      border-radius: 10rem;
      width: 59.8rem;
      height: 11.1rem;
      position: absolute;
      left: 30.9rem;
    }
    .sayur-buah-9Ff {
      height: 2.4rem;
      position: absolute;
      top: 18.1rem;
      display: flex;
      line-height: 0.48;
      color: #ffffff;
      width: 34.7rem;
      left: 44.1rem;
      font-size: 5rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .cover-vegetables-Mah-bg {
      height: 38.6rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:5c3afb392daad38e774e9851ce8554ce09dd344d');
      width: 123rem;
    }
  }
  .footer-whK {
    height: 16rem;
    top: 165.2rem;
    display: flex;
    align-items: center;
    background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
    box-sizing: border-box;
    padding: 3.1rem 16.6rem 3.9rem 14.1rem;
    width: 144rem;
    position: absolute;
    left: 0;

    .auto-group-y3p5-q21 {
      margin-right: 41.1rem;
      width: 18.4rem;
      height: 100%;
      flex-shrink: 0;

      .group-20-Zyb {
        border-radius: 1.1rem;
        margin-bottom: 0.8073rem;
        box-sizing: border-box;
        padding: 0.731rem 1.097rem 0.609rem 1.219rem;
        width: 100%;
        background-color: #ffffff;

        .px-herosupermarket-3-JRP {
          width: 16.0848rem;
          height: 4.7523rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-ryxd-pPj {
        margin-left: 0.8rem;
        display: flex;
        align-items: flex-end;

        .icon-facebook-y1j {
          flex-shrink: 0;
          margin: 0rem 0.311rem 0.023rem 0rem;
          width: 2.0895rem;
          height: 2.0766rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-twitter-5aZ {
          margin-right: 0.3102rem;
          width: 2.4898rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-youtube-mTP {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.0051rem;
          height: 2.1rem;
          object-fit: contain;
        }
      }
    }
    .about-us-GQ9 {
      margin: 0rem 9.35rem 3.1rem 0rem;
      text-align: center;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .faq-Zu3 {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 9.65rem 3.1rem 0rem;
      text-align: center;
      line-height: 1.5;
      font-size: 1.4rem;
      font-weight: 600;
      color: #ffffff;
    }
    .contact-gim {
      white-space: nowrap;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 7.3rem 3.1rem 0rem;
      line-height: 1.5;
      flex-shrink: 0;
    }
    .customer-survey-Qem {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3.1rem;
      line-height: 1.5;
      flex-shrink: 0;
    }
  }
  .navbar-shoping-gsB {
    height: 16rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 144rem;

    .group-34377-Ds7 {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-cgam-NV7 {
        margin: 0rem 10.5rem 2rem 8.1rem;
        width: calc(100% - 18.6rem);
        height: 5.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .logo-navbar-Hry {
          border-radius: 1.1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.684rem 1.025rem 0.57rem 1.139rem;
          height: 100%;
          background-color: #ffffff;

          .px-herosupermarket-3-RTP {
            width: 15.0357rem;
            height: 4.446rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-czzt-8sb {
          padding-left: 16.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-34376-FxD {
            margin: 0rem 6.5rem 0.3rem 0rem;
            padding: 1.5rem 1.8rem 1.5rem 2.1rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #20992e;
            flex-shrink: 0;
            box-sizing: border-box;
            cursor: pointer;
            background-color: #e8faf0;
            border-radius: 0.8rem;

            .search-product-m9s {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 20.9rem;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              color: #8b8b8b;
              line-height: 1.5;
              flex-shrink: 0;
            }
            .vector-tEV {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.3rem;
              object-fit: contain;
            }
          }
          .group-34372-nam {
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.4rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
          }
          .my-wishlist-7N9 {
            line-height: 1.3125;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.5rem 0rem;
            max-width: 6.4rem;
            font-size: 1.6rem;
            font-weight: 600;

            .my-wishlist-7N9-sub-0 {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .my-wishlist-7N9-sub-1 {
            }
          }
          .group-34374-rDF {
            margin: 0rem 1rem 0.2rem 0rem;
            width: 4.5rem;
            height: 4.5rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sign-up-or-log-in-af3 {
            flex-shrink: 0;
            margin: 0rem 4.4rem 0.3rem 0rem;
            max-width: 7.1rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #20992e;
            font-family: Inter, 'Source Sans Pro';

            .sign-up-or-log-in-af3-sub-0 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #20992e;
            }
            .sign-up-or-log-in-af3-sub-1 {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .sign-up-or-log-in-af3-sub-2 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-34375-ned {
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:I4:1437;4:1563');
            box-sizing: border-box;
            padding: 0.5rem 1.8rem 0.8rem 1.7rem;
            height: calc(100% - 1.2rem);
            display: flex;
            background-size: cover;
            margin: 0.5rem 0rem 0.7rem 0rem;
            cursor: pointer;
            align-items: center;
            background-position: center;
            flex-shrink: 0;

            .shopping-cart-2-4-6QR {
              margin: 0.2rem 1.1rem 0rem 0rem;
              width: 2.4rem;
              height: 2.4rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              flex-shrink: 0;

              .shopping-cart-2-4-6QR-bg {
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
            .shoppingchart-AfB {
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 5.8rem;
              font-size: 1.6rem;
              font-weight: 600;

              .shoppingchart-AfB-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3333333333;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-AfB-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
              .shoppingchart-AfB-sub-2 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.1428571429;
              }
            }
          }
        }
      }
      .auto-group-jg1o-eTs {
        box-sizing: border-box;
        padding: 0 26.3rem;
        width: 100%;
        height: 5.3rem;
        background-color: #0d7038;
        flex-shrink: 0;

        .group-34382-na5 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .promo-whs {
            margin: 0.1rem 3.5rem 0rem 0rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-weight: 500;
            white-space: nowrap;
          }
          .frame-34403-rZw {
            height: 100%;
            cursor: pointer;
            background-color: #0d7038;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0.7rem 1.4rem 1.3rem;
            width: 17.1rem;

            .group-34379-B6R {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .produk-segar-LED {
                flex-shrink: 0;
                margin-right: 1rem;
                text-align: center;
                white-space: nowrap;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .drop-down-F6H {
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-zaxz-yny {
            column-gap: 4.8rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 0rem 1.4rem 3.4rem;
            height: 100%;
            display: flex;

            .group-34378-hU5 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;

              .bahan-masak-rrm {
                margin-right: 0.3rem;
                font-weight: 500;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .drop-down-N4R {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
              }
            }
            .group-34380-Vuj {
              height: 100%;
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .susu-produk-beku-3gM {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .drop-down-msF {
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
                object-fit: contain;
              }
            }
            .group-34381-KNy {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;

              .snack-svH {
                font-weight: 500;
                line-height: 1.5;
                flex-shrink: 0;
                margin-right: 0.2rem;
                font-size: 1.6rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                color: #ffffff;
              }
              .drop-down-DDT {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2rem;
                height: 2.4rem;
                position: relative;
              }
            }
            .brands-kDP {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .category-dan-sub-GBj {
    position: absolute;
    left: 13.3rem;
    top: 69.6rem;
    width: 16rem;
    height: 14.8rem;

    .category-PXF {
      color: #6f6f6f;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 1.3rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
    }
    .frame-34452-7TF {
      row-gap: 1rem;
      display: flex;
      flex-direction: column;
      margin-left: 1.7rem;
      width: 14.3rem;

      .sayur-SEd {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #3f3f3f;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .jamur-kecambah-yEZ {
        width: 100%;
        justify-content: center;
        font-weight: 500;
        line-height: 1.5;
        color: #3f3f3f;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tahu-fermentasi-hAZ {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
        color: #3f3f3f;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
      }
      .buah-fermentasi-2Tj {
        width: 100%;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #3f3f3f;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .frame-34453-mAR {
    position: absolute;
    left: 44.3rem;
    top: 67.5rem;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    width: 29rem;
    height: 2.1rem;

    .home-sz9 {
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      color: #20992e;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: 500;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
    .vuesax-linear-arrow-up-cRw {
      width: 1.3rem;
      height: 1.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .produk-segar-kY9 {
      flex-shrink: 0;
      font-size: 1.4rem;
      line-height: 1.5;
      white-space: nowrap;
      font-weight: 500;
      color: #8b8b8b;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .vuesax-linear-arrow-up-5aR {
      width: 1.3rem;
      height: 1.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .sayur-buah-pY1 {
      display: flex;
      justify-content: center;
      font-weight: 500;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      font-size: 1.4rem;
      color: #8b8b8b;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .frame-34450-kAm {
    width: 82.7rem;
    height: 32.7rem;
    position: absolute;
    left: 44.2rem;
    top: 72.3rem;
    display: flex;
    column-gap: 4.1rem;
    align-items: center;

    .barang-G97 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      height: 100%;
      overflow: hidden;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 1.4rem;
      width: 17.6rem;
      position: relative;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);

      .auto-group-vn8h-NT3 {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-7Qd {
          left: 0;
          background-position: -5.9492rem -12.5272rem;
          border-radius: 1rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          top: 0;
          background-size: 177.876% 255.814%;
        }
        .image-80-PN9 {
          background-position: 0 0;
          width: 15.6rem;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          height: 15.1rem;
          position: relative;
          left: 0;
        }
      }
      .group-34423-t41 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;

        .auto-group-eljd-owf {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;

          .peachy-apple-puree-110-gr-x3s {
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            flex-shrink: 0;
            font-weight: 500;
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.5rem;
          }
          .code-098642791289-r9F {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            flex-shrink: 0;
          }
          .rp-35500-Afj {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-g4c1-JG9 {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-FBP {
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-yqqy-N17 {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-h3P {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-h3P-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-6rD {
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      height: 100%;
      position: relative;
      display: flex;
      border-radius: 1.4rem;
      box-sizing: border-box;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      flex-shrink: 0;

      .auto-group-jysp-pnD {
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;

        .card-example-4jpeg-A5P {
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-Eqw {
          width: 15.6rem;
          position: relative;
          border-radius: 1rem;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          height: 15.1rem;
          left: 0;
          top: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
        }
      }
      .group-34423-YLq {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-xm2z-fgM {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;

          .peachy-apple-puree-110-gr-CwB {
            color: #7e7e7e;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
          }
          .code-098642791289-hsw {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            line-height: 1.5;
            color: #b2b2b2;
            margin-bottom: 0.6rem;
            font-weight: 500;
          }
          .rp-35500-29X {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .auto-group-vglh-Ydf {
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-JMw {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-k2ks-pr5 {
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;

            .shopping-cart-2-4-ZHs {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-ZHs-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-yMb {
      display: flex;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      border-radius: 1.4rem;
      height: 100%;
      position: relative;
      align-items: center;
      overflow: hidden;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;

      .auto-group-nd9t-6SD {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-F4D {
          height: 15.1rem;
          position: relative;
          left: 0;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          top: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-jEH {
          border-radius: 1rem;
          position: relative;
          top: 0;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          width: 15.6rem;
          height: 15.1rem;
          left: 0;
          background-size: 100% 188.542%;
        }
      }
      .group-34423-1Bo {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;

        .auto-group-fau1-8nD {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;

          .peachy-apple-puree-110-gr-5SZ {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            line-height: 1.0714285714;
          }
          .code-098642791289-nLy {
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
          }
          .rp-35500-5qs {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-yvcm-pHf {
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;

          .icon-heart-9z9 {
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
          }
          .auto-group-w3pp-s9T {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-nnD {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-nnD-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-1ey {
      border-radius: 1.4rem;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 17.6rem;
      height: 100%;
      overflow: hidden;

      .auto-group-wdsh-8Do {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;

        .card-example-4jpeg-593 {
          left: 0;
          top: 0;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          background-size: 177.876% 255.814%;
        }
        .image-80-AAV {
          background-position: 0 0;
          border-radius: 1rem;
          width: 15.6rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          height: 15.1rem;
        }
      }
      .group-34423-f7F {
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;

        .auto-group-3cjd-BbP {
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .peachy-apple-puree-110-gr-7jw {
            max-width: 10.6rem;
            font-size: 1.4rem;
            letter-spacing: 0.07rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            line-height: 1.0714285714;
            color: #7e7e7e;
            font-weight: 500;
          }
          .code-098642791289-cgh {
            font-size: 1rem;
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #b2b2b2;
            flex-shrink: 0;
          }
          .rp-35500-8f3 {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .auto-group-rupu-fus {
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .icon-heart-Re9 {
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-u4ho-9KF {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;

            .shopping-cart-2-4-Gem {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-Gem-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
  }
  .frame-34454-Ukq {
    display: flex;
    column-gap: 4.1rem;
    align-items: center;
    width: 82.7rem;
    height: 32.7rem;
    position: absolute;
    left: 44.2rem;
    top: 107.7rem;

    .barang-o2R {
      box-sizing: border-box;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      border-radius: 1.4rem;
      width: 17.6rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      flex-shrink: 0;

      .auto-group-eddk-v73 {
        width: 100%;
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;

        .card-example-4jpeg-rWV {
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          left: 0;
          top: 0;
          position: relative;
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
        }
        .image-80-wH3 {
          left: 0;
          background-position: 0 0;
          width: 15.6rem;
          position: relative;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          height: 15.1rem;
        }
      }
      .group-34423-Xm3 {
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;

        .auto-group-ycl9-SND {
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .peachy-apple-puree-110-gr-nBB {
            max-width: 10.6rem;
            line-height: 1.0714285714;
            letter-spacing: 0.07rem;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: #7e7e7e;
            flex-shrink: 0;
          }
          .code-098642791289-HNq {
            margin-bottom: 0.6rem;
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 500;
            color: #b2b2b2;
            flex-shrink: 0;
          }
          .rp-35500-1Jq {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-pwcr-jkd {
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .icon-heart-hBf {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-c4uq-DQu {
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;

            .shopping-cart-2-4-93f {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-93f-bg {
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
              }
            }
          }
        }
      }
    }
    .barang-m53 {
      box-sizing: border-box;
      position: relative;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      border-radius: 1.4rem;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      height: 100%;
      overflow: hidden;
      display: flex;

      .auto-group-ht1b-gSu {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;

        .card-example-4jpeg-RfP {
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          left: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          position: relative;
          top: 0;
        }
        .image-80-JUH {
          left: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          width: 15.6rem;
          height: 15.1rem;
          position: relative;
          top: 0;
          border-radius: 1rem;
        }
      }
      .group-34423-ovq {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-j3vb-9E1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;

          .peachy-apple-puree-110-gr-Hb7 {
            color: #7e7e7e;
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-weight: 500;
            letter-spacing: 0.07rem;
          }
          .code-098642791289-Q9w {
            font-size: 1rem;
            line-height: 1.5;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.6rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rp-35500-KXo {
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        .auto-group-g9eh-f5s {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;

          .icon-heart-oxm {
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
          }
          .auto-group-dhw7-wJH {
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;

            .shopping-cart-2-4-U3K {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-U3K-bg {
                width: 1.9rem;
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              }
            }
          }
        }
      }
    }
    .barang-hAy {
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      box-sizing: border-box;
      width: 17.6rem;
      background-color: #ffffff;
      border-radius: 1.4rem;
      flex-shrink: 0;
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      flex-direction: column;

      .auto-group-5uqp-DQD {
        height: 15.1rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;

        .card-example-4jpeg-kuw {
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          top: 0;
          background-position: -5.9492rem -12.5272rem;
          left: 0;
          background-size: 177.876% 255.814%;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
        }
        .image-80-dyj {
          width: 15.6rem;
          height: 15.1rem;
          left: 0;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          border-radius: 1rem;
          position: relative;
          top: 0;
          background-size: 100% 188.542%;
          background-position: 0 0;
        }
      }
      .group-34423-k2m {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;

        .auto-group-9gwm-Txm {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;

          .peachy-apple-puree-110-gr-QND {
            letter-spacing: 0.07rem;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            max-width: 10.6rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.0714285714;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
          }
          .code-098642791289-ido {
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5;
            color: #b2b2b2;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
          }
          .rp-35500-qCd {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-zand-mc5 {
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;
          display: flex;
          align-items: center;

          .icon-heart-XLM {
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-ojwr-r7j {
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;
            width: 7.4rem;
            height: 100%;

            .shopping-cart-2-4-Nrm {
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

              .shopping-cart-2-4-Nrm-bg {
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
              }
            }
          }
        }
      }
    }
    .barang-zt9 {
      padding: 1rem 0.9rem 1.4rem 1.1rem;
      width: 17.6rem;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3000000119), 0 0.2rem 3rem rgba(0, 0, 0, 0.0799999982), 0 0 1.5rem rgba(0, 0, 0, 0.0299999993);
      background-color: #ffffff;
      border-radius: 1.4rem;
      box-sizing: border-box;
      flex-shrink: 0;
      overflow: hidden;
      position: relative;
      align-items: center;
      height: 100%;

      .auto-group-dvau-iZF {
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 15.1rem;
        position: relative;

        .card-example-4jpeg-rvM {
          top: 0;
          background-image: url('REPLACE_IMAGE:fd6a9b97a893fd1733e966a55402d24c214591b7');
          border-radius: 1rem;
          width: 15.5rem;
          height: 15.1rem;
          position: relative;
          left: 0;
          background-size: 177.876% 255.814%;
          background-position: -5.9492rem -12.5272rem;
        }
        .image-80-kF3 {
          height: 15.1rem;
          top: 0;
          background-size: 100% 188.542%;
          background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
          width: 15.6rem;
          left: 0;
          background-position: 0 0;
          border-radius: 1rem;
          position: relative;
        }
      }
      .group-34423-erD {
        margin: 0rem 0.4rem 0rem 1.1rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-xjht-nBj {
          padding-bottom: 1.7rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .peachy-apple-puree-110-gr-vHw {
            max-width: 10.6rem;
            font-size: 1.4rem;
            line-height: 1.0714285714;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-weight: 500;
            letter-spacing: 0.07rem;
            color: #7e7e7e;
            font-family: Poppins, 'Source Sans Pro';
          }
          .code-098642791289-EJd {
            margin-bottom: 0.6rem;
            letter-spacing: 0.05rem;
            color: #b2b2b2;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .rp-35500-k25 {
            line-height: 1.5;
            letter-spacing: 0.08rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
        .auto-group-js3t-s6h {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 2.4rem;

          .icon-heart-DAZ {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.972rem 0.06rem 0rem;
            width: 1.728rem;
            height: 1.5399rem;
            object-fit: contain;
          }
          .auto-group-spjp-wMT {
            width: 7.4rem;
            height: 100%;
            background-color: #20992e;
            border-radius: 0.3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.2rem 2.9rem 0.3rem 2.6rem;

            .shopping-cart-2-4-GPj {
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
              width: 100%;
              height: 1.9rem;
              background-size: 100% 100%;

              .shopping-cart-2-4-GPj-bg {
                height: 1.9rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                width: 1.9rem;
              }
            }
          }
        }
      }
    }
  }
  .group-34448-H3w {
    position: absolute;
    left: 54rem;
    top: 151.5rem;
    display: flex;
    align-items: center;
    width: 35.9rem;
    height: 5.1rem;

    .vuesax-linear-arrow-circle-right-c6D {
      margin: 0rem 2.7rem 0.1rem 0rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-34455-84Z {
      height: calc(100% - 2.3rem);
      display: flex;
      column-gap: 3.7rem;
      align-items: center;
      flex-shrink: 0;
      margin: 1.3rem 2.3rem 1rem 0rem;

      .item-1-qUm {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .item-2-mdK {
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-3-7BP {
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--FYV {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .item-10-zky {
        line-height: 1.5555555556;
        color: #909090;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .vuesax-linear-arrow-circle-right-wgD {
      margin-top: 0.1rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .sub-kategori-GiV {
    position: absolute;
    left: 44.2rem;
    top: 62.1rem;
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    width: 38.7rem;
    height: 2.3rem;

    .produk-segar-nwj {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4d4f56;
      font-family: Poppins, 'Source Sans Pro';
    }
    .sayur-buah-vo3 {
      color: #20992e;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .daging-seafood-4uF {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4d4f56;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
