
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.category-snack-SFT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #e3f7ca;

  .menu-admin-Zay {
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 156.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5rem 3.8rem 19.458rem 2.9rem;
    width: 30rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    flex-shrink: 0;

    .logo-navbar-ecR {
      margin: 0rem 4.5rem 8.2rem 0rem;
      box-sizing: border-box;
      padding: 0.66rem 1.121rem 0.55rem 1.245rem;
      background-color: #ffffff;
      border-radius: 1.1rem;
      flex-shrink: 0;

      .px-herosupermarket-3-mBF {
        width: 16.4344rem;
        height: 4.29rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-cq9b-4w3 {
      margin: 0rem 0rem 7.2rem 0.9rem;
      width: 22.4rem;
      height: 37.5rem;
      position: relative;
      flex-shrink: 0;

      .grup-tombol-Bkm {
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 22.4rem;
        height: 23.3rem;
        position: absolute;

        .auto-group-tkx3-vTT {
          font-size: 1.8rem;
          line-height: 1.2125;
          justify-content: center;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          color: #052814;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          background-color: #ffffff;
          border-radius: 1rem;
          text-align: center;
          white-space: nowrap;
          display: flex;
          margin-bottom: 3.3rem;
          width: 100%;
          height: 5.1rem;
          font-weight: 600;
          box-sizing: border-box;
        }
        .group-34309-a2D {
          box-sizing: border-box;
          padding: 1.1rem 4.774rem 1.8rem 7.1rem;
          width: 100%;
          border: solid 0.1rem #052814;
          flex-shrink: 0;
          margin-bottom: 4.7rem;
          display: flex;
          align-items: center;
          background-color: #052814;
          border-radius: 1rem;

          .category-tHo {
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.7rem;
            text-align: center;
            font-weight: 600;
            line-height: 1.2125;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .vector-D5B {
            flex-shrink: 0;
            margin-top: 0.5775rem;
            width: 1.6258rem;
            height: 0.7775rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.2859rem;
          }
        }
        .group-34310-6em {
          width: 100%;
          height: 5.1rem;
          flex-shrink: 0;
        }
      }
      .group-34361-LJD {
        flex-direction: column;
        width: 18rem;
        height: 21rem;
        position: absolute;
        left: 1.5rem;
        top: 16.5rem;
        row-gap: 1.8rem;
        display: flex;

        .promo-qkm {
          font-weight: 600;
          font-size: 1.6rem;
          cursor: pointer;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
        }
        .produk-segar-Mz1 {
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
          width: 100%;
          font-weight: 600;
        }
        .bahan-masak-JPT {
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;
          font-weight: 600;
          line-height: 1.2125;
          text-align: center;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .susu-dan-produk-segar-Enu {
          width: 100%;
          line-height: 1.2125;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 600;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .snack-n3j {
          text-align: center;
          font-weight: 600;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          font-size: 1.6rem;
          line-height: 1.2125;
          color: #000000;
        }
        .kesehatan-7bo {
          width: 100%;
          cursor: pointer;
          font-weight: 600;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-qzzh-FCD {
      flex-shrink: 0;
      margin: 0rem 0rem 64.748rem 0.9rem;
      width: calc(100% - 0.9rem);
      display: flex;
      border-radius: 1rem;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1rem 4.474rem 1.9rem 8.35rem;
      align-items: center;
      border: solid 0.1rem #000000;

      .histori-irV {
        font-size: 1.8rem;
        font-weight: 600;
        color: #052814;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.15rem;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .vector-49f {
        border-radius: 0.2859rem;
        flex-shrink: 0;
        margin-top: 0.1779rem;
        width: 1.6258rem;
        height: 0.7775rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-bhqb-wjF {
      flex-shrink: 0;
      margin: 0rem 11.5rem 0rem 0.9rem;
      width: calc(100% - 12.4rem);
      display: flex;
      align-items: flex-start;

      .icon-account-logout-UjB {
        height: 3.166rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.627rem 1.476rem 0rem 0rem;
        width: 2.5242rem;
      }
      .log-out-bJ1 {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .auto-group-1y6u-Usb {
    box-sizing: border-box;
    padding: 4.2rem 2.9rem 6rem 6.2rem;
    height: 140.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-9uim-CHo {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 15.9rem 10.5rem 0rem 0rem;
      width: 16.9rem;
      row-gap: 6.9rem;

      .kategori-admin-4au {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-fid7-Pt5 {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 0.4rem 1.4rem 0.6rem 1.3rem;

          .istockphoto-496689738-612x612-1-Wxh {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-SLZ {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 11.4rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .auto-group-v4bb-7Sh {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
        }
      }
      .kategori-admin-3r9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .auto-group-xrzt-1HB {
          display: flex;
          background-color: #ffffff;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          flex-direction: column;

          .istockphoto-1173552196-612x612-4-L4Z {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
          }
          .sayur-FSR {
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
          }
        }
        .auto-group-gnjb-ZCD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
        }
      }
      .kategori-admin-6hw {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-zahw-4Ps {
          padding: 0.8rem 1.2rem 1.7rem 1.5rem;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          flex-direction: column;

          .istockphoto-1173552196-612x612-6-BzH {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
          }
          .sayur-Wmf {
            margin-right: 0.4rem;
            font-weight: 600;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-gvch-Qs3 {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-kR7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .auto-group-my6m-JhX {
          box-sizing: border-box;
          padding: 0.8rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          align-items: center;
          margin-bottom: 2.5rem;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;

          .istockphoto-1173552196-612x612-8-SHw {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
          }
          .sayur-ZNZ {
            white-space: nowrap;
            margin-left: 0.1rem;
            font-size: 1.5rem;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            text-align: center;
            font-weight: 600;
            flex-shrink: 0;
          }
        }
        .auto-group-agim-eeu {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-njdf-PcV {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 15.9rem 10.5rem 0rem 0rem;
      width: 16.9rem;
      row-gap: 6.9rem;

      .kategori-admin-uqj {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .auto-group-2wgd-GwB {
          box-sizing: border-box;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          align-items: center;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          width: 100%;

          .istockphoto-167439679-612x612-1-185 {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-wGd {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
            margin-left: 0.1rem;
            text-align: center;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-nvbw-2Yy {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-M5T {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .auto-group-vd5b-74d {
          padding: 1.5rem 1.4rem 1.6rem 1.3rem;
          flex-direction: column;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          width: 100%;
          align-items: center;

          .istockphoto-1173552196-612x612-3-2SV {
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.2rem;
          }
          .sayur-xL9 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
          }
        }
        .auto-group-zy93-G5w {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-CEV {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-mom3-m2h {
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          width: 100%;
          background-color: #ffffff;
          border-radius: 2.5rem;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .istockphoto-1173552196-612x612-7-J2d {
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .sayur-Rsw {
            margin-left: 0.1rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.5;
            color: #000000;
            white-space: nowrap;
          }
        }
        .auto-group-qyzx-vZo {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-TZj {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-kmqm-RFf {
          width: 100%;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          align-items: center;
          border-radius: 2.5rem;
          flex-shrink: 0;

          .istockphoto-1173552196-612x612-10-wzh {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
          }
          .sayur-Gn5 {
            margin-left: 0.1rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            color: #000000;
            flex-shrink: 0;
          }
        }
        .auto-group-q7ud-a25 {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
        }
      }
    }
    .auto-group-xgp9-ua9 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.243rem 2.3rem 0rem 0rem;
      width: 18rem;
      align-items: flex-end;

      .auto-group-snmp-RHb {
        margin: 0rem 1.085rem 11.128rem 10.3rem;
        width: calc(100% - 11.385rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-envelope-closed-YND {
          height: 1.6955rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.061rem 2.352rem 0rem 0rem;
          width: 2.2484rem;
        }
        .icon-bell-TVB {
          width: 2.015rem;
          height: 2.529rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-bbP {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.1rem 6.9rem 0rem;
        width: 16.9rem;

        .auto-group-liem-vdf {
          display: flex;
          flex-direction: column;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 0.4rem 1.4rem 0.6rem 1.3rem;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .istockphoto-477465488-612x612-1-T7o {
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .biskuit-cookies-crackres-ybw {
            margin-left: 0.1rem;
            line-height: 1.5;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 12.7rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: #000000;
          }
        }
        .auto-group-wsxf-SkR {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-Pff {
        margin: 0rem 1.1rem 6.9rem 0rem;
        width: 16.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dewd-v9o {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          background-color: #ffffff;
          border-radius: 2.5rem;
          width: 100%;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .istockphoto-1173552196-612x612-5-ebb {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
          }
          .sayur-BbX {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-cp8d-tkq {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
        }
      }
      .kategori-admin-SXT {
        margin-bottom: 6.9rem;
        width: 16.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-9gnm-nrD {
          border-radius: 2.5rem;
          box-sizing: border-box;
          padding: 1.5rem 1rem 1.7rem 1rem;
          align-items: center;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          margin-bottom: 2.5rem;
          width: 100%;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;

          .istockphoto-1173552196-612x612-9-XJ1 {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 14.2rem;
            height: 11.8rem;
            object-fit: cover;
          }
          .sayur-eNd {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .auto-group-krff-9qB {
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .kategori-admin-6kR {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 16.9rem;

        .auto-group-gyah-T5B {
          padding: 1.5rem 1.4rem 1.7rem 1.3rem;
          display: flex;
          flex-shrink: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 2.5rem;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          flex-direction: column;

          .istockphoto-1173552196-612x612-10-BWy {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.2rem;
            height: 11.8rem;
          }
          .sayur-7vR {
            text-align: center;
            font-size: 1.5rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-weight: 600;
            line-height: 1.5;
            white-space: nowrap;
          }
        }
        .auto-group-kjjz-1W1 {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.9rem;
          height: 3.6rem;
          object-fit: contain;
        }
      }
    }
    .line-120-Ykq {
      flex-shrink: 0;
      margin: 1.3rem 3.1rem 0rem 0rem;
      width: 0.1rem;
      height: 4.9rem;
      background-color: #052814;
    }
    .auto-group-z513-fqT {
      width: 26.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-kmut-RZj {
        width: 100%;
        height: 7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-4-aSd {
          margin-right: 1.8rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:0eedeec74139c91def18b72c7cc5f716dc37c01b');
          flex-shrink: 0;
          width: 7rem;
          height: 7rem;
          background-position: center;
          border-radius: 3.5rem;
        }
        .auto-group-p8v7-tiD {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.8rem 0rem 1.2rem 0rem;
          height: calc(100% - 2rem);
          align-items: center;
          display: flex;

          .hello-good-morning-dA1 {
            margin-bottom: 0.6rem;
            font-size: 1.8rem;
            font-weight: 600;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            line-height: 1.2125;
            color: #052814;
            font-family: Inter, 'Source Sans Pro';
          }
          .xaviera-porsh-9PF {
            font-size: 1.8rem;
            font-weight: 600;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.5rem;
            text-align: center;
            line-height: 1.2125;
            color: #052814;
          }
        }
      }
      .auto-group-wehf-sa9 {
        width: 100%;
        row-gap: 6.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 8.9rem 5.8rem 0rem 3.9rem;

        .kategori-admin-Q4H {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-wxst-AZF {
            flex-direction: column;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 2.5rem;
            width: 100%;
            align-items: center;
            background-color: #ffffff;
            border-radius: 2.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.5rem 1.4rem 1.7rem 1.3rem;
            display: flex;

            .auto-group-svjv-hZB {
              width: 100%;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:096d965223170021b104238414f6977166ca4851');
              border-radius: 1rem;
              flex-shrink: 0;

              .istockphoto-1173552196-612x612-2-fW1 {
                vertical-align: top;
                border-radius: 1rem;
                width: 14.2rem;
                height: 11.8rem;
                object-fit: cover;
              }
            }
            .sayur-NfK {
              font-size: 1.5rem;
              font-weight: 600;
              color: #000000;
              white-space: nowrap;
              margin-left: 0.1rem;
              text-align: center;
              flex-shrink: 0;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .auto-group-xgnm-SfB {
            width: 3.9rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .kategori-admin-Noj {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-fwzh-LVf {
            box-sizing: border-box;
            padding: 1.7rem 1.4rem 1.5rem 1.3rem;
            flex-direction: column;
            border-radius: 2.5rem;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            width: 100%;
            align-items: center;
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;

            .istockphoto-1173552196-612x612-6-TaH {
              width: 14.2rem;
              height: 11.8rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .buah-kering-zKK {
              margin-left: 0.1rem;
              text-align: center;
              line-height: 1.5;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 600;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-yjk3-5rZ {
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.9rem;
          }
        }
        .kategori-admin-pp9 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-gllh-Beh {
            padding: 1.5rem 1.4rem 1.7rem 1.3rem;
            width: 100%;
            background-color: #ffffff;
            border-radius: 2.5rem;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;

            .istockphoto-1173552196-612x612-3-7YM {
              border-radius: 1rem;
              flex-shrink: 0;
              width: 14.2rem;
              height: 11.8rem;
              object-fit: cover;
              vertical-align: top;
            }
            .sayur-e2V {
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .auto-group-rtmo-Ydf {
            width: 3.9rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
