
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.checkout-pilih-pembayaran-qwF {
  width: 100%;
  height: 100.1rem;
  background-color: #ffffff;

  .background-NRP {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100% 100%;

    .putih-atas-pattern-X3P {
      object-fit: cover;
      vertical-align: top;
      width: 123rem;
      height: 100.1rem;
      position: absolute;
      left: 10.5rem;
      top: 0;
    }
    .footer-FEH {
      width: 144rem;
      top: 84.1rem;
      align-items: center;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
      display: flex;
      box-sizing: border-box;
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      height: 16rem;
      position: absolute;
      left: 0;

      .auto-group-1mpm-7XP {
        margin-right: 41.1rem;
        width: 18.4rem;
        height: 100%;
        flex-shrink: 0;

        .group-20-SJm {
          margin-bottom: 0.8073rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;
          background-color: #ffffff;
          border-radius: 1.1rem;

          .px-herosupermarket-3-ZuB {
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-e6xt-fSR {
          margin-left: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon-facebook-Qeu {
            margin: 0rem 0.311rem 0.023rem 0rem;
            width: 2.0895rem;
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-twitter-L2m {
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-youtube-1eh {
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.0051rem;
          }
        }
      }
      .about-us-ZAR {
        font-size: 1.4rem;
        white-space: nowrap;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 9.35rem 3.1rem 0rem;
        text-align: center;
      }
      .faq-GKj {
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 9.65rem 3.1rem 0rem;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
      }
      .contact-PQM {
        flex-shrink: 0;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.5;
        color: #ffffff;
        margin: 0rem 7.3rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
      }
      .customer-survey-Wzm {
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 3.1rem;
        color: #ffffff;
      }
    }
    .navbar-shoping-aUq {
      padding-top: 3rem;
      width: 144rem;
      height: 16rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      box-sizing: border-box;

      .group-34377-hJZ {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .auto-group-ubcd-rBT {
          width: calc(100% - 18.6rem);
          height: 5.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 10.5rem 2rem 8.1rem;

          .logo-navbar-mpD {
            background-color: #ffffff;
            border-radius: 1.1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.684rem 1.025rem 0.57rem 1.139rem;
            height: 100%;
            cursor: pointer;

            .px-herosupermarket-3-7dB {
              width: 15.0357rem;
              height: 4.446rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-k63b-313 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 16.1rem;
            height: 100%;

            .group-34376-B7F {
              align-items: center;
              border: solid 0.1rem #20992e;
              padding: 1.5rem 1.8rem 1.5rem 2.1rem;
              cursor: pointer;
              display: flex;
              background-color: #e8faf0;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin: 0rem 6.5rem 0.3rem 0rem;
              box-sizing: border-box;

              .search-product-djw {
                margin-right: 20.9rem;
                text-align: center;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                color: #8b8b8b;
              }
              .vector-Yc1 {
                height: 2.3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.1rem;
                width: 2.3rem;
              }
            }
            .group-34372-FFX {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.4rem 0rem;
              width: 4.5rem;
              height: 4.5rem;
              cursor: pointer;
            }
            .my-wishlist-kxy {
              font-weight: 600;
              line-height: 1.3125;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 4.4rem 0.5rem 0rem;
              max-width: 6.4rem;
              font-size: 1.6rem;

              .my-wishlist-kxy-sub-0 {
                font-weight: 400;
                line-height: 1.5;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
              }
              .my-wishlist-kxy-sub-1 {
              }
            }
            .group-34374-6QZ {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.2rem 0rem;
              width: 4.5rem;
              height: 4.5rem;
              cursor: pointer;
            }
            .sign-up-or-log-in-Qg9 {
              font-size: 1.4rem;
              color: #20992e;
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 6.4rem 0.3rem 0rem;
              max-width: 5.1rem;
              cursor: pointer;
              font-weight: 500;
              line-height: 1.5;
              flex-shrink: 0;

              .sign-up-or-log-in-Qg9-sub-0 {
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .sign-up-or-log-in-Qg9-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.3125;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .group-34375-uFX {
              background-size: cover;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:I4:4559;4:1563');
              flex-shrink: 0;
              margin: 0.5rem 0rem 0.7rem 0rem;
              padding: 0.5rem 1.8rem 0.8rem 1.7rem;
              height: calc(100% - 1.2rem);
              display: flex;
              box-sizing: border-box;
              align-items: center;
              background-position: center;

              .shopping-cart-2-4-naD {
                flex-shrink: 0;
                margin: 0.2rem 1.1rem 0rem 0rem;
                width: 2.4rem;
                height: 2.4rem;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');

                .shopping-cart-2-4-naD-bg {
                  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                  width: 2.4rem;
                  height: 2.4rem;
                  position: relative;
                }
              }
              .shoppingchart-SPs {
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 5.8rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;

                .shoppingchart-SPs-sub-0 {
                  line-height: 1.3333333333;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                }
                .shoppingchart-SPs-sub-1 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1;
                  color: #20992e;
                }
                .shoppingchart-SPs-sub-2 {
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.1428571429;
                }
              }
            }
          }
        }
        .auto-group-d2rm-2Fb {
          box-sizing: border-box;
          padding: 0 26.3rem;
          width: 100%;
          height: 5.3rem;
          background-color: #0d7038;
          flex-shrink: 0;

          .group-34382-khP {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .promo-WRf {
              margin: 0.1rem 3.5rem 0rem 0rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              color: #ffffff;
              flex-shrink: 0;
            }
            .frame-34403-2uo {
              width: 17.1rem;
              height: 100%;
              cursor: pointer;
              background-color: #0d7038;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 0.7rem 1.4rem 1.3rem;

              .group-34379-AFK {
                align-items: center;
                width: 100%;
                height: 100%;
                display: flex;

                .produk-segar-ind {
                  color: #ffffff;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  font-weight: 500;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 1rem;
                  text-align: center;
                }
                .drop-down-QvM {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .auto-group-pjkm-L3K {
              height: 100%;
              display: flex;
              column-gap: 4.8rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 0rem 1.4rem 3.4rem;

              .group-34378-3yK {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .bahan-masak-pDP {
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 0.3rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  text-align: center;
                  white-space: nowrap;
                }
                .drop-down-x4h {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .group-34380-JeM {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .susu-produk-beku-4dX {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                }
                .drop-down-Xn1 {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-34381-guo {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .snack-erd {
                  flex-shrink: 0;
                  margin-right: 0.2rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                  text-align: center;
                  font-size: 1.6rem;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .drop-down-kem {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .brands-tW5 {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .group-34512-CFs {
      width: 69.6rem;
      height: 42.3rem;
      position: absolute;
      left: 16.05rem;
      top: 23.5rem;

      .checkout-vBs {
        color: #5a5c62;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-weight: 700;
        line-height: 1.2125;
        margin-bottom: 2.8rem;
        font-size: 2.8rem;
        letter-spacing: 0.056rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .alamat-pengiriman-Dgm {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.028rem;
        color: #5a5c62;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.9rem;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .vector-97-8Hw {
        object-fit: contain;
        vertical-align: top;
        margin: 0rem 0rem 1.85rem 0.45rem;
        width: 69.05rem;
        height: 0;
      }
      .frame-34474-qTF {
        margin: 0rem 0rem 1.9rem 0.45rem;
        display: flex;
        flex-direction: column;

        .shofie-cilia-mrh {
          margin-bottom: 0.25rem;
          font-weight: 600;
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          font-size: 1.6rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-621235656567-5sP {
          line-height: 1.2125;
          white-space: nowrap;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          display: flex;
          font-size: 1.4rem;
        }
        .jl-buaya-darat-12-kebumen-CBK {
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .vector-96-84y {
        object-fit: contain;
        vertical-align: top;
        margin: 0rem 0rem 1.9rem 0.45rem;
        width: 69.05rem;
        height: 0;
      }
      .auto-group-qrkq-U8q {
        margin: 0rem 0rem 4.2rem 0.05rem;
        width: calc(100% - 0.05rem);
        height: 11.8rem;
        display: flex;
        align-items: center;

        .group-34506-oB7 {
          margin-right: 33rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .image-81-jKf {
            margin-right: 1.1rem;
            height: 11.8rem;
            position: relative;
            background-position: 0 0;
            border-radius: 1rem;
            width: 12.2rem;
            background-size: 100% 188.542%;
            background-image: url('REPLACE_IMAGE:543c4bc1c6f0cc2e4c2386d92a8c75f14bcd8c14');
            flex-shrink: 0;
          }
          .auto-group-e9zq-o4d {
            margin-top: 0.5rem;
            width: 14.3rem;
            flex-shrink: 0;

            .frame-34479-Ynu {
              margin-bottom: 2.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .telur-ayam-kampung-hvh {
                line-height: 1.5;
                color: #5a5c62;
                font-family: Poppins, 'Source Sans Pro';
                margin-bottom: 0.4rem;
                font-size: 1.3rem;
                font-weight: 500;
                display: flex;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .pcs-3Ds {
                display: flex;
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.5;
                color: #5a5c62;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .rp-16900-NG9 {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
        }
        .group-34507-uWy {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2rem 0rem 5.2rem 0rem;
          width: 8.95rem;
          height: calc(100% - 7.2rem);
          align-items: flex-end;

          .total-produk-SWu {
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #5a5c62;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 0.028rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .x1-wCm {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            letter-spacing: 0.028rem;
            flex-shrink: 0;
            line-height: 1.2125;
          }
        }
      }
      .vector-95-UCh {
        vertical-align: top;
        margin: 0rem 0rem 2.9rem 0.45rem;
        width: 69.05rem;
        height: 0;
        object-fit: contain;
      }
      .auto-group-s2hw-1yK {
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;
        margin: 0 0.05rem;

        .subtotal-kAD {
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 57.6rem;
          display: flex;
          font-size: 1.3rem;
          white-space: nowrap;
        }
        .rp-16900-Uru {
          display: flex;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-34511-oPP {
      display: flex;
      border: solid 0.05rem #5a5c62;
      background-color: #ffffff;
      border-radius: 0.7rem;
      height: 22.2rem;
      position: absolute;
      top: 33.1rem;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1.9rem 1.5rem 1.6rem 1.85rem;
      width: 35.8rem;
      left: 92.1rem;

      .group-34510-4aD {
        margin: 0rem 0.1rem 1.9rem 0rem;
        width: 32.35rem;
        flex-shrink: 0;

        .ringkasan-belanja-1EZ {
          width: 100%;
          text-align: center;
          color: #5a5c62;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.2rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2125;
          letter-spacing: 0.028rem;
        }
        .auto-group-cup9-JjT {
          align-items: center;
          width: 100%;
          display: flex;

          .total-harga-1-produk-UP3 {
            letter-spacing: 0.028rem;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 10.15rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rp16800-CK3 {
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            color: #5a5c62;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.2125;
            letter-spacing: 0.028rem;
          }
        }
      }
      .vector-98-jJy {
        margin: 0rem 0rem 1.7rem 0.15rem;
        width: 32.1rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-34509-reV {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.15rem 2.4rem 0.05rem;
        width: calc(100% - 0.2rem);
        display: flex;

        .total-belanja-oJq {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          margin-right: 20.7rem;
          letter-spacing: 0.032rem;
        }
        .vector-99-6Hw {
          margin-top: 0.1rem;
          width: 1.05rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-34508-cn5 {
        margin-left: 0.15rem;
        height: 5.1rem;
        text-align: center;
        line-height: 1.2125;
        align-items: center;
        border-radius: 0.9rem;
        width: 32.3rem;
        white-space: nowrap;
        display: flex;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        background-color: #4aac55;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.032rem;
        justify-content: center;
        flex-shrink: 0;
      }
    }
  }
}
