
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.drop-down-category-KfF {
  box-sizing: border-box;
  padding-right: 2.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e3f7ca;

  .menu-admin-qNh {
    box-sizing: border-box;
    height: 90rem;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 4.4rem;
    padding: 5rem 3.8rem 3.477rem 2.9rem;
    width: 30rem;
    align-items: center;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 0.5rem;

    .logo-navbar-trm {
      box-sizing: border-box;
      padding: 0.66rem 1.121rem 0.55rem 1.245rem;
      background-color: #ffffff;
      border-radius: 1.1rem;
      flex-shrink: 0;
      margin: 0rem 4.5rem 8.2rem 0rem;

      .px-herosupermarket-3-oyj {
        width: 16.4345rem;
        height: 4.29rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-sqb3-VrZ {
      color: #052814;
      border: solid 0.1rem #000000;
      border-radius: 1rem;
      margin: 0rem 0rem 3.3rem 0.9rem;
      font-weight: 600;
      line-height: 1.2125;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      width: 22.4rem;
      height: 5.1rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      text-align: center;
      font-size: 1.8rem;
      box-sizing: border-box;
      flex-shrink: 0;
    }
    .group-34309-88q {
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      width: calc(100% - 0.9rem);
      display: flex;
      padding: 1.1rem 4.774rem 1.8rem 7.1rem;
      cursor: pointer;
      border: solid 0.1rem #052814;
      background-color: #052814;
      margin: 0rem 0rem 3rem 0.9rem;
      box-sizing: border-box;

      .category-RNq {
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.7rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-Lkh {
        flex-shrink: 0;
        margin-top: 0.5775rem;
        width: 1.6258rem;
        height: 0.7775rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.2859rem;
      }
    }
    .auto-group-hihx-pQy {
      margin: 0rem 0rem 0.8rem 0.9rem;
      width: 22.4rem;
      height: 6.8rem;
      position: relative;
      flex-shrink: 0;

      .group-34310-Ybs {
        padding: 1.3rem 1.5rem 1rem 1.5rem;
        width: 22.4rem;
        height: 5.1rem;
        position: absolute;
        left: 0;
        top: 1.7rem;
        box-sizing: border-box;

        .auto-group-1eqy-fAh {
          margin-right: 6.8rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          padding-top: 0.8rem;
          width: 12.6rem;
          height: 100%;
          text-align: center;
        }
      }
      .promo-YkH {
        left: 1.5rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 5.1rem;
        cursor: pointer;
        white-space: nowrap;
        top: 0;
        font-size: 1.6rem;
        height: 2rem;
        position: absolute;
      }
    }
    .bahan-masak-FPo {
      line-height: 1.2125;
      white-space: nowrap;
      margin: 0rem 8.1rem 1.8rem 0rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .susu-dan-produk-segar-MSq {
      cursor: pointer;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.5rem 1.8rem 0rem;
      font-size: 1.6rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      text-align: center;
    }
    .snack-4c9 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 13.7rem 1.8rem 0rem;
    }
    .kesehatan-P8d {
      flex-shrink: 0;
      margin: 0rem 10.3rem 7.2rem 0rem;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .auto-group-uazx-JWV {
      margin: 0rem 0rem 15.5rem 0.9rem;
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 4.474rem 1.9rem 8.35rem;
      width: calc(100% - 0.9rem);
      align-items: center;
      border: solid 0.1rem #000000;
      background-color: #ffffff;

      .histori-R5K {
        text-align: center;
        line-height: 1.2125;
        margin-right: 2.15rem;
        font-weight: 600;
        color: #052814;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
      }
      .vector-Li5 {
        margin-top: 0.1779rem;
        width: 1.6258rem;
        height: 0.7775rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.2859rem;
        flex-shrink: 0;
      }
    }
    .auto-group-2hjz-EoT {
      margin-right: 11.9rem;
      width: calc(100% - 11.9rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-account-logout-Bih {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9758rem;
        width: 2.5242rem;
        height: 2.5233rem;
      }
      .log-out-vAV {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.0767rem;
        white-space: nowrap;
        color: #000000;
      }
    }
  }
  .auto-group-tnu1-bGd {
    margin-bottom: 0.3rem;
    width: 107.3rem;
    flex-shrink: 0;

    .auto-group-fk21-8GZ {
      align-items: center;
      margin: 0rem 0rem 7.8rem 68.9rem;
      height: 7rem;
      display: flex;

      .auto-group-scv7-rTT {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 3.1rem 0.8rem 0rem;
        height: 100%;

        .icon-envelope-closed-aeM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.952rem 0.176rem 0rem;
          width: 2.2484rem;
          height: 1.5239rem;
        }
        .icon-bell-ffo {
          width: 2.015rem;
          height: 2.2731rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.385rem 0.227rem 0rem;
        }
        .line-119-P61 {
          width: 0.1rem;
          height: 4.9rem;
          background-color: #052814;
          flex-shrink: 0;
        }
      }
      .ellipse-3-7Gu {
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:0eedeec74139c91def18b72c7cc5f716dc37c01b');
        border-radius: 3.5rem;
        flex-shrink: 0;
        margin-right: 1.8rem;
        width: 7rem;
        height: 7rem;
        background-size: 100% 100%;
        background-position: center;
      }
      .auto-group-nhsw-RYV {
        margin: 0.8rem 0rem 1.2rem 0rem;
        height: calc(100% - 2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .hello-good-morning-xHX {
          color: #052814;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
        }
        .xaviera-porsh-svH {
          font-size: 1.8rem;
          line-height: 1.2125;
          color: #052814;
          flex-shrink: 0;
          margin-right: 0.5rem;
          text-align: center;
          white-space: nowrap;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .auto-group-k1ht-CBs {
      margin-bottom: 11.1rem;
      height: 8.9rem;
      display: flex;
      align-items: center;

      .auto-group-a5kw-977 {
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin-right: 7.2rem;
        box-sizing: border-box;
        padding: 1.3rem 1.1rem 2rem 1.1rem;
        width: 20.6rem;
        height: 100%;
        background-color: #9eb384;

        .auto-group-nnzw-TNh {
          margin: 0rem 1.43rem 0.5rem 0rem;
          width: calc(100% - 1.4299rem);
          height: 3.9rem;
          display: flex;
          align-items: flex-end;

          .auto-group-17nr-nQy {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 5.9rem;
            height: 100%;
            display: flex;

            .produk-terjual-jr1 {
              margin-bottom: 0.4rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: -0.0209rem;
              color: #174e2f;
              font-size: 1.1rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .produk-rQq {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: -0.0228rem;
              color: #e0e7ec;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .icon-basket-gem {
            height: 2.6rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.0701rem;
          }
        }
        .jan23-dec23-RcM {
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: -0.0152rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 0.8rem;
        }
      }
      .auto-group-fknh-8Fs {
        flex-shrink: 0;
        margin-right: 7.2rem;
        box-sizing: border-box;
        padding: 1rem 0.8rem 1.8rem 0.8rem;
        width: 20.6rem;
        height: 100%;
        background-color: #9eb384;
        border-radius: 0.7rem;

        .customer-ek1 {
          letter-spacing: -0.0209rem;
          color: #174e2f;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.1rem;
          font-size: 1.1rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .auto-group-xycm-N3j {
          margin: 0rem 1.3rem 0rem 0.6rem;
          width: calc(100% - 1.9rem);
          display: flex;
          align-items: flex-start;

          .auto-group-x7jz-tXs {
            flex-shrink: 0;
            margin: 0.8rem 6.9rem 0rem 0rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;

            .auto-group-34do-E5w {
              margin-bottom: 0.6rem;
              width: 2.8rem;
              height: 1.7rem;
              position: relative;
              flex-shrink: 0;

              .item-2000-NT3 {
                font-weight: 500;
                letter-spacing: -0.0209rem;
                position: absolute;
                top: 0;
                font-size: 1.1rem;
                line-height: 1.5;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 2.8rem;
                height: 1.7rem;
                left: 0;
              }
              .item-2000-Uky {
                white-space: nowrap;
                height: 1.7rem;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1.5;
                letter-spacing: -0.0209rem;
                width: 2.8rem;
                font-size: 1.1rem;
                font-weight: 500;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .jan23-dec23-yxd {
              line-height: 1.5;
              letter-spacing: -0.0152rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
          .icon-person-7J9 {
            vertical-align: top;
            flex-shrink: 0;
            width: 4.4rem;
            height: 3.2rem;
            position: relative;
            object-fit: contain;
          }
        }
      }
      .auto-group-p4d7-qV3 {
        background-color: #9eb384;
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin-right: 6.9rem;
        box-sizing: border-box;
        padding: 1rem 1.33rem 1.3rem 1.1rem;
        width: 20.6rem;
        height: 100%;

        .profit-LRo {
          margin-bottom: 0.1rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          color: #174e2f;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-ybhj-sRj {
          display: flex;
          align-items: flex-end;
          margin: 0rem 0rem 1rem 1.3rem;
          width: calc(100% - 1.3rem);

          .rp-30000000000-yzZ {
            font-weight: 500;
            margin-right: 2.1rem;
            font-size: 1.3rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.5;
            letter-spacing: -0.0247rem;
          }
          .icon-money-75B {
            flex-shrink: 0;
            margin-bottom: 0.044rem;
            width: 3.0699rem;
            height: 2.456rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .jan23-dec23-qG5 {
          letter-spacing: -0.0152rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.2rem;
          font-size: 0.8rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .auto-group-r641-wpu {
        padding: 1rem 3.7rem 1rem 1.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #9eb384;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-x2tt-UK3 {
          padding: 1.7rem 1.7rem 1.8rem 1.8rem;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin: 0rem 1.4rem 1.1rem 0rem;
          box-sizing: border-box;

          .icon-dollar-bPf {
            object-fit: contain;
            vertical-align: top;
            width: 1.7rem;
            height: 2.3rem;
          }
        }
        .auto-group-ynhx-WmX {
          margin: 1.2rem 0rem 2.3rem 0rem;
          height: calc(100% - 3.5rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .terjual-EhX {
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-weight: 700;
            white-space: nowrap;
            color: #052814;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.2125;
          }
          .waiting-payment-N33 {
            font-size: 0.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-2tah-5TF {
      margin: 0rem 3.5rem 4rem 0.2rem;
      width: calc(100% - 3.7rem);
      display: flex;
      align-items: center;

      .auto-group-nwgd-cTB {
        height: 39.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 4.5rem 0.2rem 0rem;
        width: 61.9rem;

        .rectangle-5119-55s {
          height: 39.2rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #9eb384;
          border-radius: 0.5rem;
          width: 61.7rem;
        }
        .line-129-nFB {
          width: 54.9993rem;
          height: 0.2685rem;
          position: absolute;
          left: 4.9rem;
          top: 12.0999rem;
          object-fit: contain;
          vertical-align: top;
        }
        .line-126-uKo {
          position: absolute;
          left: 5rem;
          top: 21.9999rem;
          object-fit: contain;
          vertical-align: top;
          width: 54.9993rem;
          height: 0.2685rem;
        }
        .line-127-Ess {
          width: 54.9993rem;
          height: 0.2685rem;
          position: absolute;
          left: 5rem;
          top: 19.5999rem;
          object-fit: contain;
          vertical-align: top;
        }
        .line-128-nPb {
          vertical-align: top;
          width: 54.9993rem;
          height: 0.2685rem;
          position: absolute;
          left: 5rem;
          top: 17.5999rem;
          object-fit: contain;
        }
        .jan-j3w {
          left: 7.3rem;
          top: 34rem;
          font-size: 1.2rem;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          color: #000000;
          height: 1.8rem;
          position: absolute;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.3rem;
          font-weight: 700;
        }
        .feb-EFb {
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          width: 2.2rem;
          position: absolute;
          left: 14.8rem;
          top: 34rem;
          font-size: 1.2rem;
          letter-spacing: -0.0228rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.8rem;
        }
        .mar-M5K {
          width: 2.4rem;
          top: 34rem;
          color: #000000;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          height: 1.8rem;
          position: absolute;
          left: 21.1rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
        }
        .apr-Te9 {
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          white-space: nowrap;
          height: 1.8rem;
          left: 26.7rem;
          top: 34rem;
          font-size: 1.2rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          width: 2.2rem;
          position: absolute;
        }
        .may-ZhB {
          font-size: 1.2rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          left: 32.1rem;
          height: 1.8rem;
          position: absolute;
          top: 34rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          white-space: nowrap;
          width: 2.7rem;
        }
        .june-gG1 {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 3rem;
          position: absolute;
          left: 35.9rem;
          top: 34rem;
          font-weight: 700;
          height: 1.8rem;
          font-size: 1.2rem;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
        }
        .july-yku {
          left: 41.7rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          width: 2.6rem;
          height: 1.8rem;
          position: absolute;
          top: 34rem;
          letter-spacing: -0.0228rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .sept-6ad {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          left: 50.3rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          font-size: 1.2rem;
          white-space: nowrap;
          width: 2.7rem;
          height: 1.8rem;
          position: absolute;
          top: 34rem;
        }
        .aug-cJ5 {
          white-space: nowrap;
          position: absolute;
          line-height: 1.5;
          left: 46.6rem;
          top: 34rem;
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: -0.0228rem;
          color: #000000;
          width: 2.5rem;
          height: 1.8rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .dec-KiH {
          white-space: nowrap;
          width: 2.3rem;
          height: 1.8rem;
          font-size: 1.2rem;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
          color: #000000;
          position: absolute;
          left: 59.4rem;
          top: 34rem;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
        }
        .oct-eEm {
          width: 2.1rem;
          height: 1.8rem;
          position: absolute;
          top: 34rem;
          font-weight: 700;
          letter-spacing: -0.0228rem;
          white-space: nowrap;
          left: 53.4rem;
          font-size: 1.2rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .nov-mKP {
          top: 34rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.4rem;
          height: 1.8rem;
          position: absolute;
          left: 56.2rem;
          font-size: 1.2rem;
        }
        .laba-2023-ghF {
          height: 3.6rem;
          top: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.9rem;
          position: absolute;
          left: 25.1rem;
          font-size: 2.4rem;
          letter-spacing: -0.0456rem;
          color: #052814;
        }
        .button-next-slider--Cfb {
          width: 3rem;
          height: 2.4rem;
          position: absolute;
          left: 56.3rem;
          top: 2.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .curve-jvR {
          width: 51.2rem;
          height: 21.7rem;
          position: absolute;
          left: 8.4rem;
          top: 12rem;
          object-fit: contain;
          vertical-align: top;
        }
        .line-121-tHX {
          vertical-align: top;
          width: 54.9993rem;
          height: 0.2685rem;
          position: absolute;
          left: 4.9rem;
          top: 31.6999rem;
          object-fit: contain;
        }
        .line-122-2Pj {
          position: absolute;
          left: 4.9rem;
          top: 29.7999rem;
          object-fit: contain;
          vertical-align: top;
          width: 54.9993rem;
          height: 0.2685rem;
        }
        .line-123-aAM {
          height: 0.2685rem;
          position: absolute;
          left: 4.9rem;
          top: 24.9999rem;
          object-fit: contain;
          vertical-align: top;
          width: 54.9993rem;
        }
        .line-124-Kdj {
          height: 0.2685rem;
          position: absolute;
          left: 4.9rem;
          top: 24.2999rem;
          object-fit: contain;
          vertical-align: top;
          width: 54.9993rem;
        }
        .line-125-GYy {
          width: 54.9993rem;
          height: 0.2685rem;
          position: absolute;
          left: 4.9rem;
          top: 23.4999rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dotcopy4-pKb {
          top: 31.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 57rem;
        }
        .dotcopy4-kyw {
          vertical-align: top;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 59.3rem;
          top: 24.8rem;
          object-fit: contain;
        }
        .dotcopy4-huB {
          height: 0.6rem;
          position: absolute;
          left: 42.4rem;
          top: 21.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
        }
        .dotcopy4-qkV {
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 36.4rem;
          top: 24rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dotcopy4-aTB {
          top: 29.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 54.2rem;
        }
        .dotcopy4-KQm {
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 49.7rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dotcopy4-T1B {
          left: 18.9rem;
          top: 23.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
        }
        .dotcopy4-bNH {
          left: 24.7rem;
          top: 21.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
        }
        .dotcopy4-8ND {
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 32.5rem;
          top: 19.3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dotcopy4-g8q {
          height: 0.6rem;
          position: absolute;
          left: 48.2rem;
          top: 11.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
        }
        .dotcopy4-cYH {
          top: 17.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          left: 12.8rem;
        }
        .line-89-xc9 {
          width: 61.4rem;
          height: 0.1rem;
          position: absolute;
          left: 0.5rem;
          top: 6.5rem;
          background-color: #052814;
        }
        .jt-hpd {
          position: absolute;
          left: 1.7rem;
          width: 1.4rem;
          height: 0.8rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0095rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          top: 31.6rem;
          font-size: 0.5rem;
        }
        .jt-DY5 {
          top: 29.9rem;
          font-weight: 700;
          letter-spacing: -0.0095rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.4rem;
          position: absolute;
          font-size: 0.5rem;
          line-height: 1.5;
          height: 0.8rem;
          left: 1.7rem;
        }
        .jt-vxH {
          position: absolute;
          font-family: Poppins, 'Source Sans Pro';
          top: 24.9rem;
          font-size: 0.5rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0095rem;
          width: 1.4rem;
          height: 0.8rem;
          left: 1.7rem;
          color: #000000;
          white-space: nowrap;
        }
        .jt-3n1 {
          font-size: 0.5rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0095rem;
          font-family: Poppins, 'Source Sans Pro';
          height: 0.8rem;
          position: absolute;
          top: 23.4rem;
          white-space: nowrap;
          width: 1.4rem;
          left: 1.7rem;
          color: #000000;
        }
        .m-94M {
          top: 21.9rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          height: 0.8rem;
          position: absolute;
          font-size: 0.5rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0095rem;
          white-space: nowrap;
          width: 0.8rem;
          left: 1.7rem;
        }
        .m-T53 {
          left: 1.7rem;
          top: 19.5rem;
          font-size: 0.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          width: 0.9rem;
          height: 0.8rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          letter-spacing: -0.0095rem;
        }
        .m-Z85 {
          white-space: nowrap;
          width: 0.9rem;
          position: absolute;
          top: 12rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0095rem;
          font-family: Poppins, 'Source Sans Pro';
          height: 0.8rem;
          left: 1.7rem;
          font-size: 0.5rem;
          color: #000000;
        }
        .m-GHP {
          left: 1.7rem;
          top: 17.6rem;
          font-size: 0.5rem;
          font-weight: 700;
          width: 1.3rem;
          height: 0.8rem;
          position: absolute;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.5;
          letter-spacing: -0.0095rem;
          color: #000000;
        }
        .btt-kiri-AtZ {
          object-fit: contain;
          vertical-align: top;
          width: 4.2rem;
          height: 4.2rem;
          position: absolute;
          left: 1.3rem;
          top: 1.1rem;
        }
        .btt-kiri-JE5 {
          vertical-align: top;
          width: 4.2rem;
          height: 4.2rem;
          position: absolute;
          left: 55.8rem;
          top: 1.1rem;
          object-fit: contain;
        }
      }
      .auto-group-sdqm-dXF {
        position: relative;
        flex-shrink: 0;
        margin-top: 0.2rem;
        width: 37.2rem;
        height: 39.2rem;

        .rectangle-5120-wnq {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #9eb384;
          border-radius: 0.5rem;
          width: 36.8rem;
          height: 39.2rem;
        }
        .sumber-pendapatan-FoX {
          font-family: Poppins, 'Source Sans Pro';
          left: 1.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #174e2f;
          font-size: 1.8rem;
          letter-spacing: -0.0342rem;
          white-space: nowrap;
          width: 18.7rem;
          height: 2.7rem;
          position: absolute;
          top: 0.6rem;
        }
        .graphic-kVP {
          top: 9.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 21.2017rem;
          height: 18.7rem;
          position: absolute;
          left: 7.8rem;
        }
        .line-88-HVK {
          left: 0;
          top: 4.2rem;
          background-color: #174e2f;
          width: 36.8001rem;
          height: 0.1rem;
          position: absolute;
        }
        .rectangle-5270-2ho {
          left: 10.7rem;
          top: 31.1rem;
          background-color: #174e2f;
          border-radius: 2rem;
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
        }
        .rectangle-5271-AJD {
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          left: 10.7rem;
          top: 33.5rem;
          background-color: #348d5c;
          border-radius: 2rem;
        }
        .rectangle-5272-VrH {
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          left: 10.7rem;
          top: 35.9rem;
          background-color: #e0e7ec;
          border-radius: 2rem;
        }
        .group-34343-Eos {
          width: 0.5rem;
          height: 2.1rem;
          position: absolute;
          left: 36.7rem;
          top: 6.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .penjualan-produk-xzm {
          line-height: 1.5;
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          top: 30.9rem;
          font-size: 1.2rem;
          font-weight: 700;
          width: 10.6rem;
          left: 13.8rem;
          letter-spacing: -0.0228rem;
          color: #174e2f;
          font-family: Poppins, 'Source Sans Pro';
        }
        .penyewaan-rak-5Jh {
          position: absolute;
          left: 13.8rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.0228rem;
          color: #174e2f;
          width: 9.6rem;
          height: 1.8rem;
          top: 33.3rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .program-keanggotaan-b29 {
          left: 13.8rem;
          top: 35.7rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #174e2f;
          font-family: Poppins, 'Source Sans Pro';
          width: 13.8rem;
          white-space: nowrap;
          position: absolute;
          letter-spacing: -0.0228rem;
          height: 1.8rem;
        }
      }
    }
    .btt-kiri-gJV {
      margin-left: 1.5rem;
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
