
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47rem;
}.frame-34490-MDj {
  padding: 3.35rem 2.8rem 3.4rem 2.8rem;
  width: 100%;
  height: 23.8rem;
  background-color: #ffffff;
  box-sizing: border-box;

  .group-34460-sSy {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;

    .di-mana-lokasi-tujuan-pengirimanmu-RUV {
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 2.25rem;
    }
    .auto-group-tp4d-Vz9 {
      border: solid 0.1rem #d9d9d9;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 1.1rem 12.1rem 1rem 1.1rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-radius: 0.8rem;

      .vector-2jB {
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tulis-nama-jalan-gedung-perumahan-ZUD {
        font-weight: 400;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2125;
        color: #8b8b8b;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
    }
    .auto-group-zvk3-diy {
      border: solid 0.1rem #d9d9d9;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 20.3rem 1rem 2.5rem;
      width: 100%;
      display: flex;
      align-items: center;

      .vector-a8R {
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 1.5rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .gunakan-lokasi-saat-ini-5L5 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
      }
    }
    .auto-group-xu5f-ywF {
      width: 100%;
      white-space: nowrap;
      display: flex;
      color: #8b8b8b;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 0 0 0.8rem 0.8rem;
      flex-shrink: 0;
      box-sizing: border-box;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      padding: 1.2rem 3.2rem;
      border: solid 0.1rem #d9d9d9;
      background-color: #ffffff;
    }
  }
}
