
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fresh-promo-events-hqT {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 186.1rem;
  position: relative;

  .bg-dUD {
    top: 8rem;
    width: 144rem;
    height: 178.1rem;
    position: absolute;
    left: 0;

    .item-67580793426116-6-koj {
      width: 144rem;
      height: 78.5668rem;
      position: absolute;
      left: 0;
      top: 99.5332rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item-67580793426116-4-Ty3 {
      vertical-align: top;
      width: 144rem;
      height: 99.5332rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .promo-highlight-C9w {
      height: 48rem;
      position: absolute;
      left: 0;
      top: 8rem;
      width: 144rem;

      .gambar-1-iPB {
        width: 48rem;
        height: 48rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:1c537e1cb6c480b3584388d8225a4a822fa703d9');
      }
      .gambar-5-bhs {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 48rem;
        height: 48rem;
        position: absolute;
        left: 96rem;
      }
      .gambar-4-wWq {
        background-repeat: no-repeat;
        background-position: center;
        width: 48rem;
        height: 48rem;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        background-size: 100% 100%;
        left: 74.4rem;
        top: 0;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-image: url('REPLACE_IMAGE:09e2bcd55ddd9ee9e15f2b8b759a7074f34977b2');
      }
      .gambar-2-deZ {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:5be7753780587554da09189d3b2fffbcb2a34497');
        width: 48rem;
        height: 48rem;
        left: 22.7rem;
        top: 0;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
      }
      .gambar-3-jxV {
        left: 48rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 48rem;
        height: 48rem;
        position: absolute;
      }
    }
    .fresh-events-Uv5 {
      top: 108.6rem;
      display: flex;
      align-items: center;
      border-radius: 5rem;
      width: 133.8rem;
      height: 47.8rem;
      position: absolute;
      left: 5.2rem;

      .auto-group-r8a5-bjo {
        margin: 0rem 0.9rem 5.9rem 0rem;
        width: 26.7rem;
        flex-shrink: 0;

        .fresh-events-XdT {
          color: #0e793c;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5;
          margin-bottom: 3.1rem;
        }
        .event-1-q8M {
          width: 24rem;
          height: 32.8rem;
          position: relative;
          border-radius: 5rem;

          .rectangle-5367-yVT {
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
          }
          .n-1-Hm3 {
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.8rem;
            object-fit: cover;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-ojP {
            height: 5.4rem;
            position: absolute;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            width: 14.4rem;
            left: 3.7rem;
            top: 1.8rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;

            .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-ojP-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-ojP-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
          }
          .rectangle-5373-xPK {
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
          }
          .n-3-t25 {
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.8rem;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-bSH {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            left: 3.7rem;
            height: 5.4rem;
            position: absolute;
            top: 1.8rem;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            width: 14.4rem;

            .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-bSH-sub-0 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
            .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-bSH-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
          }
        }
      }
      .event-2-cVo {
        border-radius: 5rem;
        flex-shrink: 0;
        margin: 9.1rem 3.6rem 5.9rem 0rem;
        width: 24rem;
        height: calc(100% - 15rem);
        position: relative;

        .rectangle-5372-8yw {
          height: 24rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
        }
        .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-fDB {
          left: 3.7rem;
          top: 1.8rem;
          letter-spacing: -0.0132rem;
          font-family: Inter, 'Source Sans Pro';
          height: 5.4rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.5;
          color: #fafafa;
          width: 15.8rem;
          font-size: 1.2rem;

          .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-fDB-sub-0 {
          }
          .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-fDB-sub-1 {
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
        .n-1-cGq {
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
      }
      .auto-group-g29f-Kh3 {
        height: calc(100% - 15rem);
        flex-shrink: 0;
        margin: 9.1rem 3.3rem 5.9rem 0rem;
        width: 24rem;

        .event-3-3sw {
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 5rem;

          .rectangle-5374-Pgu {
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
          }
          .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-KaZ {
            top: 1.8rem;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            left: 3.7rem;
            height: 5.4rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            width: 16.5rem;

            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-KaZ-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-KaZ-sub-1 {
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-KaZ-sub-2 {
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-KaZ-sub-3 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
          }
          .n-1-FY5 {
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.8rem;
            object-fit: cover;
          }
        }
      }
      .event-4-YXB {
        border-radius: 5rem;
        flex-shrink: 0;
        margin: 9.1rem 3.3rem 5.9rem 0rem;
        width: 24rem;
        height: calc(100% - 15rem);
        position: relative;

        .rectangle-5375-fbo {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
        .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-BKF {
          position: absolute;
          line-height: 1.5;
          letter-spacing: -0.0132rem;
          font-family: Inter, 'Source Sans Pro';
          width: 15.5rem;
          height: 5.4rem;
          left: 3.7rem;
          top: 1.8rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: #fafafa;

          .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-BKF-sub-0 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
          .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-BKF-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .saveinstaapp-3195126676273862749-1-dKf {
          position: absolute;
          left: 0;
          top: 8.8rem;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
        .saveinstaapp-3186271269753263669-1-9Yu {
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
      }
      .auto-group-gkbt-sE1 {
        margin-top: 9.1rem;
        width: 24rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .event-5-1LD {
          margin-bottom: 2.9rem;
          width: 100%;
          height: 32.8rem;
          position: relative;
          border-radius: 5rem;
          flex-shrink: 0;

          .rectangle-5376-9hK {
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-fQm {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            width: 14.4rem;
            height: 5.4rem;
            position: absolute;
            top: 1.8rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            left: 3.7rem;

            .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-fQm-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-fQm-sub-1 {
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
            }
          }
          .n-1-Js3 {
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
          }
        }
        .more-Dz1 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          cursor: pointer;
          font-weight: 600;
          color: #0e793c;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          line-height: 1.2125;
          text-decoration-line: underline;
        }
      }
    }
    .promo-group-main-YFb {
      top: 60rem;
      display: flex;
      align-items: center;
      border-radius: 5rem;
      width: 133.8rem;
      height: 48.7rem;
      position: absolute;
      left: 5.2rem;

      .auto-group-khnr-TtM {
        margin: 0rem 3.6rem 5.9rem 0rem;
        width: 51.6rem;
        flex-shrink: 0;

        .fresh-offer-this-month-oBX {
          line-height: 1.5;
          color: #0e793c;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 4rem;
          width: 100%;
          text-align: center;
          font-weight: 700;
          margin-bottom: 4rem;
        }
        .auto-group-tyw9-KQm {
          width: 100%;
          height: 32.8rem;
          display: flex;
          align-items: center;

          .auto-group-qvuv-fUd {
            margin-right: 3.6rem;
            width: 24rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-5362-oqj {
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
              background-color: #0e793c;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .n-1-Kp5 {
              left: 0;
              top: 8.8rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Sdo {
              top: 2.3rem;
              font-weight: 400;
              color: #fafafa;
              letter-spacing: -0.0132rem;
              font-family: Inter, 'Source Sans Pro';
              width: 15.1rem;
              height: 5.4rem;
              position: absolute;
              left: 4.7rem;
              font-size: 1.2rem;
              line-height: 1.5;

              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Sdo-sub-0 {
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
              }
              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Sdo-sub-1 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
              }
            }
          }
          .auto-group-uqym-5aH {
            flex-shrink: 0;
            width: 24rem;
            height: 100%;
            position: relative;

            .rectangle-5363-ECH {
              background-color: #0e793c;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            }
            .n-1-A5w {
              vertical-align: top;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 8.8rem;
              object-fit: cover;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-tGq {
              color: #fafafa;
              width: 15.1rem;
              height: 5.4rem;
              top: 1.8rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              position: absolute;
              left: 4.5rem;
              font-family: Inter, 'Source Sans Pro';

              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-tGq-sub-0 {
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
              }
              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-tGq-sub-1 {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-3qgm-ur9 {
        margin: 10rem 3.3rem 5.9rem 0rem;
        width: 24rem;
        height: calc(100% - 15.9rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-5364-2fs {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
        .n-1-MTF {
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 8.8rem;
          object-fit: cover;
        }
        .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-fiq {
          position: absolute;
          left: 4.5rem;
          top: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          height: 5.4rem;
          font-size: 1.2rem;
          letter-spacing: -0.0132rem;
          width: 15.1rem;

          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-fiq-sub-0 {
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-fiq-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .auto-group-ezcm-j6R {
        flex-shrink: 0;
        margin: 10rem 3.3rem 6.1rem 0rem;
        width: 24rem;
        height: calc(100% - 16.1rem);
        position: relative;

        .rectangle-5365-rB3 {
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
        .n-1-a73 {
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 8.6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
        }
        .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-JHw {
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.0132rem;
          left: 4.5rem;
          height: 5.4rem;
          position: absolute;
          top: 1.8rem;
          font-size: 1.2rem;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          width: 15.1rem;

          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-JHw-sub-0 {
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-JHw-sub-1 {
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
          }
        }
      }
      .auto-group-wurj-n6d {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 10rem;
        width: 24rem;
        align-items: flex-end;

        .auto-group-bfvb-WoK {
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          width: 100%;
          height: 32.6rem;
          position: relative;

          .rectangle-5366-rcH {
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .n-1-BPf {
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.6rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Vv9 {
            left: 5.6rem;
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            width: 15.1rem;
            height: 5.4rem;
            position: absolute;
            top: 1.8rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Vv9-sub-0 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Vv9-sub-1 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .more-xBT {
          text-align: center;
          font-size: 2.4rem;
          color: #0e793c;
          flex-shrink: 0;
          width: 100%;
          cursor: pointer;
          font-weight: 600;
          line-height: 1.2125;
          text-decoration-line: underline;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .footer-GT3 {
      box-sizing: border-box;
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      height: 16rem;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
      width: 144rem;
      position: absolute;
      left: 0;
      top: 162.1rem;
      display: flex;
      align-items: center;

      .auto-group-gw49-xqf {
        width: 18.4rem;
        height: 100%;
        flex-shrink: 0;
        margin-right: 41.1rem;

        .group-20-uku {
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;
          background-color: #fafafa;
          border-radius: 1.1rem;
          margin-bottom: 0.8072rem;

          .px-herosupermarket-3-F45 {
            vertical-align: top;
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
          }
        }
        .auto-group-fdez-9v9 {
          margin-left: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon-facebook-JY9 {
            width: 2.0895rem;
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.311rem 0.023rem 0rem;
          }
          .icon-twitter-1xM {
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-youtube-9Hs {
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.0051rem;
          }
        }
      }
      .about-us-gYh {
        margin: 0rem 9.35rem 3.1rem 0rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        text-align: center;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .faq-Pxu {
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 9.65rem 3.1rem 0rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.5;
        color: #fafafa;
        flex-shrink: 0;
      }
      .contact-vC9 {
        margin: 0rem 7.3rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 600;
        color: #fafafa;
        white-space: nowrap;
      }
      .customer-survey-qa1 {
        font-size: 1.4rem;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        white-space: nowrap;
        margin-bottom: 3.1rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
  .navbar-ith {
    box-sizing: border-box;
    width: 144rem;
    left: 0;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);
    padding-bottom: 1.6rem;
    height: 16rem;
    position: absolute;
    top: 0;
    display: flex;

    .logo-3vy {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;
      height: 8.5rem;

      .rectangle-5311-CJ5 {
        left: 0;
        top: 0;
        background-color: #ffffff;
        width: 144rem;
        height: 8rem;
        position: absolute;
      }
      .item-67580793426116-3-LQH {
        background-size: 100% 1200%;
        background-position: -0rem -48.9223rem;
        background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
        width: 143.2rem;
        height: 8rem;
        position: relative;
        left: 0;
        top: 0;
      }
      .group-34396-cMo {
        left: 50.9rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 41rem;
        height: 8.5rem;
        position: absolute;
      }
      .px-herosupermarket-3-8qw {
        object-fit: cover;
        vertical-align: top;
        width: 18.2rem;
        height: 5.4rem;
        position: absolute;
        left: 62.9rem;
        top: 1.2rem;
      }
    }
    .auto-group-nv1p-Fff {
      flex-shrink: 0;
      margin: 0rem 11.3rem 0rem 9.6rem;
      width: calc(100% - 20.9rem);
      height: 4.8rem;
      display: flex;
      align-items: center;

      .frame-34451-Myb {
        height: calc(100% - 2.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 30.8rem 1.1rem 0rem;

        .beranda-5ub {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          white-space: nowrap;
          margin-right: 5.5rem;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
        }
        .tentang-hero-Qgy {
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.5rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
        }
        .fresh-recipe-8N5 {
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          margin-right: 5.45rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
        }
        .promo-event-erD {
          align-items: center;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 5.45rem;
          justify-content: center;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
        }
        .cara-belanja-Br9 {
          display: flex;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .button-shop-X9K {
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 1.2rem 4.2rem;

        .icon-cart-ezd {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.099rem 0rem;
          width: 2.1rem;
          height: 2.1014rem;
          position: relative;
          object-fit: contain;
        }
        .shop-now-mpM {
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-weight: 500;
          line-height: 1.5;
          color: #095028;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
        }
      }
    }
  }
}
