
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fresh-recipe-VAh {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 163.1rem;

  .bg-qVT {
    height: 155.1rem;
    position: absolute;
    left: 0;
    top: 8rem;
    width: 144rem;

    .item-67580793426116-6-y5s {
      width: 144rem;
      height: 68.4205rem;
      position: absolute;
      left: 0;
      top: 86.6795rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item-67580793426116-4-fzH {
      width: 144rem;
      height: 86.6795rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .main-recipe-preview-CzD {
      width: 68rem;
      height: 31.6rem;
      position: absolute;
      left: 2.8rem;
      top: 47.7rem;
      border-radius: 1rem;

      .elena-leya-7wbbsjqhttq-unsplash-1-YHP {
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0.200000003);
        background-image: url('REPLACE_IMAGE:b110962626346b4065e650763bc1a05f73cd7fcf');
        border-radius: 1rem;
        width: 68rem;
        height: 31.5rem;
        background-position: -3.3591rem -8.1873rem;
        top: 0;
        background-size: 109.88% 136.696%;

        .elena-leya-7wbbsjqhttq-unsplash-1-YHP-bg {
          height: 31.5rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:b110962626346b4065e650763bc1a05f73cd7fcf');
          width: 68rem;
        }
      }
      .frame-23-nSd {
        vertical-align: top;
        border-radius: 10rem;
        width: 4.3187rem;
        height: 3.5732rem;
        position: absolute;
        left: 1.692rem;
        top: 13.8002rem;
        object-fit: contain;
      }
      .frame-24-un9 {
        vertical-align: top;
        border-radius: 10rem;
        width: 4.3187rem;
        height: 3.5732rem;
        position: absolute;
        left: 61.8rem;
        top: 13.8rem;
        object-fit: contain;
      }
    }
    .user-recipe-console-cgZ {
      box-sizing: border-box;
      padding: 2.3rem 2.5rem 2.1rem 2.5rem;
      width: 65.5rem;
      height: 31.5rem;
      position: absolute;
      left: 75.7rem;
      top: 47.9rem;
      background-color: #0e793c;
      border-radius: 1rem;

      .nasi-ikan-Wmw {
        width: 100%;
        line-height: 1.5;
        color: #fafafa;
        white-space: nowrap;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: -0.0352rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-rmmt-1yb {
        height: 6.1rem;
        position: relative;
        margin-bottom: 0.5rem;
        width: 100%;

        .union-Lky {
          height: 5.016rem;
          position: absolute;
          left: 54.3rem;
          top: 0.6309rem;
          object-fit: contain;
          vertical-align: top;
          width: 5rem;
        }
        .like-sW1 {
          width: 13rem;
          height: 5.016rem;
          position: absolute;
          left: 18.2rem;
          top: 0.6309rem;
          display: flex;
          align-items: center;

          .union-QF3 {
            margin-right: 0.5rem;
            width: 5rem;
            height: 5.016rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-ffrq-9TX {
            width: 7.5rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            white-space: nowrap;
            background-color: #fafafa;
            letter-spacing: -0.0176rem;
            color: #0e793c;
            font-family: Inter, 'Source Sans Pro';
            margin: 1.169rem 0rem 1.347rem 0rem;
            box-sizing: border-box;
            padding: 0.1rem 0.5rem 0rem 0.5rem;
            height: calc(100% - 2.516rem);
            line-height: 1.5;
            flex-shrink: 0;
          }
        }
        .dislike-aHw {
          top: 0.6309rem;
          display: flex;
          align-items: center;
          width: 13rem;
          height: 5.016rem;
          position: absolute;
          left: 32.6rem;

          .union-WhP {
            width: 5rem;
            height: 5.016rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.5rem;
          }
          .auto-group-jayo-4U1 {
            color: #0e793c;
            background-color: #fafafa;
            width: 7.5rem;
            font-weight: 400;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            margin: 1.169rem 0rem 1.347rem 0rem;
            padding: 0.1rem 0.6rem 0rem 0.6rem;
            line-height: 1.5;
            box-sizing: border-box;
            text-align: center;
            white-space: nowrap;
            flex-shrink: 0;
            height: calc(100% - 2.516rem);
            letter-spacing: -0.0176rem;
          }
        }
        .rectangle-5333-VZK {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #fafafa;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 60.5rem;
          height: 6.1rem;
        }
        .rating-cdw {
          display: flex;
          column-gap: 0.8rem;
          align-items: center;
          width: 15.2rem;
          height: 2.4rem;
          position: absolute;
          left: 0.6rem;
          top: 1.65rem;

          .rating-star-Xku {
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
          }
          .rating-star-s45 {
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4rem;
          }
          .rating-star-D7w {
            flex-shrink: 0;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .rating-star-AJ5 {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .rating-star-KAy {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-ust7-rwb {
        box-sizing: border-box;
        padding: 0.5rem 1.1rem 0.5rem 0.9rem;
        width: 100%;
        height: 13.7rem;
        border: solid 0.1rem #fafafa;
        border-radius: 1rem;

        .nasi-ikan-dalam-bahasa-indonesia-secara-harfiah-berarti-rice-fish-dalam-bahasa-inggris-namun-dari-konteks-kuliner-nasi-ikan-biasanya-merujuk-pada-hidangan-yang-terdiri-dari-nasi-yang-disajikan-bersama-dengan-ikan-mof {
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.0132rem;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          max-width: 58.5rem;
          font-size: 1.2rem;
        }
      }
    }
    .finding-recipes-YT3 {
      width: 144rem;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:c7873b03741e49fb63aff8afca456f431bbd02b4');
      padding: 9.7rem 41.4rem 15.1rem 41.4rem;
      height: 35rem;
      position: absolute;
      top: 8rem;
      background-size: 100% 100%;
      box-sizing: border-box;

      .temukan-resep-fGm {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .temukan-resep-mu-DZB {
          margin-bottom: 3rem;
          font-size: 6rem;
          font-weight: 700;
          flex-shrink: 0;
          display: flex;
          line-height: 0.4;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .input-vyP {
          display: flex;
          background-color: #23863a;
          border-radius: 1.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: calc(100% - 33.2rem);
          align-items: center;
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          margin: 0 16.6rem;
          padding: 1.15rem 1.387rem 1.187rem 1.4rem;

          .typograph-r6M {
            display: flex;
            font-weight: 400;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.037rem 14.95rem 0rem 0rem;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .icons-basic-search-mUD {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.4634rem;
            height: 2.4635rem;
          }
        }
      }
    }
    .fav-recipe-dWR {
      height: 27rem;
      top: 108.1rem;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1.2rem 2rem 0rem 1.4rem;
      width: 138.4rem;
      position: absolute;
      left: 2.8rem;
      column-gap: 5rem;

      .auto-group-9wbp-j3f {
        margin-bottom: 5.8rem;
        width: 30rem;
        flex-shrink: 0;

        .recipe-list-H5B {
          text-align: right;
          letter-spacing: -0.0264rem;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 0.9998rem;
          font-weight: 600;
          line-height: 1.5;
          color: #0e793c;
          white-space: nowrap;
          font-size: 2.4rem;
        }
        .bakso-goreng-Q9o {
          width: 100%;
          height: 15.4002rem;
          position: relative;
          box-shadow: 0 0.4rem 1rem rgba(14, 121, 60, 0.25);

          .bakso-goreng-MKw {
            height: 15.3rem;
            top: 0.1002rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:9ef503a5ff803d9cf0cdd1e749e148e84ad46865');
            width: 30rem;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3000000119);
            background-size: 100% 100%;
            border-radius: 1rem;
            position: absolute;
          }
          .rectangle-9-3Cm {
            top: 0.1002rem;
            border-radius: 1rem;
            width: 30rem;
            height: 15.3rem;
            position: absolute;
            left: 0;
          }
          .bakso-goreng-muT {
            width: 16rem;
            height: 3.6rem;
            font-size: 2.4rem;
            letter-spacing: -0.0264rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0.3rem;
            top: 0.1002rem;
            text-align: right;
            font-weight: 600;
            line-height: 1.5;
            color: #fafafa;
          }
          .union-4tZ {
            width: 3.0138rem;
            height: 3.0371rem;
            position: absolute;
            left: 26.5rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .cumi-tumis-NeM {
        flex-shrink: 0;
        background-color: rgba(0, 0, 0, 0.3000000119);
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        padding: 0rem 0.786rem 0rem 0.8rem;
        height: calc(100% - 10.4rem);
        align-items: flex-start;
        background-position: center;
        box-sizing: border-box;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 4.6rem 0rem 5.8rem 0rem;
        display: flex;
        background-image: url('REPLACE_IMAGE:fa1359b8171efec20be97764cb5fa3ff39277bc6');

        .tumis-cumi-asap-sr1 {
          font-weight: 600;
          line-height: 1.5;
          white-space: nowrap;
          text-align: right;
          font-size: 2.4rem;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 5.7rem;
          letter-spacing: -0.0264rem;
        }
        .union-CNV {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.2012rem;
          width: 3.0138rem;
          height: 3.0568rem;
        }
      }
      .aqua-pazza-sDj {
        background-position: center;
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.3000000119);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:db013b8b8cba7bbbbb3cc235d7ad87923a90aeab');
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 0rem 0.586rem 0rem 1.6rem;
        height: calc(100% - 10.4rem);
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        margin: 4.7rem 0rem 5.7rem 0rem;

        .aqua-pazza-NwB {
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.0264rem;
          flex-shrink: 0;
          margin-right: 11.4rem;
          text-align: right;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          color: #fafafa;
        }
        .union-ugD {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1006rem;
          width: 3.0137rem;
          height: 3.0568rem;
          object-fit: contain;
        }
      }
      .auto-group-ieeu-nzu {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 4.5998rem;
        width: 30rem;
        align-items: flex-end;

        .chirashizushi-83B {
          height: 15.4002rem;
          position: relative;
          box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;

          .rectangle-5131-4Sd {
            width: 30rem;
            height: 15.3rem;
            position: absolute;
            left: 0;
            top: 0.1002rem;
            border-radius: 1rem;
          }
          .cmo-hacer-chirashi-sushi-o-chirashizushi-receta-japonesa-fcil-y-saludable-directo-al-paladar-1-zr5 {
            height: 15.3rem;
            left: 0;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:a5483f1e8dc36aa14fe75ac7c91ba569607326bd');
            width: 30rem;
            position: absolute;
            top: 0.1rem;
            background-color: rgba(0, 0, 0, 0.200000003);
            background-repeat: no-repeat;
            border-radius: 1rem;
          }
          .chirashizushi-TNH {
            font-size: 2rem;
            font-weight: 500;
            width: 13.3rem;
            height: 3rem;
            position: absolute;
            left: 1.3263rem;
            top: 0.1002rem;
            text-align: right;
            line-height: 1.5;
            white-space: nowrap;
            letter-spacing: -0.022rem;
            color: #fafafa;
            font-family: Poppins, 'Source Sans Pro';
          }
          .union-LBB {
            left: 26.6rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.0137rem;
            height: 3.0371rem;
            position: absolute;
          }
        }
        .more-about-fav-rQR {
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 0.4rem;
          text-align: right;
          font-weight: 600;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          letter-spacing: -0.0264rem;
          color: #0e793c;
        }
      }
    }
    .recipe-list-xTT {
      height: 24.8rem;
      position: absolute;
      left: 2.8rem;
      top: 83.3rem;
      display: flex;
      border-radius: 1rem;
      box-sizing: border-box;
      width: 138.4rem;
      padding: 1rem 2.125rem 0.3rem 2.198rem;
      align-items: center;

      .frame-23-qGM {
        width: 0.7775rem;
        height: 1.6258rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.525rem 0.273rem 0rem;
      }
      .auto-group-s5ud-A3j {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 3.9rem 4.5rem 0rem;
        display: flex;

        .recipe-list-hJZ {
          color: #0e793c;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          letter-spacing: -0.0264rem;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 1rem;
          text-align: right;
          line-height: 1.5;
        }
        .nasi-goreng-REZ {
          margin-left: 0.1rem;
          width: 12rem;
          height: 14.4rem;
          position: relative;
          box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-5323-AC9 {
            width: 12rem;
            height: 14rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fafafa;
            border-radius: 1rem;
          }
          .american-shrimp-fried-rice-served-with-chili-fish-sauce-thai-food-2-J3T {
            height: 12rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            width: 12rem;
          }
          .nasi-goreng-Ced {
            line-height: 1.5;
            color: #0e793c;
            width: 6.9rem;
            height: 1.8rem;
            position: absolute;
            left: 2.55rem;
            text-align: center;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            top: 12rem;
            font-weight: 400;
            letter-spacing: -0.0132rem;
            white-space: nowrap;
          }
        }
      }
      .seblak-fo7 {
        position: relative;
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 4.6rem 4.3rem 4.4rem 0rem;
        width: 12rem;
        height: calc(100% - 9rem);

        .rectangle-5324-PUD {
          top: 0;
          background-color: #fafafa;
          border-radius: 1rem;
          width: 12rem;
          height: 14rem;
          position: absolute;
          left: 0;
        }
        .seblak-vj3 {
          border-radius: 1rem;
          position: relative;
          left: 0;
          background-size: 100% 125.893%;
          background-position: 0 -0.9107rem;
          background-image: url('REPLACE_IMAGE:7746e9bc6cb0123a1953144669ef830a270a5f33');
          width: 12rem;
          height: 12rem;
          top: 0;
        }
        .seblak-21P {
          position: absolute;
          left: 4.1rem;
          font-size: 1.2rem;
          letter-spacing: -0.0132rem;
          color: #0e793c;
          white-space: nowrap;
          width: 3.8rem;
          height: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          top: 12.1rem;
          text-align: center;
        }
      }
      .olive-salad-VvZ {
        width: 12rem;
        height: calc(100% - 9rem);
        position: relative;
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 4.6rem 4.3rem 4.4rem 0rem;

        .rectangle-5325-2fb {
          border-radius: 1rem;
          width: 12rem;
          height: 14rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #fafafa;
        }
        .olive-salad-yKw {
          width: 12rem;
          height: 12rem;
          position: relative;
          background-position: 0 -5.2403rem;
          border-radius: 1rem;
          left: 0;
          top: 0;
          background-size: 100% 155.294%;
          background-image: url('REPLACE_IMAGE:df0aecb170645b7ea3c26afe8279cb9933b1faa4');
        }
        .olive-salad-V3P {
          width: 6.2rem;
          height: 1.8rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: -0.0132rem;
          color: #0e793c;
          position: absolute;
          left: 2.9rem;
          top: 12.1rem;
          text-align: center;
          white-space: nowrap;
        }
      }
      .beef-wellington-Nss {
        margin: 4.6rem 4.3rem 4.4rem 0rem;
        width: 12rem;
        height: calc(100% - 9rem);
        position: relative;
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-5326-7Kf {
          height: 14rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #fafafa;
          border-radius: 1rem;
          width: 12rem;
        }
        .beef-wellington-FRs {
          text-align: center;
          font-weight: 400;
          letter-spacing: -0.0132rem;
          color: #0e793c;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          height: 1.8rem;
          left: 1.65rem;
          top: 12.1rem;
          font-size: 1.2rem;
          line-height: 1.5;
          white-space: nowrap;
          width: 8.7rem;
        }
        .robby-mccullough-pljnhsovark-unsplash-1-xLH {
          border-radius: 1rem;
          width: 12rem;
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .blue-bana-toast-4eD {
        position: relative;
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 4.6rem 4.3rem 4.5rem 0rem;
        width: 12rem;
        height: calc(100% - 9.1rem);

        .rectangle-5327-b8M {
          background-color: #fafafa;
          border-radius: 1rem;
          width: 12rem;
          height: 14rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .blubana-french-toast-Lbj {
          border-radius: 1rem;
          width: 12rem;
          height: 12rem;
          position: relative;
          left: 0;
          background-size: 100% 129.282%;
          background-position: 0 -0.5655rem;
          background-image: url('REPLACE_IMAGE:f576b260e708accaf94d2fd760b09d9cafe7fb8a');
          top: 0;
        }
        .blubana-toast-3W9 {
          font-size: 1.2rem;
          line-height: 1.5;
          letter-spacing: -0.0132rem;
          color: #0e793c;
          font-family: Inter, 'Source Sans Pro';
          width: 7.9rem;
          position: absolute;
          top: 12rem;
          font-weight: 400;
          white-space: nowrap;
          height: 1.8rem;
          left: 2.05rem;
          text-align: center;
        }
      }
      .raspberry-cake-LVF {
        margin: 4.6rem 4.3rem 4.5rem 0rem;
        width: 12rem;
        height: calc(100% - 9.1rem);
        position: relative;
        box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-5328-fGd {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #fafafa;
          border-radius: 1rem;
          width: 12rem;
          height: 14rem;
        }
        .rasberry-cheese-cake-oNq {
          width: 12rem;
          height: 12rem;
          position: relative;
          background-size: 138.571% 176.476%;
          background-position: -2.6571rem -3.8983rem;
          background-image: url('REPLACE_IMAGE:837e2801312f9ddc010e05c431c3bcaedf84f3b1');
          border-radius: 1rem;
          left: 0;
          top: 0;
        }
        .raspberry-cake-tv5 {
          height: 1.8rem;
          left: 1.55rem;
          top: 12rem;
          font-size: 1.2rem;
          white-space: nowrap;
          color: #0e793c;
          font-family: Inter, 'Source Sans Pro';
          width: 8.9rem;
          position: absolute;
          text-align: center;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.0132rem;
        }
      }
      .spring-salmon-PM3 {
        flex-shrink: 0;
        margin: 4.6rem 4.2rem 4.5rem 0rem;
        width: 12rem;
        height: calc(100% - 9.1rem);
        position: relative;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .rectangle-5329-i8R {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #fafafa;
          border-radius: 1rem;
          width: 12rem;
          height: 14rem;
        }
        .spring-salmon-rkR {
          position: relative;
          height: 12rem;
          left: 0;
          top: 0;
          background-size: 100% 226.802%;
          background-position: 0rem -11.787rem;
          background-image: url('REPLACE_IMAGE:f25751b3107d69ba41441ee4afcdccb0e5f61a7a');
          border-radius: 1rem;
          width: 12rem;
        }
        .spring-salmon-ZPw {
          color: #0e793c;
          white-space: nowrap;
          height: 1.8rem;
          font-size: 1.2rem;
          line-height: 1.5;
          top: 12rem;
          text-align: center;
          font-weight: 400;
          letter-spacing: -0.0132rem;
          font-family: Inter, 'Source Sans Pro';
          width: 8.1rem;
          position: absolute;
          left: 1.95rem;
        }
      }
      .auto-group-cbxf-r89 {
        margin-top: 4.6rem;
        width: 16.6754rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-bkds-b5j {
          margin-bottom: 0.9rem;
          width: 100%;
          height: 14.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .katsu-curry-85f {
            box-shadow: 0 0 1rem rgba(14, 121, 60, 0.25);
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3.8979rem;
            width: 12rem;
            height: 100%;
            position: relative;

            .rectangle-5330-GSm {
              top: 0;
              background-color: #fafafa;
              border-radius: 1rem;
              width: 12rem;
              height: 14rem;
              position: absolute;
              left: 0;
            }
            .japanese-curry-with-katsu-D77 {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              width: 12rem;
              height: 12rem;
              position: absolute;
            }
            .katsu-curry-wJ1 {
              position: absolute;
              left: 2.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              white-space: nowrap;
              letter-spacing: -0.0132rem;
              color: #0e793c;
              font-family: Inter, 'Source Sans Pro';
              width: 6.6rem;
              height: 1.8rem;
              top: 12rem;
              text-align: center;
              line-height: 1.5;
            }
          }
          .frame-22-psb {
            margin-bottom: 0.8266rem;
            width: 0.7775rem;
            height: 1.6258rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .more-about-list-m29 {
          font-weight: 600;
          letter-spacing: -0.0264rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.2754rem;
          text-align: right;
          color: #0e793c;
          flex-shrink: 0;
          font-size: 2.4rem;
          line-height: 1.5;
        }
      }
    }
    .footer-sL5 {
      left: 0;
      display: flex;
      align-items: center;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      position: absolute;
      height: 16rem;
      top: 139.1rem;
      box-sizing: border-box;
      width: 144rem;

      .auto-group-ucuo-xsK {
        margin-right: 41.1rem;
        width: 18.4rem;
        height: 100%;
        flex-shrink: 0;

        .group-20-JwB {
          margin-bottom: 0.8072rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;
          background-color: #fafafa;
          border-radius: 1.1rem;

          .px-herosupermarket-3-3Ny {
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-zxts-MeZ {
          align-items: flex-end;
          margin-left: 0.8rem;
          display: flex;

          .icon-facebook-77w {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.311rem 0.023rem 0rem;
            width: 2.0895rem;
            height: 2.0766rem;
          }
          .icon-twitter-cqP {
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-youtube-ZEq {
            width: 3.0051rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .about-us-6Em {
        font-size: 1.4rem;
        line-height: 1.5;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.35rem 3.1rem 0rem;
        text-align: center;
        font-weight: 600;
      }
      .faq-1cd {
        margin: 0rem 9.65rem 3.1rem 0rem;
        font-size: 1.4rem;
        font-weight: 600;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.5;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-ui1 {
        line-height: 1.5;
        white-space: nowrap;
        margin: 0rem 7.3rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .customer-survey-2nd {
        font-weight: 600;
        line-height: 1.5;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.1rem;
        font-size: 1.4rem;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
  .navbar-HyT {
    top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    left: 0;
    padding-bottom: 1.6rem;
    height: 16rem;
    align-items: center;
    background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);

    .logo-cVw {
      height: 8.5rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;

      .rectangle-5311-x41 {
        width: 144rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .item-67580793426116-3-h1b {
        width: 143.2rem;
        height: 8rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 100% 1200%;
        background-position: -0rem -48.9223rem;
        background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
      }
      .group-34396-aLH {
        width: 41rem;
        height: 8.5rem;
        position: absolute;
        left: 50.9rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .px-herosupermarket-3-JXB {
        height: 5.4rem;
        position: absolute;
        left: 62.9rem;
        top: 1.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 18.2rem;
      }
    }
    .auto-group-wwth-QaD {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 11.3rem 0rem 9.6rem;
      width: calc(100% - 20.9rem);
      height: 4.8rem;
      display: flex;

      .frame-34451-j6h {
        padding-right: 48.9rem;
        height: calc(100% - 2.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 30.8rem 1.1rem 0rem;
        box-sizing: border-box;

        .beranda-dxm {
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          margin-right: 0.6rem;
          display: flex;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-c1qt-xk9 {
          flex-shrink: 0;
          width: 15.8rem;
          height: 100%;

          .navbar-fresh-recipies-KKo {
            display: flex;
            align-items: center;
            width: 15.4rem;
            height: 100%;

            .line-176-4YH {
              width: 3.4rem;
              height: 0.2rem;
              background-color: #ffffff;
              flex-shrink: 0;
              margin: 0.6rem 0.5rem 0rem 0rem;
            }
            .fresh-recipies-nUH {
              font-weight: 500;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
            }
          }
        }
      }
      .button-shop-uoo {
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 1.2rem 4.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;

        .icon-cart-T4d {
          width: 2.1rem;
          height: 2.1014rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.099rem 0rem;
        }
        .shop-now-aQ9 {
          flex-shrink: 0;
          display: flex;
          line-height: 1.5;
          white-space: nowrap;
          font-weight: 500;
          color: #095028;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
        }
      }
    }
  }
}
