
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fresh-events-kru {
  width: 100%;
  height: 182.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .bg-tiD {
    top: 8.5rem;
    width: 144rem;
    height: 174.0001rem;
    position: absolute;
    left: 0;

    .item-67580793426116-6-QgZ {
      width: 144rem;
      height: 76.7581rem;
      position: absolute;
      left: 0;
      top: 97.242rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item-67580793426116-4-KHj {
      width: 144rem;
      height: 97.242rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .promo-highlight-3jX {
      width: 144rem;
      height: 48rem;
      position: absolute;
      left: 0;
      top: 7.5rem;

      .gambar-5-yNH {
        background-image: url('REPLACE_IMAGE:3ea42e89a9970dca352c26255a896e6ae120ed7a');
        width: 48rem;
        height: 48rem;
        left: 96rem;
        background-color: rgba(0, 0, 0, 0.5);
        background-position: center;
        position: absolute;
        top: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .gambar-4-5w7 {
        position: absolute;
        left: 74.4rem;
        top: 0;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.25);
        width: 48rem;
        height: 48rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:09e2bcd55ddd9ee9e15f2b8b759a7074f34977b2');
      }
      .gambar-3-acy {
        background-image: url('REPLACE_IMAGE:89b11c29e6ce29f8d7c0ecbf07d705137c702f29');
        height: 48rem;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 48rem;
        left: 48rem;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
      }
      .gambar-2-HGV {
        background-position: center;
        width: 48rem;
        height: 48rem;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:5be7753780587554da09189d3b2fffbcb2a34497');
        position: absolute;
        left: 22.7rem;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
      }
      .gambar-1-Zzh {
        height: 48rem;
        left: 0;
        top: 0;
        background-image: url('REPLACE_IMAGE:1c537e1cb6c480b3584388d8225a4a822fa703d9');
        width: 48rem;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
      }
    }
    .fresh-events-5TF {
      width: 25.9rem;
      left: 5.5rem;
      top: 59.5rem;
      text-align: center;
      font-size: 4rem;
      height: 6rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.5;
      color: #0e793c;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .footer-yHj {
      position: absolute;
      align-items: center;
      box-sizing: border-box;
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      width: 144rem;
      height: 16rem;
      left: 0;
      top: 158rem;
      display: flex;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);

      .auto-group-1m61-rsK {
        margin-right: 41.1rem;
        width: 18.4rem;
        height: 100%;
        flex-shrink: 0;

        .group-20-o1s {
          border-radius: 1.1rem;
          margin-bottom: 0.8073rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;
          background-color: #fafafa;

          .px-herosupermarket-3-iuX {
            vertical-align: top;
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
          }
        }
        .auto-group-mj5w-Ecy {
          margin-left: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon-facebook-yKf {
            margin: 0rem 0.311rem 0.023rem 0rem;
            width: 2.0895rem;
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-twitter-tBj {
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-youtube-ctR {
            width: 3.0051rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .about-us-9tM {
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.35rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
      }
      .faq-frh {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 9.65rem 3.1rem 0rem;
        text-align: center;
        line-height: 1.5;
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fafafa;
      }
      .contact-ze5 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 7.3rem 3.1rem 0rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #fafafa;
        text-align: center;
        flex-shrink: 0;
      }
      .customer-survey-ipy {
        margin-bottom: 3.1rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #fafafa;
      }
    }
    .pagination-dots-active6-dBF {
      height: 1.2rem;
      position: absolute;
      left: 131.8rem;
      top: 57rem;
      display: flex;
      column-gap: 1.2rem;
      align-items: center;
      width: 10.8rem;

      .dot-active-jzy {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dot-Uhf {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
      }
      .dot-d4m {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dot-mRs {
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 1.2rem;
      }
      .dot-7kd {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .fresh-events-4fs {
      left: 5.5rem;
      top: 69.5rem;
      display: flex;
      align-items: center;
      border-radius: 5rem;
      width: 133.8rem;
      height: 32.8rem;
      position: absolute;

      .event-1-zJd {
        width: 24rem;
        height: 100%;
        position: relative;
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 3.6rem;

        .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-jX7 {
          font-size: 1.2rem;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          width: 14.4rem;
          height: 5.4rem;
          position: absolute;
          left: 3.7rem;
          top: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.0132rem;

          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-jX7-sub-0 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-jX7-sub-1 {
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .rectangle-5373-Ekh {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
        .n-3-wv1 {
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
        .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-4zd {
          font-weight: 400;
          letter-spacing: -0.0132rem;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          width: 14.4rem;
          height: 5.4rem;
          position: absolute;
          top: 1.8rem;
          left: 3.7rem;
          font-size: 1.2rem;
          line-height: 1.5;

          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-4zd-sub-0 {
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-4zd-sub-1 {
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }
      .event-2-bmb {
        width: 24rem;
        height: 100%;
        position: relative;
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 3.6rem;

        .rectangle-5372-9HK {
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
        .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-fFf {
          font-weight: 400;
          letter-spacing: -0.0132rem;
          font-family: Inter, 'Source Sans Pro';
          height: 5.4rem;
          left: 3.7rem;
          top: 1.8rem;
          line-height: 1.5;
          color: #fafafa;
          width: 15.8rem;
          position: absolute;
          font-size: 1.2rem;

          .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-fFf-sub-0 {
          }
          .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-fFf-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .n-1-njb {
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
      }
      .auto-group-71ez-6EV {
        height: 100%;
        flex-shrink: 0;
        margin-right: 3.3rem;
        width: 24rem;

        .event-3-dER {
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 5rem;

          .rectangle-5374-Bmj {
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
          }
          .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-hk5 {
            left: 3.7rem;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            width: 16.5rem;
            height: 5.4rem;
            position: absolute;
            top: 1.8rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;

            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-hk5-sub-0 {
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-hk5-sub-1 {
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-hk5-sub-2 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-hk5-sub-3 {
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .n-1-3qs {
            position: absolute;
            left: 0;
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
          }
        }
      }
      .event-4-m1B {
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 3.3rem;
        width: 24rem;
        height: 100%;
        position: relative;

        .rectangle-5375-iBK {
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
        }
        .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-S7K {
          letter-spacing: -0.0132rem;
          color: #fafafa;
          width: 15.5rem;
          left: 3.7rem;
          top: 1.8rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          height: 5.4rem;
          position: absolute;

          .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-S7K-sub-0 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
          .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-S7K-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .saveinstaapp-3186271269753263669-1-tdX {
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
        }
      }
      .event-5-PaH {
        height: 100%;
        position: relative;
        border-radius: 5rem;
        flex-shrink: 0;
        width: 24rem;

        .rectangle-5376-k9w {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
        .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-4wK {
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          width: 14.4rem;
          height: 5.4rem;
          top: 1.8rem;
          font-size: 1.2rem;
          color: #fafafa;
          position: absolute;
          left: 3.7rem;
          font-weight: 400;
          letter-spacing: -0.0132rem;

          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-4wK-sub-0 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-4wK-sub-1 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
          }
        }
        .n-1-xQR {
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 8.8rem;
        }
      }
    }
    .fresh-events-qz1 {
      top: 108rem;
      display: flex;
      align-items: center;
      border-radius: 5rem;
      width: 133.8rem;
      height: 32.8rem;
      position: absolute;
      left: 5.5rem;

      .event-1-MxM {
        margin-right: 3.6rem;
        width: 24rem;
        height: 100%;
        position: relative;
        border-radius: 5rem;
        flex-shrink: 0;

        .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-hmK {
          left: 3.7rem;
          font-weight: 400;
          line-height: 1.5;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          height: 5.4rem;
          top: 1.8rem;
          font-size: 1.2rem;
          letter-spacing: -0.0132rem;
          width: 14.4rem;

          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-hmK-sub-0 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-hmK-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .rectangle-5373-ZS9 {
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
        }
        .n-3-HN9 {
          position: absolute;
          left: 0;
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
        .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-btd {
          width: 14.4rem;
          height: 5.4rem;
          left: 3.7rem;
          top: 1.8rem;
          font-weight: 400;
          color: #fafafa;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          font-size: 1.2rem;
          line-height: 1.5;
          letter-spacing: -0.0132rem;

          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-btd-sub-0 {
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-btd-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .event-2-sDs {
        margin-right: 3.6rem;
        width: 24rem;
        height: 100%;
        position: relative;
        border-radius: 5rem;
        flex-shrink: 0;

        .rectangle-5372-pQ1 {
          height: 24rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
        }
        .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-Yau {
          font-weight: 400;
          letter-spacing: -0.0132rem;
          color: #fafafa;
          top: 1.8rem;
          font-size: 1.2rem;
          position: absolute;
          left: 3.7rem;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          width: 15.8rem;
          height: 5.4rem;

          .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-Yau-sub-0 {
          }
          .okt-2-2023-pesta-mangga-suy-owakdoiawhduiadhaaioasjh-Yau-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .n-1-vLZ {
          position: absolute;
          left: 0;
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
        }
      }
      .auto-group-bxmk-EMF {
        flex-shrink: 0;
        margin-right: 3.3rem;
        width: 24rem;
        height: 100%;

        .event-3-BGV {
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 5rem;

          .rectangle-5374-LfB {
            height: 24rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
          }
          .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-rtR {
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            width: 16.5rem;
            position: absolute;
            top: 1.8rem;
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            height: 5.4rem;
            left: 3.7rem;
            font-weight: 400;

            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-rtR-sub-0 {
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-rtR-sub-1 {
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-rtR-sub-2 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
            .okt-5-2023-nantikan-cooking-demo-oleh-kaesang-rtR-sub-3 {
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
          .n-1-1oF {
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
          }
        }
      }
      .event-4-8cy {
        border-radius: 5rem;
        flex-shrink: 0;
        margin-right: 3.3rem;
        width: 24rem;
        height: 100%;
        position: relative;

        .rectangle-5375-HVs {
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-cY9 {
          position: absolute;
          letter-spacing: -0.0132rem;
          color: #fafafa;
          width: 15.5rem;
          height: 5.4rem;
          left: 3.7rem;
          top: 1.8rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';

          .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-cY9-sub-0 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
          .okt-1-2023-nantikan-veggies-fest-jangan-sampai-ketinggalan-cY9-sub-1 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .saveinstaapp-3186271269753263669-1-tPB {
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .event-5-Q6d {
        width: 24rem;
        height: 100%;
        position: relative;
        border-radius: 5rem;
        flex-shrink: 0;

        .rectangle-5376-9pu {
          border-radius: 5rem;
          width: 24rem;
          height: 24rem;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
          background-color: #0e793c;
        }
        .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-V85 {
          color: #fafafa;
          top: 1.8rem;
          line-height: 1.5;
          position: absolute;
          left: 3.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: -0.0132rem;
          font-family: Inter, 'Source Sans Pro';
          width: 14.4rem;
          height: 5.4rem;

          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-V85-sub-0 {
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .okt-1-2023-autmn-fest-jangan-lupa-untuk-nantikan-promo-ini-V85-sub-1 {
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.2rem;
          }
        }
        .n-1-kiD {
          height: 24rem;
          position: absolute;
          left: 0;
          top: 8.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 5rem;
          width: 24rem;
        }
      }
    }
  }
  .navbar-3SR {
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 1.6rem;
    position: absolute;
    align-items: center;
    display: flex;
    background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);
    width: 144rem;
    height: 16rem;
    left: 0;
    top: 0;

    .logo-gkH {
      margin-bottom: 1.1rem;
      width: 100%;
      height: 8.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-5311-Rhs {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        width: 144rem;
        height: 8rem;
      }
      .item-67580793426116-3-mWq {
        position: relative;
        left: 0;
        top: 0;
        background-size: 100% 1200%;
        background-position: -0rem -48.9223rem;
        background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
        width: 143.2rem;
        height: 8rem;
      }
      .group-34396-Fgu {
        left: 50.9rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 41rem;
        height: 8.5rem;
        position: absolute;
      }
      .px-herosupermarket-3-B4m {
        width: 18.2rem;
        height: 5.4rem;
        position: absolute;
        left: 62.9rem;
        top: 1.2rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-bhp7-5fw {
      width: calc(100% - 20.9rem);
      height: 4.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 11.3rem 0rem 9.6rem;

      .frame-34451-bPP {
        margin: 1.3rem 30.8rem 1.1rem 0rem;
        height: calc(100% - 2.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .beranda-7cd {
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #ffffff;
          margin-right: 5.5rem;
        }
        .tentang-hero-2jb {
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 1.5;
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 5.5rem;
          justify-content: center;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .fresh-recipe-MWy {
          margin-right: 5.45rem;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          color: #ffffff;
          flex-shrink: 0;
        }
        .promo-event-gZF {
          flex-shrink: 0;
          margin-right: 5.45rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          color: #ffffff;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .cara-belanja-otm {
          display: flex;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .button-shop-Lth {
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 1.2rem 4.2rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;

        .icon-cart-gSm {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.099rem 0rem;
          width: 2.1rem;
          height: 2.1014rem;
          position: relative;
          object-fit: contain;
        }
        .shop-now-1E9 {
          align-items: center;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #095028;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
  }
  .pagination-numbers-UNd {
    width: 33.9rem;
    height: 4rem;
    position: absolute;
    left: 115.4rem;
    top: 156.2rem;

    .pages-Q1P {
      width: 100%;
      height: 100%;
      display: flex;
      column-gap: 0.8rem;
      align-items: center;
      box-sizing: border-box;
      padding-right: 10rem;

      .auto-group-1lvo-w1K {
        box-sizing: border-box;
        padding-left: 4.8rem;
        width: 9rem;
        height: 100%;
        flex-shrink: 0;

        .button-H5B {
          display: flex;
          align-items: center;
          font-weight: 500;
          border-radius: 0.8rem;
          position: relative;
          color: #0e793c;
          white-space: nowrap;
          width: 100%;
          height: 100%;
          overflow: hidden;
          justify-content: center;
          font-size: 1.6rem;
          line-height: 1.5;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .button-Lp9 {
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-size: 1.6rem;
        font-weight: 500;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        width: 4.3rem;
        height: 100%;
        line-height: 1.5;
        justify-content: center;
        color: #0e793c;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .button-2BB {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 0.8rem 1.417rem 0.8rem 1.6rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 0.8rem;

        .label-wow {
          font-weight: 500;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.2167rem;
          justify-content: center;
          font-size: 1.6rem;
          color: #0e793c;
          white-space: nowrap;
          display: flex;
          align-items: center;
        }
        .icon-alt-fjw {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.0002rem;
          width: 1.1667rem;
          height: 1.1666rem;
        }
      }
    }
  }
}
