
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fresh-offers-TD3 {
  height: 182.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .bg-Q8H {
    left: 0;
    top: 8.5rem;
    width: 144rem;
    height: 174rem;
    position: absolute;

    .item-67580793426116-6-vsK {
      vertical-align: top;
      width: 144rem;
      height: 76.758rem;
      position: absolute;
      left: 0;
      top: 97.242rem;
      object-fit: cover;
    }
    .item-67580793426116-4-eYR {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 97.242rem;
      position: absolute;
      left: 0;
    }
    .promo-highlight-n8q {
      position: absolute;
      left: 0;
      top: 7.5rem;
      width: 144rem;
      height: 48rem;

      .gambar-1-Wad {
        top: 0;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-image: url('REPLACE_IMAGE:1c537e1cb6c480b3584388d8225a4a822fa703d9');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 48rem;
        height: 48rem;
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .gambar-5-QAD {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ea42e89a9970dca352c26255a896e6ae120ed7a');
        height: 48rem;
        left: 96rem;
        background-size: 100% 100%;
        width: 48rem;
      }
      .gambar-2-86D {
        left: 22.7rem;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:5be7753780587554da09189d3b2fffbcb2a34497');
        height: 48rem;
        position: absolute;
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-position: center;
        width: 48rem;
        top: 0;
      }
      .gambar-3-R5K {
        box-shadow: 1rem 0.3rem 1rem rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:89b11c29e6ce29f8d7c0ecbf07d705137c702f29');
        width: 48rem;
        height: 48rem;
        position: absolute;
        left: 48rem;
        top: 0;
        background-size: 100% 100%;
        background-position: center;
      }
      .gambar-4-X8M {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 48rem;
        height: 48rem;
        position: absolute;
        left: 74.4rem;
      }
    }
    .special-offer-this-month-TXo {
      left: 5.1rem;
      top: 59.5rem;
      font-weight: 700;
      color: #0e793c;
      position: absolute;
      height: 6rem;
      text-align: center;
      font-size: 4rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 50.4rem;
    }
    .promo-group-child-9fX {
      position: absolute;
      left: 5.1rem;
      top: 69.5rem;
      display: flex;
      align-items: center;
      border-radius: 5rem;
      width: 134.2rem;
      height: 71.9rem;

      .auto-group-w8x1-s5j {
        margin-right: 3.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-tpk3-bnR {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0.4rem 6.3rem 0rem;
          width: 24rem;
          height: 32.8rem;

          .rectangle-5372-haZ {
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
          }
          .n-11-1LM {
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1 {
            top: 2.3rem;
            font-size: 1.2rem;
            line-height: 1.5;
            width: 15.1rem;
            height: 5.4rem;
            position: absolute;
            color: #fafafa;
            font-family: Inter, 'Source Sans Pro';
            left: 4.7rem;
            font-weight: 400;
            letter-spacing: -0.0132rem;

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1-sub-0 {
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-WY1-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
          }
        }
        .auto-group-yanu-DjF {
          margin-left: 0.4rem;
          width: 24rem;
          height: 32.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-5377-xRw {
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
          }
          .n-12-5WZ {
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.8rem;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ {
            font-family: Inter, 'Source Sans Pro';
            height: 5.4rem;
            position: absolute;
            left: 4.7rem;
            top: 2.3rem;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            width: 15.1rem;
            font-size: 1.2rem;
            font-weight: 400;

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-oSZ-sub-1 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-grwd-ozH {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 3.2rem;
        height: 100%;

        .auto-group-pwny-AK3 {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0.4rem 6.3rem 0rem;
          width: 24rem;
          height: 32.8rem;

          .rectangle-5373-V6R {
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
          }
          .n-2-QDP {
            left: 0;
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9 {
            position: absolute;
            left: 4.5rem;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            width: 15.1rem;
            top: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            color: #fafafa;
            height: 5.4rem;

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9-sub-0 {
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Kr9-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
            }
          }
        }
        .auto-group-7ty7-NT3 {
          margin-left: 0.4rem;
          width: 24rem;
          height: 32.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-5378-i17 {
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
          }
          .n-3-EVF {
            left: 0;
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD {
            color: #fafafa;
            width: 15.1rem;
            position: absolute;
            left: 4.5rem;
            top: 1.8rem;
            letter-spacing: -0.0132rem;
            font-family: Inter, 'Source Sans Pro';
            height: 5.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-9cD-sub-1 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-wbhk-DVb {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        align-items: center;

        .auto-group-gtbj-a5F {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0.4rem 6.3rem 0rem;
          width: 24rem;
          height: 32.8rem;

          .rectangle-5374-6ZP {
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
          }
          .n-2-2C9 {
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89 {
            font-size: 1.2rem;
            color: #fafafa;
            width: 15.1rem;
            height: 5.4rem;
            position: absolute;
            left: 4.5rem;
            top: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            font-family: Inter, 'Source Sans Pro';

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-k89-sub-1 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-zevv-bY5 {
          margin-left: 0.4rem;
          width: 24rem;
          height: 32.8rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-5379-LEm {
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: #0e793c;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .n-3-emF {
            top: 8.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5rem;
            width: 24rem;
            height: 24rem;
            position: absolute;
            left: 0;
          }
          .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH {
            height: 5.4rem;
            position: absolute;
            left: 4.5rem;
            top: 1.8rem;
            font-weight: 400;
            color: #fafafa;
            width: 15.1rem;
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: -0.0132rem;
            font-family: Inter, 'Source Sans Pro';

            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH-sub-0 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-BWH-sub-1 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-4f6q-TMK {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2.9rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .auto-group-o91s-nuP {
          margin-right: 2.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-6ejk-jpd {
            height: 32.6rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0.4rem 6.5rem 0rem;
            width: 24rem;

            .rectangle-5375-GJm {
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
              background-color: #0e793c;
            }
            .n-2-o3o {
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 8.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey {
              top: 1.8rem;
              font-size: 1.2rem;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';
              width: 15.1rem;
              position: absolute;
              font-weight: 400;
              height: 5.4rem;
              left: 4.5rem;

              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
              }
              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-hey-sub-1 {
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 600;
              }
            }
          }
          .auto-group-vomk-xjK {
            margin-left: 0.4rem;
            width: 24rem;
            height: 32.6rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-5380-uPf {
              background-color: #0e793c;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            }
            .n-3-daZ {
              vertical-align: top;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 8.6rem;
              object-fit: cover;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7 {
              top: 1.8rem;
              font-size: 1.2rem;
              font-family: Inter, 'Source Sans Pro';
              height: 5.4rem;
              left: 4.5rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              width: 15.1rem;
              position: absolute;

              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7-sub-0 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
              }
              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Zj7-sub-1 {
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 600;
              }
            }
          }
        }
        .auto-group-euyf-r5w {
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          display: flex;

          .auto-group-a1tp-Q7T {
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0.4rem 6.5rem 0rem;
            width: 24rem;
            height: 32.6rem;

            .rectangle-5376-KkD {
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
              background-color: #0e793c;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
            }
            .n-2-2ed {
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 8.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy {
              position: absolute;
              left: 5.6rem;
              font-size: 1.2rem;
              letter-spacing: -0.0132rem;
              color: #fafafa;
              width: 15.1rem;
              height: 5.4rem;
              top: 1.8rem;
              font-weight: 400;
              line-height: 1.5;
              font-family: Inter, 'Source Sans Pro';

              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy-sub-0 {
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
              }
              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-Ycy-sub-1 {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .auto-group-sxdx-dXw {
            width: 24rem;
            height: 32.6rem;
            position: relative;
            flex-shrink: 0;
            margin-left: 0.4rem;

            .rectangle-5381-Anm {
              width: 24rem;
              height: 24rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
              background-color: #0e793c;
              border-radius: 5rem;
            }
            .n-3-hGu {
              left: 0;
              top: 8.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              width: 24rem;
              height: 24rem;
              position: absolute;
            }
            .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ {
              width: 15.1rem;
              height: 5.4rem;
              left: 5.6rem;
              top: 1.8rem;
              font-size: 1.2rem;
              letter-spacing: -0.0132rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.5;
              color: #fafafa;
              font-family: Inter, 'Source Sans Pro';

              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ-sub-0 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
              }
              .okt-1-2023-promo-sosis-bulan-ini-guys-asdiuagsd8asuhdasi-dAZ-sub-1 {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: -0.0132rem;
                color: #fafafa;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .footer-6CZ {
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
      box-sizing: border-box;
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      position: absolute;
      left: 0;
      top: 158rem;
      display: flex;
      align-items: center;
      width: 144rem;
      height: 16rem;

      .auto-group-vdf7-a7j {
        margin-right: 41.1rem;
        width: 18.4rem;
        height: 100%;
        flex-shrink: 0;

        .group-20-ufo {
          background-color: #fafafa;
          border-radius: 1.1rem;
          margin-bottom: 0.8072rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;

          .px-herosupermarket-3-SQq {
            vertical-align: top;
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
          }
        }
        .auto-group-daq9-Mnh {
          display: flex;
          align-items: flex-end;
          margin-left: 0.8rem;

          .icon-facebook-hrZ {
            margin: 0rem 0.311rem 0.023rem 0rem;
            width: 2.0895rem;
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-twitter-DK7 {
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.3102rem;
          }
          .icon-youtube-9Tf {
            width: 3.0051rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .about-us-gTb {
        flex-shrink: 0;
        margin: 0rem 9.35rem 3.1rem 0rem;
        font-weight: 600;
        line-height: 1.5;
        color: #fafafa;
        white-space: nowrap;
        text-align: center;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .faq-Pso {
        margin: 0rem 9.65rem 3.1rem 0rem;
        text-align: center;
        line-height: 1.5;
        color: #fafafa;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-WxR {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #fafafa;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 7.3rem 3.1rem 0rem;
        white-space: nowrap;
      }
      .customer-survey-3Bf {
        font-weight: 600;
        color: #fafafa;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 3.1rem;
      }
    }
  }
  .navbar-8D7 {
    left: 0;
    top: 0;
    align-items: center;
    background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);
    position: absolute;
    padding-bottom: 1.6rem;
    width: 144rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .logo-SUh {
      margin-bottom: 1.1rem;
      width: 100%;
      height: 8.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-5311-nYZ {
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        width: 144rem;
      }
      .item-67580793426116-3-vuf {
        width: 143.2rem;
        height: 8rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 100% 1200%;
        background-position: -0rem -48.9223rem;
        background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
      }
      .group-34396-1gD {
        object-fit: contain;
        vertical-align: top;
        width: 41rem;
        height: 8.5rem;
        position: absolute;
        left: 50.9rem;
        top: 0;
      }
      .px-herosupermarket-3-9nR {
        top: 1.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 18.2rem;
        height: 5.4rem;
        position: absolute;
        left: 62.9rem;
      }
    }
    .auto-group-4wjr-fVs {
      margin: 0rem 11.3rem 0rem 9.6rem;
      width: calc(100% - 20.9rem);
      height: 4.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-34451-BDK {
        flex-shrink: 0;
        margin: 1.3rem 30.8rem 1.1rem 0rem;
        height: calc(100% - 2.4rem);
        display: flex;
        align-items: center;

        .beranda-6bB {
          align-items: center;
          justify-content: center;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 5.5rem;
          display: flex;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
        }
        .tentang-hero-cZX {
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #ffffff;
          display: flex;
          align-items: center;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.5rem;
          line-height: 1.5;
        }
        .fresh-recipe-LEd {
          align-items: center;
          justify-content: center;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 5.45rem;
          display: flex;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          line-height: 1.5;
        }
        .promo-event-FMb {
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 5.45rem;
          justify-content: center;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
        .cara-belanja-yoP {
          justify-content: center;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
        }
      }
      .button-shop-Jqf {
        cursor: pointer;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 4.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 1rem;

        .icon-cart-3oF {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.099rem 0rem;
          width: 2.1rem;
          height: 2.1014rem;
          position: relative;
          object-fit: contain;
        }
        .shop-now-aHP {
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-size: 1.6rem;
          color: #095028;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-weight: 500;
        }
      }
    }
  }
  .pagination-numbers-4CZ {
    height: 4rem;
    position: absolute;
    left: 115.4rem;
    top: 156.2rem;
    width: 33.9rem;

    .pages-z6D {
      box-sizing: border-box;
      padding-right: 10rem;
      width: 100%;
      height: 100%;
      display: flex;
      column-gap: 0.8rem;
      align-items: center;

      .auto-group-2xcq-KeH {
        width: 9rem;
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 4.8rem;

        .button-fi9 {
          overflow: hidden;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
          height: 100%;
          position: relative;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          align-items: center;
          justify-content: center;
          color: #0e793c;
          border-radius: 0.8rem;
          font-size: 1.6rem;
          white-space: nowrap;
          background-color: #ffffff;
        }
      }
      .button-w9s {
        color: #0e793c;
        background-color: #ffffff;
        height: 100%;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        position: relative;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        white-space: nowrap;
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 4.3rem;
      }
      .button-1fX {
        align-items: center;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding: 0.8rem 1.417rem 0.8rem 1.6rem;
        height: 100%;
        position: relative;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #ffffff;

        .label-9Fw {
          margin-right: 1.2167rem;
          display: flex;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #0e793c;
          white-space: nowrap;
        }
        .icon-alt-59b {
          width: 1.1667rem;
          height: 1.1666rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.0002rem;
        }
      }
    }
  }
}
