
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 34.8rem;
}.keranjang-35T {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .lnjt-belanja-PQD {
    display: flex;
    flex-direction: column;
    background-color: #e8faf0;
    flex-shrink: 0;
    margin-bottom: 1.8rem;
    box-sizing: border-box;
    padding-top: 1.9rem;
    width: 100%;

    .auto-group-hogm-jDB {
      margin: 0rem 16.6rem 1.8rem 1.5rem;
      width: calc(100% - 18.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vuesax-linear-arrow-down-rYh {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.5rem 0.1rem 0rem;
        width: 1.4rem;
        height: 1.4rem;
        object-fit: contain;
      }
      .lanjutkan-belanja-mff {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.07rem;
        color: #525252;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
    .vector-86-VLm {
      width: 34.8rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .pesanan-anda-S17 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .pesanan-anda-CFB {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #20992e;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.8rem 2rem;
      letter-spacing: 0.07rem;
    }
    .vector-86-Jp1 {
      flex-shrink: 0;
      width: 34.8rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-schf-4oB {
    box-sizing: border-box;
    padding: 1.8rem 0rem 3.7rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-s9jh-oEy {
      margin: 0rem 1.9rem 33.2rem 2rem;
      width: calc(100% - 3.9rem);
      height: 2.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .jumlah-produk-KUD {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 20.4rem;

        .produk-GPT {
          letter-spacing: 0.07rem;
          color: #20992e;
          margin-right: 0.2rem;
          font-weight: 700;
          line-height: 1.5;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-0-yof {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.06rem;
          color: #8b8b8b;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .vuesax-linear-arrow-up-uhK {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .vector-86-TD3 {
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 34.8rem;
    }
    .subtotal-Q8H {
      flex-shrink: 0;
      margin: 0rem 3.2rem 2.2rem 2.7rem;
      width: calc(100% - 5.9rem);
      display: flex;
      align-items: center;

      .subtotal--Xyb {
        font-size: 1.4rem;
        font-weight: 600;
        color: #8b8b8b;
        flex-shrink: 0;
        margin-right: 16.6rem;
        line-height: 1.5;
        letter-spacing: 0.07rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rp-0--Fub {
        letter-spacing: 0.07rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .catatan-CK3 {
      flex-direction: column;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin: 0rem 2.7rem 1.4rem 2.7rem;
      width: calc(100% - 5.4rem);
      display: flex;

      .tambahkan-catatan-Y81 {
        margin-bottom: 0.6rem;
        line-height: 1.5;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
        color: #8b8b8b;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-5399-GZo {
        border: solid 0.1rem #cfcfcf;
        box-sizing: border-box;
        border-radius: 0.3rem;
        flex-shrink: 0;
        width: 100%;
        height: 6.8rem;
      }
    }
    .lihat-keranjang-zEu {
      justify-content: center;
      border-radius: 0.3rem;
      font-size: 1.4rem;
      display: flex;
      font-weight: 600;
      letter-spacing: 0.07rem;
      align-items: center;
      margin: 0 2.7rem;
      height: 4rem;
      flex-shrink: 0;
      cursor: pointer;
      font-family: Poppins, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      background-color: #20992e;
      width: calc(100% - 5.4rem);
      line-height: 1.5;
    }
  }
}
