
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.list-produk-segar-1cD {
  box-sizing: border-box;
  padding: 2.7rem 75.2rem 4rem 26.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;

  .collections-VnH {
    margin-right: 9.1rem;
    height: 20.5rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .sayur-buah-dNh {
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      letter-spacing: 0.08rem;
      color: #7e7e7e;
      white-space: nowrap;
      font-weight: 700;
    }
    .sayur-8KT {
      letter-spacing: 0.08rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 1.1rem;
      white-space: nowrap;
    }
    .jamur-kecambah-qjf {
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #5a5c62;
      flex-shrink: 0;
    }
    .rempah-bumbu-Mxu {
      margin-bottom: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #5a5c62;
      font-size: 1.6rem;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .buah-segar-69o {
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      margin-bottom: 1.1rem;
      font-weight: 400;
    }
    .tahu-fermentasi-23T {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
    }
  }
  .collections-985 {
    flex-direction: column;
    flex-shrink: 0;
    height: 20.5rem;
    display: flex;

    .daging-seafood-gNu {
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-weight: 700;
      color: #7e7e7e;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
    }
    .daging-sapi-c1f {
      font-weight: 400;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .lamb-LiM {
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.6rem;
      line-height: 1.5;
      color: #5a5c62;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-weight: 400;
      letter-spacing: 0.08rem;
    }
    .unggas-telur-fkd {
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #5a5c62;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ikan-air-tawar-Biy {
      font-size: 1.6rem;
      color: #5a5c62;
      margin-bottom: 1.1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .seafood-XH3 {
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
