
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.list-buy-again-cKB {
  width: 100%;
  height: 129.4rem;
  background-color: #ffffff;

  .background-ZVK {
    height: 100%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
    width: 100%;

    .putih-atas-pattern-uZB {
      height: 105.3rem;
      position: absolute;
      left: 10.5rem;
      top: 14.6rem;
      background-color: #ffffff;
      width: 123rem;
    }
    .footer-2do {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);
      width: 144rem;
      height: 16rem;
      top: 113.4rem;
      box-sizing: border-box;
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;

      .auto-group-rnjt-JrD {
        flex-shrink: 0;
        margin-right: 41.1rem;
        width: 18.4rem;
        height: 100%;

        .group-20-SxR {
          width: 100%;
          background-color: #ffffff;
          border-radius: 1.1rem;
          margin-bottom: 0.8073rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;

          .px-herosupermarket-3-B9K {
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-aup5-5Vb {
          margin-left: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon-facebook-oRb {
            width: 2.0895rem;
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.311rem 0.023rem 0rem;
          }
          .icon-twitter-JdF {
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-youtube-353 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.0051rem;
            height: 2.1rem;
          }
        }
      }
      .about-us-xxh {
        text-align: center;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 9.35rem 3.1rem 0rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
      }
      .faq-UAM {
        margin: 0rem 9.65rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-aDP {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.3rem 3.1rem 0rem;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
      }
      .customer-survey-hJ1 {
        line-height: 1.5;
        margin-bottom: 3.1rem;
        text-align: center;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
    .my-wishlist-Pgd {
      width: 18.3rem;
      position: absolute;
      left: 16.6rem;
      top: 25.15rem;
      letter-spacing: -0.077rem;
      color: #20992e;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.7rem;
      display: flex;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 1.0399999346;
    }
    .group-34427-HX7 {
      align-items: center;
      width: 7.5rem;
      height: 2.4rem;
      position: absolute;
      left: 16.7rem;
      top: 32.45rem;
      display: flex;

      .drop-down-1i1 {
        width: 2rem;
        height: 2.4rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .apa-ya-YT3 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.0399999619;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        display: flex;
        letter-spacing: -0.0308rem;
        color: #535353;
      }
    }
    .group-34428-G89 {
      height: 2.4rem;
      position: absolute;
      left: 16.7rem;
      top: 46.5rem;
      display: flex;
      align-items: center;
      width: 8.9rem;

      .drop-down-C1o {
        width: 2rem;
        height: 2.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .favorites-LNu {
        line-height: 1.0399999619;
        color: #535353;
        white-space: nowrap;
        margin-bottom: 0.1rem;
        display: flex;
        font-weight: 500;
        flex-shrink: 0;
        font-size: 1.4rem;
        letter-spacing: -0.0308rem;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .this-list-is-emty-TTX {
      left: 20.8rem;
      display: flex;
      letter-spacing: -0.0308rem;
      color: #8b8b8b;
      font-family: Poppins, 'Source Sans Pro';
      width: 10.2rem;
      height: 1.5rem;
      position: absolute;
      top: 38.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.0399999619;
      white-space: nowrap;
    }
    .this-list-is-emty-Yzm {
      width: 10.2rem;
      top: 52.65rem;
      font-size: 1.4rem;
      color: #8b8b8b;
      font-family: Poppins, 'Source Sans Pro';
      height: 1.5rem;
      position: absolute;
      left: 20.8rem;
      display: flex;
      font-weight: 500;
      line-height: 1.0399999619;
      letter-spacing: -0.0308rem;
      white-space: nowrap;
    }
    .line-172-rEm {
      width: 109.3rem;
      height: 0.1rem;
      position: absolute;
      left: 17.3rem;
      top: 30.8rem;
      background-color: #8b8b8b;
    }
    .line-173-yKP {
      height: 0.1rem;
      position: absolute;
      left: 17.3rem;
      top: 44.5rem;
      background-color: #8b8b8b;
      width: 109.3rem;
    }
    .line-174-6eu {
      top: 58.55rem;
      background-color: #8b8b8b;
      width: 109.3rem;
      height: 0.1rem;
      position: absolute;
      left: 17.3rem;
    }
    .group-34425-Rx5 {
      width: 25.1rem;
      height: 3.8rem;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      border-radius: 0.5rem;
      line-height: 1.5;
      letter-spacing: 0.126rem;
      align-items: center;
      justify-content: center;
      left: 100.1rem;
      top: 25.3rem;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #2e9f3b;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .group-34426-sp5 {
      object-fit: contain;
      vertical-align: top;
      width: 1.3rem;
      height: 0.3rem;
      position: absolute;
      left: 123.5rem;
      top: 33.4rem;
    }
    .navbar-shoping-Qp1 {
      height: 16rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-top: 3rem;
      width: 144rem;

      .group-34377-MDT {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-yw8v-6gq {
          margin: 0rem 10.5rem 2rem 8.1rem;
          width: calc(100% - 18.6rem);
          height: 5.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-navbar-pMw {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.684rem 1.025rem 0.57rem 1.139rem;
            height: 100%;
            cursor: pointer;
            background-color: #ffffff;
            border-radius: 1.1rem;

            .px-herosupermarket-3-MMs {
              width: 15.0357rem;
              height: 4.446rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-aptb-rpR {
            box-sizing: border-box;
            padding-left: 16.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-34376-Q5F {
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              cursor: pointer;
              display: flex;
              align-items: center;
              margin: 0rem 6.5rem 0.3rem 0rem;
              padding: 1.5rem 1.8rem 1.5rem 2.1rem;
              border: solid 0.1rem #20992e;
              background-color: #e8faf0;

              .search-product-7EZ {
                margin-right: 20.9rem;
                color: #8b8b8b;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                flex-shrink: 0;
              }
              .vector-qAZ {
                height: 2.3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.1rem;
                width: 2.3rem;
              }
            }
            .group-34372-X3P {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.4rem 0rem;
              width: 4.5rem;
              height: 4.5rem;
              cursor: pointer;
              object-fit: contain;
            }
            .my-wishlist-EyP {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 4.4rem 0.5rem 0rem;
              max-width: 6.4rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3125;

              .my-wishlist-EyP-sub-0 {
                line-height: 1.5;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 400;
              }
              .my-wishlist-EyP-sub-1 {
              }
            }
            .group-34374-mM3 {
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.2rem 0rem;
              width: 4.5rem;
              height: 4.5rem;
            }
            .sign-up-or-log-in-VXw {
              flex-shrink: 0;
              max-width: 5.1rem;
              cursor: pointer;
              line-height: 1.5;
              color: #20992e;
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 6.4rem 0.3rem 0rem;
              font-size: 1.4rem;
              font-weight: 500;

              .sign-up-or-log-in-VXw-sub-0 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5;
                color: #20992e;
              }
              .sign-up-or-log-in-VXw-sub-1 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.3125;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .group-34375-CKs {
              align-items: center;
              background-size: cover;
              padding: 0.5rem 1.8rem 0.8rem 1.7rem;
              height: calc(100% - 1.2rem);
              display: flex;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:I4:1308;4:1563');
              flex-shrink: 0;
              margin: 0.5rem 0rem 0.7rem 0rem;
              box-sizing: border-box;

              .shopping-cart-2-4-W5f {
                width: 2.4rem;
                height: 2.4rem;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                flex-shrink: 0;
                margin: 0.2rem 1.1rem 0rem 0rem;

                .shopping-cart-2-4-W5f-bg {
                  background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
                  width: 2.4rem;
                  height: 2.4rem;
                  position: relative;
                }
              }
              .shoppingchart-Koo {
                max-width: 5.8rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1;
                color: #20992e;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;

                .shoppingchart-Koo-sub-0 {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .shoppingchart-Koo-sub-1 {
                  line-height: 1;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 600;
                }
                .shoppingchart-Koo-sub-2 {
                  font-weight: 600;
                  line-height: 1.1428571429;
                  color: #20992e;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
        .auto-group-nzp5-vx1 {
          background-color: #0d7038;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 26.3rem;
          width: 100%;
          height: 5.3rem;

          .group-34382-sMT {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .promo-EC1 {
              text-align: center;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0.1rem 3.5rem 0rem 0rem;
              font-size: 1.6rem;
              font-weight: 500;
              color: #ffffff;
              white-space: nowrap;
            }
            .frame-34403-MGd {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 0.7rem 1.4rem 1.3rem;
              width: 17.1rem;
              height: 100%;
              cursor: pointer;
              background-color: #0d7038;

              .group-34379-gJu {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .produk-segar-qBo {
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 1rem;
                  flex-shrink: 0;
                }
                .drop-down-9yB {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .auto-group-g51j-4qF {
              height: 100%;
              display: flex;
              column-gap: 4.8rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 0rem 1.4rem 3.4rem;

              .group-34378-nFT {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .bahan-masak-8aD {
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.3rem;
                  text-align: center;
                  font-weight: 500;
                  line-height: 1.5;
                  font-size: 1.6rem;
                }
                .drop-down-Sqo {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-34380-yqj {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .susu-produk-beku-LwB {
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                }
                .drop-down-5tm {
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .group-34381-q7F {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .snack-zVw {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  flex-shrink: 0;
                  margin-right: 0.2rem;
                  text-align: center;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .drop-down-v8h {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2.4rem;
                  position: relative;
                }
              }
              .brands-fc5 {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
}
