
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 72.6rem;
}.metode-bayarindomaret-Npq {
  width: 100%;
  height: 71.9rem;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;

  .group-34516-Wg9 {
    width: 32.3rem;
    cursor: pointer;
    text-align: center;
    line-height: 1.2125;
    letter-spacing: 0.04rem;
    white-space: nowrap;
    background-color: #4aac55;
    position: absolute;
    left: 20.1rem;
    font-size: 2rem;
    align-items: center;
    border-radius: 0.9rem;
    top: 62.8rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    height: 5.1rem;
    font-weight: 700;
    display: flex;
  }
  .auto-group-djfb-joo {
    width: 46.45rem;
    height: 5.3rem;
    position: absolute;
    left: 3.9rem;
    top: 3rem;
    display: flex;
    align-items: center;

    .button-next-slider--sQD {
      margin-right: 14.85rem;
      width: 3.6rem;
      height: 5.3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .pilih-pembayaran-c6u {
      letter-spacing: 0.064rem;
      color: #5a5c62;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      font-size: 3.2rem;
    }
  }
  .frame-34488-F9s {
    position: absolute;
    left: 4.8rem;
    row-gap: 0.6rem;
    align-items: center;
    width: 62.5rem;
    top: 39.8rem;
    display: flex;
    flex-direction: column;
    height: 10.8rem;

    .group-34517-mP7 {
      margin: 0 0.3rem;
      width: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .total-harga-1-produk-iJM {
        margin: 0rem 30.3rem 0.7rem 0rem;
        letter-spacing: 0.04rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #5a5c62;
      }
      .rp16800-DF7 {
        font-size: 2rem;
        color: #5a5c62;
        flex-shrink: 0;
        margin-top: 0.7rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.2125;
        letter-spacing: 0.04rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-34510-YHP {
      margin-right: 0.1rem;
      width: calc(100% - 0.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .total-ongkos-kirim-ts3 {
        text-align: center;
        white-space: nowrap;
        color: #5a5c62;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 33.2rem 0.7rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2125;
        letter-spacing: 0.04rem;
      }
      .rp30000-Q4h {
        font-size: 2rem;
        font-weight: 500;
        color: #5a5c62;
        white-space: nowrap;
        margin-top: 0.7rem;
        text-align: center;
        line-height: 1.2125;
        letter-spacing: 0.04rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-34518-sys {
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 0.3rem;

      .biaya-jasa-aplikasi-Dnq {
        font-weight: 500;
        line-height: 1.2125;
        letter-spacing: 0.04rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        text-align: center;
        color: #5a5c62;
        margin: 0rem 35.2rem 0.7rem 0rem;
      }
      .rp1000-LcZ {
        font-size: 2rem;
        letter-spacing: 0.04rem;
        white-space: nowrap;
        margin-top: 0.7rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.2125;
        color: #5a5c62;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .vector-95-3Wy {
    width: 62.2rem;
    height: 0;
    position: absolute;
    left: 5.1rem;
    top: 53.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-e2hp-C8y {
    top: 55.9rem;
    display: flex;
    align-items: center;
    width: 61.9rem;
    height: 3rem;
    position: absolute;
    left: 5.1rem;

    .total-belanja-Jxh {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      letter-spacing: 0.048rem;
      margin-right: 34.4rem;
      text-align: center;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .rp47800-DZs {
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      letter-spacing: 0.048rem;
      color: #000000;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .metode-bayar-LPb {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 0.7318181992;
    color: #525867;
    height: 1.7rem;
    position: absolute;
    left: 5.9rem;
    top: 10.3rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.9rem;
    display: flex;
  }
  .frame-34489-3oo {
    width: 62.1rem;
    align-items: center;
    row-gap: 2.25rem;
    display: flex;
    flex-direction: column;
    height: 18.05rem;
    position: absolute;
    left: 4.9rem;
    top: 14.7rem;

    .mandiri-aHw {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0.9rem 0rem 2.1rem;
      width: 100%;
      height: 4.85rem;
      cursor: pointer;
      border-bottom: solid 0.05rem #b8c5d0;

      .auto-group-queh-6GH {
        height: 3.8rem;
        display: flex;
        align-items: flex-end;
        width: 100%;

        .rectangle-5428-Sqw {
          height: 3.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.7rem;
          width: 5.1rem;
        }
        .debit-instan-mandiri-mdK {
          display: flex;
          font-weight: 500;
          line-height: 0.8944444656;
          color: #525867;
          margin: 0rem 32.2rem 0.6rem 0rem;
          font-size: 1.8rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .selection-HrZ {
          border-radius: 2.4rem;
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .indomart-oa1 {
      cursor: pointer;
      border-bottom: solid 0.05rem #b8c5d0;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0.9rem 0rem 1.8rem;
      width: 100%;
      height: 4.35rem;

      .auto-group-2n2v-jiZ {
        align-items: center;
        width: 100%;
        height: 2.8rem;
        display: flex;

        .image-128-GiV {
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.4rem 0rem;
          width: 5.7rem;
          height: 2rem;
          object-fit: cover;
          vertical-align: top;
        }
        .indomaret-ceriamart-zPb {
          color: #525867;
          margin: 0rem 30.5rem 0.1rem 0rem;
          display: flex;
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          line-height: 0.8944444656;
          font-family: Inter, 'Source Sans Pro';
        }
        .selection-tjs {
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.4rem;
          flex-shrink: 0;
          width: 2.8rem;
        }
      }
    }
    .indomart-znu {
      border-bottom: solid 0.05rem #b8c5d0;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0.9rem 0rem 2.1rem;
      width: 100%;
      height: 4.35rem;
      cursor: pointer;

      .auto-group-92sj-Lbs {
        width: 100%;
        height: 2.8rem;
        display: flex;
        align-items: center;

        .rectangle-5429-VUm {
          margin: 0rem 1.7rem 0.2rem 0rem;
          width: 5.1rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bri-virtual-account-RNR {
          display: flex;
          font-size: 1.8rem;
          font-weight: 500;
          color: #525867;
          flex-shrink: 0;
          margin: 0rem 32.8rem 0.1rem 0rem;
          line-height: 0.8944444656;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .selection-7FF {
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.4rem;
        }
      }
    }
  }
}
