
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.navbar-shoping-zAu {
  width: 100%;
  height: 16rem;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 3rem;

  .group-34377-uof {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .auto-group-badp-qxD {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10.5rem 2rem 8.1rem;
      width: calc(100% - 18.6rem);
      height: 5.7rem;

      .logo-navbar-xX3 {
        padding: 0.684rem 1.025rem 0.57rem 1.139rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1.1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .px-herosupermarket-3-tvV {
          object-fit: cover;
          vertical-align: top;
          width: 15.0357rem;
          height: 4.446rem;
        }
      }
      .auto-group-kgm7-QP3 {
        box-sizing: border-box;
        padding-left: 16.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-34376-jRK {
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding: 1.5rem 1.8rem 1.5rem 2.1rem;
          align-items: center;
          border: solid 0.1rem #20992e;
          background-color: #e8faf0;
          flex-shrink: 0;
          margin: 0rem 6.5rem 0.3rem 0rem;
          cursor: pointer;
          display: flex;

          .search-product-Ess {
            line-height: 1.5;
            color: #8b8b8b;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.9rem;
            text-align: center;
            font-weight: 400;
            font-size: 1.6rem;
            font-family: Poppins, 'Source Sans Pro';
          }
          .vector-Lg1 {
            margin-top: 0.1rem;
            width: 2.3rem;
            height: 2.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .group-34372-dQD {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1rem 0.4rem 0rem;
          width: 4.5rem;
          height: 4.5rem;
        }
        .my-wishlist-MLD {
          line-height: 1.3125;
          color: #20992e;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.5rem 0rem;
          max-width: 6.4rem;
          font-size: 1.6rem;
          font-weight: 600;

          .my-wishlist-MLD-sub-0 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
          }
          .my-wishlist-MLD-sub-1 {
          }
        }
        .group-34374-Ht5 {
          flex-shrink: 0;
          margin: 0rem 1rem 0.2rem 0rem;
          width: 4.5rem;
          height: 4.5rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
        .sign-up-or-log-in-DWq {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          max-width: 7.1rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #20992e;

          .sign-up-or-log-in-DWq-sub-0 {
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
          }
          .sign-up-or-log-in-DWq-sub-1 {
            line-height: 1.5;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 500;
          }
          .sign-up-or-log-in-DWq-sub-2 {
            line-height: 1.3125;
            color: #20992e;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
        .group-34375-SH7 {
          box-sizing: border-box;
          padding: 0.5rem 1.8rem 0.8rem 1.7rem;
          height: calc(100% - 1.2rem);
          cursor: pointer;
          align-items: center;
          background-size: cover;
          margin: 0.5rem 0rem 0.7rem 0rem;
          display: flex;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:4:1563');
          flex-shrink: 0;

          .shopping-cart-2-4-XpM {
            margin: 0.2rem 1.1rem 0rem 0rem;
            width: 2.4rem;
            height: 2.4rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
            flex-shrink: 0;

            .shopping-cart-2-4-XpM-bg {
              width: 2.4rem;
              height: 2.4rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:1609cbfcd2fa44c73b1bec2c9edae08d74c3b9d1');
            }
          }
          .shoppingchart-oWy {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 5.8rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1;
            color: #20992e;

            .shoppingchart-oWy-sub-0 {
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.3333333333;
            }
            .shoppingchart-oWy-sub-1 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
            .shoppingchart-oWy-sub-2 {
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.1428571429;
              color: #20992e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .auto-group-lbqd-tRw {
      width: 100%;
      height: 5.3rem;
      background-color: #0d7038;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 26.3rem;

      .group-34382-Rwf {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .promo-BR3 {
          text-align: center;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 3.5rem 0rem 0rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .frame-34403-u69 {
          height: 100%;
          cursor: pointer;
          background-color: #0d7038;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 0.7rem 1.4rem 1.3rem;
          width: 17.1rem;

          .group-34379-piu {
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;

            .produk-segar-BJZ {
              margin-right: 1rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-family: Poppins, 'Source Sans Pro';
            }
            .drop-down-uEZ {
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2.4rem;
              position: relative;
              object-fit: contain;
            }
          }
        }
        .auto-group-4s29-dwF {
          box-sizing: border-box;
          padding: 1.5rem 0rem 1.4rem 3.4rem;
          height: 100%;
          display: flex;
          column-gap: 4.8rem;
          align-items: center;
          flex-shrink: 0;

          .group-34378-AAV {
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 100%;

            .bahan-masak-WVF {
              margin-right: 0.3rem;
              text-align: center;
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
            }
            .drop-down-RcD {
              height: 2.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
          }
          .group-34380-y7w {
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .susu-produk-beku-vos {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .drop-down-U4h {
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2.4rem;
              position: relative;
              object-fit: contain;
            }
          }
          .group-34381-1KX {
            flex-shrink: 0;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;

            .snack-a7j {
              text-align: center;
              flex-shrink: 0;
              margin-right: 0.2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.6rem;
            }
            .drop-down-W1P {
              height: 2.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
          }
          .brands-edP {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
