
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53.1rem;
}.pencet-forgot-pass-2-MXF {
  width: 100%;
  height: 42.6rem;
  position: relative;

  .bg-LPB {
    left: 0;
    top: 0.1rem;
    background-color: #ffffff;
    border-radius: 3rem;
    width: 53.1rem;
    height: 42.5rem;
    position: absolute;
  }
  .verification-euf {
    width: 15.1rem;
    position: absolute;
    color: #20992e;
    font-family: Poppins, 'Source Sans Pro';
    line-height: 1.5;
    white-space: nowrap;
    height: 3.8rem;
    left: 5.7rem;
    top: 15.8rem;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .verification-has-been-send-to-your-email--Kku {
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 29.2rem;
    font-weight: 300;
    left: 12.1rem;
    top: 20.7rem;
    font-size: 1.4rem;
    color: #20992e;
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
  }
  .change-your-password-then-log-in-byK {
    position: absolute;
    top: 22.7rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.1rem;
    left: 14.5rem;
    font-size: 1.4rem;
    color: #20992e;
    white-space: nowrap;
    width: 24rem;
  }
  .didnt-get-the-email-message-sfw {
    position: absolute;
    top: 31.3rem;
    font-weight: 300;
    color: #8b8b8b;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 21.1rem;
    height: 2.1rem;
    left: 5.7rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .resend-ZYm {
    font-weight: 600;
    width: 5.3rem;
    cursor: pointer;
    color: #8b8b8b;
    position: absolute;
    text-decoration-line: underline;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    left: 27.3rem;
    line-height: 1.5;
    font-size: 1.4rem;
    font-style: italic;
    height: 2.1rem;
    top: 31.3rem;
  }
  .happy-female-cashier-scanning-grocery-items-1-rnm {
    background-position: -10.2307rem -47.7968rem;
    background-image: url('REPLACE_IMAGE:fb963aebf820d05312181221f2fed70de41203c6');
    border-radius: 1.5rem;
    left: 0;
    background-size: 137.893% 518.557%;
    position: relative;
    top: 0;
    width: 53.1rem;
    height: 13.4rem;
  }
  .button-next-slider--ia5 {
    vertical-align: top;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    object-fit: contain;
  }
  .button-submit-log-reg-qeh {
    width: 8.6rem;
    height: 3.3rem;
    cursor: pointer;
    position: absolute;
    left: 22.2rem;
    top: 35.6rem;

    .submit-m2Z {
      font-size: 1.4rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 2.4rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      line-height: 1.5;
      color: #20992e;
      width: 3.8rem;
      height: 2.1rem;
      top: 0.7rem;
      justify-content: center;
    }
    .rectangle-5177-e6M {
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem #20992e;
      box-sizing: border-box;
      border-radius: 3rem;
      width: 8.6rem;
    }
  }
}
