
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53.1rem;
}.pencet-forgot-pass-3-yp5 {
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 4.1rem 10.2rem 3.8rem 10.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-sppb-VnR {
    margin-bottom: 2.5rem;
    width: 100%;
    height: 5.5rem;
    position: relative;
    flex-shrink: 0;

    .verification-already-send-qrH {
      height: 3.8rem;
      position: absolute;
      line-height: 1.5;
      white-space: nowrap;
      font-weight: 700;
      color: #20992e;
      font-family: Poppins, 'Source Sans Pro';
      width: 32.8rem;
      left: 0;
      top: 0;
      font-size: 2.5rem;
    }
    .check-your-email-8aV {
      position: absolute;
      left: 10.4rem;
      top: 3.4rem;
      color: #20992e;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      width: 12.1rem;
      height: 2.1rem;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .auto-group-bmzk-2A5 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 7.4rem 0rem 7.5rem;
    width: calc(100% - 14.9rem);
    height: 3.3rem;

    .button-submit-log-reg-wH3 {
      width: 8.6rem;
      height: 100%;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin-right: 0.7rem;

      .submit-UXs {
        justify-content: center;
        font-weight: 600;
        white-space: nowrap;
        width: 3.8rem;
        position: absolute;
        left: 2.4rem;
        display: flex;
        color: #20992e;
        top: 0.7rem;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.1rem;
      }
      .rectangle-5177-n2m {
        width: 8.6rem;
        height: 3.3rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #20992e;
        box-sizing: border-box;
        border-radius: 3rem;
      }
    }
    .button-submit-log-reg-hvR {
      width: 8.6rem;
      height: 100%;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .submit-Fh3 {
        justify-content: center;
        font-weight: 600;
        color: #20992e;
        font-family: Poppins, 'Source Sans Pro';
        width: 4.3rem;
        display: flex;
        font-size: 1.4rem;
        height: 2.1rem;
        left: 2.2rem;
        align-items: center;
        line-height: 1.5;
        position: absolute;
        white-space: nowrap;
        top: 0.7rem;
      }
      .rectangle-5177-YRF {
        width: 8.6rem;
        height: 3.3rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #20992e;
        box-sizing: border-box;
        border-radius: 3rem;
      }
    }
  }
}
