
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.susu-produk-beku-qZB {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.7rem 71.3rem 2.6rem 26.3rem;
  width: 100%;
  display: flex;
  align-items: center;

  .collections-YiV {
    margin-right: 14.5rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .susu-olahan-tnM {
      letter-spacing: 0.08rem;
      color: #7e7e7e;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
    }
    .susu-R1b {
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.5;
      color: #5a5c62;
    }
    .keju-kZf {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      white-space: nowrap;
      margin-bottom: 1.1rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .mentega-5rq {
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      line-height: 1.5;
      color: #5a5c62;
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .yougrt-kefir-2GH {
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .collections-kxy {
    margin-bottom: 3.8rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .makanan-beku-WhF {
      font-weight: 700;
      color: #7e7e7e;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .frozen-meat-poultry-3SH {
      margin-bottom: 1.1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frozen-fish-NDf {
      margin-bottom: 1.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #5a5c62;
      flex-shrink: 0;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frozen-fruits-6vM {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.08rem;
      color: #5a5c62;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
}
