
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.way-to-shop-4oT {
  width: 100%;
  height: 117.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .bg-Q6d {
    position: absolute;
    left: 0;
    top: 7.7rem;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
    box-sizing: border-box;
    padding: 11.7rem 2.1rem 3.7rem 2rem;
    width: 144rem;
    height: 104.3rem;
    background-repeat: no-repeat;
    background-position: center;

    .rectangle-5384-gyF {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) -0%, #ffffff 7.29%, #f7f7f7 92.71%, rgba(255, 255, 255, 0) 100%);
      width: 100%;
      height: 88.9rem;
      filter: blur(3.85rem);
    }
  }
  .about-me-9M3 {
    top: 0;
    width: 144rem;
    height: 117.8rem;
    position: absolute;
    left: 0;

    .navbar-5Eh {
      padding-bottom: 1.6rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(269.24deg, #095028 11.7%, #17c964 96.6%);
      margin-bottom: 3.4rem;
      box-sizing: border-box;

      .logo-biq {
        margin-bottom: 1.1rem;
        width: 100%;
        height: 8.5rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-5311-wnh {
          width: 144rem;
          height: 8rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
        }
        .item-67580793426116-3-VJR {
          background-image: url('REPLACE_IMAGE:fcd0fba90fc788cfc18ace2aef6993004cdc4986');
          width: 143.2rem;
          height: 8rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 100% 1200%;
          background-position: -0rem -48.9223rem;
        }
        .group-34396-N7K {
          position: absolute;
          left: 50.9rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 41rem;
          height: 8.5rem;
        }
        .px-herosupermarket-3-u7F {
          position: absolute;
          left: 62.9rem;
          top: 1.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 18.2rem;
          height: 5.4rem;
        }
      }
      .auto-group-seev-cnM {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 11.3rem 0rem 9.6rem;
        width: calc(100% - 20.9rem);
        height: 4.8rem;

        .frame-34451-8kh {
          margin: 1.3rem 30.8rem 1.1rem 0rem;
          height: calc(100% - 2.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .beranda-FqK {
            margin-right: 5.5rem;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            color: #ffffff;
            flex-shrink: 0;
            cursor: pointer;
            align-items: center;
            font-weight: 500;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .tentang-hero-xDw {
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
            line-height: 1.5;
            color: #ffffff;
            margin-right: 5.5rem;
            display: flex;
            justify-content: center;
          }
          .fresh-recipe-fe9 {
            margin-right: 5.45rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
          }
          .promo-event-BcV {
            margin-right: 5.45rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .cara-belanja-7m3 {
            align-items: center;
            line-height: 1.5;
            color: #ffffff;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .button-shop-3eh {
          display: flex;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          padding: 1.2rem 4.2rem;
          height: 100%;
          cursor: pointer;
          box-sizing: border-box;
          align-items: center;

          .icon-cart-Nws {
            margin: 0rem 0.7rem 0.099rem 0rem;
            width: 2.1rem;
            height: 2.1014rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .shop-now-tfK {
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            color: #095028;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            line-height: 1.5;
            font-weight: 500;
          }
        }
      }
    }
    .way-to-shop-xQH {
      text-align: center;
      font-size: 7.5rem;
      font-weight: 500;
      font-style: italic;
      color: #20992e;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      line-height: 1.5;
      letter-spacing: -0.0825rem;
      margin-bottom: 4.7rem;
    }
    .auto-group-8eph-gLH {
      width: calc(100% - 18.5rem);
      height: 60.4rem;
      position: relative;
      margin: 0rem 10rem 6rem 8.5rem;

      .item-128-1-oA1 {
        border-radius: 3rem;
        width: 122.6rem;
        height: 29.1rem;
        position: absolute;
        left: 2.2rem;
        top: 31.3rem;
      }
      .frame-34398-XLu {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        column-gap: 3.5rem;
        align-items: center;
        width: 125.5rem;
        height: 56.9rem;

        .auto-group-t5pu-TVT {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 39.5rem;
          height: 100%;

          .auto-group-ock3-oZK {
            padding: 4.4rem 5.25rem 3.7rem 6.15rem;
            width: 100%;
            height: 26.7rem;
            background-color: #d9d9d9;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-bottom: 3.5rem;
            box-sizing: border-box;

            .group-34385-K1s {
              flex-direction: column;
              width: 100%;
              height: 100%;
              display: flex;

              .auto-group-j8ob-TNy {
                margin: 0rem 11.601rem 3.9rem 2.05rem;
                width: calc(100% - 13.651rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .item-1-yMK {
                  margin-right: 7.1rem;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3625;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .group-tz5 {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 1.6rem;
                  width: 5.249rem;
                  height: 4.6rem;
                }
              }
              .create-an-account-q8d {
                font-weight: 700;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                width: 100%;
                text-align: center;
                line-height: 1.5;
                color: #000000;
                margin-bottom: 0.1rem;
                font-size: 2.4rem;
              }
              .buatlah-akun-terlebih-dahulu-untuk-memulai-menjelajahi-lebih-lagi-whT {
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 28.1rem;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5;
                width: 100%;
                text-align: center;
                color: #000000;
              }
            }
          }
          .auto-group-2ewd-cob {
            height: 26.7rem;
            background-color: #d9d9d9;
            border-radius: 2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 4.4rem 3.05rem 3.7rem 3.95rem;
            width: 100%;

            .group-34388-YSM {
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-fpdk-6Ts {
                margin: 0rem 14.717rem 3.472rem 4.25rem;
                width: calc(100% - 18.9673rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .item-1-E4H {
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 6.5rem;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3625;
                  color: #000000;
                }
                .icon-checklist-Z6Z {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 1.7rem;
                  width: 4.9327rem;
                  height: 4.9281rem;
                }
              }
              .check-your-list-5qb {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.5;
                white-space: nowrap;
                text-align: center;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 0.4rem 0.1rem 0rem;
              }
              .perhatikan-kembali-apa-yang-akan-anda-pesan-sebelum-melakukan-pembayaran-zhf {
                font-weight: 300;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 32.5rem;
                text-align: center;
                font-size: 1.6rem;
              }
            }
          }
        }
        .auto-group-94ts-sFf {
          width: 39.5rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ic4h-cj3 {
            background-color: #d9d9d9;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-bottom: 3.5rem;
            box-sizing: border-box;
            padding: 3.8rem 5.25rem 1.9rem 5.25rem;
            width: 100%;
            height: 26.7rem;

            .group-34386-YMo {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              align-items: center;

              .auto-group-qiok-hVb {
                width: calc(100% - 15.1781rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin: 0rem 11.528rem 3.44rem 3.65rem;

                .item-2-RgV {
                  line-height: 1.3625;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 5.6rem;
                  font-size: 2.4rem;
                  font-weight: 700;
                }
                .icon-vegetables-Ma9 {
                  width: 6.1219rem;
                  height: 5.6598rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 1rem;
                }
              }
              .start-your-shop-gsK {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 0.1rem 2.3rem;
                font-size: 2.4rem;
                font-weight: 700;
                flex-shrink: 0;
                text-align: center;
                line-height: 1.5;
                color: #000000;
              }
              .anda-sudah-dapat-mulai-berbelanja-memilih-setiapa-kebutuhan-anda-yang-berkualitas-Pmj {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 29rem;
              }
            }
          }
          .auto-group-memf-gVw {
            width: 100%;
            height: 26.7rem;
            background-color: #d9d9d9;
            border-radius: 2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 4.4rem 4.25rem 1.3rem 4.75rem;

            .group-34389-pMF {
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-tbb7-aLR {
                margin: 0rem 11.29rem 3.931rem 3.45rem;
                width: calc(100% - 14.7403rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .item-1-WE5 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 6.2rem;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3625;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                }
                .icon-money-bills-q1T {
                  margin-top: 1.6rem;
                  width: 7.4597rem;
                  height: 4.5688rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .finish-your-payment-j6q {
                margin-bottom: 0.1rem;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                line-height: 1.5;
                color: #000000;
                white-space: nowrap;
              }
              .selesaikan-pembayran-pada-pemesanan-anda-agar-dapat-segera-kami-proses-Fay {
                max-width: 30.5rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-gwpv-9AZ {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 39.5rem;

          .auto-group-svld-HXf {
            border-radius: 2rem;
            flex-shrink: 0;
            margin-bottom: 3.5rem;
            box-sizing: border-box;
            padding: 3.8rem 4.1rem 1.9rem 4.1rem;
            width: 100%;
            height: 26.7rem;
            background-color: #d9d9d9;

            .group-34387-boF {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              align-items: center;

              .auto-group-c2qw-xNu {
                margin: 0rem 13.3rem 3.01rem 4.8rem;
                width: calc(100% - 18.1rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .item-2-V7w {
                  flex-shrink: 0;
                  margin-right: 6.2rem;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3625;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .icon-notes-plus-27s {
                  margin-top: 1.7rem;
                  width: 4.9rem;
                  height: 5.39rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .personal-shopper-notes-9yB {
                font-size: 2.4rem;
                font-weight: 700;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                margin: 0rem 0.1rem 0.1rem 0rem;
                text-align: center;
                flex-shrink: 0;
                line-height: 1.5;
                white-space: nowrap;
              }
              .berikan-personal-note-kepada-pesanan-anda-agar-kami-dapat-memberikan-produk-yang-sesuai-Gnu {
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 31.3rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5;
                color: #000000;
              }
            }
          }
          .auto-group-m9vz-xvd {
            box-sizing: border-box;
            padding: 4.4rem 6.5rem 3.7rem 7.4rem;
            width: 100%;
            height: 26.7rem;
            background-color: #d9d9d9;
            border-radius: 2rem;
            flex-shrink: 0;

            .group-34390-VvZ {
              flex-direction: column;
              width: 100%;
              height: 100%;
              display: flex;

              .auto-group-thbp-eoT {
                margin: 0rem 9.246rem 3.136rem 0.8rem;
                width: calc(100% - 10.0464rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .item-1-NzM {
                  margin-right: 5.9rem;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3625;
                  color: #000000;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .icon-delivery-truck-W4y {
                  margin-top: 2.5rem;
                  width: 7.5536rem;
                  height: 4.4637rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .track-your-order-q7F {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.1rem;
                text-align: center;
                font-weight: 700;
                flex-shrink: 0;
                width: 100%;
                font-size: 2.4rem;
                line-height: 1.5;
              }
              .anda-dapat-melakukan-tracking-pada-setiap-pemesanan-anda-A9X {
                font-weight: 300;
                flex-shrink: 0;
                width: 100%;
                text-align: center;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                max-width: 25.6rem;
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
    .group-34341-3UD {
      box-sizing: border-box;
      padding: 3.1rem 16.6rem 3.9rem 14.1rem;
      width: 100%;
      height: 16rem;
      display: flex;
      align-items: center;
      background: linear-gradient(271.18deg, #39b54a 100.47%, #095028 200.88%);

      .auto-group-hwa5-ME1 {
        margin-right: 41.1rem;
        width: 18.4rem;
        height: 100%;
        flex-shrink: 0;

        .group-20-Vb7 {
          background-color: #ffffff;
          border-radius: 1.1rem;
          margin-bottom: 0.8072rem;
          box-sizing: border-box;
          padding: 0.731rem 1.097rem 0.609rem 1.219rem;
          width: 100%;

          .px-herosupermarket-3-DX7 {
            width: 16.0848rem;
            height: 4.7523rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-mr89-wT7 {
          margin-left: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon-facebook-5pD {
            height: 2.0766rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.311rem 0.023rem 0rem;
            width: 2.0895rem;
          }
          .icon-twitter-Cdw {
            margin-right: 0.3102rem;
            width: 2.4898rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-youtube-XgD {
            width: 3.0051rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .about-us-ULZ {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.35rem 3.1rem 0rem;
        text-align: center;
      }
      .faq-ns3 {
        flex-shrink: 0;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 9.65rem 3.1rem 0rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
      }
      .contact-ikh {
        margin: 0rem 7.3rem 3.1rem 0rem;
        text-align: center;
        font-weight: 600;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .customer-survey-rM7 {
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.1rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
  }
}
